src/main/resources/services/wsc08/07/Challenge.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:service="http://www.ws-challenge.org/WSC08Services/" targetNamespace="http://www.ws-challenge.org/WSC08Services/">
  <service name="Task0Service">
    <port binding="service:Task0SOAP" name="Task0Port">
      <soap:address location="http://www.unknownexamplehost.ukn/" />
    </port>
  </service>
  <binding name="Task0SOAP" type="service:Task0PortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Task0Operation">
      <soap:operation soapAction="http://www.ws-challenge.org/Task0" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <portType name="Task0PortType">
    <operation name="Task0Operation">
      <input message="service:Task0RequestMessage" />
      <output message="service:Task0ResponseMessage" />
    </operation>
  </portType>
  <message name="Task0RequestMessage">
    <part element="service:ComplexElement0" name="ComplexElement0Part" />
    <part element="service:1036356506" name="1036356506Part" />
  </message>
  <message name="Task0ResponseMessage">
    <part element="service:1716672793" name="1716672793Part" />
  </message>
  <types>
    <xs:schema targetNamespace="http://www.ws-challenge.org/WSC08Services/">
      <xs:element name="ComplexElement0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ComplexElement1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="1314663395" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="727326797" type="xs:string" />
            <xs:element name="1805181613" type="xs:string" />
            <xs:element name="1387997479" type="xs:string" />
            <xs:element name="1866136037" type="xs:string" />
            <xs:element name="1867979285" type="xs:string" />
            <xs:element name="1140348545" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="1036356506" type="xs:string" />
      <xs:element name="1716672793" type="xs:string" />
    </xs:schema>
  </types>
  <mece:semExtension xmlns:mece="http://www.vs.uni-kassel.de/mece">
    <mece:semMessageExt id="Task0RequestMessage">
      <mece:semExt id="1036356506">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1177391705</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="727326797">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1489937729</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="1805181613">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1584153953</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="1387997479">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst136726436</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="1866136037">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1873352579</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="1867979285">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst618656791</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="1140348545">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst915637883</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="1314663395">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1102633738</mece:ontologyRef>
      </mece:semExt>
    </mece:semMessageExt>
    <mece:semMessageExt id="Task0ResponseMessage">
      <mece:semExt id="1716672793">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1170427465</mece:ontologyRef>
      </mece:semExt>
    </mece:semMessageExt>
  </mece:semExtension>
</definitions>

