src/main/resources/services/wsc08/05/Challenge.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:service="http://www.ws-challenge.org/WSC08Services/" targetNamespace="http://www.ws-challenge.org/WSC08Services/">
  <service name="Task0Service">
    <port binding="service:Task0SOAP" name="Task0Port">
      <soap:address location="http://www.unknownexamplehost.ukn/" />
    </port>
  </service>
  <binding name="Task0SOAP" type="service:Task0PortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Task0Operation">
      <soap:operation soapAction="http://www.ws-challenge.org/Task0" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <portType name="Task0PortType">
    <operation name="Task0Operation">
      <input message="service:Task0RequestMessage" />
      <output message="service:Task0ResponseMessage" />
    </operation>
  </portType>
  <message name="Task0RequestMessage">
    <part element="service:1134809858" name="1134809858Part" />
    <part element="service:1494377409" name="1494377409Part" />
  </message>
  <message name="Task0ResponseMessage">
    <part element="service:ComplexElement0" name="ComplexElement0Part" />
    <part element="service:2071358890" name="2071358890Part" />
    <part element="service:1045815958" name="1045815958Part" />
  </message>
  <types>
    <xs:schema targetNamespace="http://www.ws-challenge.org/WSC08Services/">
      <xs:element name="1134809858" type="xs:string" />
      <xs:element name="1494377409" type="xs:string" />
      <xs:element name="ComplexElement0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="130866388" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="2071358890" type="xs:string" />
      <xs:element name="1045815958" type="xs:string" />
    </xs:schema>
  </types>
  <mece:semExtension xmlns:mece="http://www.vs.uni-kassel.de/mece">
    <mece:semMessageExt id="Task0RequestMessage">
      <mece:semExt id="1134809858">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1121075464</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="1494377409">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst646109349</mece:ontologyRef>
      </mece:semExt>
    </mece:semMessageExt>
    <mece:semMessageExt id="Task0ResponseMessage">
      <mece:semExt id="2071358890">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1784879983</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="1045815958">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst2067318374</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="130866388">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst601048837</mece:ontologyRef>
      </mece:semExt>
    </mece:semMessageExt>
  </mece:semExtension>
</definitions>

