src/main/resources/domains/SAWSDL-TC3/medical/EmergencyPhysician_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Selectotherhospital" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Selectotherhospital" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Selectotherhospital" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/Selectotherhospital-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Selectotherhospital" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/Selectotherhospital" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:36:50 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/EmergencyPhysicianOntology.owl#ListOfHospitals"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/EmergencyPhysicianOntology.owl#Hospital"/></xsd:annotation><xsd:element name="Hospital" type="HospitalType"/><xsd:element name="ListOfHospitals" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/EmergencyPhysician_service_ListOfHospitals_liftingSchemaMapping.xslt" type="ListOfHospitalsType"/><xsd:complexType name="ListOfHospitalsType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/EmergencyPhysicianOntology.owl#ListOfHospitals"><xsd:sequence><xsd:element name="ListOfHospitals_consistsOf" type="HospitalType"/></xsd:sequence></xsd:complexType><xsd:simpleType name="HospitalType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/EmergencyPhysicianOntology.owl#Hospital"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="HospitalType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/EmergencyPhysicianOntology.owl#Hospital"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="getSelectOtherHospital_SelectedHospitalResponse">
    <wsdl:part name="SelectOtherHospital_SelectedHospital" type="HospitalType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSelectOtherHospital_SelectedHospitalRequest">
    <wsdl:part name="SelectOtherHospital_HospitalListFromEMA" type="ListOfHospitalsType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SelectotherhospitalSoap">
    <wsdl:operation name="getSelectOtherHospital_SelectedHospital">
      <wsdl:input message="getSelectOtherHospital_SelectedHospitalRequest">
    </wsdl:input>
      <wsdl:output message="getSelectOtherHospital_SelectedHospitalResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SelectotherhospitalSoapBinding" type="SelectotherhospitalSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSelectOtherHospital_SelectedHospital">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Selectotherhospital"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Selectotherhospital"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SelectotherhospitalService">
    <wsdl:port name="SelectotherhospitalSoap" binding="SelectotherhospitalSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/Selectotherhospital"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
