src/main/resources/domains/SAWSDL-TC3/education/award_lending_GermanGovservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AwardLending" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/AwardLending" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/AwardLending" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/AwardLending-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/AwardLending" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/AwardLending" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:12 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/portal.owl#Award"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Lending"/></xsd:annotation><xsd:element name="Award" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/award_lending_GermanGovservice_Award_liftingSchemaMapping.xslt" type="AwardType"/><xsd:element name="Lending" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/award_lending_GermanGovservice_Lending_liftingSchemaMapping.xslt" type="LendingType"/><xsd:complexType name="AwardType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/portal.owl#Award"><xsd:sequence><xsd:element name="has-variant-name" type="xsd:string"/></xsd:sequence></xsd:complexType><xsd:simpleType name="LendingType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/SUMO.owl#Lending"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_LENDINGResponse">
    <wsdl:part name="_LENDING" type="LendingType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_LENDINGRequest">
    <wsdl:part name="_AWARD" type="AwardType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AwardLendingSoap">
    <wsdl:operation name="get_LENDING">
      <wsdl:input message="get_LENDINGRequest">
    </wsdl:input>
      <wsdl:output message="get_LENDINGResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AwardLendingSoapBinding" type="AwardLendingSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_LENDING">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/AwardLending"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/AwardLending"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AwardLendingService">
    <wsdl:port name="AwardLendingSoap" binding="AwardLendingSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/AwardLending"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
