src/main/resources/domains/SAWSDL-TC3/education/award_scholarship_GermanGovservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AwardScholarship" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/AwardScholarship" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/AwardScholarship" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/AwardScholarship-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/AwardScholarship" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/AwardScholarship" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:34:37 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/portal.owl#Award"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Scholarship"/></xsd:annotation><xsd:element name="Scholarship" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/award_scholarship_GermanGovservice_Scholarship_liftingSchemaMapping.xslt" type="ScholarshipType"/><xsd:element name="Award" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/award_scholarship_GermanGovservice_Award_liftingSchemaMapping.xslt" type="AwardType"/><xsd:complexType name="AwardType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/portal.owl#Award"><xsd:sequence><xsd:element name="has-variant-name" type="xsd:string"/></xsd:sequence></xsd:complexType><xsd:simpleType name="ScholarshipType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Scholarship"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_SCHOLARSHIPResponse">
    <wsdl:part name="_SCHOLARSHIP" type="ScholarshipType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_SCHOLARSHIPRequest">
    <wsdl:part name="_AWARD" type="AwardType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AwardScholarshipSoap">
    <wsdl:operation name="get_SCHOLARSHIP">
      <wsdl:input message="get_SCHOLARSHIPRequest">
    </wsdl:input>
      <wsdl:output message="get_SCHOLARSHIPResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AwardScholarshipSoapBinding" type="AwardScholarshipSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_SCHOLARSHIP">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/AwardScholarship"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/AwardScholarship"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AwardScholarshipService">
    <wsdl:port name="AwardScholarshipSoap" binding="AwardScholarshipSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/AwardScholarship"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
