src/main/resources/domains/SAWSDL-TC3/education/book__ShoppingCartservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Book" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Book" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Book" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/Book-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Book" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/Book" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:22 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Book"/></xsd:annotation><xsd:element name="Book" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/book__ShoppingCartservice_Book_liftingSchemaMapping.xslt" type="BookType"/><xsd:complexType name="BookType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Book"><xsd:sequence><xsd:element name="isTitled" type="Title"/><xsd:element name="hasType" type="Book-Type"/><xsd:element name="writtenBy" type="Author"/><xsd:element name="publishedBy" type="Publisher"/><xsd:element name="datePublished" type="Date"/><xsd:element name="timePublished" type="Once"/></xsd:sequence></xsd:complexType><xsd:simpleType name="Date" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Date"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="Once" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Once"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="Author" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Author"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="Title" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Title"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="Publisher" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Publisher"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="Book-Type" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Book-Type"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="getResponse">
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part name="_BOOK" type="BookType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BookSoap">
    <wsdl:operation name="get">
      <wsdl:input message="getRequest">
    </wsdl:input>
      <wsdl:output message="getResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookSoapBinding" type="BookSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Book"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Book"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookService">
    <wsdl:port name="BookSoap" binding="BookSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/Book"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
