src/main/resources/domains/SAWSDL-TC3/education/publicationperson__service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Publicationperson" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Publicationperson" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Publicationperson" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/Publicationperson-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Publicationperson" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/Publicationperson" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:36:24 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Person"/><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Publication"/></xsd:annotation><xsd:element name="Person" type="PersonType"/><xsd:element name="Publication" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/publicationperson__service_Publication_liftingSchemaMapping.xslt" type="PublicationType"/><xsd:complexType name="PublicationType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Publication"><xsd:sequence><xsd:element name="publishedBy" type="Publisher"/><xsd:element name="datePublished" type="Date"/></xsd:sequence></xsd:complexType><xsd:simpleType name="Date" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Date"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="Publisher" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Publisher"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="PersonType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Person"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="getResponse">
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part name="_PERSON" type="PersonType">
    </wsdl:part>
    <wsdl:part name="_PUBLICATION" type="PublicationType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PublicationpersonSoap">
    <wsdl:operation name="get">
      <wsdl:input message="getRequest">
    </wsdl:input>
      <wsdl:output message="getResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PublicationpersonSoapBinding" type="PublicationpersonSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Publicationperson"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Publicationperson"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublicationpersonService">
    <wsdl:port name="PublicationpersonSoap" binding="PublicationpersonSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/Publicationperson"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
