src/main/resources/domains/SAWSDL-TC3/geography/calculateSunriseTime.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
			<s:element name="SunRise" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#Sunrise">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="intDay" type="s:int" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#DayOfMonth"/>
						<s:element minOccurs="1" maxOccurs="1" name="intMonth" type="s:double" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#CalendarMonth"/>
						<s:element minOccurs="1" maxOccurs="1" name="intYear" type="s:double" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#CalendarYear"/>
						<s:element minOccurs="1" maxOccurs="1" name="lat" type="s:double" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#latitude"/>
						<s:element minOccurs="1" maxOccurs="1" name="lng" type="s:double" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#longitude"/>
						<s:element minOccurs="1" maxOccurs="1" name="localOffset" type="s:double" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#gMTOffset"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SunRiseResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="SunRiseResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="string" nillable="true" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#Text"/>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="SunRiseSoapIn">
		<wsdl:part name="parameters" element="tns:SunRise"/>
	</wsdl:message>
	<wsdl:message name="SunRiseSoapOut">
		<wsdl:part name="parameters" element="tns:SunRiseResponse"/>
	</wsdl:message>
	<wsdl:message name="SunRiseHttpGetIn">
		<wsdl:part name="intDay" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#DayOfMonth"/>
		<wsdl:part name="intMonth" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#CalendarMonth"/>
		<wsdl:part name="intYear" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#CalendarYear"/>
		<wsdl:part name="lat" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#latitude"/>
		<wsdl:part name="lng" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#longitude"/>
		<wsdl:part name="localOffset" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="SunRiseHttpGetOut">
		<wsdl:part name="Body" element="tns:string"/>
	</wsdl:message>
	<wsdl:message name="SunRiseHttpPostIn">
		<wsdl:part name="intDay" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#DayOfMonth"/>
		<wsdl:part name="intMonth" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#CalendarMonth"/>
		<wsdl:part name="intYear" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#CalendarYear"/>
		<wsdl:part name="lat" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#latitude"/>
		<wsdl:part name="lng" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#longitude"/>
		<wsdl:part name="localOffset" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#gMTOffset"/>
	</wsdl:message>
	<wsdl:message name="SunRiseHttpPostOut">
		<wsdl:part name="Body" element="tns:string"/>
	</wsdl:message>
	<wsdl:portType name="AvowGEOCalculatorSoap">
		<wsdl:operation name="SunRise">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Calculate Sunrise Time</documentation>
			<wsdl:input message="tns:SunRiseSoapIn"/>
			<wsdl:output message="tns:SunRiseSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="AvowGEOCalculatorHttpGet">
		<wsdl:operation name="SunRise">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Calculate Sunrise Time</documentation>
			<wsdl:input message="tns:SunRiseHttpGetIn"/>
			<wsdl:output message="tns:SunRiseHttpGetOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="AvowGEOCalculatorHttpPost">
		<wsdl:operation name="SunRise">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Calculate Sunrise Time</documentation>
			<wsdl:input message="tns:SunRiseHttpPostIn"/>
			<wsdl:output message="tns:SunRiseHttpPostOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AvowGEOCalculatorSoap" type="tns:AvowGEOCalculatorSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SunRise">
			<soap:operation soapAction="http://tempuri.org/SunRise" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="AvowGEOCalculatorHttpGet" type="tns:AvowGEOCalculatorHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="SunRise">
			<http:operation location="/SunRise"/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="AvowGEOCalculatorHttpPost" type="tns:AvowGEOCalculatorHttpPost">
		<http:binding verb="POST"/>
		<wsdl:operation name="SunRise">
			<http:operation location="/SunRise"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AvowGEOCalculator">
		<wsdl:port name="AvowGEOCalculatorSoap" binding="tns:AvowGEOCalculatorSoap">
			<soap:address location="http://www.avowlabs.com/webservices/AvowGEOCalculator/AvowGEOCalculator.asmx"/>
		</wsdl:port>
		<wsdl:port name="AvowGEOCalculatorHttpGet" binding="tns:AvowGEOCalculatorHttpGet">
			<http:address location="http://www.avowlabs.com/webservices/AvowGEOCalculator/AvowGEOCalculator.asmx"/>
		</wsdl:port>
		<wsdl:port name="AvowGEOCalculatorHttpPost" binding="tns:AvowGEOCalculatorHttpPost">
			<http:address location="http://www.avowlabs.com/webservices/AvowGEOCalculator/AvowGEOCalculator.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
