src/main/resources/domains/SAWSDL-TC3/geography/getUSZipCodeLocation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://service.ecocoma.com/geo/zipcity" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:sawsdl="http://www.w3.org/ns/sawsdl" targetNamespace="http://service.ecocoma.com/geo/zipcity">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cocoma City Lookup Web Services.</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://service.ecocoma.com/geo/zipcity">
			<s:element name="GetCity">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="KeyID" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#UniqueIdentifier"/>
						<s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#UniqueIdentifier"/>
						<s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#PostalCode"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCityResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetCityResult" type="tns:ZipCity"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ZipCity">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#City"/>
					<s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#StateCode"/>
					<s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#longitude"/>
					<s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#latitude"/>
				</s:sequence>
			</s:complexType>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetCitySoapIn">
		<wsdl:part name="parameters" element="tns:GetCity"/>
	</wsdl:message>
	<wsdl:message name="GetCitySoapOut">
		<wsdl:part name="parameters" element="tns:GetCityResponse"/>
	</wsdl:message>
	<wsdl:portType name="ZipCity_ServiceSoap">
		<wsdl:operation name="GetCity">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get accurate city and state information when you only have the ZIP Code. (United States)</wsdl:documentation>
			<wsdl:input message="tns:GetCitySoapIn"/>
			<wsdl:output message="tns:GetCitySoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZipCity_ServiceSoap" type="tns:ZipCity_ServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetCity">
			<soap:operation soapAction="http://service.ecocoma.com/geo/zipcity/GetCity" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ZipCity_ServiceSoap12" type="tns:ZipCity_ServiceSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetCity">
			<soap12:operation soapAction="http://service.ecocoma.com/geo/zipcity/GetCity" soapActionRequired="" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZipCity_Service">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cocoma City Lookup Web Services.</wsdl:documentation>
		<wsdl:port name="ZipCity_ServiceSoap" binding="tns:ZipCity_ServiceSoap">
			<soap:address location="http://service.ecocoma.com/geo/zipcity.asmx"/>
		</wsdl:port>
		<wsdl:port name="ZipCity_ServiceSoap12" binding="tns:ZipCity_ServiceSoap12">
			<soap12:address location="http://service.ecocoma.com/geo/zipcity.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
