src/main/resources/domains/SAWSDL-TC3/geography/getZipcodeForUSCity.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:tns="http://example.org/" targetNamespace="http://example.org/">
	<wsdl:documentation>This is a WSDL 1.1 description that has been created for a RESTful service for evaluation and testing purposes.
It is not guaranteed to be correct or appropriate.</wsdl:documentation>
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://example.org/">
			<xsd:annotation>This type information has been semi-automatically generated. It properly represents the semantics of the service's parameters, but is not guaranteed to precisely match the schema actually used by the service.</xsd:annotation>
			<xsd:complexType name="Output">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="zip_code" type="xsd:string">
					<xsd:annotation>The zip code (or codes) for the given input location.</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Output" nillable="true" type="tns:Output"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="US_zip_code_serviceHttpGetIn">
		<wsdl:part name="US_city" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#City">
			<wsdl:documentation>The city of interest.</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="US_state_code" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#USStateCode">
			<wsdl:documentation>The two character code of the state that the input city is located in.</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="US_zip_code_serviceHttpGetOut">
		<wsdl:part name="Body" element="tns:Output" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#US5DigitZipCode">
			<wsdl:documentation></wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="US_zip_code_serviceHttpGet">
		<wsdl:operation name="US_zip_code_service">
			<wsdl:documentation>A service able to provide the standard five-digit zip code(s) for a given US city + state combination.</wsdl:documentation>
				<wsdl:input message="tns:US_zip_code_serviceHttpGetIn"/>
				<wsdl:output message="tns:US_zip_code_serviceHttpGetOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="US_zip_code_serviceHttpGet" type="tns:US_zip_code_serviceHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="US_zip_code_service">
			<http:operation location=""/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="US_zip_code_serviceHttpGet2" type="tns:US_zip_code_serviceHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="US_zip_code_service">
			<http:operation location=""/>
			<wsdl:input>
				<http:urlReplacement/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="US_zip_code_service">
		<wsdl:port name="US_zip_code_serviceHttpGet" binding="tns:US_zip_code_serviceHttpGet">
			<http:address location="http://example.org/"/>
		</wsdl:port>
		<wsdl:port name="US_zip_code_serviceHttpGet2" binding="tns:US_zip_code_serviceHttpGet2">
			<http:address location="http://example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>