src/main/resources/domains/SAWSDL-TC3/geography/mileToKilometerConverter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:tns="http://example.org/" targetNamespace="http://example.org/">
	<wsdl:documentation>This is a WSDL 1.1 description that has been created for a RESTful service for evaluation and testing purposes.
It is not guaranteed to be correct or appropriate.</wsdl:documentation>
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://example.org/">
			<xsd:annotation>This type information has been semi-automatically generated. It properly represents the semantics of the service's parameters, but is not guaranteed to precisely match the schema actually used by the service.</xsd:annotation>
			<xsd:complexType name="Output">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="output_length" type="xsd:anyType">
					<xsd:annotation>The length in kilometre corresponding to the input length.</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Output" nillable="true" type="tns:Output"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Length_Unit_Converter_RequestHttpGetIn">
		<wsdl:part name="input_length" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/SUMO.owl#Mile">
			<wsdl:documentation>A length specified in statute (international) mile.</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="Length_Unit_Converter_RequestHttpGetOut">
		<wsdl:part name="Body" element="tns:Output" sawsdl:modelReference="http://127.0.0.1:8000/ontology/SUMO.owl#Meter">
			<wsdl:documentation></wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Length_Unit_Converter_RequestHttpGet">
		<wsdl:operation name="Length_Unit_Converter_Request">
			<wsdl:documentation>The client is looking for a service to convert from mile to kilometer.</wsdl:documentation>
				<wsdl:input message="tns:Length_Unit_Converter_RequestHttpGetIn"/>
				<wsdl:output message="tns:Length_Unit_Converter_RequestHttpGetOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Length_Unit_Converter_RequestHttpGet" type="tns:Length_Unit_Converter_RequestHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="Length_Unit_Converter_Request">
			<http:operation location=""/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Length_Unit_Converter_RequestHttpGet2" type="tns:Length_Unit_Converter_RequestHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="Length_Unit_Converter_Request">
			<http:operation location=""/>
			<wsdl:input>
				<http:urlReplacement/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Length_Unit_Converter_Request">
		<wsdl:port name="Length_Unit_Converter_RequestHttpGet" binding="tns:Length_Unit_Converter_RequestHttpGet">
			<http:address location="http://example.org/"/>
		</wsdl:port>
		<wsdl:port name="Length_Unit_Converter_RequestHttpGet2" binding="tns:Length_Unit_Converter_RequestHttpGet2">
			<http:address location="http://example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>