src/main/resources/domains/SAWSDL-TC3/communication/title_obtainablevideomedia_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TitleObtainablevideomedia" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleObtainablevideomedia" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleObtainablevideomedia" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleObtainablevideomedia-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleObtainablevideomedia" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleObtainablevideomedia" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:36:15 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Title"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#obtainableVideoMedia"/></xsd:annotation><xsd:element name="obtainableVideoMedia" type="obtainableVideoMediaType"/><xsd:element name="Title" type="TitleType"/><xsd:simpleType name="obtainableVideoMediaType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#obtainableVideoMedia"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="TitleType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Title"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_OBTAINABLEVIDEOMEDIARequest">
    <wsdl:part name="_TITLE" type="TitleType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_OBTAINABLEVIDEOMEDIAResponse">
    <wsdl:part name="_OBTAINABLEVIDEOMEDIA" type="obtainableVideoMediaType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TitleObtainablevideomediaSoap">
    <wsdl:operation name="get_OBTAINABLEVIDEOMEDIA">
      <wsdl:input message="get_OBTAINABLEVIDEOMEDIARequest">
    </wsdl:input>
      <wsdl:output message="get_OBTAINABLEVIDEOMEDIAResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TitleObtainablevideomediaSoapBinding" type="TitleObtainablevideomediaSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_OBTAINABLEVIDEOMEDIA">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleObtainablevideomedia"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleObtainablevideomedia"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TitleObtainablevideomediaService">
    <wsdl:port name="TitleObtainablevideomediaSoap" binding="TitleObtainablevideomediaSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleObtainablevideomedia"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
