src/main/resources/domains/SAWSDL-TC3/communication/title_media_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TitleMedia" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleMedia" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleMedia" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleMedia-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleMedia" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleMedia" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:35:51 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Title"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#Media"/></xsd:annotation><xsd:element name="Media" type="MediaType"/><xsd:element name="Title" type="TitleType"/><xsd:simpleType name="MediaType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#Media"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="TitleType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Title"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_MEDIAResponse">
    <wsdl:part name="_MEDIA" type="MediaType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_MEDIARequest">
    <wsdl:part name="_TITLE" type="TitleType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TitleMediaSoap">
    <wsdl:operation name="get_MEDIA">
      <wsdl:input message="get_MEDIARequest">
    </wsdl:input>
      <wsdl:output message="get_MEDIAResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TitleMediaSoapBinding" type="TitleMediaSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_MEDIA">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleMedia"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleMedia"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TitleMediaService">
    <wsdl:port name="TitleMediaSoap" binding="TitleMediaSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleMedia"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
