src/main/resources/domains/SAWSDL-TC3/communication/title_lowcomedyfilm_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TitleLowcomedyfilm" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleLowcomedyfilm" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleLowcomedyfilm" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleLowcomedyfilm-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleLowcomedyfilm" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleLowcomedyfilm" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:35:40 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Title"/><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/my_ontology.owl#LowComedyFilm"/></xsd:annotation><xsd:element name="Title" type="TitleType"/><xsd:element name="LowComedyFilm" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/title_lowcomedyfilm_service_LowComedyFilm_liftingSchemaMapping.xslt" type="LowComedyFilmType"/><xsd:complexType name="LowComedyFilmType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#LowComedyFilm"><xsd:sequence><xsd:element name="Title"/></xsd:sequence></xsd:complexType><xsd:simpleType name="TitleType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Title"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_LOWCOMEDYFILMRequest">
    <wsdl:part name="_TITLE" type="TitleType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_LOWCOMEDYFILMResponse">
    <wsdl:part name="_LOWCOMEDYFILM" type="LowComedyFilmType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TitleLowcomedyfilmSoap">
    <wsdl:operation name="get_LOWCOMEDYFILM">
      <wsdl:input message="get_LOWCOMEDYFILMRequest">
    </wsdl:input>
      <wsdl:output message="get_LOWCOMEDYFILMResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TitleLowcomedyfilmSoapBinding" type="TitleLowcomedyfilmSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_LOWCOMEDYFILM">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleLowcomedyfilm"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleLowcomedyfilm"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TitleLowcomedyfilmService">
    <wsdl:port name="TitleLowcomedyfilmSoap" binding="TitleLowcomedyfilmSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleLowcomedyfilm"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
