src/main/resources/domains/SAWSDL-TC3/travel/hiking_ruralarea_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HikingRuralarea" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/HikingRuralarea" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/HikingRuralarea" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/HikingRuralarea-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/HikingRuralarea" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/HikingRuralarea" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:35:26 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Hiking"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#RuralArea"/></xsd:annotation><xsd:element name="Hiking" type="HikingType"/><xsd:element name="RuralArea" type="RuralAreaType"/><xsd:simpleType name="RuralAreaType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/travel.owl#RuralArea"><xsd:restriction base="xsd:string"><xsd:enumeration value="CapeYork"/><xsd:enumeration value="Woomera"/></xsd:restriction></xsd:simpleType><xsd:simpleType name="HikingType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/travel.owl#Hiking"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_RURALAREAResponse">
    <wsdl:part name="_RURALAREA" type="RuralAreaType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_RURALAREARequest">
    <wsdl:part name="_HIKING" type="HikingType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HikingRuralareaSoap">
    <wsdl:operation name="get_RURALAREA">
      <wsdl:input message="get_RURALAREARequest">
    </wsdl:input>
      <wsdl:output message="get_RURALAREAResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HikingRuralareaSoapBinding" type="HikingRuralareaSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_RURALAREA">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/HikingRuralarea"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/HikingRuralarea"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HikingRuralareaService">
    <wsdl:port name="HikingRuralareaSoap" binding="HikingRuralareaSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/HikingRuralarea"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
