src/main/resources/domains/SAWSDL-TC3/travel/sports_destination_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SportsDestination" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/SportsDestination" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/SportsDestination" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/SportsDestination-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/SportsDestination" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/SportsDestination" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:36:57 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Sports"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Destination"/></xsd:annotation><xsd:element name="Destination" type="DestinationType"/><xsd:element name="Sports" type="SportsType"/><xsd:simpleType name="SportsType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/travel.owl#Sports"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="DestinationType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/travel.owl#Destination"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_DESTINATIONResponse">
    <wsdl:part name="_DESTINATION" type="DestinationType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_DESTINATIONRequest">
    <wsdl:part name="_SPORTS" type="SportsType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SportsDestinationSoap">
    <wsdl:operation name="get_DESTINATION">
      <wsdl:input message="get_DESTINATIONRequest">
    </wsdl:input>
      <wsdl:output message="get_DESTINATIONResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SportsDestinationSoapBinding" type="SportsDestinationSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_DESTINATION">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/SportsDestination"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/SportsDestination"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SportsDestinationService">
    <wsdl:port name="SportsDestinationSoap" binding="SportsDestinationSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/SportsDestination"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
