src/main/resources/domains/SAWSDL-TC3/travel/sports_beach_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SportsBeach" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/SportsBeach" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/SportsBeach" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/SportsBeach-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/SportsBeach" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/SportsBeach" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:36:57 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Sports"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Beach"/></xsd:annotation><xsd:element name="Sports" type="SportsType"/><xsd:element name="Beach" type="BeachType"/><xsd:simpleType name="SportsType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/travel.owl#Sports"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="BeachType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/travel.owl#Beach"><xsd:restriction base="xsd:string"><xsd:enumeration value="CurrawongBeach"/><xsd:enumeration value="BondiBeach"/></xsd:restriction></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_BEACHResponse">
    <wsdl:part name="_BEACH" type="BeachType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_BEACHRequest">
    <wsdl:part name="_SPORTS" type="SportsType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SportsBeachSoap">
    <wsdl:operation name="get_BEACH">
      <wsdl:input message="get_BEACHRequest">
    </wsdl:input>
      <wsdl:output message="get_BEACHResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SportsBeachSoapBinding" type="SportsBeachSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_BEACH">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/SportsBeach"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/SportsBeach"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SportsBeachService">
    <wsdl:port name="SportsBeachSoap" binding="SportsBeachSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/SportsBeach"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
