src/main/resources/domains/SAWSDL-TC3/travel/surfing_farmland_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SurfingFarmland" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingFarmland" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingFarmland" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingFarmland-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingFarmland" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingFarmland" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:36:58 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Surfing"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Farmland"/></xsd:annotation><xsd:element name="Surfing" type="SurfingType"/><xsd:element name="Farmland" type="FarmlandType"/><xsd:simpleType name="FarmlandType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/travel.owl#Farmland"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="SurfingType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/travel.owl#Surfing"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_FARMLANDRequest">
    <wsdl:part name="_SURFING" type="SurfingType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_FARMLANDResponse">
    <wsdl:part name="_FARMLAND" type="FarmlandType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SurfingFarmlandSoap">
    <wsdl:operation name="get_FARMLAND">
      <wsdl:input message="get_FARMLANDRequest">
    </wsdl:input>
      <wsdl:output message="get_FARMLANDResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SurfingFarmlandSoapBinding" type="SurfingFarmlandSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_FARMLAND">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingFarmland"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingFarmland"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SurfingFarmlandService">
    <wsdl:port name="SurfingFarmlandSoap" binding="SurfingFarmlandSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingFarmland"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
