src/main/resources/domains/SAWSDL-TC3/economy/degree_funding_GermanGovservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DegreeFunding" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/DegreeFunding" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/DegreeFunding" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/DegreeFunding-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/DegreeFunding" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/DegreeFunding" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:34:00 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/portal.owl#Degree"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Funding"/></xsd:annotation><xsd:element name="Degree" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/degree_funding_GermanGovservice_Degree_liftingSchemaMapping.xslt" type="DegreeType"/><xsd:element name="Funding" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/degree_funding_GermanGovservice_Funding_liftingSchemaMapping.xslt" type="FundingType"/><xsd:complexType name="DegreeType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/portal.owl#Degree"><xsd:sequence><xsd:element name="has-variant-name" type="xsd:string"/></xsd:sequence></xsd:complexType><xsd:simpleType name="FundingType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/SUMO.owl#Funding"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_FUNDINGResponse">
    <wsdl:part name="_FUNDING" type="FundingType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_FUNDINGRequest">
    <wsdl:part name="_DEGREE" type="DegreeType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DegreeFundingSoap">
    <wsdl:operation name="get_FUNDING">
      <wsdl:input message="get_FUNDINGRequest">
    </wsdl:input>
      <wsdl:output message="get_FUNDINGResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DegreeFundingSoapBinding" type="DegreeFundingSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_FUNDING">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/DegreeFunding"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/DegreeFunding"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DegreeFundingService">
    <wsdl:port name="DegreeFundingSoap" binding="DegreeFundingSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/DegreeFunding"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
