src/main/resources/domains/SAWSDL-TC3/economy/maxprice_cola_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MaxpriceCola" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceCola" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceCola" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceCola-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceCola" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceCola" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:10 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#MaxPrice"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#Cola"/></xsd:annotation><xsd:element name="Cola" type="ColaType"/><xsd:element name="MaxPrice" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/maxprice_cola_service_MaxPrice_liftingSchemaMapping.xslt" type="MaxPriceType"/><xsd:complexType name="MaxPriceType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/concept.owl#MaxPrice"><xsd:sequence><xsd:element name="currency" type="Currency"/><xsd:element name="amount" type="xsd:float"/></xsd:sequence></xsd:complexType><xsd:simpleType name="Currency" sawsdl:modelReference="http://www.daml.ecs.soton.ac.uk/ont/currency.owl#Currency"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="ColaType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#Cola"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_COLAResponse">
    <wsdl:part name="_COLA" type="ColaType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_COLARequest">
    <wsdl:part name="_MAXPRICE" type="MaxPriceType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MaxpriceColaSoap">
    <wsdl:operation name="get_COLA">
      <wsdl:input message="get_COLARequest">
    </wsdl:input>
      <wsdl:output message="get_COLAResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MaxpriceColaSoapBinding" type="MaxpriceColaSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_COLA">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceCola"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceCola"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaxpriceColaService">
    <wsdl:port name="MaxpriceColaSoap" binding="MaxpriceColaSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceCola"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
