src/main/resources/domains/SAWSDL-TC3/economy/mediaplayer_maxprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MediaplayerMaxprice" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/MediaplayerMaxprice" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/MediaplayerMaxprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/MediaplayerMaxprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/MediaplayerMaxprice" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/MediaplayerMaxprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:35:51 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#MediaPlayer"/><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#MaxPrice"/></xsd:annotation><xsd:element name="MediaPlayer" type="MediaPlayerType"/><xsd:element name="MaxPrice" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/mediaplayer_maxprice_service_MaxPrice_liftingSchemaMapping.xslt" type="MaxPriceType"/><xsd:complexType name="MaxPriceType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/concept.owl#MaxPrice"><xsd:sequence><xsd:element name="currency" type="Currency"/><xsd:element name="amount" type="xsd:float"/></xsd:sequence></xsd:complexType><xsd:simpleType name="Currency" sawsdl:modelReference="http://www.daml.ecs.soton.ac.uk/ont/currency.owl#Currency"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="MediaPlayerType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#MediaPlayer"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_MAXPRICERequest">
    <wsdl:part name="_MEDIAPLAYER" type="MediaPlayerType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_MAXPRICEResponse">
    <wsdl:part name="_MAXPRICE" type="MaxPriceType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MediaplayerMaxpriceSoap">
    <wsdl:operation name="get_MAXPRICE">
      <wsdl:input message="get_MAXPRICERequest">
    </wsdl:input>
      <wsdl:output message="get_MAXPRICEResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MediaplayerMaxpriceSoapBinding" type="MediaplayerMaxpriceSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_MAXPRICE">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/MediaplayerMaxprice"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/MediaplayerMaxprice"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediaplayerMaxpriceService">
    <wsdl:port name="MediaplayerMaxpriceSoap" binding="MediaplayerMaxpriceSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/MediaplayerMaxprice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
