src/main/resources/domains/SAWSDL-TC3/economy/objectperson__service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Personobject" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Personobject" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Personobject" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/Personobject-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Personobject" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/Personobject" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:36:51 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/simplified_sumo.owl#Object"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Person"/></xsd:annotation><xsd:element name="Person" type="PersonType"/><xsd:element name="Object" type="ObjectType"/><xsd:simpleType name="PersonType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Person"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="ObjectType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/simplified_sumo.owl#Object"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="getResponse">
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part name="_OBJECT" type="ObjectType">
    </wsdl:part>
    <wsdl:part name="_PERSON" type="PersonType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonobjectSoap">
    <wsdl:operation name="get">
      <wsdl:input message="getRequest">
    </wsdl:input>
      <wsdl:output message="getResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonobjectSoapBinding" type="PersonobjectSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Personobject"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Personobject"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonobjectService">
    <wsdl:port name="PersonobjectSoap" binding="PersonobjectSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/Personobject"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
