src/main/resources/domains/SAWSDL-TC3/economy/price_coffeewithwhiskey_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PriceCoffeewithwhiskey" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/PriceCoffeewithwhiskey" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/PriceCoffeewithwhiskey" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/PriceCoffeewithwhiskey-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/PriceCoffeewithwhiskey" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/PriceCoffeewithwhiskey" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:49 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#Price"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#CoffeeWithWhiskey"/></xsd:annotation><xsd:element name="CoffeeWithWhiskey" type="CoffeeWithWhiskeyType"/><xsd:element name="Price" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/price_coffeewithwhiskey_service_Price_liftingSchemaMapping.xslt" type="PriceType"/><xsd:complexType name="PriceType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/concept.owl#Price"><xsd:sequence><xsd:element name="currency" type="Currency"/><xsd:element name="amount" type="xsd:float"/></xsd:sequence></xsd:complexType><xsd:simpleType name="CoffeeWithWhiskeyType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#CoffeeWithWhiskey"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="Currency" sawsdl:modelReference="http://www.daml.ecs.soton.ac.uk/ont/currency.owl#Currency"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_COFFEEWITHWHISKEYRequest">
    <wsdl:part name="_PRICE" type="PriceType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_COFFEEWITHWHISKEYResponse">
    <wsdl:part name="_COFFEEWITHWHISKEY" type="CoffeeWithWhiskeyType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PriceCoffeewithwhiskeySoap">
    <wsdl:operation name="get_COFFEEWITHWHISKEY">
      <wsdl:input message="get_COFFEEWITHWHISKEYRequest">
    </wsdl:input>
      <wsdl:output message="get_COFFEEWITHWHISKEYResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PriceCoffeewithwhiskeySoapBinding" type="PriceCoffeewithwhiskeySoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_COFFEEWITHWHISKEY">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/PriceCoffeewithwhiskey"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/PriceCoffeewithwhiskey"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PriceCoffeewithwhiskeyService">
    <wsdl:port name="PriceCoffeewithwhiskeySoap" binding="PriceCoffeewithwhiskeySoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/PriceCoffeewithwhiskey"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
