src/main/resources/domains/SAWSDL-TC3/economy/price_irishcoffeemixerycola_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PriceIrishcoffeemixerycola" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/PriceIrishcoffeemixerycola" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/PriceIrishcoffeemixerycola" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/PriceIrishcoffeemixerycola-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/PriceIrishcoffeemixerycola" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/PriceIrishcoffeemixerycola" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:35:41 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#Price"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#IrishCoffee"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#MixeryCola"/></xsd:annotation><xsd:element name="MixeryCola" type="MixeryColaType"/><xsd:element name="Price" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/price_irishcoffeemixerycola_service_Price_liftingSchemaMapping.xslt" type="PriceType"/><xsd:element name="IrishCoffee" type="IrishCoffeeType"/><xsd:complexType name="PriceType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/concept.owl#Price"><xsd:sequence><xsd:element name="currency" type="Currency"/><xsd:element name="amount" type="xsd:float"/></xsd:sequence></xsd:complexType><xsd:simpleType name="MixeryColaType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#MixeryCola"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="IrishCoffeeType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#IrishCoffee"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="Currency" sawsdl:modelReference="http://www.daml.ecs.soton.ac.uk/ont/currency.owl#Currency"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_IRISHCOFFEE_MIXERYCOLAResponse">
    <wsdl:part name="_IRISHCOFFEE" type="IrishCoffeeType">
    </wsdl:part>
    <wsdl:part name="_MIXERYCOLA" type="MixeryColaType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_IRISHCOFFEE_MIXERYCOLARequest">
    <wsdl:part name="_PRICE" type="PriceType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PriceIrishcoffeemixerycolaSoap">
    <wsdl:operation name="get_IRISHCOFFEE_MIXERYCOLA">
      <wsdl:input message="get_IRISHCOFFEE_MIXERYCOLARequest">
    </wsdl:input>
      <wsdl:output message="get_IRISHCOFFEE_MIXERYCOLAResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PriceIrishcoffeemixerycolaSoapBinding" type="PriceIrishcoffeemixerycolaSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_IRISHCOFFEE_MIXERYCOLA">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/PriceIrishcoffeemixerycola"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/PriceIrishcoffeemixerycola"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PriceIrishcoffeemixerycolaService">
    <wsdl:port name="PriceIrishcoffeemixerycolaSoap" binding="PriceIrishcoffeemixerycolaSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/PriceIrishcoffeemixerycola"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
