src/main/resources/domains/SAWSDL-TC3/economy/recommendedprice_irishcoffeetasting_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RecommendedpriceIrishcoffeetasting" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/RecommendedpriceIrishcoffeetasting" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/RecommendedpriceIrishcoffeetasting" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/RecommendedpriceIrishcoffeetasting-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/RecommendedpriceIrishcoffeetasting" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/RecommendedpriceIrishcoffeetasting" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:07 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#RecommendedPrice"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#IrishCoffee"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Tasting"/></xsd:annotation><xsd:element name="Tasting" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/recommendedprice_irishcoffeetasting_service_Tasting_liftingSchemaMapping.xslt" type="TastingType"/><xsd:element name="IrishCoffee" type="IrishCoffeeType"/><xsd:element name="RecommendedPrice" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/recommendedprice_irishcoffeetasting_service_RecommendedPrice_liftingSchemaMapping.xslt" type="RecommendedPriceType"/><xsd:complexType name="RecommendedPriceType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/concept.owl#RecommendedPrice"><xsd:sequence><xsd:element name="currency" type="Currency"/><xsd:element name="amount" type="xsd:float"/></xsd:sequence></xsd:complexType><xsd:simpleType name="IrishCoffeeType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#IrishCoffee"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="TastingType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/SUMO.owl#Tasting"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="Currency" sawsdl:modelReference="http://www.daml.ecs.soton.ac.uk/ont/currency.owl#Currency"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_IRISHCOFFEE_TASTINGResponse">
    <wsdl:part name="_IRISHCOFFEE" type="IrishCoffeeType">
    </wsdl:part>
    <wsdl:part name="_TASTING" type="TastingType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_IRISHCOFFEE_TASTINGRequest">
    <wsdl:part name="_RECOMMENDEDPRICE" type="RecommendedPriceType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RecommendedpriceIrishcoffeetastingSoap">
    <wsdl:operation name="get_IRISHCOFFEE_TASTING">
      <wsdl:input message="get_IRISHCOFFEE_TASTINGRequest">
    </wsdl:input>
      <wsdl:output message="get_IRISHCOFFEE_TASTINGResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecommendedpriceIrishcoffeetastingSoapBinding" type="RecommendedpriceIrishcoffeetastingSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_IRISHCOFFEE_TASTING">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/RecommendedpriceIrishcoffeetasting"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/RecommendedpriceIrishcoffeetasting"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecommendedpriceIrishcoffeetastingService">
    <wsdl:port name="RecommendedpriceIrishcoffeetastingSoap" binding="RecommendedpriceIrishcoffeetastingSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/RecommendedpriceIrishcoffeetasting"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
