src/main/resources/services/sawsdl_wsdl11/BookNonMedicalTransport_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Booknonmedicaltransport" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Booknonmedicaltransport" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Booknonmedicaltransport" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/Booknonmedicaltransport-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Booknonmedicaltransport" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/Booknonmedicaltransport" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:22 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/NonMedicalTransportCompanyOntology.owl#TransportNumber"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/NonMedicalTransportCompanyOntology.owl#Account"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/NonMedicalTransportCompanyOntology.owl#SeatNumber"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/NonMedicalTransportCompanyOntology.owl#BookingNumber"/></xsd:annotation><xsd:element name="BookingNumber" type="BookingNumberType"/><xsd:element name="Account" type="AccountType"/><xsd:element name="TransportNumber" type="TransportNumberType"/><xsd:element name="SeatNumber" type="SeatNumberType"/><xsd:simpleType name="SeatNumberType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/NonMedicalTransportCompanyOntology.owl#SeatNumber"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="TransportNumberType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/NonMedicalTransportCompanyOntology.owl#TransportNumber"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="BookingNumberType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/NonMedicalTransportCompanyOntology.owl#BookingNumber"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="AccountType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/NonMedicalTransportCompanyOntology.owl#Account"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="getBookNonMedicalTransport_SeatNumberBookNonMedicalTransport_BookingNumberRequest">
    <wsdl:part name="BookNonMedicalTransport_TransportNumber" type="TransportNumberType">
    </wsdl:part>
    <wsdl:part name="BookNonMedicalTransport_Account" type="AccountType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBookNonMedicalTransport_SeatNumberBookNonMedicalTransport_BookingNumberResponse">
    <wsdl:part name="BookNonMedicalTransport_SeatNumber" type="SeatNumberType">
    </wsdl:part>
    <wsdl:part name="BookNonMedicalTransport_BookingNumber" type="BookingNumberType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BooknonmedicaltransportSoap">
    <wsdl:operation name="getBookNonMedicalTransport_SeatNumberBookNonMedicalTransport_BookingNumber">
      <wsdl:input message="getBookNonMedicalTransport_SeatNumberBookNonMedicalTransport_BookingNumberRequest">
    </wsdl:input>
      <wsdl:output message="getBookNonMedicalTransport_SeatNumberBookNonMedicalTransport_BookingNumberResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BooknonmedicaltransportSoapBinding" type="BooknonmedicaltransportSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBookNonMedicalTransport_SeatNumberBookNonMedicalTransport_BookingNumber">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Booknonmedicaltransport"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Booknonmedicaltransport"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BooknonmedicaltransportService">
    <wsdl:port name="BooknonmedicaltransportSoap" binding="BooknonmedicaltransportSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/Booknonmedicaltransport"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
