src/main/resources/services/sawsdl_wsdl11/calculateDistanceUsingSphericalGeometry.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://geocoder.us/service/" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" targetNamespace="http://geocoder.us/service/">
	<wsdl:documentation>This is a WSDL 1.1 description that has been created for a RESTful service for evaluation and testing purposes.
It is not guaranteed to be correct or appropriate. The binding information in particular may likely not be correct.</wsdl:documentation>
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://geocoder.us/service/">
			<xsd:annotation>This type information has been semi-automatically generated. It properly represents the semantics of the service's parameters, but does not necessarily match the schema actually used by the service.</xsd:annotation>
			<xsd:complexType name="Output">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="distance" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#GeographicDistance">
						<xsd:annotation>The distance in miles between the given locations.</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Output" nillable="true" type="tns:Output"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="geocoder.us_Lat_Lng_To_DistanceHttpGetIn">
		<wsdl:part name="lat1" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#latitude">
			<wsdl:documentation>The latitude of the first coordinate</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="lng1" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#longitude">
			<wsdl:documentation>The longitude of the first coordinate</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="lat2" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#latitude">
			<wsdl:documentation>The latitude of the second coordinate</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="lng2" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#longitude">
			<wsdl:documentation>The longitude of the second coordinate</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="geocoder.us_Lat_Lng_To_DistanceHttpGetOut">
		<wsdl:part name="Body" element="tns:Output">
			<wsdl:documentation/>
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="geocoder.us_Lat_Lng_To_DistanceHttpGet">
		<wsdl:operation name="geocoder.us_Lat_Lng_To_Distance">
			<wsdl:documentation>Computes the distance in miles between two given coordinates</wsdl:documentation>
			<wsdl:input message="tns:geocoder.us_Lat_Lng_To_DistanceHttpGetIn"/>
			<wsdl:output message="tns:geocoder.us_Lat_Lng_To_DistanceHttpGetOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="geocoder.us_Lat_Lng_To_DistanceHttpGet" type="tns:geocoder.us_Lat_Lng_To_DistanceHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="geocoder.us_Lat_Lng_To_Distance">
			<http:operation location="distance"/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="geocoder.us_Lat_Lng_To_Distance">
		<wsdl:port name="geocoder.us_Lat_Lng_To_DistanceHttpGet" binding="tns:geocoder.us_Lat_Lng_To_DistanceHttpGet">
			<http:address location="http://geocoder.us/service/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
