src/main/resources/services/sawsdl_wsdl11/cdplayer_maxprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CdplayerMaxprice" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/CdplayerMaxprice" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/CdplayerMaxprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/CdplayerMaxprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/CdplayerMaxprice" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/CdplayerMaxprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:29 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#CDPlayer"/><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#MaxPrice"/></xsd:annotation><xsd:element name="CDPlayer" type="CDPlayerType"/><xsd:element name="MaxPrice" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/cdplayer_maxprice_service_MaxPrice_liftingSchemaMapping.xslt" type="MaxPriceType"/><xsd:complexType name="MaxPriceType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/concept.owl#MaxPrice"><xsd:sequence><xsd:element name="currency" type="Currency"/><xsd:element name="amount" type="xsd:float"/></xsd:sequence></xsd:complexType><xsd:simpleType name="CDPlayerType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#CDPlayer"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="Currency" sawsdl:modelReference="http://www.daml.ecs.soton.ac.uk/ont/currency.owl#Currency"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_MAXPRICERequest">
    <wsdl:part name="_CDPLAYER" type="CDPlayerType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_MAXPRICEResponse">
    <wsdl:part name="_MAXPRICE" type="MaxPriceType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CdplayerMaxpriceSoap">
    <wsdl:operation name="get_MAXPRICE">
      <wsdl:input message="get_MAXPRICERequest">
    </wsdl:input>
      <wsdl:output message="get_MAXPRICEResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CdplayerMaxpriceSoapBinding" type="CdplayerMaxpriceSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_MAXPRICE">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/CdplayerMaxprice"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/CdplayerMaxprice"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CdplayerMaxpriceService">
    <wsdl:port name="CdplayerMaxpriceSoap" binding="CdplayerMaxpriceSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/CdplayerMaxprice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
