src/main/resources/services/sawsdl_wsdl11/city_hotel_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CityHotel" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityHotel" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityHotel" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityHotel-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityHotel" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityHotel" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:46 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#City"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Hotel"/></xsd:annotation><xsd:element name="Hotel" type="HotelType"/><xsd:element name="City" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/city_hotel_service_City_liftingSchemaMapping.xslt" type="CityType"/><xsd:simpleType name="HotelType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/travel.owl#Hotel"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="CityType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/portal.owl#City"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_HOTELResponse">
    <wsdl:part name="_HOTEL" type="HotelType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_HOTELRequest">
    <wsdl:part name="_CITY" type="CityType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CityHotelSoap">
    <wsdl:operation name="get_HOTEL">
      <wsdl:input message="get_HOTELRequest">
    </wsdl:input>
      <wsdl:output message="get_HOTELResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CityHotelSoapBinding" type="CityHotelSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_HOTEL">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityHotel"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityHotel"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CityHotelService">
    <wsdl:port name="CityHotelSoap" binding="CityHotelSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityHotel"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
