src/main/resources/services/sawsdl_wsdl11/city_bedandbreakfast_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CityBedandbreakfast" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityBedandbreakfast" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityBedandbreakfast" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityBedandbreakfast-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityBedandbreakfast" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityBedandbreakfast" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:43 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#City"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#BedAndBreakfast"/></xsd:annotation><xsd:element name="BedAndBreakfast" type="BedAndBreakfastType"/><xsd:element name="City" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/city_bedandbreakfast_service_City_liftingSchemaMapping.xslt" type="CityType"/><xsd:simpleType name="BedAndBreakfastType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/travel.owl#BedAndBreakfast"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="CityType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/portal.owl#City"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_BEDANDBREAKFASTResponse">
    <wsdl:part name="_BEDANDBREAKFAST" type="BedAndBreakfastType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_BEDANDBREAKFASTRequest">
    <wsdl:part name="_CITY" type="CityType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CityBedandbreakfastSoap">
    <wsdl:operation name="get_BEDANDBREAKFAST">
      <wsdl:input message="get_BEDANDBREAKFASTRequest">
    </wsdl:input>
      <wsdl:output message="get_BEDANDBREAKFASTResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CityBedandbreakfastSoapBinding" type="CityBedandbreakfastSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_BEDANDBREAKFAST">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityBedandbreakfast"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityBedandbreakfast"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CityBedandbreakfastService">
    <wsdl:port name="CityBedandbreakfastSoap" binding="CityBedandbreakfastSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityBedandbreakfast"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
