src/main/resources/services/sawsdl_wsdl11/city_accommodation_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CityAccommodation" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityAccommodation" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityAccommodation" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityAccommodation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityAccommodation" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityAccommodation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:43 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#City"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Accommodation"/></xsd:annotation><xsd:element name="Accommodation" type="AccommodationType"/><xsd:element name="City" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/city_accommodation_service_City_liftingSchemaMapping.xslt" type="CityType"/><xsd:simpleType name="AccommodationType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/travel.owl#Accommodation"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="CityType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/portal.owl#City"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_ACCOMMODATIONResponse">
    <wsdl:part name="_ACCOMMODATION" type="AccommodationType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_ACCOMMODATIONRequest">
    <wsdl:part name="_CITY" type="CityType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CityAccommodationSoap">
    <wsdl:operation name="get_ACCOMMODATION">
      <wsdl:input message="get_ACCOMMODATIONRequest">
    </wsdl:input>
      <wsdl:output message="get_ACCOMMODATIONResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CityAccommodationSoapBinding" type="CityAccommodationSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_ACCOMMODATION">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityAccommodation"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityAccommodation"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CityAccommodationService">
    <wsdl:port name="CityAccommodationSoap" binding="CityAccommodationSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/CityAccommodation"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
