src/main/resources/services/sawsdl_wsdl11/close_door.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Closedoor" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Closedoor" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Closedoor" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/Closedoor-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Closedoor" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/Closedoor" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:47 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/messemodul.owl#Door"/></xsd:annotation><xsd:element name="Door" type="DoorType"/><xsd:simpleType name="DoorType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/messemodul.owl#Door"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="getResponse">
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part name="Door" type="DoorType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ClosedoorSoap">
    <wsdl:operation name="get">
      <wsdl:input message="getRequest">
    </wsdl:input>
      <wsdl:output message="getResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClosedoorSoapBinding" type="ClosedoorSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Closedoor"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Closedoor"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClosedoorService">
    <wsdl:port name="ClosedoorSoap" binding="ClosedoorSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/Closedoor"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
