src/main/resources/services/sawsdl_wsdl11/ContactEMA_services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Contactema" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Contactema" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Contactema" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/Contactema-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Contactema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/Contactema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:50 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/PatientOntology.owl#DateTime"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/PatientOntology.owl#GpsPosition"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/PatientOntology.owl#DateTime"/></xsd:annotation><xsd:element name="GpsPosition" type="GpsPositionType"/><xsd:element name="DateTime" type="DateTimeType"/><xsd:simpleType name="GpsPositionType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/PatientOntology.owl#GpsPosition"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="DateTimeType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/PatientOntology.owl#DateTime"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="getContactEMA_AmbulanceArrivalTimeRequest">
    <wsdl:part name="AuthorizePhysician_AuthorizationTimeInterval" type="DateTimeType">
    </wsdl:part>
    <wsdl:part name="ContactEMA_AccidentGpsPosition" type="GpsPositionType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContactEMA_AmbulanceArrivalTimeResponse">
    <wsdl:part name="ContactEMA_AmbulanceArrivalTime" type="DateTimeType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ContactemaSoap">
    <wsdl:operation name="getContactEMA_AmbulanceArrivalTime">
      <wsdl:input message="getContactEMA_AmbulanceArrivalTimeRequest">
    </wsdl:input>
      <wsdl:output message="getContactEMA_AmbulanceArrivalTimeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContactemaSoapBinding" type="ContactemaSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getContactEMA_AmbulanceArrivalTime">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Contactema"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Contactema"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactemaService">
    <wsdl:port name="ContactemaSoap" binding="ContactemaSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/Contactema"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
