src/main/resources/services/sawsdl_wsdl11/cycle1personbicycle_price_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Cycle1personbicyclePrice" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Cycle1personbicyclePrice" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Cycle1personbicyclePrice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/Cycle1personbicyclePrice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Cycle1personbicyclePrice" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/Cycle1personbicyclePrice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:00 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/my_ontology.owl#OnePersonBicycle"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#Cycle"/><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#Price"/></xsd:annotation><xsd:element name="Price" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/cycle1personbicycle_price_service_Price_liftingSchemaMapping.xslt" type="PriceType"/><xsd:element name="OnePersonBicycle" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/cycle1personbicycle_price_service_OnePersonBicycle_liftingSchemaMapping.xslt" type="OnePersonBicycleType"/><xsd:element name="Cycle" type="CycleType"/><xsd:complexType name="PriceType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/concept.owl#Price"><xsd:sequence><xsd:element name="currency" type="Currency"/><xsd:element name="amount" type="xsd:float"/></xsd:sequence></xsd:complexType><xsd:complexType name="OnePersonBicycleType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#OnePersonBicycle"><xsd:sequence><xsd:element name="Person"/><xsd:element minOccurs="2" name="Wheel"/></xsd:sequence></xsd:complexType><xsd:simpleType name="Currency" sawsdl:modelReference="http://www.daml.ecs.soton.ac.uk/ont/currency.owl#Currency"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="CycleType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#Cycle"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_PRICERequest">
    <wsdl:part name="_1PERSONBICYCLE" type="OnePersonBicycleType">
    </wsdl:part>
    <wsdl:part name="_CYCLE" type="CycleType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_PRICEResponse">
    <wsdl:part name="_PRICE" type="PriceType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Cycle1personbicyclePriceSoap">
    <wsdl:operation name="get_PRICE">
      <wsdl:input message="get_PRICERequest">
    </wsdl:input>
      <wsdl:output message="get_PRICEResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Cycle1personbicyclePriceSoapBinding" type="Cycle1personbicyclePriceSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_PRICE">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Cycle1personbicyclePrice"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Cycle1personbicyclePrice"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cycle1personbicyclePriceService">
    <wsdl:port name="Cycle1personbicyclePriceSoap" binding="Cycle1personbicyclePriceSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/Cycle1personbicyclePrice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
