src/main/resources/services/sawsdl_wsdl11/degree_scholarship_GermanGovservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DegreeScholarship" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/DegreeScholarship" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/DegreeScholarship" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/DegreeScholarship-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/DegreeScholarship" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/DegreeScholarship" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:34:00 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/portal.owl#Degree"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Scholarship"/></xsd:annotation><xsd:element name="Scholarship" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/degree_scholarship_GermanGovservice_Scholarship_liftingSchemaMapping.xslt" type="ScholarshipType"/><xsd:element name="Degree" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/degree_scholarship_GermanGovservice_Degree_liftingSchemaMapping.xslt" type="DegreeType"/><xsd:complexType name="DegreeType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/portal.owl#Degree"><xsd:sequence><xsd:element name="has-variant-name" type="xsd:string"/></xsd:sequence></xsd:complexType><xsd:simpleType name="ScholarshipType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Scholarship"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_SCHOLARSHIPResponse">
    <wsdl:part name="_SCHOLARSHIP" type="ScholarshipType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_SCHOLARSHIPRequest">
    <wsdl:part name="_DEGREE" type="DegreeType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DegreeScholarshipSoap">
    <wsdl:operation name="get_SCHOLARSHIP">
      <wsdl:input message="get_SCHOLARSHIPRequest">
    </wsdl:input>
      <wsdl:output message="get_SCHOLARSHIPResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DegreeScholarshipSoapBinding" type="DegreeScholarshipSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_SCHOLARSHIP">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/DegreeScholarship"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/DegreeScholarship"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DegreeScholarshipService">
    <wsdl:port name="DegreeScholarshipSoap" binding="DegreeScholarshipSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/DegreeScholarship"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
