src/main/resources/services/sawsdl_wsdl11/dvdplayermp3player_RecpriceEuro_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Dvdplayermp3playerRecprice" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Dvdplayermp3playerRecprice" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Dvdplayermp3playerRecprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/Dvdplayermp3playerRecprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Dvdplayermp3playerRecprice" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/Dvdplayermp3playerRecprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:32:58 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#MP3Player"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#DVDPlayer"/><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#RecommendedPriceInEuro"/></xsd:annotation><xsd:element name="RecommendedPriceInEuro" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/dvdplayermp3player_RecpriceEuro_service_RecommendedPriceInEuro_liftingSchemaMapping.xslt" type="RecommendedPriceInEuroType"/><xsd:element name="DVDPlayer" type="DVDPlayerType"/><xsd:element name="MP3Player" type="MP3PlayerType"/><xsd:complexType name="RecommendedPriceInEuroType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/concept.owl#RecommendedPriceInEuro"><xsd:sequence><xsd:element name="currency" type="Currency"/><xsd:element name="amount" type="xsd:float"/></xsd:sequence></xsd:complexType><xsd:simpleType name="Currency" sawsdl:modelReference="http://www.daml.ecs.soton.ac.uk/ont/currency.owl#Currency"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="DVDPlayerType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#DVDPlayer"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="MP3PlayerType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#MP3Player"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_RECPRICERequest">
    <wsdl:part name="_MP3PLAYER" type="MP3PlayerType">
    </wsdl:part>
    <wsdl:part name="_DVDPLAYER" type="DVDPlayerType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_RECPRICEResponse">
    <wsdl:part name="_RECPRICE" type="RecommendedPriceInEuroType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Dvdplayermp3playerRecpriceSoap">
    <wsdl:operation name="get_RECPRICE">
      <wsdl:input message="get_RECPRICERequest">
    </wsdl:input>
      <wsdl:output message="get_RECPRICEResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Dvdplayermp3playerRecpriceSoapBinding" type="Dvdplayermp3playerRecpriceSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_RECPRICE">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Dvdplayermp3playerRecprice"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Dvdplayermp3playerRecprice"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Dvdplayermp3playerRecpriceService">
    <wsdl:port name="Dvdplayermp3playerRecpriceSoap" binding="Dvdplayermp3playerRecpriceSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/Dvdplayermp3playerRecprice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
