src/main/resources/services/sawsdl_wsdl11/getAddressOfLocation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rpc.geocoder.us/Geo/Coder/US/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" name="GeoCoder" targetNamespace="http://rpc.geocoder.us/Geo/Coder/US/">
	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rpc.geocoder.us/Geo/Coder/US/" elementFormDefault="unqualified">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<xsd:complexType name="ArrayOfGeocoderResult">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:GeocoderResult[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>
			<xsd:complexType name="GeocoderResult">
				<xsd:all>
					<xsd:element name="zip" type="xsd:int" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#PostalCode"/>
					<xsd:element name="state" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#State"/>
					<xsd:element name="city" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#City"/>
					<xsd:element name="lat" type="xsd:float" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#latitude"/>
					<xsd:element name="long" type="xsd:float" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#longitude"/>
					<xsd:element name="number" type="xsd:int" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#Number"/>
					<xsd:element name="suffix" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#endsWithString"/>
					<xsd:element name="prefix" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#startsWithString"/>
					<xsd:element name="type" type="xsd:string"/>
					<xsd:element name="street" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#Address"/>
					<xsd:element name="suffix1" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#endsWithString"/>
					<xsd:element name="prefix1" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#startsWithString"/>
					<xsd:element name="type1" type="xsd:string"/>
					<xsd:element name="street1" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#Address"/>
					<xsd:element name="suffix2" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#endsWithString"/>
					<xsd:element name="prefix2" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#startsWithString"/>
					<xsd:element name="type2" type="xsd:string"/>
					<xsd:element name="street2" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#Address"/>
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<message name="geocodeRequest">
		<part name="location" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#Location"/>
	</message>
	<message name="geocodeResponse">
		<part name="results" type="tns:ArrayOfGeocoderResult"/>
	</message>
	<portType name="GeoCode_PortType">
		<operation name="geocode">
			<input message="tns:geocodeRequest"/>
			<output message="tns:geocodeResponse"/>
		</operation>
	</portType>
	<binding name="GeoCode_Binding" type="tns:GeoCode_PortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="geocode">
			<soap:operation soapAction="http://rpc.geocoder.us/Geo/Coder/US#geocode" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rpc.geocoder.us/Geo/Coder/US/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rpc.geocoder.us/Geo/Coder/US/"/>
			</output>
		</operation>
	</binding>
	<service name="GeoCode_Service">
		<documentation>WSDL File for Geo Coder - Written by Scott Gunn (scott_gunn*AT*email.com) Modified by Douglass Davis</documentation>
		<port name="GeoCode_Port" binding="tns:GeoCode_Binding">
			<soap:address location="http://rpc.geocoder.us/service/soap/"/>
		</port>
	</service>
</definitions>
