src/main/resources/services/sawsdl_wsdl11/getATMLocationsInCity.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.serviceobjects.com/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.serviceobjects.com/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.serviceobjects.com/">
			<s:complexType name="ATMLocations" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#Location">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ATM" type="tns:ATM" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#ATM"/>
					<s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Err"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ATM" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#ATM">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Bank" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#Bank"/>
					<s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#Address"/>
					<s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#Location"/>
					<s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#City"/>
					<s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#StateCode"/>
					<s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#PostalCode"/>
					<s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#latitude"/>
					<s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#longitude"/>
					<s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#Text"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="Err">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#description"/>
					<s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#Code"/>
					<s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#Location"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetATMLocationsByCityState">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#City"/>
						<s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#StateCode"/>
						<s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#Code"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetATMLocationsByCityStateResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetATMLocationsByCityStateResult" type="tns:ATMLocations"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ATMLocations" nillable="true" type="tns:ATMLocations"/>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetATMLocationsByCityStateSoapIn">
		<wsdl:part name="parameters" element="tns:GetATMLocationsByCityState"/>
	</wsdl:message>
	<wsdl:message name="GetATMLocationsByCityStateSoapOut">
		<wsdl:part name="parameters" element="tns:GetATMLocationsByCityStateResponse"/>
	</wsdl:message>
	<wsdl:message name="GetATMLocationsByCityStateHttpGetIn">
		<wsdl:part name="City" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#City"/>
		<wsdl:part name="State" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#StateCode"/>
		<wsdl:part name="LicenseKey" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#Code"/>
	</wsdl:message>
	<wsdl:message name="GetATMLocationsByCityStateHttpGetOut">
		<wsdl:part name="Body" element="tns:ATMLocations"/>
	</wsdl:message>
	<wsdl:message name="GetATMLocationsByCityStateHttpPostIn">
		<wsdl:part name="City" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#City"/>
		<wsdl:part name="State" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#StateCode"/>
		<wsdl:part name="LicenseKey" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#Code"/>
	</wsdl:message>
	<wsdl:message name="GetATMLocationsByCityStateHttpPostOut">
		<wsdl:part name="Body" element="tns:ATMLocations"/>
	</wsdl:message>
	<wsdl:portType name="DOTSGeoCashSoap">
		<wsdl:operation name="GetATMLocationsByCityState">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns up to fifty ATM locations for a given city and 2-letter state abbreviation.</documentation>
			<wsdl:input message="tns:GetATMLocationsByCityStateSoapIn"/>
			<wsdl:output message="tns:GetATMLocationsByCityStateSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="DOTSGeoCashHttpGet">
		<wsdl:operation name="GetATMLocationsByCityState">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns up to fifty ATM locations for a given city and 2-letter state abbreviation.</documentation>
			<wsdl:input message="tns:GetATMLocationsByCityStateHttpGetIn"/>
			<wsdl:output message="tns:GetATMLocationsByCityStateHttpGetOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="DOTSGeoCashHttpPost">
		<wsdl:operation name="GetATMLocationsByCityState">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns up to fifty ATM locations for a given city and 2-letter state abbreviation.</documentation>
			<wsdl:input message="tns:GetATMLocationsByCityStateHttpPostIn"/>
			<wsdl:output message="tns:GetATMLocationsByCityStateHttpPostOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DOTSGeoCashSoap" type="tns:DOTSGeoCashSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetATMLocationsByCityState">
			<soap:operation soapAction="http://www.serviceobjects.com/GetATMLocationsByCityState" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DOTSGeoCashHttpGet" type="tns:DOTSGeoCashHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="GetATMLocationsByCityState">
			<http:operation location="/GetATMLocationsByCityState"/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DOTSGeoCashHttpPost" type="tns:DOTSGeoCashHttpPost">
		<http:binding verb="POST"/>
		<wsdl:operation name="GetATMLocationsByCityState">
			<http:operation location="/GetATMLocationsByCityState"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DOTSGeoCash">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">For more information on our web services, visit us at <a href="http://www.serviceobjects.com/products/default.asp" target="new">our website</a><br/><br/><a href="http://www.serviceobjects.com" target="new">
	<img src="http://www.serviceobjects.com/images/so_logo_2_inside.gif" border="0"/>
</a></documentation>
		<wsdl:port name="DOTSGeoCashSoap" binding="tns:DOTSGeoCashSoap">
			<soap:address location="http://ws2.serviceobjects.net/gc/GeoCash.asmx"/>
		</wsdl:port>
		<wsdl:port name="DOTSGeoCashHttpGet" binding="tns:DOTSGeoCashHttpGet">
			<http:address location="http://ws2.serviceobjects.net/gc/GeoCash.asmx"/>
		</wsdl:port>
		<wsdl:port name="DOTSGeoCashHttpPost" binding="tns:DOTSGeoCashHttpPost">
			<http:address location="http://ws2.serviceobjects.net/gc/GeoCash.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
