src/main/resources/services/sawsdl_wsdl11/getLocationOfUSZipcode.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:tns="http://example.org/" targetNamespace="http://example.org/">
	<wsdl:documentation>This is a WSDL 1.1 description that has been created for a RESTful service for evaluation and testing purposes.
It is not guaranteed to be correct or appropriate.</wsdl:documentation>
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://example.org/">
			<xsd:annotation>This type information has been semi-automatically generated. It properly represents the semantics of the service's parameters, but is not guaranteed to precisely match the schema actually used by the service.</xsd:annotation>
			<xsd:complexType name="Output">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="location">
					<xsd:annotation>The geographic coordinates (or, alternatively, area) corresponding to the given zip code.</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="latitude"
								type="xsd:double" maxOccurs="1" minOccurs="1">
							</xsd:element>
							<xsd:element name="longitude"
								type="xsd:double" maxOccurs="1" minOccurs="1">
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Output" nillable="true" type="tns:Output"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="US_Zip_geocoding_requestHttpGetIn">
		<wsdl:part name="US_zip_code" type="xsd:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#US5DigitZipCode">
			<wsdl:documentation>The input US zip code to resolve.</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="US_Zip_geocoding_requestHttpGetOut">
		<wsdl:part name="Body" element="tns:Output" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#Location">
			<wsdl:documentation></wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="US_Zip_geocoding_requestHttpGet">
		<wsdl:operation name="US_Zip_geocoding_request">
			<wsdl:documentation>A service that provides the geographic coordinates (or the geographic area) corresponding to a five digit US zip code.</wsdl:documentation>
				<wsdl:input message="tns:US_Zip_geocoding_requestHttpGetIn"/>
				<wsdl:output message="tns:US_Zip_geocoding_requestHttpGetOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="US_Zip_geocoding_requestHttpGet" type="tns:US_Zip_geocoding_requestHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="US_Zip_geocoding_request">
			<http:operation location=""/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="US_Zip_geocoding_requestHttpGet2" type="tns:US_Zip_geocoding_requestHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="US_Zip_geocoding_request">
			<http:operation location=""/>
			<wsdl:input>
				<http:urlReplacement/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="US_Zip_geocoding_request">
		<wsdl:port name="US_Zip_geocoding_requestHttpGet" binding="tns:US_Zip_geocoding_requestHttpGet">
			<http:address location="http://example.org/"/>
		</wsdl:port>
		<wsdl:port name="US_Zip_geocoding_requestHttpGet2" binding="tns:US_Zip_geocoding_requestHttpGet2">
			<http:address location="http://example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>