src/main/resources/services/sawsdl_wsdl11/getLocationOfCityWorldwide.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.serviceobjects.com/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.serviceobjects.com/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.serviceobjects.com/">
			<s:complexType name="Err">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#description"/>
					<s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#Code"/>
					<s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#Location"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetGeoLocationWorldwide">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#City"/>
						<s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#LandRegion"/>
						<s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#Country"/>
						<s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#Code"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetGeoLocationWorldwideResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetGeoLocationWorldwideResult" type="tns:ArrayOfGeocodeCityWorldwideInfo"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfGeocodeCityWorldwideInfo">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="GeocodeCityWorldwideInfo" nillable="true" type="tns:GeocodeCityWorldwideInfo"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="GeocodeCityWorldwideInfo">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#City"/>
					<s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#LandRegion"/>
					<s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#Country"/>
					<s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#latitude"/>
					<s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#longitude"/>
					<s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Err"/>
				</s:sequence>
			</s:complexType>
			<s:element name="ArrayOfGeocodeCityWorldwideInfo" nillable="true" type="tns:ArrayOfGeocodeCityWorldwideInfo"/>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetGeoLocationWorldwideSoapIn">
		<wsdl:part name="parameters" element="tns:GetGeoLocationWorldwide"/>
	</wsdl:message>
	<wsdl:message name="GetGeoLocationWorldwideSoapOut">
		<wsdl:part name="parameters" element="tns:GetGeoLocationWorldwideResponse"/>
	</wsdl:message>
	<wsdl:message name="GetGeoLocationWorldwideHttpGetIn">
		<wsdl:part name="City" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#City"/>
		<wsdl:part name="Region" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#LandRegion"/>
		<wsdl:part name="Country" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#Country"/>
		<wsdl:part name="LicenseKey" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#Code"/>
	</wsdl:message>
	<wsdl:message name="GetGeoLocationWorldwideHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfGeocodeCityWorldwideInfo"/>
	</wsdl:message>
	<wsdl:message name="GetGeoLocationWorldwideHttpPostIn">
		<wsdl:part name="City" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#City"/>
		<wsdl:part name="Region" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#LandRegion"/>
		<wsdl:part name="Country" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#Country"/>
		<wsdl:part name="LicenseKey" type="s:string" sawsdl:modelReference="http://127.0.0.1:8000/ontology/geographydataset.owl#Code"/>
	</wsdl:message>
	<wsdl:message name="GetGeoLocationWorldwideHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfGeocodeCityWorldwideInfo"/>
	</wsdl:message>
	<wsdl:portType name="DOTSGeoCoderSoap">
		<wsdl:operation name="GetGeoLocationWorldwide">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns Lat Lon information for a given worldwide city. Multiple matches can be filtered by country or region(state, province etc.)</documentation>
			<wsdl:input message="tns:GetGeoLocationWorldwideSoapIn"/>
			<wsdl:output message="tns:GetGeoLocationWorldwideSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="DOTSGeoCoderHttpGet">
		<wsdl:operation name="GetGeoLocationWorldwide">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns Lat Lon information for a given worldwide city. Multiple matches can be filtered by country or region(state, province etc.)</documentation>
			<wsdl:input message="tns:GetGeoLocationWorldwideHttpGetIn"/>
			<wsdl:output message="tns:GetGeoLocationWorldwideHttpGetOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="DOTSGeoCoderHttpPost">
		<wsdl:operation name="GetGeoLocationWorldwide">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns Lat Lon information for a given worldwide city. Multiple matches can be filtered by country or region(state, province etc.)</documentation>
			<wsdl:input message="tns:GetGeoLocationWorldwideHttpPostIn"/>
			<wsdl:output message="tns:GetGeoLocationWorldwideHttpPostOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DOTSGeoCoderSoap" type="tns:DOTSGeoCoderSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetGeoLocationWorldwide">
			<soap:operation soapAction="http://www.serviceobjects.com/GetGeoLocationWorldwide" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DOTSGeoCoderHttpGet" type="tns:DOTSGeoCoderHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="GetGeoLocationWorldwide">
			<http:operation location="/GetGeoLocationWorldwide"/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DOTSGeoCoderHttpPost" type="tns:DOTSGeoCoderHttpPost">
		<http:binding verb="POST"/>
		<wsdl:operation name="GetGeoLocationWorldwide">
			<http:operation location="/GetGeoLocationWorldwide"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DOTSGeoCoder">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">For more information on our web services, visit us at <a href="http://www.serviceobjects.com/products/default.asp" target="new">our website</a><br/><br/><a href="http://www.serviceobjects.com" target="new">
	<img src="http://www.serviceobjects.com/images/so_logo_2_inside.gif" border="0"/>
</a></documentation>
		<wsdl:port name="DOTSGeoCoderSoap" binding="tns:DOTSGeoCoderSoap">
			<soap:address location="http://ws2.serviceobjects.net/gcr/GeoCoder.asmx"/>
		</wsdl:port>
		<wsdl:port name="DOTSGeoCoderHttpGet" binding="tns:DOTSGeoCoderHttpGet">
			<http:address location="http://ws2.serviceobjects.net/gcr/GeoCoder.asmx"/>
		</wsdl:port>
		<wsdl:port name="DOTSGeoCoderHttpPost" binding="tns:DOTSGeoCoderHttpPost">
			<http:address location="http://ws2.serviceobjects.net/gcr/GeoCoder.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
