src/main/resources/services/sawsdl_wsdl11/hiking_town_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HikingTown" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/HikingTown" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/HikingTown" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/HikingTown-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/HikingTown" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/HikingTown" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:35:26 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Hiking"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Town"/></xsd:annotation><xsd:element name="Hiking" type="HikingType"/><xsd:element name="Town" type="TownType"/><xsd:simpleType name="TownType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/travel.owl#Town"><xsd:restriction base="xsd:string"><xsd:enumeration value="Coonabarabran"/></xsd:restriction></xsd:simpleType><xsd:simpleType name="HikingType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/travel.owl#Hiking"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_TOWNResponse">
    <wsdl:part name="_TOWN" type="TownType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_TOWNRequest">
    <wsdl:part name="_HIKING" type="HikingType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HikingTownSoap">
    <wsdl:operation name="get_TOWN">
      <wsdl:input message="get_TOWNRequest">
    </wsdl:input>
      <wsdl:output message="get_TOWNResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HikingTownSoapBinding" type="HikingTownSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_TOWN">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/HikingTown"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/HikingTown"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HikingTownService">
    <wsdl:port name="HikingTownSoap" binding="HikingTownSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/HikingTown"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
