src/main/resources/services/sawsdl_wsdl11/InformHospital_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Informhospital" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Informhospital" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Informhospital" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/Informhospital-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Informhospital" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/Informhospital" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:35:35 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/EmergencyPhysicianOntology.owl#Symptom"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/EmergencyPhysicianOntology.owl#DateTime"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/EmergencyPhysicianOntology.owl#Hospital"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/EmergencyPhysicianOntology.owl#Acknowledgement"/></xsd:annotation><xsd:element name="Symptom" type="SymptomType"/><xsd:element name="Hospital" type="HospitalType"/><xsd:element name="DateTime" type="DateTimeType"/><xsd:element name="Acknowledgement" type="AcknowledgementType"/><xsd:simpleType name="SymptomType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/EmergencyPhysicianOntology.owl#Symptom"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="AcknowledgementType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/EmergencyPhysicianOntology.owl#Acknowledgement"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="HospitalType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/EmergencyPhysicianOntology.owl#Hospital"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="DateTimeType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/EmergencyPhysicianOntology.owl#DateTime"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="getInformHospital_AcknowledgementResponseRequest">
    <wsdl:part name="InformHospital_DiagnosedSymptoms" type="SymptomType">
    </wsdl:part>
    <wsdl:part name="InformHospital_PatientArrivalDateTime" type="DateTimeType">
    </wsdl:part>
    <wsdl:part name="InformHospital_SelectedHospital" type="HospitalType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInformHospital_AcknowledgementResponseResponse">
    <wsdl:part name="InformHospital_AcknowledgementResponse" type="AcknowledgementType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InformhospitalSoap">
    <wsdl:operation name="getInformHospital_AcknowledgementResponse">
      <wsdl:input message="getInformHospital_AcknowledgementResponseRequest">
    </wsdl:input>
      <wsdl:output message="getInformHospital_AcknowledgementResponseResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InformhospitalSoapBinding" type="InformhospitalSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getInformHospital_AcknowledgementResponse">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Informhospital"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Informhospital"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InformhospitalService">
    <wsdl:port name="InformhospitalSoap" binding="InformhospitalSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/Informhospital"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
