src/main/resources/services/sawsdl_wsdl11/KLM-Login_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Linguisticexpression-linguisticexpression" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Linguisticexpression-linguisticexpression" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Linguisticexpression-linguisticexpression" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/Linguisticexpression-linguisticexpression-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Linguisticexpression-linguisticexpression" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/Linguisticexpression-linguisticexpression" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:35:37 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#LinguisticExpression"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#LinguisticExpression"/></xsd:annotation><xsd:element name="LinguisticExpression" type="LinguisticExpressionType"/><xsd:simpleType name="LinguisticExpressionType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#LinguisticExpression"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="getResponse">
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part name="_LINGUISTICEXPRESSION" type="LinguisticExpressionType">
    </wsdl:part>
    <wsdl:part name="_LINGUISTICEXPRESSION1" type="LinguisticExpressionType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Linguisticexpression-linguisticexpressionSoap">
    <wsdl:operation name="get">
      <wsdl:input message="getRequest">
    </wsdl:input>
      <wsdl:output message="getResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Linguisticexpression-linguisticexpressionSoapBinding" type="Linguisticexpression-linguisticexpressionSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Linguisticexpression-linguisticexpression"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Linguisticexpression-linguisticexpression"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Linguisticexpression-linguisticexpressionService">
    <wsdl:port name="Linguisticexpression-linguisticexpressionSoap" binding="Linguisticexpression-linguisticexpressionSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/Linguisticexpression-linguisticexpression"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
