src/main/resources/services/sawsdl_wsdl11/linguisticexpression_videomedia_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LinguisticexpressionVideomedia" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/LinguisticexpressionVideomedia" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/LinguisticexpressionVideomedia" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/LinguisticexpressionVideomedia-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/LinguisticexpressionVideomedia" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/LinguisticexpressionVideomedia" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:12 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#LinguisticExpression"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#VideoMedia"/></xsd:annotation><xsd:element name="VideoMedia" type="VideoMediaType"/><xsd:element name="LinguisticExpression" type="LinguisticExpressionType"/><xsd:simpleType name="LinguisticExpressionType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#LinguisticExpression"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="VideoMediaType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#VideoMedia"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_VIDEOMEDIARequest">
    <wsdl:part name="_LINGUISTICEXPRESSION" type="LinguisticExpressionType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_VIDEOMEDIAResponse">
    <wsdl:part name="_VIDEOMEDIA" type="VideoMediaType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LinguisticexpressionVideomediaSoap">
    <wsdl:operation name="get_VIDEOMEDIA">
      <wsdl:input message="get_VIDEOMEDIARequest">
    </wsdl:input>
      <wsdl:output message="get_VIDEOMEDIAResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LinguisticexpressionVideomediaSoapBinding" type="LinguisticexpressionVideomediaSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_VIDEOMEDIA">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/LinguisticexpressionVideomedia"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/LinguisticexpressionVideomedia"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LinguisticexpressionVideomediaService">
    <wsdl:port name="LinguisticexpressionVideomediaSoap" binding="LinguisticexpressionVideomediaSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/LinguisticexpressionVideomedia"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
