src/main/resources/services/sawsdl_wsdl11/maxprice_colabeer_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MaxpriceColabeer" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceColabeer" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceColabeer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceColabeer-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceColabeer" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceColabeer" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:50 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#MaxPrice"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#ColaBeer"/></xsd:annotation><xsd:element name="ColaBeer" type="ColaBeerType"/><xsd:element name="MaxPrice" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/maxprice_colabeer_service_MaxPrice_liftingSchemaMapping.xslt" type="MaxPriceType"/><xsd:complexType name="MaxPriceType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/concept.owl#MaxPrice"><xsd:sequence><xsd:element name="currency" type="Currency"/><xsd:element name="amount" type="xsd:float"/></xsd:sequence></xsd:complexType><xsd:simpleType name="Currency" sawsdl:modelReference="http://www.daml.ecs.soton.ac.uk/ont/currency.owl#Currency"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="ColaBeerType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#ColaBeer"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_COLABEERResponse">
    <wsdl:part name="_COLABEER" type="ColaBeerType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_COLABEERRequest">
    <wsdl:part name="_MAXPRICE" type="MaxPriceType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MaxpriceColabeerSoap">
    <wsdl:operation name="get_COLABEER">
      <wsdl:input message="get_COLABEERRequest">
    </wsdl:input>
      <wsdl:output message="get_COLABEERResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MaxpriceColabeerSoapBinding" type="MaxpriceColabeerSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_COLABEER">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceColabeer"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceColabeer"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaxpriceColabeerService">
    <wsdl:port name="MaxpriceColabeerSoap" binding="MaxpriceColabeerSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceColabeer"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
