src/main/resources/services/sawsdl_wsdl11/maxprice_coffeewhiskey_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MaxpriceCoffeewhiskey" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceCoffeewhiskey" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceCoffeewhiskey" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceCoffeewhiskey-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceCoffeewhiskey" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceCoffeewhiskey" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:35:43 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#MaxPrice"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#Coffee"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#Whiskey"/></xsd:annotation><xsd:element name="Whiskey" type="WhiskeyType"/><xsd:element name="Coffee" type="CoffeeType"/><xsd:element name="MaxPrice" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/maxprice_coffeewhiskey_service_MaxPrice_liftingSchemaMapping.xslt" type="MaxPriceType"/><xsd:complexType name="MaxPriceType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/concept.owl#MaxPrice"><xsd:sequence><xsd:element name="currency" type="Currency"/><xsd:element name="amount" type="xsd:float"/></xsd:sequence></xsd:complexType><xsd:simpleType name="CoffeeType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#Coffee"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="Currency" sawsdl:modelReference="http://www.daml.ecs.soton.ac.uk/ont/currency.owl#Currency"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="WhiskeyType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#Whiskey"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_COFFEE_WHISKEYResponse">
    <wsdl:part name="_COFFEE" type="CoffeeType">
    </wsdl:part>
    <wsdl:part name="_WHISKEY" type="WhiskeyType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_COFFEE_WHISKEYRequest">
    <wsdl:part name="_MAXPRICE" type="MaxPriceType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MaxpriceCoffeewhiskeySoap">
    <wsdl:operation name="get_COFFEE_WHISKEY">
      <wsdl:input message="get_COFFEE_WHISKEYRequest">
    </wsdl:input>
      <wsdl:output message="get_COFFEE_WHISKEYResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MaxpriceCoffeewhiskeySoapBinding" type="MaxpriceCoffeewhiskeySoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_COFFEE_WHISKEY">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceCoffeewhiskey"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceCoffeewhiskey"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaxpriceCoffeewhiskeyService">
    <wsdl:port name="MaxpriceCoffeewhiskeySoap" binding="MaxpriceCoffeewhiskeySoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/MaxpriceCoffeewhiskey"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
