src/main/resources/services/sawsdl_wsdl11/mediaplayer_recommendedpriceineuro_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MediaplayerRecommendedpriceineuro" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/MediaplayerRecommendedpriceineuro" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/MediaplayerRecommendedpriceineuro" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/MediaplayerRecommendedpriceineuro-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/MediaplayerRecommendedpriceineuro" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/MediaplayerRecommendedpriceineuro" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:34:35 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#MediaPlayer"/><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#RecommendedPriceInEuro"/></xsd:annotation><xsd:element name="RecommendedPriceInEuro" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/mediaplayer_recommendedpriceineuro_service_RecommendedPriceInEuro_liftingSchemaMapping.xslt" type="RecommendedPriceInEuroType"/><xsd:element name="MediaPlayer" type="MediaPlayerType"/><xsd:complexType name="RecommendedPriceInEuroType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/concept.owl#RecommendedPriceInEuro"><xsd:sequence><xsd:element name="currency" type="Currency"/><xsd:element name="amount" type="xsd:float"/></xsd:sequence></xsd:complexType><xsd:simpleType name="Currency" sawsdl:modelReference="http://www.daml.ecs.soton.ac.uk/ont/currency.owl#Currency"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="MediaPlayerType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#MediaPlayer"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_RECOMMENDEDPRICEINEUROResponse">
    <wsdl:part name="_RECOMMENDEDPRICEINEURO" type="RecommendedPriceInEuroType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_RECOMMENDEDPRICEINEURORequest">
    <wsdl:part name="_MEDIAPLAYER" type="MediaPlayerType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MediaplayerRecommendedpriceineuroSoap">
    <wsdl:operation name="get_RECOMMENDEDPRICEINEURO">
      <wsdl:input message="get_RECOMMENDEDPRICEINEURORequest">
    </wsdl:input>
      <wsdl:output message="get_RECOMMENDEDPRICEINEUROResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MediaplayerRecommendedpriceineuroSoapBinding" type="MediaplayerRecommendedpriceineuroSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_RECOMMENDEDPRICEINEURO">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/MediaplayerRecommendedpriceineuro"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/MediaplayerRecommendedpriceineuro"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediaplayerRecommendedpriceineuroService">
    <wsdl:port name="MediaplayerRecommendedpriceineuroSoap" binding="MediaplayerRecommendedpriceineuroSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/MediaplayerRecommendedpriceineuro"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
