src/main/resources/services/sawsdl_wsdl11/mp3playercdplayermicrowaveoven_price_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Mp3playercdplayermicrowaveovenPrice" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Mp3playercdplayermicrowaveovenPrice" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Mp3playercdplayermicrowaveovenPrice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/Mp3playercdplayermicrowaveovenPrice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Mp3playercdplayermicrowaveovenPrice" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/Mp3playercdplayermicrowaveovenPrice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:32:58 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#MicrowaveOven"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#CDPlayer"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#MP3Player"/><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#Price"/></xsd:annotation><xsd:element name="Price" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/mp3playercdplayermicrowaveoven_price_service_Price_liftingSchemaMapping.xslt" type="PriceType"/><xsd:element name="MicrowaveOven" type="MicrowaveOvenType"/><xsd:element name="CDPlayer" type="CDPlayerType"/><xsd:element name="MP3Player" type="MP3PlayerType"/><xsd:complexType name="PriceType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/concept.owl#Price"><xsd:sequence><xsd:element name="currency" type="Currency"/><xsd:element name="amount" type="xsd:float"/></xsd:sequence></xsd:complexType><xsd:simpleType name="CDPlayerType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#CDPlayer"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="Currency" sawsdl:modelReference="http://www.daml.ecs.soton.ac.uk/ont/currency.owl#Currency"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="MicrowaveOvenType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#MicrowaveOven"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="MP3PlayerType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#MP3Player"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_PRICEResponse">
    <wsdl:part name="_PRICE" type="PriceType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_PRICERequest">
    <wsdl:part name="_MICROWAVEOVEN" type="MicrowaveOvenType">
    </wsdl:part>
    <wsdl:part name="_CDPLAYER" type="CDPlayerType">
    </wsdl:part>
    <wsdl:part name="_MP3PLAYER" type="MP3PlayerType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Mp3playercdplayermicrowaveovenPriceSoap">
    <wsdl:operation name="get_PRICE">
      <wsdl:input message="get_PRICERequest">
    </wsdl:input>
      <wsdl:output message="get_PRICEResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Mp3playercdplayermicrowaveovenPriceSoapBinding" type="Mp3playercdplayermicrowaveovenPriceSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_PRICE">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Mp3playercdplayermicrowaveovenPrice"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Mp3playercdplayermicrowaveovenPrice"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Mp3playercdplayermicrowaveovenPriceService">
    <wsdl:port name="Mp3playercdplayermicrowaveovenPriceSoap" binding="Mp3playercdplayermicrowaveovenPriceSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/Mp3playercdplayermicrowaveovenPrice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
