src/main/resources/services/sawsdl_wsdl11/objectpersoncreditaccount_price_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PersonobjectcreditaccountPrice" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/PersonobjectcreditaccountPrice" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/PersonobjectcreditaccountPrice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/PersonobjectcreditaccountPrice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/PersonobjectcreditaccountPrice" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/PersonobjectcreditaccountPrice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:10 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#CreditAccount"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/simplified_sumo.owl#Object"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Person"/><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#Price"/></xsd:annotation><xsd:element name="Price" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/objectpersoncreditaccount_price_service_Price_liftingSchemaMapping.xslt" type="PriceType"/><xsd:element name="Person" type="PersonType"/><xsd:element name="Object" type="ObjectType"/><xsd:element name="CreditAccount" type="CreditAccountType"/><xsd:complexType name="PriceType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/concept.owl#Price"><xsd:sequence><xsd:element name="currency" type="Currency"/><xsd:element name="amount" type="xsd:float"/></xsd:sequence></xsd:complexType><xsd:simpleType name="Currency" sawsdl:modelReference="http://www.daml.ecs.soton.ac.uk/ont/currency.owl#Currency"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="CreditAccountType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#CreditAccount"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="PersonType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Person"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="ObjectType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/simplified_sumo.owl#Object"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_PRICEResponse">
    <wsdl:part name="_PRICE" type="PriceType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_PRICERequest">
    <wsdl:part name="_CREDITACCOUNT" type="CreditAccountType">
    </wsdl:part>
    <wsdl:part name="_OBJECT" type="ObjectType">
    </wsdl:part>
    <wsdl:part name="_PERSON" type="PersonType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonobjectcreditaccountPriceSoap">
    <wsdl:operation name="get_PRICE">
      <wsdl:input message="get_PRICERequest">
    </wsdl:input>
      <wsdl:output message="get_PRICEResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonobjectcreditaccountPriceSoapBinding" type="PersonobjectcreditaccountPriceSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_PRICE">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/PersonobjectcreditaccountPrice"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/PersonobjectcreditaccountPrice"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonobjectcreditaccountPriceService">
    <wsdl:port name="PersonobjectcreditaccountPriceSoap" binding="PersonobjectcreditaccountPriceSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/PersonobjectcreditaccountPrice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
