src/main/resources/services/sawsdl_wsdl11/publication_author_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PublicationAuthor" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/PublicationAuthor" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/PublicationAuthor" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/PublicationAuthor-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/PublicationAuthor" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/PublicationAuthor" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:36:24 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Publication"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Author"/></xsd:annotation><xsd:element name="Author" type="AuthorType"/><xsd:element name="Publication" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/publication_author_service_Publication_liftingSchemaMapping.xslt" type="PublicationType"/><xsd:complexType name="PublicationType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Publication"><xsd:sequence><xsd:element name="publishedBy" type="Publisher"/><xsd:element name="datePublished" type="Date"/></xsd:sequence></xsd:complexType><xsd:simpleType name="Date" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Date"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="Publisher" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Publisher"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="AuthorType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Author"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_AUTHORResponse">
    <wsdl:part name="_AUTHOR" type="AuthorType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_AUTHORRequest">
    <wsdl:part name="_PUBLICATION" type="PublicationType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PublicationAuthorSoap">
    <wsdl:operation name="get_AUTHOR">
      <wsdl:input message="get_AUTHORRequest">
    </wsdl:input>
      <wsdl:output message="get_AUTHORResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PublicationAuthorSoapBinding" type="PublicationAuthorSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_AUTHOR">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/PublicationAuthor"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/PublicationAuthor"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublicationAuthorService">
    <wsdl:port name="PublicationAuthorSoap" binding="PublicationAuthorSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/PublicationAuthor"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
