src/main/resources/services/sawsdl_wsdl11/publication_publisher_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PublicationPublisher" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/PublicationPublisher" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/PublicationPublisher" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/PublicationPublisher-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/PublicationPublisher" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/PublicationPublisher" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:36:24 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Publication"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Publisher"/></xsd:annotation><xsd:element name="Publication" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/publication_publisher_service_Publication_liftingSchemaMapping.xslt" type="PublicationType"/><xsd:element name="Publisher" type="PublisherType"/><xsd:complexType name="PublicationType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Publication"><xsd:sequence><xsd:element name="publishedBy" type="PublisherType"/><xsd:element name="datePublished" type="Date"/></xsd:sequence></xsd:complexType><xsd:simpleType name="PublisherType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Publisher"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="Date" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Date"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="PublisherType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Publisher"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_PUBLISHERResponse">
    <wsdl:part name="_PUBLISHER" type="PublisherType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_PUBLISHERRequest">
    <wsdl:part name="_PUBLICATION" type="PublicationType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PublicationPublisherSoap">
    <wsdl:operation name="get_PUBLISHER">
      <wsdl:input message="get_PUBLISHERRequest">
    </wsdl:input>
      <wsdl:output message="get_PUBLISHERResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PublicationPublisherSoapBinding" type="PublicationPublisherSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_PUBLISHER">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/PublicationPublisher"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/PublicationPublisher"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublicationPublisherService">
    <wsdl:port name="PublicationPublisherSoap" binding="PublicationPublisherSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/PublicationPublisher"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
