src/main/resources/services/sawsdl_wsdl11/SelectTransport_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Selecttransport" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Selecttransport" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Selecttransport" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/Selecttransport-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Selecttransport" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/Selecttransport" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:36:50 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/EMAOntology.owl#ListOfTransports"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/EMAOntology.owl#TransportNumber"/></xsd:annotation><xsd:element name="TransportNumber" type="TransportNumberType"/><xsd:element name="ListOfTransports" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/SelectTransport_service_ListOfTransports_liftingSchemaMapping.xslt" type="ListOfTransportsType"/><xsd:complexType name="ListOfTransportsType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/EMAOntology.owl#ListOfTransports"><xsd:sequence><xsd:element name="ListOfTransports_consistsOf" type="Transport"/></xsd:sequence></xsd:complexType><xsd:simpleType name="TransportNumberType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/EMAOntology.owl#TransportNumber"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="Transport" sawsdl:modelReference="http://127.0.0.1:8000/ontology/EMAOntology.owl#Transport"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="getSelectTransport_TransportNumberRequest">
    <wsdl:part name="SelectTransport_ListOfTransports" type="ListOfTransportsType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSelectTransport_TransportNumberResponse">
    <wsdl:part name="SelectTransport_TransportNumber" type="TransportNumberType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SelecttransportSoap">
    <wsdl:operation name="getSelectTransport_TransportNumber">
      <wsdl:input message="getSelectTransport_TransportNumberRequest">
    </wsdl:input>
      <wsdl:output message="getSelectTransport_TransportNumberResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SelecttransportSoapBinding" type="SelecttransportSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSelectTransport_TransportNumber">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Selecttransport"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Selecttransport"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SelecttransportService">
    <wsdl:port name="SelecttransportSoap" binding="SelecttransportSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/Selecttransport"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
