src/main/resources/services/sawsdl_wsdl11/surfing_destination_SOHservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SurfingDestination" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingDestination" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingDestination" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingDestination-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingDestination" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingDestination" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:36:43 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Surfing"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Destination"/></xsd:annotation><xsd:element name="Destination" type="DestinationType"/><xsd:element name="Surfing" type="SurfingType"/><xsd:simpleType name="DestinationType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/travel.owl#Destination"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="SurfingType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/travel.owl#Surfing"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_DESTINATIONRequest">
    <wsdl:part name="_SURFING" type="SurfingType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_DESTINATIONResponse">
    <wsdl:part name="_DESTINATION" type="DestinationType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SurfingDestinationSoap">
    <wsdl:operation name="get_DESTINATION">
      <wsdl:input message="get_DESTINATIONRequest">
    </wsdl:input>
      <wsdl:output message="get_DESTINATIONResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SurfingDestinationSoapBinding" type="SurfingDestinationSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_DESTINATION">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingDestination"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingDestination"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SurfingDestinationService">
    <wsdl:port name="SurfingDestinationSoap" binding="SurfingDestinationSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingDestination"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
