src/main/resources/services/sawsdl_wsdl11/surfing_beach_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SurfingBeach" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingBeach" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingBeach" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingBeach-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingBeach" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingBeach" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:36:58 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Surfing"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Beach"/></xsd:annotation><xsd:element name="Surfing" type="SurfingType"/><xsd:element name="Beach" type="BeachType"/><xsd:simpleType name="BeachType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/travel.owl#Beach"><xsd:restriction base="xsd:string"><xsd:enumeration value="CurrawongBeach"/><xsd:enumeration value="BondiBeach"/></xsd:restriction></xsd:simpleType><xsd:simpleType name="SurfingType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/travel.owl#Surfing"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_BEACHResponse">
    <wsdl:part name="_BEACH" type="BeachType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_BEACHRequest">
    <wsdl:part name="_SURFING" type="SurfingType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SurfingBeachSoap">
    <wsdl:operation name="get_BEACH">
      <wsdl:input message="get_BEACHRequest">
    </wsdl:input>
      <wsdl:output message="get_BEACHResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SurfingBeachSoapBinding" type="SurfingBeachSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_BEACH">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingBeach"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingBeach"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SurfingBeachService">
    <wsdl:port name="SurfingBeachSoap" binding="SurfingBeachSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/SurfingBeach"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
