src/main/resources/services/sawsdl_wsdl11/title_vhs_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TitleVhs" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleVhs" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleVhs" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleVhs-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleVhs" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleVhs" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:37:06 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Title"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#VHS"/></xsd:annotation><xsd:element name="VHS" type="VHSType"/><xsd:element name="Title" type="TitleType"/><xsd:simpleType name="VHSType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#VHS"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="TitleType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Title"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_VHSRequest">
    <wsdl:part name="_TITLE" type="TitleType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_VHSResponse">
    <wsdl:part name="_VHS" type="VHSType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TitleVhsSoap">
    <wsdl:operation name="get_VHS">
      <wsdl:input message="get_VHSRequest">
    </wsdl:input>
      <wsdl:output message="get_VHSResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TitleVhsSoapBinding" type="TitleVhsSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_VHS">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleVhs"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleVhs"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TitleVhsService">
    <wsdl:port name="TitleVhsSoap" binding="TitleVhsSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleVhs"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
