src/main/resources/services/sawsdl_wsdl11/title_videomediarecommendedpricequality_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TitleVideomediarecommendedpricequality" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleVideomediarecommendedpricequality" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleVideomediarecommendedpricequality" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleVideomediarecommendedpricequality-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleVideomediarecommendedpricequality" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleVideomediarecommendedpricequality" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:37:03 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Title"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#VideoMedia"/><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#RecommendedPrice"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/finance_th_web.owl#quality"/></xsd:annotation><xsd:element name="Title" type="TitleType"/><xsd:element name="RecommendedPrice" sawsdl:liftingSchemaMapping="http://127.0.0.1:8000/services/liftingSchemaMappings/title_videomediarecommendedpricequality_service_RecommendedPrice_liftingSchemaMapping.xslt" type="RecommendedPriceType"/><xsd:element name="VideoMedia" type="VideoMediaType"/><xsd:element name="quality" type="qualityType"/><xsd:complexType name="RecommendedPriceType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/concept.owl#RecommendedPrice"><xsd:sequence><xsd:element name="currency" type="Currency"/><xsd:element name="amount" type="xsd:float"/></xsd:sequence></xsd:complexType><xsd:simpleType name="Currency" sawsdl:modelReference="http://www.daml.ecs.soton.ac.uk/ont/currency.owl#Currency"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="TitleType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/books.owl#Title"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="qualityType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/finance_th_web.owl#quality"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="VideoMediaType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/my_ontology.owl#VideoMedia"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_VIDEOMEDIA_RECOMMENDEDPRICE_QUALITYResponse">
    <wsdl:part name="_VIDEOMEDIA" type="VideoMediaType">
    </wsdl:part>
    <wsdl:part name="_RECOMMENDEDPRICE" type="RecommendedPriceType">
    </wsdl:part>
    <wsdl:part name="_QUALITY" type="qualityType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_VIDEOMEDIA_RECOMMENDEDPRICE_QUALITYRequest">
    <wsdl:part name="_TITLE" type="TitleType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TitleVideomediarecommendedpricequalitySoap">
    <wsdl:operation name="get_VIDEOMEDIA_RECOMMENDEDPRICE_QUALITY">
      <wsdl:input message="get_VIDEOMEDIA_RECOMMENDEDPRICE_QUALITYRequest">
    </wsdl:input>
      <wsdl:output message="get_VIDEOMEDIA_RECOMMENDEDPRICE_QUALITYResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TitleVideomediarecommendedpricequalitySoapBinding" type="TitleVideomediarecommendedpricequalitySoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_VIDEOMEDIA_RECOMMENDEDPRICE_QUALITY">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleVideomediarecommendedpricequality"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleVideomediarecommendedpricequality"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TitleVideomediarecommendedpricequalityService">
    <wsdl:port name="TitleVideomediarecommendedpricequalitySoap" binding="TitleVideomediarecommendedpricequalitySoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/TitleVideomediarecommendedpricequality"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
