src/main/resources/wsdl/4wheeledcar1personbicycle_maxprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Fourwheeledcar1personbicycleMaxprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/4wheeledcar1personbicycleMaxprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Fourwheeledcar1personbicycleMaxprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/4wheeledcar1personbicycleMaxprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Fourwheeledcar1personbicycleMaxprice" targetNamespace="http://127.0.0.1:8000/wsdl/Fourwheeledcar1personbicycleMaxprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon Jun 08 14:42:18 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Fourwheeledcar1personbicycleMaxprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/my_ontology.owl#OnePersonBicycle"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#FourWheeledCar"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#MaxPrice"/>
			</xsd:annotation>
			<xsd:element name="OnePersonBicycle" type="OnePersonBicycleType"/>
			<xsd:element name="FourWheeledCar" type="FourWheeledCarType"/>
			<xsd:element name="MaxPrice" type="MaxPriceType"/>
			<xsd:complexType name="OnePersonBicycleType">
				<xsd:sequence>
					<xsd:element name="Person"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="MaxPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="FourWheeledCarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_MAXPRICERequest">
		<wsdl:part name="_1PERSONBICYCLE" type="tns:OnePersonBicycleType">
    </wsdl:part>
		<wsdl:part name="_4WHEELEDCAR" type="tns:FourWheeledCarType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_MAXPRICEResponse">
		<wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="4wheeledcar1personbicycleMaxpriceSoap">
		<wsdl:operation name="get_MAXPRICE">
			<wsdl:input message="tns:get_MAXPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_MAXPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="4wheeledcar1personbicycleMaxpriceSoapBinding" type="4wheeledcar1personbicycleMaxpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_MAXPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Fourwheeledcar1personbicycleMaxprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Fourwheeledcar1personbicycleMaxprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="4wheeledcar1personbicycleMaxpriceService">
		<wsdl:port name="4wheeledcar1personbicycleMaxpriceSoap" binding="4wheeledcar1personbicycleMaxpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Fourwheeledcar1personbicycleMaxprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
