src/main/resources/wsdl/4wheeledcar1personbicycle_price_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Fourwheeledcar1personbicyclePrice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/4wheeledcar1personbicyclePrice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Fourwheeledcar1personbicyclePrice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/4wheeledcar1personbicyclePrice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Fourwheeledcar1personbicyclePrice" targetNamespace="http://127.0.0.1:8000/wsdl/Fourwheeledcar1personbicyclePrice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon Jun 08 14:44:47 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Fourwheeledcar1personbicyclePrice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/my_ontology.owl#OnePersonBicycle"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#FourWheeledCar"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#Price"/>
			</xsd:annotation>
			<xsd:element name="Price" type="PriceType"/>
			<xsd:element name="OnePersonBicycle" type="OnePersonBicycleType"/>
			<xsd:element name="FourWheeledCar" type="FourWheeledCarType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OnePersonBicycleType">
				<xsd:sequence>
					<xsd:element name="Person"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="FourWheeledCarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICERequest">
		<wsdl:part name="_1PERSONBICYCLE" type="tns:OnePersonBicycleType">
    </wsdl:part>
		<wsdl:part name="_4WHEELEDCAR" type="tns:FourWheeledCarType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICEResponse">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="4wheeledcar1personbicyclePriceSoap">
		<wsdl:operation name="get_PRICE">
			<wsdl:input message="tns:get_PRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="4wheeledcar1personbicyclePriceSoapBinding" type="4wheeledcar1personbicyclePriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Fourwheeledcar1personbicyclePrice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Fourwheeledcar1personbicyclePrice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="4wheeledcar1personbicyclePriceService">
		<wsdl:port name="4wheeledcar1personbicyclePriceSoap" binding="4wheeledcar1personbicyclePriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Fourwheeledcar1personbicyclePrice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
