src/main/resources/wsdl/_investigating_Saarservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Investigating" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Investigating-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Investigating" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Investigating" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Investigating" targetNamespace="http://127.0.0.1:8000/wsdl/Investigating">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 23:26:23 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Investigating" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Investigating"/>
			</xsd:annotation>
			<xsd:element name="Investigating" type="InvestigatingType"/>
			<xsd:simpleType name="InvestigatingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_INVESTIGATINGRequest">
  </wsdl:message>
	<wsdl:message name="get_INVESTIGATINGResponse">
		<wsdl:part name="_INVESTIGATING" type="tns:InvestigatingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="InvestigatingSoap">
		<wsdl:operation name="get_INVESTIGATING">
			<wsdl:input message="tns:get_INVESTIGATINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_INVESTIGATINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InvestigatingSoapBinding" type="InvestigatingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_INVESTIGATING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Investigating"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Investigating"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InvestigatingService">
		<wsdl:port name="InvestigatingSoap" binding="InvestigatingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Investigating"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
