src/main/resources/wsdl/_medicaldoctor_UNOservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Medicaldoctor" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Medicaldoctor-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Medicaldoctor" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Medicaldoctor" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Medicaldoctor" targetNamespace="http://127.0.0.1:8000/wsdl/Medicaldoctor">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 19:00:42 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Medicaldoctor" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#MedicalDoctor"/>
			</xsd:annotation>
			<xsd:element name="MedicalDoctor" type="MedicalDoctorType"/>
			<xsd:simpleType name="MedicalDoctorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_MEDICALDOCTORResponse">
		<wsdl:part name="_MEDICALDOCTOR" type="tns:MedicalDoctorType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_MEDICALDOCTORRequest">
  </wsdl:message>
	<wsdl:portType name="MedicaldoctorSoap">
		<wsdl:operation name="get_MEDICALDOCTOR">
			<wsdl:input message="tns:get_MEDICALDOCTORRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_MEDICALDOCTORResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MedicaldoctorSoapBinding" type="MedicaldoctorSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_MEDICALDOCTOR">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Medicaldoctor"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Medicaldoctor"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MedicaldoctorService">
		<wsdl:port name="MedicaldoctorSoap" binding="MedicaldoctorSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Medicaldoctor"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
