src/main/resources/wsdl/_person_MyShopservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Person" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Person-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Person" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Person" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Person" targetNamespace="http://127.0.0.1:8000/wsdl/Person">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 21:12:11 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Person" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Person"/>
			</xsd:annotation>
			<xsd:element name="Person" type="PersonType"/>
			<xsd:simpleType name="PersonType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PERSONResponse">
		<wsdl:part name="_PERSON" type="tns:PersonType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PERSONRequest">
  </wsdl:message>
	<wsdl:portType name="PersonSoap">
		<wsdl:operation name="get_PERSON">
			<wsdl:input message="tns:get_PERSONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PERSONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PersonSoapBinding" type="PersonSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PERSON">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Person"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Person"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PersonService">
		<wsdl:port name="PersonSoap" binding="PersonSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Person"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
