src/main/resources/wsdl/_polling_Germanservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Polling" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Polling-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Polling" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Polling" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Polling" targetNamespace="http://127.0.0.1:8000/wsdl/Polling">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 25 23:27:05 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Polling" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Polling"/>
			</xsd:annotation>
			<xsd:element name="Polling" type="PollingType"/>
			<xsd:simpleType name="PollingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_POLLINGRequest">
  </wsdl:message>
	<wsdl:message name="get_POLLINGResponse">
		<wsdl:part name="_POLLING" type="tns:PollingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PollingSoap">
		<wsdl:operation name="get_POLLING">
			<wsdl:input message="tns:get_POLLINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_POLLINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PollingSoapBinding" type="PollingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_POLLING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Polling"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Polling"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PollingService">
		<wsdl:port name="PollingSoap" binding="PollingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Polling"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
