src/main/resources/wsdl/_pricecamera_Wallmartservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Pricecamera" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Pricecamera-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Pricecamera" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Pricecamera" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Pricecamera" targetNamespace="http://127.0.0.1:8000/wsdl/Pricecamera">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 19:33:40 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Pricecamera" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#Price"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/extendedCamera.owl#Camera"/>
			</xsd:annotation>
			<xsd:element name="Price" type="PriceType"/>
			<xsd:element name="Camera" type="CameraType"/>
			<xsd:complexType name="Lens">
				<xsd:sequence>
					<xsd:element name="f-stop" type="xsd:string"/>
					<xsd:element name="focal-length" type="xsd:string"/>
					<xsd:element name="aperture" type="xsd:string"/>
					<xsd:element name="size" type="xsd:string"/>
					<xsd:element name="isCompatibleWith" type="Body"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CameraType">
				<xsd:sequence>
					<xsd:element name="hasDimension" type="Dimension"/>
					<xsd:element name="hasBody" type="Body"/>
					<xsd:element name="hasLens" type="Lens"/>
					<xsd:element name="hasViewFinder" type="ViewerWindow"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ViewerWindow">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Range">
				<xsd:sequence>
					<xsd:element name="steps" type="xsd:string"/>
					<xsd:element name="min" type="xsd:float"/>
					<xsd:element name="max" type="xsd:float"/>
					<xsd:element name="units" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Body">
				<xsd:sequence>
					<xsd:element name="shutter-speed" type="Range"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Dimension">
				<xsd:sequence>
					<xsd:element name="breadth" type="xsd:float"/>
					<xsd:element name="length" type="xsd:float"/>
					<xsd:element name="height" type="xsd:float"/>
					<xsd:element name="units" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICE_CAMERAResponse">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
		<wsdl:part name="_CAMERA" type="tns:CameraType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICE_CAMERARequest">
  </wsdl:message>
	<wsdl:portType name="PricecameraSoap">
		<wsdl:operation name="get_PRICE_CAMERA">
			<wsdl:input message="tns:get_PRICE_CAMERARequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICE_CAMERAResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PricecameraSoapBinding" type="PricecameraSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE_CAMERA">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Pricecamera"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Pricecamera"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PricecameraService">
		<wsdl:port name="PricecameraSoap" binding="PricecameraSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Pricecamera"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
