src/main/resources/wsdl/_professiongeographical-region_USservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Professiongeographical-region" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Professiongeographical-region-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Professiongeographical-region" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Professiongeographical-region" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Professiongeographical-region" targetNamespace="http://127.0.0.1:8000/wsdl/Professiongeographical-region">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 19:09:24 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Professiongeographical-region" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Profession"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Geographical-Region"/>
			</xsd:annotation>
			<xsd:element name="Geographical-Region" type="Geographical-RegionType"/>
			<xsd:element name="Profession" type="ProfessionType"/>
			<xsd:simpleType name="Geographical-RegionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ProfessionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PROFESSION_GEOGRAPHICAL-REGIONResponse">
		<wsdl:part name="_PROFESSION" type="tns:ProfessionType">
    </wsdl:part>
		<wsdl:part name="_GEOGRAPHICAL-REGION" type="tns:Geographical-RegionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PROFESSION_GEOGRAPHICAL-REGIONRequest">
  </wsdl:message>
	<wsdl:portType name="Professiongeographical-regionSoap">
		<wsdl:operation name="get_PROFESSION_GEOGRAPHICAL-REGION">
			<wsdl:input message="tns:get_PROFESSION_GEOGRAPHICAL-REGIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PROFESSION_GEOGRAPHICAL-REGIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Professiongeographical-regionSoapBinding" type="Professiongeographical-regionSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PROFESSION_GEOGRAPHICAL-REGION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Professiongeographical-region"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Professiongeographical-region"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Professiongeographical-regionService">
		<wsdl:port name="Professiongeographical-regionSoap" binding="Professiongeographical-regionSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Professiongeographical-region"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
