src/main/resources/wsdl/_publication_PPservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Publication" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Publication-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Publication" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Publication" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Publication" targetNamespace="http://127.0.0.1:8000/wsdl/Publication">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu Jun 04 23:57:49 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Publication" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Publication"/>
			</xsd:annotation>
			<xsd:element name="Publication" type="PublicationType"/>
			<xsd:simpleType name="PublicationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PUBLICATIONResponse">
		<wsdl:part name="_PUBLICATION" type="tns:PublicationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PUBLICATIONRequest">
  </wsdl:message>
	<wsdl:portType name="PublicationSoap">
		<wsdl:operation name="get_PUBLICATION">
			<wsdl:input message="tns:get_PUBLICATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PUBLICATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PublicationSoapBinding" type="PublicationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PUBLICATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Publication"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Publication"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PublicationService">
		<wsdl:port name="PublicationSoap" binding="PublicationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Publication"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
