src/main/resources/wsdl/_translocation_Chemicalservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Translocation" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Translocation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Translocation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Translocation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Translocation" targetNamespace="http://127.0.0.1:8000/wsdl/Translocation">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 18:54:50 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Translocation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Translocation"/>
			</xsd:annotation>
			<xsd:element name="Translocation" type="TranslocationType"/>
			<xsd:simpleType name="TranslocationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_TRANSLOCATIONRequest">
  </wsdl:message>
	<wsdl:message name="get_TRANSLOCATIONResponse">
		<wsdl:part name="_TRANSLOCATION" type="tns:TranslocationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TranslocationSoap">
		<wsdl:operation name="get_TRANSLOCATION">
			<wsdl:input message="tns:get_TRANSLOCATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_TRANSLOCATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TranslocationSoapBinding" type="TranslocationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_TRANSLOCATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Translocation"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Translocation"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TranslocationService">
		<wsdl:port name="TranslocationSoap" binding="TranslocationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Translocation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
