src/main/resources/wsdl/_warmfront_Italyservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Warmfront" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Warmfront-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Warmfront" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Warmfront" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Warmfront" targetNamespace="http://127.0.0.1:8000/wsdl/Warmfront">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed May 27 02:08:48 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Warmfront" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#WarmFront"/>
			</xsd:annotation>
			<xsd:element name="WarmFront" type="WarmFrontType"/>
			<xsd:simpleType name="WarmFrontType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_WARMFRONTRequest">
  </wsdl:message>
	<wsdl:message name="get_WARMFRONTResponse">
		<wsdl:part name="_WARMFRONT" type="tns:WarmFrontType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="WarmfrontSoap">
		<wsdl:operation name="get_WARMFRONT">
			<wsdl:input message="tns:get_WARMFRONTRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_WARMFRONTResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WarmfrontSoapBinding" type="WarmfrontSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_WARMFRONT">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Warmfront"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Warmfront"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WarmfrontService">
		<wsdl:port name="WarmfrontSoap" binding="WarmfrontSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Warmfront"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
