src/main/resources/wsdl/Academic-degreeScholarship.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Academic-degreeScholarship-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Academic-degreeScholarship" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Academic-degreeScholarship" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Academic-degreeScholarship" targetNamespace="http://127.0.0.1:8000/wsdl/Academic-degreeScholarship">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu Apr 23 13:36:36 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Academic-degreeScholarship" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Academic-Degree"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Scholarship"/>
			</xsd:annotation>
			<xsd:element name="Scholarship" type="tns:ScholarshipType"/>
			<xsd:element name="Academic-Degree" type="tns:Academic-DegreeType"/>
			<xsd:simpleType name="Academic-DegreeType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="BA"/>
					<xsd:enumeration value="MA"/>
					<xsd:enumeration value="PhD"/>
					<xsd:enumeration value="BSc"/>
					<xsd:enumeration value="DEng"/>
					<xsd:enumeration value="MSc"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ScholarshipType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_SCHOLARSHIPResponse">
		<wsdl:part name="_SCHOLARSHIP" type="tns:ScholarshipType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_SCHOLARSHIPRequest">
		<wsdl:part name="_ACADEMIC-DEGREE" type="tns:Academic-DegreeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Academic-degreeScholarshipSoap">
		<wsdl:operation name="get_SCHOLARSHIP">
			<wsdl:input message="tns:get_SCHOLARSHIPRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_SCHOLARSHIPResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Academic-degreeScholarshipSoapBinding" type="tns:Academic-degreeScholarshipSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_SCHOLARSHIP">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Academic-degreeScholarship"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Academic-degreeScholarship"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Academic-degreeScholarshipService">
		<wsdl:port name="Academic-degreeScholarshipSoap" binding="tns:Academic-degreeScholarshipSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Academic-degreeScholarship"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
