src/main/resources/wsdl/academic-degreegovernment_scholarship_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentScholarship" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentScholarship-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentScholarship" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentScholarship" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Academic-degreegovernmentScholarship" targetNamespace="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentScholarship">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 00:59:57 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentScholarship" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Government"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Academic-Degree"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#Scholarship"/>
			</xsd:annotation>
			<xsd:element name="Government" type="GovernmentType"/>
			<xsd:element name="Scholarship" type="ScholarshipType"/>
			<xsd:element name="Academic-Degree" type="Academic-DegreeType"/>
			<xsd:simpleType name="Academic-DegreeType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="BA"/>
					<xsd:enumeration value="MA"/>
					<xsd:enumeration value="PhD"/>
					<xsd:enumeration value="BSc"/>
					<xsd:enumeration value="MSc"/>
					<xsd:enumeration value="DEng"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="GovernmentType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ScholarshipType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_SCHOLARSHIPResponse">
		<wsdl:part name="_SCHOLARSHIP" type="tns:ScholarshipType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_SCHOLARSHIPRequest">
		<wsdl:part name="_GOVERNMENT" type="tns:GovernmentType">
    </wsdl:part>
		<wsdl:part name="_ACADEMIC-DEGREE" type="tns:Academic-DegreeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Academic-degreegovernmentScholarshipSoap">
		<wsdl:operation name="get_SCHOLARSHIP">
			<wsdl:input message="tns:get_SCHOLARSHIPRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_SCHOLARSHIPResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Academic-degreegovernmentScholarshipSoapBinding" type="Academic-degreegovernmentScholarshipSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_SCHOLARSHIP">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentScholarship"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentScholarship"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Academic-degreegovernmentScholarshipService">
		<wsdl:port name="Academic-degreegovernmentScholarshipSoap" binding="Academic-degreegovernmentScholarshipSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentScholarship"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
