src/main/resources/wsdl/Academic-degreeLending.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Academic-degreeLending-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Academic-degreeLending" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Academic-degreeLending" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Academic-degreeLending" targetNamespace="http://127.0.0.1:8000/wsdl/Academic-degreeLending">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu Apr 23 13:20:58 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Academic-degreeLending" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Academic-Degree"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#Lending"/>
			</xsd:annotation>
			<xsd:element name="Academic-Degree" type="tns:Academic-DegreeType"/>
			<xsd:element name="Lending" type="tns:LendingType"/>
			<xsd:simpleType name="Academic-DegreeType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="BA"/>
					<xsd:enumeration value="MA"/>
					<xsd:enumeration value="PhD"/>
					<xsd:enumeration value="BSc"/>
					<xsd:enumeration value="DEng"/>
					<xsd:enumeration value="MSc"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LendingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_LENDINGResponse">
		<wsdl:part name="_LENDING" type="tns:LendingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_LENDINGRequest">
		<wsdl:part name="_ACADEMIC-DEGREE" type="tns:Academic-DegreeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Academic-degreeLendingSoap">
		<wsdl:operation name="get_LENDING">
			<wsdl:input message="tns:get_LENDINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_LENDINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Academic-degreeLendingSoapBinding" type="tns:Academic-degreeLendingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_LENDING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Academic-degreeLending"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Academic-degreeLending"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Academic-degreeLendingService">
		<wsdl:port name="Academic-degreeLendingSoap" binding="tns:Academic-degreeLendingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Academic-degreeLending"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
