src/main/resources/wsdl/academic-degreegovernmentorganization_unilateralgiving_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentorganizationUnilateralgiving" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentorganizationUnilateralgiving-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentorganizationUnilateralgiving" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentorganizationUnilateralgiving" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Academic-degreegovernmentorganizationUnilateralgiving" targetNamespace="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentorganizationUnilateralgiving">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 02:13:41 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentorganizationUnilateralgiving" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#GovernmentOrganization"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Academic-Degree"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#UnilateralGiving"/>
			</xsd:annotation>
			<xsd:element name="GovernmentOrganization" type="GovernmentOrganizationType"/>
			<xsd:element name="Academic-Degree" type="Academic-DegreeType"/>
			<xsd:element name="UnilateralGiving" type="UnilateralGivingType"/>
			<xsd:simpleType name="GovernmentOrganizationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Academic-DegreeType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="BA"/>
					<xsd:enumeration value="MA"/>
					<xsd:enumeration value="PhD"/>
					<xsd:enumeration value="BSc"/>
					<xsd:enumeration value="MSc"/>
					<xsd:enumeration value="DEng"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="UnilateralGivingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_UNILATERALGIVINGRequest">
		<wsdl:part name="_GOVERNMENTORGANIZATION" type="tns:GovernmentOrganizationType">
    </wsdl:part>
		<wsdl:part name="_ACADEMIC-DEGREE" type="tns:Academic-DegreeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_UNILATERALGIVINGResponse">
		<wsdl:part name="_UNILATERALGIVING" type="tns:UnilateralGivingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Academic-degreegovernmentorganizationUnilateralgivingSoap">
		<wsdl:operation name="get_UNILATERALGIVING">
			<wsdl:input message="tns:get_UNILATERALGIVINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_UNILATERALGIVINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Academic-degreegovernmentorganizationUnilateralgivingSoapBinding" type="Academic-degreegovernmentorganizationUnilateralgivingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_UNILATERALGIVING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentorganizationUnilateralgiving"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentorganizationUnilateralgiving"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Academic-degreegovernmentorganizationUnilateralgivingService">
		<wsdl:port name="Academic-degreegovernmentorganizationUnilateralgivingSoap" binding="Academic-degreegovernmentorganizationUnilateralgivingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Academic-degreegovernmentorganizationUnilateralgiving"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
