src/main/resources/wsdl/Academic-item-numberPublication.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Academic-item-numberPublication-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Academic-item-numberPublication" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Academic-item-numberPublication" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Academic-item-numberPublication" targetNamespace="http://127.0.0.1:8000/wsdl/Academic-item-numberPublication">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu Apr 23 22:05:56 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Academic-item-numberPublication" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Academic-Item-Number"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Publication"/>
			</xsd:annotation>
			<xsd:element name="Academic-Item-Number" type="tns:Academic-Item-NumberType"/>
			<xsd:element name="Publication" type="tns:PublicationType"/>
			<xsd:complexType name="Publication-Reference">
				<xsd:sequence>
					<xsd:element name="has-place-of-publication" type="tns:Location"/>
					<xsd:element name="has-title" type="xsd:string"/>
					<xsd:element name="has-author" type="tns:Generic-Agent"/>
					<xsd:element name="has-date" type="tns:Calendar-Date"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Calendar-Date">
				<xsd:sequence>
					<xsd:element name="month-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="year-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="minute-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="hour-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="second-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="day-of" type="xsd:nonNegativeInteger"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PublicationType">
				<xsd:sequence>
					<xsd:element name="has-publication-reference" type="tns:Publication-Reference"/>
					<xsd:element name="cites-publication-reference" type="tns:Publication-Reference"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Location">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Generic-Agent">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Academic-Item-NumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PUBLICATIONRequest">
		<wsdl:part name="_ACADEMIC-ITEM-NUMBER" type="tns:Academic-Item-NumberType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PUBLICATIONResponse">
		<wsdl:part name="_PUBLICATION" type="tns:PublicationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Academic-item-numberPublicationSoap">
		<wsdl:operation name="get_PUBLICATION">
			<wsdl:input message="tns:get_PUBLICATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PUBLICATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Academic-item-numberPublicationSoapBinding" type="tns:Academic-item-numberPublicationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PUBLICATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Academic-item-numberPublication"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Academic-item-numberPublication"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Academic-item-numberPublicationService">
		<wsdl:port name="Academic-item-numberPublicationSoap" binding="tns:Academic-item-numberPublicationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Academic-item-numberPublication"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
