src/main/resources/wsdl/AcademicPostal-address.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/AcademicPostal-address-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/AcademicPostal-address" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/AcademicPostal-address" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="AcademicPostal-address" targetNamespace="http://127.0.0.1:8000/wsdl/AcademicPostal-address">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu Apr 23 12:40:49 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/AcademicPostal-address" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/portal.owl#Academic"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Postal-Address"/>
			</xsd:annotation>
			<xsd:element name="Academic" type="tns:AcademicType"/>
			<xsd:element name="Postal-Address" type="tns:Postal-AddressType"/>
			<xsd:complexType name="AcademicType">
				<xsd:sequence>
					<xsd:element name="works-for" type="tns:Higher-Educational-Organization"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Higher-Educational-Organization">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Postal-AddressType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_POSTAL-ADDRESSResponse">
		<wsdl:part name="_POSTAL-ADDRESS" type="tns:Postal-AddressType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_POSTAL-ADDRESSRequest">
		<wsdl:part name="_ACADEMIC" type="tns:AcademicType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AcademicPostal-addressSoap">
		<wsdl:operation name="get_POSTAL-ADDRESS">
			<wsdl:input message="tns:get_POSTAL-ADDRESSRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_POSTAL-ADDRESSResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AcademicPostal-addressSoapBinding" type="tns:AcademicPostal-addressSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_POSTAL-ADDRESS">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AcademicPostal-address"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AcademicPostal-address"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AcademicPostal-addressService">
		<wsdl:port name="AcademicPostal-addressSoap" binding="tns:AcademicPostal-addressSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/AcademicPostal-address"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
