src/main/resources/wsdl/Acceptcostandhealingplan.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Acceptcostandhealingplan-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Acceptcostandhealingplan" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Acceptcostandhealingplan" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Acceptcostandhealingplan" targetNamespace="http://127.0.0.1:8000/wsdl/Acceptcostandhealingplan">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu Apr 23 22:28:57 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Acceptcostandhealingplan" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/PatientOntology.owl#CostAndHealingPlan"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/PatientOntology.owl#Acknowledgement"/>
			</xsd:annotation>
			<xsd:element name="CostAndHealingPlan" type="tns:CostAndHealingPlanType"/>
			<xsd:element name="Acknowledgement" type="tns:AcknowledgementType"/>
			<xsd:simpleType name="AcknowledgementType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CostAndHealingPlanType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswerRequest">
		<wsdl:part name="AcceptCostAndHealingPlan_CostAndHealingPlan" type="tns:CostAndHealingPlanType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswerResponse">
		<wsdl:part name="AcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswer" type="tns:AcknowledgementType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AcceptcostandhealingplanSoap">
		<wsdl:operation name="getAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswer">
			<wsdl:input message="tns:getAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswerRequest">
    </wsdl:input>
			<wsdl:output message="tns:getAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswerResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AcceptcostandhealingplanSoapBinding" type="tns:AcceptcostandhealingplanSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswer">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Acceptcostandhealingplan"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Acceptcostandhealingplan"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AcceptcostandhealingplanService">
		<wsdl:port name="AcceptcostandhealingplanSoap" binding="tns:AcceptcostandhealingplanSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Acceptcostandhealingplan"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
