src/main/resources/wsdl/ActivityFamilydestination.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/ActivityFamilydestination-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/ActivityFamilydestination" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/ActivityFamilydestination" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="ActivityFamilydestination" targetNamespace="http://127.0.0.1:8000/wsdl/ActivityFamilydestination">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Apr 24 12:50:37 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/ActivityFamilydestination" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Activity"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#FamilyDestination"/>
			</xsd:annotation>
			<xsd:element name="FamilyDestination" type="tns:FamilyDestinationType"/>
			<xsd:element name="Activity" type="tns:ActivityType"/>
			<xsd:complexType name="FamilyDestinationType">
				<xsd:sequence>
					<xsd:element name="hasAccommodation" type="tns:Accommodation"/>
					<xsd:element name="hasActivity" type="tns:ActivityType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="ActivityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Accommodation">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_FAMILYDESTINATIONResponse">
		<wsdl:part name="_FAMILYDESTINATION" type="tns:FamilyDestinationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_FAMILYDESTINATIONRequest">
		<wsdl:part name="_ACTIVITY" type="tns:ActivityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ActivityFamilydestinationSoap">
		<wsdl:operation name="get_FAMILYDESTINATION">
			<wsdl:input message="tns:get_FAMILYDESTINATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_FAMILYDESTINATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ActivityFamilydestinationSoapBinding" type="tns:ActivityFamilydestinationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_FAMILYDESTINATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ActivityFamilydestination"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ActivityFamilydestination"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ActivityFamilydestinationService">
		<wsdl:port name="ActivityFamilydestinationSoap" binding="tns:ActivityFamilydestinationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/ActivityFamilydestination"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
