src/main/resources/wsdl/ActivityTown.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/ActivityTown-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/ActivityTown" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/ActivityTown" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="ActivityTown" targetNamespace="http://127.0.0.1:8000/wsdl/ActivityTown">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Apr 24 13:19:41 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/ActivityTown" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Activity"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#Town"/>
			</xsd:annotation>
			<xsd:element name="Town" type="tns:TownType"/>
			<xsd:element name="Activity" type="tns:ActivityType"/>
			<xsd:simpleType name="ActivityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TownType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Coonabarabran"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_TOWNRequest">
		<wsdl:part name="_ACTIVITY" type="tns:ActivityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_TOWNResponse">
		<wsdl:part name="_TOWN" type="tns:TownType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ActivityTownSoap">
		<wsdl:operation name="get_TOWN">
			<wsdl:input message="tns:get_TOWNRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_TOWNResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ActivityTownSoapBinding" type="tns:ActivityTownSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_TOWN">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ActivityTown"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ActivityTown"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ActivityTownService">
		<wsdl:port name="ActivityTownSoap" binding="tns:ActivityTownSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/ActivityTown"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
