src/main/resources/wsdl/ActivityDestination.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/ActivityDestination-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/ActivityDestination" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/ActivityDestination" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="ActivityDestination" targetNamespace="http://127.0.0.1:8000/wsdl/ActivityDestination">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Apr 24 12:45:16 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/ActivityDestination" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Activity"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#Destination"/>
			</xsd:annotation>
			<xsd:element name="Destination" type="tns:DestinationType"/>
			<xsd:element name="Activity" type="tns:ActivityType"/>
			<xsd:simpleType name="ActivityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DestinationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DESTINATIONRequest">
		<wsdl:part name="_ACTIVITY" type="tns:ActivityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DESTINATIONResponse">
		<wsdl:part name="_DESTINATION" type="tns:DestinationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ActivityDestinationSoap">
		<wsdl:operation name="get_DESTINATION">
			<wsdl:input message="tns:get_DESTINATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DESTINATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ActivityDestinationSoapBinding" type="tns:ActivityDestinationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DESTINATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ActivityDestination"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ActivityDestination"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ActivityDestinationService">
		<wsdl:port name="ActivityDestinationSoap" binding="tns:ActivityDestinationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/ActivityDestination"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
