src/main/resources/wsdl/ActivityRuralarea.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/ActivityRuralarea-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/ActivityRuralarea" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/ActivityRuralarea" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="ActivityRuralarea" targetNamespace="http://127.0.0.1:8000/wsdl/ActivityRuralarea">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Apr 24 13:13:08 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/ActivityRuralarea" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Activity"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#RuralArea"/>
			</xsd:annotation>
			<xsd:element name="RuralArea" type="tns:RuralAreaType"/>
			<xsd:element name="Activity" type="tns:ActivityType"/>
			<xsd:simpleType name="RuralAreaType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="CapeYork"/>
					<xsd:enumeration value="Woomera"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ActivityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RURALAREARequest">
		<wsdl:part name="_ACTIVITY" type="tns:ActivityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RURALAREAResponse">
		<wsdl:part name="_RURALAREA" type="tns:RuralAreaType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ActivityRuralareaSoap">
		<wsdl:operation name="get_RURALAREA">
			<wsdl:input message="tns:get_RURALAREARequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RURALAREAResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ActivityRuralareaSoapBinding" type="tns:ActivityRuralareaSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RURALAREA">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ActivityRuralarea"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ActivityRuralarea"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ActivityRuralareaService">
		<wsdl:port name="ActivityRuralareaSoap" binding="tns:ActivityRuralareaSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/ActivityRuralarea"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
