src/main/resources/wsdl/ActivityBeach.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/ActivityBeach-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/ActivityBeach" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/ActivityBeach" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="ActivityBeach" targetNamespace="http://127.0.0.1:8000/wsdl/ActivityBeach">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu Apr 23 22:50:44 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/ActivityBeach" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Activity"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#Beach"/>
			</xsd:annotation>
			<xsd:element name="Beach" type="tns:BeachType"/>
			<xsd:element name="Activity" type="tns:ActivityType"/>
			<xsd:simpleType name="ActivityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="BeachType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="CurrawongBeach"/>
					<xsd:enumeration value="BondiBeach"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_BEACHRequest">
		<wsdl:part name="_ACTIVITY" type="tns:ActivityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_BEACHResponse">
		<wsdl:part name="_BEACH" type="tns:BeachType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ActivityBeachSoap">
		<wsdl:operation name="get_BEACH">
			<wsdl:input message="tns:get_BEACHRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_BEACHResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ActivityBeachSoapBinding" type="tns:ActivityBeachSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_BEACH">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ActivityBeach"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ActivityBeach"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ActivityBeachService">
		<wsdl:port name="ActivityBeachSoap" binding="tns:ActivityBeachSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/ActivityBeach"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
