src/main/resources/wsdl/addressDistanceCalculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/AddressDistanceCalculator" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/AddressDistanceCalculator-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/AddressDistanceCalculator" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/AddressDistanceCalculator" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="AddressDistanceCalculator" targetNamespace="http://127.0.0.1:8000/wsdl/AddressDistanceCalculator">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 20 00:21:38 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/AddressDistanceCalculator" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/protonu.owl#Address"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/protonu.owl#Address"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/protonu.owl#City"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/protonu.owl#State"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/protonu.owl#State"/>
				<xsd:documentation source="Translationhttp://127.0.0.1:8000/ontology/ttp://127.0.0.1/ontology/geographydataset.owl#GeographicDistance"/>
			</xsd:annotation>
			<xsd:element name="State" type="StateType"/>
			<xsd:element name="GeographicDistance" type="GeographicDistanceType"/>
			<xsd:element name="City" type="CityType"/>
			<xsd:element name="Address" type="AddressType"/>
			<xsd:complexType name="CityType">
				<xsd:sequence>
					<xsd:element name="hasAirport" type="Airport"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="GeographicDistanceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="StateType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AddressType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Airport">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DISTANCEResponse">
		<wsdl:part name="_DISTANCE" type="tns:GeographicDistanceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DISTANCERequest">
		<wsdl:part name="_ADDRESS1" type="tns:AddressType">
    </wsdl:part>
		<wsdl:part name="_ADDRESS2" type="tns:AddressType">
    </wsdl:part>
		<wsdl:part name="_CITY1" type="tns:CityType">
    </wsdl:part>
		<wsdl:part name="_CITY2" type="tns:CityType">
    </wsdl:part>
		<wsdl:part name="_STATE1" type="tns:StateType">
    </wsdl:part>
		<wsdl:part name="_STATE2" type="tns:StateType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AddressDistanceCalculatorSoap">
		<wsdl:operation name="get_DISTANCE">
			<wsdl:input message="tns:get_DISTANCERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DISTANCEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AddressDistanceCalculatorSoapBinding" type="AddressDistanceCalculatorSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DISTANCE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AddressDistanceCalculator"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AddressDistanceCalculator"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AddressDistanceCalculatorService">
		<wsdl:port name="AddressDistanceCalculatorSoap" binding="AddressDistanceCalculatorSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/AddressDistanceCalculator"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
