src/main/resources/wsdl/Amount-of-moneyexpensivecarPrice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Amount-of-moneyexpensivecarPrice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Amount-of-moneyexpensivecarPrice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Amount-of-moneyexpensivecarPrice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Amount-of-moneyexpensivecarPrice" targetNamespace="http://127.0.0.1:8000/wsdl/Amount-of-moneyexpensivecarPrice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed May 06 23:44:39 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Amount-of-moneyexpensivecarPrice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#ExpensiveCar"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Amount-Of-Money"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#Price"/>
			</xsd:annotation>
			<xsd:element name="Price" type="tns:PriceType"/>
			<xsd:element name="ExpensiveCar" type="tns:ExpensiveCarType"/>
			<xsd:element name="Amount-Of-Money" type="tns:Amount-Of-MoneyType"/>
			<xsd:complexType name="Government">
				<xsd:sequence>
					<xsd:element name="government-of-country" type="tns:Country"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Currency">
				<xsd:sequence>
					<xsd:element name="issued-by" type="tns:Government"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="tns:Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Capital-City">
				<xsd:sequence>
					<xsd:element name="is-capital-of" type="tns:Country"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Country">
				<xsd:sequence>
					<xsd:element name="has-government" type="tns:Government"/>
					<xsd:element name="has-currency" type="tns:Currency"/>
					<xsd:element name="has-capital" type="tns:Capital-City"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Amount-Of-MoneyType">
				<xsd:sequence>
					<xsd:element name="has-unit-of-measure" type="tns:Currency"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="ExpensiveCarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICERequest">
		<wsdl:part name="_EXPENSIVECAR" type="tns:ExpensiveCarType">
    </wsdl:part>
		<wsdl:part name="_AMOUNT-OF-MONEY" type="tns:Amount-Of-MoneyType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICEResponse">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Amount-of-moneyexpensivecarPriceSoap">
		<wsdl:operation name="get_PRICE">
			<wsdl:input message="tns:get_PRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Amount-of-moneyexpensivecarPriceSoapBinding" type="tns:Amount-of-moneyexpensivecarPriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Amount-of-moneyexpensivecarPrice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Amount-of-moneyexpensivecarPrice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Amount-of-moneyexpensivecarPriceService">
		<wsdl:port name="Amount-of-moneyexpensivecarPriceSoap" binding="tns:Amount-of-moneyexpensivecarPriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Amount-of-moneyexpensivecarPrice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
