src/main/resources/wsdl/amount-of-money3wheeledcar_recommendedprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Amount-of-money3wheeledcarRecommendedprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Amount-of-money3wheeledcarRecommendedprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Amount-of-money3wheeledcarRecommendedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Amount-of-money3wheeledcarRecommendedprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Amount-of-money3wheeledcarRecommendedprice" targetNamespace="http://127.0.0.1:8000/wsdl/Amount-of-money3wheeledcarRecommendedprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon Jun 08 18:20:32 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Amount-of-money3wheeledcarRecommendedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/my_ontology.owl#ThreeWheeledCar"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Amount-Of-Money"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#RecommendedPrice"/>
			</xsd:annotation>
			<xsd:element name="Amount-Of-Money" type="Amount-Of-MoneyType"/>
			<xsd:element name="RecommendedPrice" type="RecommendedPriceType"/>
			<xsd:element name="ThreeWheeledCar" type="ThreeWheeledCarType"/>
			<xsd:complexType name="Government">
				<xsd:sequence>
					<xsd:element name="government-of-country" type="Country"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Currency">
				<xsd:sequence>
					<xsd:element name="issued-by" type="Government"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Capital-City">
				<xsd:sequence>
					<xsd:element name="is-capital-of" type="Country"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Country">
				<xsd:sequence>
					<xsd:element name="has-government" type="Government"/>
					<xsd:element name="has-currency" type="Currency"/>
					<xsd:element name="has-capital" type="Capital-City"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ThreeWheeledCarType">
				<xsd:sequence>
					<xsd:element maxOccurs="4" minOccurs="3" name="Wheel"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Amount-Of-MoneyType">
				<xsd:sequence>
					<xsd:element name="has-unit-of-measure" type="Currency"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="RecommendedPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RECOMMENDEDPRICERequest">
		<wsdl:part name="_3WHEELEDCAR" type="tns:ThreeWheeledCarType">
    </wsdl:part>
		<wsdl:part name="_AMOUNT-OF-MONEY" type="tns:Amount-Of-MoneyType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RECOMMENDEDPRICEResponse">
		<wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Amount-of-money3wheeledcarRecommendedpriceSoap">
		<wsdl:operation name="get_RECOMMENDEDPRICE">
			<wsdl:input message="tns:get_RECOMMENDEDPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RECOMMENDEDPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Amount-of-money3wheeledcarRecommendedpriceSoapBinding" type="Amount-of-money3wheeledcarRecommendedpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RECOMMENDEDPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Amount-of-money3wheeledcarRecommendedprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Amount-of-money3wheeledcarRecommendedprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Amount-of-money3wheeledcarRecommendedpriceService">
		<wsdl:port name="Amount-of-money3wheeledcarRecommendedpriceSoap" binding="Amount-of-money3wheeledcarRecommendedpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Amount-of-money3wheeledcarRecommendedprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
