src/main/resources/wsdl/Amount-of-moneycarPricecompany.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Amount-of-moneycarPricecompany-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Amount-of-moneycarPricecompany" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Amount-of-moneycarPricecompany" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Amount-of-moneycarPricecompany" targetNamespace="http://127.0.0.1:8000/wsdl/Amount-of-moneycarPricecompany">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed May 06 23:30:05 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Amount-of-moneycarPricecompany" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#Car"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Amount-Of-Money"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#Price"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/portal.owl#Company"/>
			</xsd:annotation>
			<xsd:element name="Price" type="tns:PriceType"/>
			<xsd:element name="Amount-Of-Money" type="tns:Amount-Of-MoneyType"/>
			<xsd:element name="Car" type="tns:CarType"/>
			<xsd:element name="Company" type="tns:CompanyType"/>
			<xsd:complexType name="Government">
				<xsd:sequence>
					<xsd:element name="government-of-country" type="tns:Country"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Currency">
				<xsd:sequence>
					<xsd:element name="issued-by" type="tns:Government"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="tns:Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Capital-City">
				<xsd:sequence>
					<xsd:element name="is-capital-of" type="tns:Country"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Country">
				<xsd:sequence>
					<xsd:element name="has-government" type="tns:Government"/>
					<xsd:element name="has-currency" type="tns:Currency"/>
					<xsd:element name="has-capital" type="tns:Capital-City"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Amount-Of-MoneyType">
				<xsd:sequence>
					<xsd:element name="has-unit-of-measure" type="tns:Currency"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="CarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CompanyType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICE_COMPANYResponse">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
		<wsdl:part name="_COMPANY" type="tns:CompanyType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICE_COMPANYRequest">
		<wsdl:part name="_CAR" type="tns:CarType">
    </wsdl:part>
		<wsdl:part name="_AMOUNT-OF-MONEY" type="tns:Amount-Of-MoneyType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Amount-of-moneycarPricecompanySoap">
		<wsdl:operation name="get_PRICE_COMPANY">
			<wsdl:input message="tns:get_PRICE_COMPANYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICE_COMPANYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Amount-of-moneycarPricecompanySoapBinding" type="tns:Amount-of-moneycarPricecompanySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE_COMPANY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Amount-of-moneycarPricecompany"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Amount-of-moneycarPricecompany"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Amount-of-moneycarPricecompanyService">
		<wsdl:port name="Amount-of-moneycarPricecompanySoap" binding="tns:Amount-of-moneycarPricecompanySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Amount-of-moneycarPricecompany"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
