src/main/resources/wsdl/AuthorPublicationmaxprice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/AuthorPublicationmaxprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/AuthorPublicationmaxprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/AuthorPublicationmaxprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="AuthorPublicationmaxprice" targetNamespace="http://127.0.0.1:8000/wsdl/AuthorPublicationmaxprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon Apr 27 20:27:34 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/AuthorPublicationmaxprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Author"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Publication"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#MaxPrice"/>
			</xsd:annotation>
			<xsd:element name="Author" type="tns:AuthorType"/>
			<xsd:element name="Publication" type="tns:PublicationType"/>
			<xsd:element name="MaxPrice" type="tns:MaxPriceType"/>
			<xsd:complexType name="PublicationType">
				<xsd:sequence>
					<xsd:element name="publishedBy" type="tns:Publisher"/>
					<xsd:element name="datePublished" type="tns:Date"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Date">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Publisher">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MaxPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AuthorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PUBLICATION_MAXPRICEResponse">
		<wsdl:part name="_PUBLICATION" type="tns:PublicationType">
    </wsdl:part>
		<wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PUBLICATION_MAXPRICERequest">
		<wsdl:part name="_AUTHOR" type="tns:AuthorType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AuthorPublicationmaxpriceSoap">
		<wsdl:operation name="get_PUBLICATION_MAXPRICE">
			<wsdl:input message="tns:get_PUBLICATION_MAXPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PUBLICATION_MAXPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AuthorPublicationmaxpriceSoapBinding" type="tns:AuthorPublicationmaxpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PUBLICATION_MAXPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AuthorPublicationmaxprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AuthorPublicationmaxprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AuthorPublicationmaxpriceService">
		<wsdl:port name="AuthorPublicationmaxpriceSoap" binding="tns:AuthorPublicationmaxpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/AuthorPublicationmaxprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
