src/main/resources/wsdl/AuthorPublicationprice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/AuthorPublicationprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/AuthorPublicationprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/AuthorPublicationprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="AuthorPublicationprice" targetNamespace="http://127.0.0.1:8000/wsdl/AuthorPublicationprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon Apr 27 21:15:04 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/AuthorPublicationprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Author"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Publication"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#Price"/>
			</xsd:annotation>
			<xsd:element name="Price" type="tns:PriceType"/>
			<xsd:element name="Author" type="tns:AuthorType"/>
			<xsd:element name="Publication" type="tns:PublicationType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="tns:Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PublicationType">
				<xsd:sequence>
					<xsd:element name="publishedBy" type="tns:Publisher"/>
					<xsd:element name="datePublished" type="tns:Date"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Date">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Publisher">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AuthorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PUBLICATION_PRICERequest">
		<wsdl:part name="_AUTHOR" type="tns:AuthorType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PUBLICATION_PRICEResponse">
		<wsdl:part name="_PUBLICATION" type="tns:PublicationType">
    </wsdl:part>
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AuthorPublicationpriceSoap">
		<wsdl:operation name="get_PUBLICATION_PRICE">
			<wsdl:input message="tns:get_PUBLICATION_PRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PUBLICATION_PRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AuthorPublicationpriceSoapBinding" type="tns:AuthorPublicationpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PUBLICATION_PRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AuthorPublicationprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AuthorPublicationprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AuthorPublicationpriceService">
		<wsdl:port name="AuthorPublicationpriceSoap" binding="tns:AuthorPublicationpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/AuthorPublicationprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
