src/main/resources/wsdl/Authorizephysician.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Authorizephysician-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Authorizephysician" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Authorizephysician" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Authorizephysician" targetNamespace="http://127.0.0.1:8000/wsdl/Authorizephysician">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Apr 28 12:18:26 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Authorizephysician" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/PatientOntology.owl#DateTime"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/PatientOntology.owl#PhysicianID"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/PatientOntology.owl#MedicalRecords"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/PatientOntology.owl#DateTime"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/PatientOntology.owl#Acknowledgement"/>
				<xsd:documentation source="Translationhttp://127.0.0.1:8000/ontology/ttp://127.0.0.1/ontology/PatientOntology.owl#Authorization"/>
			</xsd:annotation>
			<xsd:element name="MedicalRecords" type="tns:MedicalRecordsType"/>
			<xsd:element name="PhysicianID" type="tns:PhysicianIDType"/>
			<xsd:element name="DateTime" type="tns:DateTimeType"/>
			<xsd:element name="Authorization" type="tns:AuthorizationType"/>
			<xsd:element name="Acknowledgement" type="tns:AcknowledgementType"/>
			<xsd:simpleType name="MedicalRecordsType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AcknowledgementType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AuthorizationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PhysicianIDType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DateTimeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getContactEMA_AmbulanceArrivalTimeAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswerAuthorizePhysician_PhysicianAuthorizationResponse">
		<wsdl:part name="ContactEMA_AmbulanceArrivalTime" type="tns:DateTimeType">
    </wsdl:part>
		<wsdl:part name="AcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswer" type="tns:AcknowledgementType">
    </wsdl:part>
		<wsdl:part name="AuthorizePhysician_PhysicianAuthorization" type="tns:AuthorizationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getContactEMA_AmbulanceArrivalTimeAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswerAuthorizePhysician_PhysicianAuthorizationRequest">
		<wsdl:part name="AuthorizePhysician_AuthorizationTimeInterval" type="tns:DateTimeType">
    </wsdl:part>
		<wsdl:part name="AuthorizePhysician_PhysicianID" type="tns:PhysicianIDType">
    </wsdl:part>
		<wsdl:part name="AuthorizePhysician_PatientMedicalRecords" type="tns:MedicalRecordsType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AuthorizephysicianSoap">
		<wsdl:operation name="getContactEMA_AmbulanceArrivalTimeAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswerAuthorizePhysician_PhysicianAuthorization">
			<wsdl:input message="tns:getContactEMA_AmbulanceArrivalTimeAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswerAuthorizePhysician_PhysicianAuthorizationRequest">
    </wsdl:input>
			<wsdl:output message="tns:getContactEMA_AmbulanceArrivalTimeAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswerAuthorizePhysician_PhysicianAuthorizationResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AuthorizephysicianSoapBinding" type="tns:AuthorizephysicianSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getContactEMA_AmbulanceArrivalTimeAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswerAuthorizePhysician_PhysicianAuthorization">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Authorizephysician"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Authorizephysician"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AuthorizephysicianService">
		<wsdl:port name="AuthorizephysicianSoap" binding="tns:AuthorizephysicianSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Authorizephysician"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
