src/main/resources/wsdl/AuthorSciencefictionbookmaxprice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/AuthorSciencefictionbookmaxprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/AuthorSciencefictionbookmaxprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/AuthorSciencefictionbookmaxprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="AuthorSciencefictionbookmaxprice" targetNamespace="http://127.0.0.1:8000/wsdl/AuthorSciencefictionbookmaxprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Apr 28 10:56:40 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/AuthorSciencefictionbookmaxprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Author"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#ScienceFictionBook"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#MaxPrice"/>
			</xsd:annotation>
			<xsd:element name="Author" type="tns:AuthorType"/>
			<xsd:element name="MaxPrice" type="tns:MaxPriceType"/>
			<xsd:element name="ScienceFictionBook" type="tns:ScienceFictionBookType"/>
			<xsd:simpleType name="ScienceFictionBookType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MaxPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AuthorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_SCIENCEFICTIONBOOK_MAXPRICEResponse">
		<wsdl:part name="_SCIENCEFICTIONBOOK" type="tns:ScienceFictionBookType">
    </wsdl:part>
		<wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_SCIENCEFICTIONBOOK_MAXPRICERequest">
		<wsdl:part name="_AUTHOR" type="tns:AuthorType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AuthorSciencefictionbookmaxpriceSoap">
		<wsdl:operation name="get_SCIENCEFICTIONBOOK_MAXPRICE">
			<wsdl:input message="tns:get_SCIENCEFICTIONBOOK_MAXPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_SCIENCEFICTIONBOOK_MAXPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AuthorSciencefictionbookmaxpriceSoapBinding" type="tns:AuthorSciencefictionbookmaxpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_SCIENCEFICTIONBOOK_MAXPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AuthorSciencefictionbookmaxprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AuthorSciencefictionbookmaxprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AuthorSciencefictionbookmaxpriceService">
		<wsdl:port name="AuthorSciencefictionbookmaxpriceSoap" binding="tns:AuthorSciencefictionbookmaxpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/AuthorSciencefictionbookmaxprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
