src/main/resources/wsdl/AuthorBooktaxfreeprice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/AuthorBooktaxfreeprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/AuthorBooktaxfreeprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/AuthorBooktaxfreeprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="AuthorBooktaxfreeprice" targetNamespace="http://127.0.0.1:8000/wsdl/AuthorBooktaxfreeprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Apr 25 18:02:59 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/AuthorBooktaxfreeprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Author"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Book"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#TaxFreePrice"/>
			</xsd:annotation>
			<xsd:element name="Book" type="tns:BookType"/>
			<xsd:element name="Author" type="tns:AuthorType"/>
			<xsd:element name="TaxFreePrice" type="tns:TaxFreePriceType"/>
			<xsd:complexType name="BookType">
				<xsd:sequence>
					<xsd:element name="isTitled" type="tns:Title"/>
					<xsd:element name="hasType" type="tns:Book-Type"/>
					<xsd:element name="writtenBy" type="tns:AuthorType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="TaxFreePriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Title">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Book-Type">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AuthorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_BOOK_TAXFREEPRICEResponse">
		<wsdl:part name="_BOOK" type="tns:BookType">
    </wsdl:part>
		<wsdl:part name="_TAXFREEPRICE" type="tns:TaxFreePriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_BOOK_TAXFREEPRICERequest">
		<wsdl:part name="_AUTHOR" type="tns:AuthorType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AuthorBooktaxfreepriceSoap">
		<wsdl:operation name="get_BOOK_TAXFREEPRICE">
			<wsdl:input message="tns:get_BOOK_TAXFREEPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_BOOK_TAXFREEPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AuthorBooktaxfreepriceSoapBinding" type="tns:AuthorBooktaxfreepriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_BOOK_TAXFREEPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AuthorBooktaxfreeprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AuthorBooktaxfreeprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AuthorBooktaxfreepriceService">
		<wsdl:port name="AuthorBooktaxfreepriceSoap" binding="tns:AuthorBooktaxfreepriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/AuthorBooktaxfreeprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
