src/main/resources/wsdl/author_noveltaxedprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/AuthorNoveltaxedprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/AuthorNoveltaxedprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/AuthorNoveltaxedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/AuthorNoveltaxedprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="AuthorNoveltaxedprice" targetNamespace="http://127.0.0.1:8000/wsdl/AuthorNoveltaxedprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon Jun 08 19:55:46 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/AuthorNoveltaxedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Author"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Novel"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#TaxedPrice"/>
			</xsd:annotation>
			<xsd:element name="Author" type="AuthorType"/>
			<xsd:element name="TaxedPrice" type="TaxedPriceType"/>
			<xsd:element name="Novel" type="NovelType"/>
			<xsd:complexType name="TaxedPriceType">
				<xsd:sequence>
					<xsd:element name="Fine" type="Thing"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="NovelType">
				<xsd:sequence>
					<xsd:element name="hasSize" type="Medium"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Medium">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Thing">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AuthorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_NOVEL_TAXEDPRICERequest">
		<wsdl:part name="_AUTHOR" type="tns:AuthorType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_NOVEL_TAXEDPRICEResponse">
		<wsdl:part name="_NOVEL" type="tns:NovelType">
    </wsdl:part>
		<wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AuthorNoveltaxedpriceSoap">
		<wsdl:operation name="get_NOVEL_TAXEDPRICE">
			<wsdl:input message="tns:get_NOVEL_TAXEDPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_NOVEL_TAXEDPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AuthorNoveltaxedpriceSoapBinding" type="AuthorNoveltaxedpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_NOVEL_TAXEDPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AuthorNoveltaxedprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AuthorNoveltaxedprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AuthorNoveltaxedpriceService">
		<wsdl:port name="AuthorNoveltaxedpriceSoap" binding="AuthorNoveltaxedpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/AuthorNoveltaxedprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
