src/main/resources/wsdl/author_sciencefictionbooktaxedprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/AuthorSciencefictionbooktaxedprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/AuthorSciencefictionbooktaxedprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/AuthorSciencefictionbooktaxedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/AuthorSciencefictionbooktaxedprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="AuthorSciencefictionbooktaxedprice" targetNamespace="http://127.0.0.1:8000/wsdl/AuthorSciencefictionbooktaxedprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon Jun 08 20:04:41 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/AuthorSciencefictionbooktaxedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Author"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#ScienceFictionBook"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#TaxedPrice"/>
			</xsd:annotation>
			<xsd:element name="Author" type="AuthorType"/>
			<xsd:element name="TaxedPrice" type="TaxedPriceType"/>
			<xsd:element name="ScienceFictionBook" type="ScienceFictionBookType"/>
			<xsd:complexType name="TaxedPriceType">
				<xsd:sequence>
					<xsd:element name="Fine" type="Thing"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="ScienceFictionBookType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Thing">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AuthorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_SCIENCEFICTIONBOOK_TAXEDPRICEResponse">
		<wsdl:part name="_SCIENCEFICTIONBOOK" type="tns:ScienceFictionBookType">
    </wsdl:part>
		<wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_SCIENCEFICTIONBOOK_TAXEDPRICERequest">
		<wsdl:part name="_AUTHOR" type="tns:AuthorType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AuthorSciencefictionbooktaxedpriceSoap">
		<wsdl:operation name="get_SCIENCEFICTIONBOOK_TAXEDPRICE">
			<wsdl:input message="tns:get_SCIENCEFICTIONBOOK_TAXEDPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_SCIENCEFICTIONBOOK_TAXEDPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AuthorSciencefictionbooktaxedpriceSoapBinding" type="AuthorSciencefictionbooktaxedpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_SCIENCEFICTIONBOOK_TAXEDPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AuthorSciencefictionbooktaxedprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AuthorSciencefictionbooktaxedprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AuthorSciencefictionbooktaxedpriceService">
		<wsdl:port name="AuthorSciencefictionbooktaxedpriceSoap" binding="AuthorSciencefictionbooktaxedpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/AuthorSciencefictionbooktaxedprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
