src/main/resources/wsdl/auto2personbicycle_taxedprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Auto2personbicycleTaxedprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Auto2personbicycleTaxedprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Auto2personbicycleTaxedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Auto2personbicycleTaxedprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Auto2personbicycleTaxedprice" targetNamespace="http://127.0.0.1:8000/wsdl/Auto2personbicycleTaxedprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon Jun 08 17:53:18 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Auto2personbicycleTaxedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/my_ontology.owl#TwoPersonBicycle"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#Auto"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#TaxedPrice"/>
			</xsd:annotation>
			<xsd:element name="TwoPersonBicycle" type="TwoPersonBicycleType"/>
			<xsd:element name="TaxedPrice" type="TaxedPriceType"/>
			<xsd:element name="Auto" type="AutoType"/>
			<xsd:complexType name="TaxedPriceType">
				<xsd:sequence>
					<xsd:element name="Fine" type="Thing"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AutoType">
				<xsd:sequence>
					<xsd:element name="Power" type="MoveableThing"/>
					<xsd:element name="Shape" type="DesignedThing"/>
					<xsd:element name="madeBy" type="Company"/>
					<xsd:element name="Rigid" type="DesignedThing"/>
					<xsd:element name="hasValue" type="Thing"/>
					<xsd:element maxOccurs="5" name="Person"/>
					<xsd:element name="belongsTo" type="Person"/>
					<xsd:element name="Profitable" type="DesignedThing"/>
					<xsd:element name="Color"/>
					<xsd:element name="Model" type="DesignedThing"/>
					<xsd:element name="LifeTime" type="DesignedThing"/>
					<xsd:element name="Engine"/>
					<xsd:element maxOccurs="4" name="Wheel"/>
					<xsd:element name="Speed" type="MoveableThing"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DesignedThing">
				<xsd:sequence>
					<xsd:element name="designedBy" type="Designer"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TwoPersonBicycleType">
				<xsd:sequence>
					<xsd:element minOccurs="1" name="Person"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="MoveableThing">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Person">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Designer">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Thing">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Company">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_TAXEDPRICERequest">
		<wsdl:part name="_2PERSONBICYCLE" type="tns:TwoPersonBicycleType">
    </wsdl:part>
		<wsdl:part name="_AUTO" type="tns:AutoType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_TAXEDPRICEResponse">
		<wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Auto2personbicycleTaxedpriceSoap">
		<wsdl:operation name="get_TAXEDPRICE">
			<wsdl:input message="tns:get_TAXEDPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_TAXEDPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Auto2personbicycleTaxedpriceSoapBinding" type="Auto2personbicycleTaxedpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_TAXEDPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Auto2personbicycleTaxedprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Auto2personbicycleTaxedprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Auto2personbicycleTaxedpriceService">
		<wsdl:port name="Auto2personbicycleTaxedpriceSoap" binding="Auto2personbicycleTaxedpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Auto2personbicycleTaxedprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
