src/main/resources/wsdl/AvocadoPrice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/AvocadoPrice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/AvocadoPrice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/AvocadoPrice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="AvocadoPrice" targetNamespace="http://127.0.0.1:8000/wsdl/AvocadoPrice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Apr 28 13:52:25 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/AvocadoPrice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Avocado"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#Price"/>
			</xsd:annotation>
			<xsd:element name="Price" type="tns:PriceType"/>
			<xsd:element name="Avocado" type="tns:AvocadoType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="tns:Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AvocadoType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICERequest">
		<wsdl:part name="_AVOCADO" type="tns:AvocadoType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICEResponse">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AvocadoPriceSoap">
		<wsdl:operation name="get_PRICE">
			<wsdl:input message="tns:get_PRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AvocadoPriceSoapBinding" type="tns:AvocadoPriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AvocadoPrice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AvocadoPrice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AvocadoPriceService">
		<wsdl:port name="AvocadoPriceSoap" binding="tns:AvocadoPriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/AvocadoPrice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
