src/main/resources/wsdl/AwardLending.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/AwardLending-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/AwardLending" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/AwardLending" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="AwardLending" targetNamespace="http://127.0.0.1:8000/wsdl/AwardLending">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Apr 28 13:57:36 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/AwardLending" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Award"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#Lending"/>
			</xsd:annotation>
			<xsd:element name="Award" type="tns:AwardType"/>
			<xsd:element name="Lending" type="tns:LendingType"/>
			<xsd:simpleType name="AwardType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LendingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_LENDINGRequest">
		<wsdl:part name="_AWARD" type="tns:AwardType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_LENDINGResponse">
		<wsdl:part name="_LENDING" type="tns:LendingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AwardLendingSoap">
		<wsdl:operation name="get_LENDING">
			<wsdl:input message="tns:get_LENDINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_LENDINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AwardLendingSoapBinding" type="tns:AwardLendingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_LENDING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AwardLending"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AwardLending"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AwardLendingService">
		<wsdl:port name="AwardLendingSoap" binding="tns:AwardLendingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/AwardLending"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
