src/main/resources/wsdl/ballisticmissilegovernment_lendingrange_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/BallisticmissilegovernmentLendingrange" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/BallisticmissilegovernmentLendingrange-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/BallisticmissilegovernmentLendingrange" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/BallisticmissilegovernmentLendingrange" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="BallisticmissilegovernmentLendingrange" targetNamespace="http://127.0.0.1:8000/wsdl/BallisticmissilegovernmentLendingrange">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 00:46:11 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/BallisticmissilegovernmentLendingrange" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Government"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#BallisticMissile"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#Lending"/>
				<xsd:documentation source="Translation (OWL2XSD-Chttp://127.0.0.1:8000/ontology/0.0.1/ontology/extendedCamera.owl#Range"/>
			</xsd:annotation>
			<xsd:element name="Government" type="GovernmentType"/>
			<xsd:element name="Lending" type="LendingType"/>
			<xsd:element name="BallisticMissile" type="BallisticMissileType"/>
			<xsd:element name="Range" type="RangeType"/>
			<xsd:complexType name="RangeType">
				<xsd:sequence>
					<xsd:element name="steps" type="xsd:string"/>
					<xsd:element name="min" type="xsd:float"/>
					<xsd:element name="max" type="xsd:float"/>
					<xsd:element name="units" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="GovernmentType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="BallisticMissileType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LendingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_LENDING_RANGEResponse">
		<wsdl:part name="_LENDING" type="tns:LendingType">
    </wsdl:part>
		<wsdl:part name="_RANGE" type="tns:RangeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_LENDING_RANGERequest">
		<wsdl:part name="_GOVERNMENT" type="tns:GovernmentType">
    </wsdl:part>
		<wsdl:part name="_BALLISTICMISSILE" type="tns:BallisticMissileType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BallisticmissilegovernmentLendingrangeSoap">
		<wsdl:operation name="get_LENDING_RANGE">
			<wsdl:input message="tns:get_LENDING_RANGERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_LENDING_RANGEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BallisticmissilegovernmentLendingrangeSoapBinding" type="BallisticmissilegovernmentLendingrangeSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_LENDING_RANGE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BallisticmissilegovernmentLendingrange"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BallisticmissilegovernmentLendingrange"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BallisticmissilegovernmentLendingrangeService">
		<wsdl:port name="BallisticmissilegovernmentLendingrangeSoap" binding="BallisticmissilegovernmentLendingrangeSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/BallisticmissilegovernmentLendingrange"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
