src/main/resources/wsdl/BeverageTaxedpricephysical-quantity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/BeverageTaxedpricephysical-quantity-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/BeverageTaxedpricephysical-quantity" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/BeverageTaxedpricephysical-quantity" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="BeverageTaxedpricephysical-quantity" targetNamespace="http://127.0.0.1:8000/wsdl/BeverageTaxedpricephysical-quantity">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed Apr 29 17:46:38 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/BeverageTaxedpricephysical-quantity" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Beverage"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#TaxedPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/support.owl#Physical-Quantity"/>
			</xsd:annotation>
			<xsd:element name="TaxedPrice" type="tns:TaxedPriceType"/>
			<xsd:element name="Beverage" type="tns:BeverageType"/>
			<xsd:element name="Physical-Quantity" type="tns:Physical-QuantityType"/>
			<xsd:complexType name="TaxedPriceType">
				<xsd:sequence>
					<xsd:element name="Fine" type="tns:Thing"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Physical-QuantityType">
				<xsd:sequence>
					<xsd:element name="has-magnitude" type="xsd:decimal"/>
					<xsd:element name="has-unit-of-measure" type="tns:Unit-Of-Measure"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Unit-Of-Measure">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Thing">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="BeverageType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_TAXEDPRICE_PHYSICAL-QUANTITYResponse">
		<wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
    </wsdl:part>
		<wsdl:part name="_PHYSICAL-QUANTITY" type="tns:Physical-QuantityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_TAXEDPRICE_PHYSICAL-QUANTITYRequest">
		<wsdl:part name="_BEVERAGE" type="tns:BeverageType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BeverageTaxedpricephysical-quantitySoap">
		<wsdl:operation name="get_TAXEDPRICE_PHYSICAL-QUANTITY">
			<wsdl:input message="tns:get_TAXEDPRICE_PHYSICAL-QUANTITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_TAXEDPRICE_PHYSICAL-QUANTITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BeverageTaxedpricephysical-quantitySoapBinding" type="tns:BeverageTaxedpricephysical-quantitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_TAXEDPRICE_PHYSICAL-QUANTITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BeverageTaxedpricephysical-quantity"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BeverageTaxedpricephysical-quantity"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BeverageTaxedpricephysical-quantityService">
		<wsdl:port name="BeverageTaxedpricephysical-quantitySoap" binding="tns:BeverageTaxedpricephysical-quantitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/BeverageTaxedpricephysical-quantity"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
