src/main/resources/wsdl/BeverageTaxedpricequantity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/BeverageTaxedpricequantity-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/BeverageTaxedpricequantity" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/BeverageTaxedpricequantity" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="BeverageTaxedpricequantity" targetNamespace="http://127.0.0.1:8000/wsdl/BeverageTaxedpricequantity">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed Apr 29 17:49:50 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/BeverageTaxedpricequantity" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Beverage"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#TaxedPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/support.owl#Quantity"/>
			</xsd:annotation>
			<xsd:element name="TaxedPrice" type="tns:TaxedPriceType"/>
			<xsd:element name="Beverage" type="tns:BeverageType"/>
			<xsd:element name="Quantity" type="tns:QuantityType"/>
			<xsd:complexType name="TaxedPriceType">
				<xsd:sequence>
					<xsd:element name="Fine" type="tns:Thing"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Thing">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="BeverageType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="QuantityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_TAXEDPRICE_QUANTITYResponse">
		<wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
    </wsdl:part>
		<wsdl:part name="_QUANTITY" type="tns:QuantityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_TAXEDPRICE_QUANTITYRequest">
		<wsdl:part name="_BEVERAGE" type="tns:BeverageType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BeverageTaxedpricequantitySoap">
		<wsdl:operation name="get_TAXEDPRICE_QUANTITY">
			<wsdl:input message="tns:get_TAXEDPRICE_QUANTITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_TAXEDPRICE_QUANTITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BeverageTaxedpricequantitySoapBinding" type="tns:BeverageTaxedpricequantitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_TAXEDPRICE_QUANTITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BeverageTaxedpricequantity"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BeverageTaxedpricequantity"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BeverageTaxedpricequantityService">
		<wsdl:port name="BeverageTaxedpricequantitySoap" binding="tns:BeverageTaxedpricequantitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/BeverageTaxedpricequantity"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
