src/main/resources/wsdl/BeveragePricequantity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/BeveragePricequantity-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/BeveragePricequantity" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/BeveragePricequantity" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="BeveragePricequantity" targetNamespace="http://127.0.0.1:8000/wsdl/BeveragePricequantity">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed Apr 29 17:27:02 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/BeveragePricequantity" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Beverage"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#Price"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/support.owl#Quantity"/>
			</xsd:annotation>
			<xsd:element name="Price" type="tns:PriceType"/>
			<xsd:element name="Beverage" type="tns:BeverageType"/>
			<xsd:element name="Quantity" type="tns:QuantityType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="tns:Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="BeverageType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="QuantityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICE_QUANTITYResponse">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
		<wsdl:part name="_QUANTITY" type="tns:QuantityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICE_QUANTITYRequest">
		<wsdl:part name="_BEVERAGE" type="tns:BeverageType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BeveragePricequantitySoap">
		<wsdl:operation name="get_PRICE_QUANTITY">
			<wsdl:input message="tns:get_PRICE_QUANTITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICE_QUANTITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BeveragePricequantitySoapBinding" type="tns:BeveragePricequantitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE_QUANTITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BeveragePricequantity"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BeveragePricequantity"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BeveragePricequantityService">
		<wsdl:port name="BeveragePricequantitySoap" binding="tns:BeveragePricequantitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/BeveragePricequantity"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
