src/main/resources/wsdl/BookPerson.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/BookPerson-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/BookPerson" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/BookPerson" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="BookPerson" targetNamespace="http://127.0.0.1:8000/wsdl/BookPerson">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat May 02 17:40:49 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/BookPerson" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Book"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Person"/>
			</xsd:annotation>
			<xsd:element name="Book" type="tns:BookType"/>
			<xsd:element name="Person" type="tns:PersonType"/>
			<xsd:complexType name="BookType">
				<xsd:sequence>
					<xsd:element name="isTitled" type="tns:Title"/>
					<xsd:element name="hasType" type="tns:Book-Type"/>
					<xsd:element name="writtenBy" type="tns:Author"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Author">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Title">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PersonType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Book-Type">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PERSONRequest">
		<wsdl:part name="_BOOK" type="tns:BookType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PERSONResponse">
		<wsdl:part name="_PERSON" type="tns:PersonType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BookPersonSoap">
		<wsdl:operation name="get_PERSON">
			<wsdl:input message="tns:get_PERSONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PERSONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BookPersonSoapBinding" type="tns:BookPersonSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PERSON">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BookPerson"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BookPerson"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BookPersonService">
		<wsdl:port name="BookPersonSoap" binding="tns:BookPersonSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/BookPerson"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
