src/main/resources/wsdl/Booknonmedicaltransport.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Booknonmedicaltransport-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Booknonmedicaltransport" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Booknonmedicaltransport" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Booknonmedicaltransport" targetNamespace="http://127.0.0.1:8000/wsdl/Booknonmedicaltransport">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri May 01 01:40:46 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Booknonmedicaltransport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/NonMedicalTransportCompanyOntology.owl#TransportNumber"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/NonMedicalTransportCompanyOntology.owl#Account"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/NonMedicalTransportCompanyOntology.owl#SeatNumber"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/NonMedicalTransportCompanyOntology.owl#BookingNumber"/>
			</xsd:annotation>
			<xsd:element name="BookingNumber" type="tns:BookingNumberType"/>
			<xsd:element name="Account" type="tns:AccountType"/>
			<xsd:element name="TransportNumber" type="tns:TransportNumberType"/>
			<xsd:element name="SeatNumber" type="tns:SeatNumberType"/>
			<xsd:simpleType name="SeatNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TransportNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="BookingNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AccountType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getBookNonMedicalTransport_SeatNumberBookNonMedicalTransport_BookingNumberRequest">
		<wsdl:part name="BookNonMedicalTransport_TransportNumber" type="tns:TransportNumberType">
    </wsdl:part>
		<wsdl:part name="BookNonMedicalTransport_Account" type="tns:AccountType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getBookNonMedicalTransport_SeatNumberBookNonMedicalTransport_BookingNumberResponse">
		<wsdl:part name="BookNonMedicalTransport_SeatNumber" type="tns:SeatNumberType">
    </wsdl:part>
		<wsdl:part name="BookNonMedicalTransport_BookingNumber" type="tns:BookingNumberType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BooknonmedicaltransportSoap">
		<wsdl:operation name="getBookNonMedicalTransport_SeatNumberBookNonMedicalTransport_BookingNumber">
			<wsdl:input message="tns:getBookNonMedicalTransport_SeatNumberBookNonMedicalTransport_BookingNumberRequest">
    </wsdl:input>
			<wsdl:output message="tns:getBookNonMedicalTransport_SeatNumberBookNonMedicalTransport_BookingNumberResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BooknonmedicaltransportSoapBinding" type="tns:BooknonmedicaltransportSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getBookNonMedicalTransport_SeatNumberBookNonMedicalTransport_BookingNumber">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Booknonmedicaltransport"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Booknonmedicaltransport"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BooknonmedicaltransportService">
		<wsdl:port name="BooknonmedicaltransportSoap" binding="tns:BooknonmedicaltransportSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Booknonmedicaltransport"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
