src/main/resources/wsdl/Book.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Book-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Book" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Book" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Book" targetNamespace="http://127.0.0.1:8000/wsdl/Book">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri May 01 00:24:09 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Book" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Book"/>
			</xsd:annotation>
			<xsd:element name="Book" type="tns:BookType"/>
			<xsd:complexType name="BookType">
				<xsd:sequence>
					<xsd:element name="isTitled" type="tns:Title"/>
					<xsd:element name="hasType" type="tns:Book-Type"/>
					<xsd:element name="writtenBy" type="tns:Author"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Author">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Title">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Book-Type">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getRequest">
		<wsdl:part name="_BOOK" type="tns:BookType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getResponse">
  </wsdl:message>
	<wsdl:portType name="BookSoap">
		<wsdl:operation name="get">
			<wsdl:input message="tns:getRequest">
    </wsdl:input>
			<wsdl:output message="tns:getResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BookSoapBinding" type="tns:BookSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Book"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Book"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BookService">
		<wsdl:port name="BookSoap" binding="tns:BookSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Book"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
