src/main/resources/wsdl/Bookmedicaltransport.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Bookmedicaltransport-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Bookmedicaltransport" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Bookmedicaltransport" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Bookmedicaltransport" targetNamespace="http://127.0.0.1:8000/wsdl/Bookmedicaltransport">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri May 01 01:28:10 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Bookmedicaltransport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/MedicalTransportCompanyOntology.owl#Vehicle"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/MedicalTransportCompanyOntology.owl#Account"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/MedicalTransportCompanyOntology.owl#TransportNumber"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/MedicalTransportCompanyOntology.owl#SeatNumber"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/MedicalTransportCompanyOntology.owl#BookingNumber"/>
			</xsd:annotation>
			<xsd:element name="BookingNumber" type="tns:BookingNumberType"/>
			<xsd:element name="Account" type="tns:AccountType"/>
			<xsd:element name="Vehicle" type="tns:VehicleType"/>
			<xsd:element name="TransportNumber" type="tns:TransportNumberType"/>
			<xsd:element name="SeatNumber" type="tns:SeatNumberType"/>
			<xsd:simpleType name="SeatNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TransportNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="VehicleType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="BookingNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AccountType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getBookMedicalTransport_SeatNumberBookMedicalTransport_BookingNumberRequest">
		<wsdl:part name="ProvideMedicalTransportInformation_DesiredTransportVehicle" type="tns:VehicleType">
    </wsdl:part>
		<wsdl:part name="BookMedicalTransport_Account" type="tns:AccountType">
    </wsdl:part>
		<wsdl:part name="BookMedicalTransport_TransportNumber" type="tns:TransportNumberType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getBookMedicalTransport_SeatNumberBookMedicalTransport_BookingNumberResponse">
		<wsdl:part name="BookMedicalTransport_SeatNumber" type="tns:SeatNumberType">
    </wsdl:part>
		<wsdl:part name="BookMedicalTransport_BookingNumber" type="tns:BookingNumberType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BookmedicaltransportSoap">
		<wsdl:operation name="getBookMedicalTransport_SeatNumberBookMedicalTransport_BookingNumber">
			<wsdl:input message="tns:getBookMedicalTransport_SeatNumberBookMedicalTransport_BookingNumberRequest">
    </wsdl:input>
			<wsdl:output message="tns:getBookMedicalTransport_SeatNumberBookMedicalTransport_BookingNumberResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BookmedicaltransportSoapBinding" type="tns:BookmedicaltransportSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getBookMedicalTransport_SeatNumberBookMedicalTransport_BookingNumber">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Bookmedicaltransport"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Bookmedicaltransport"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BookmedicaltransportService">
		<wsdl:port name="BookmedicaltransportSoap" binding="tns:BookmedicaltransportSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Bookmedicaltransport"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
