src/main/resources/wsdl/Bookmedicalflight.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Bookmedicalflight-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Bookmedicalflight" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Bookmedicalflight" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Bookmedicalflight" targetNamespace="http://127.0.0.1:8000/wsdl/Bookmedicalflight">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri May 01 01:22:25 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Bookmedicalflight" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/MedicalFlightCompanyOntology.owl#FlightNumber"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/MedicalFlightCompanyOntology.owl#Account"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/MedicalFlightCompanyOntology.owl#AirportGate"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/MedicalFlightCompanyOntology.owl#BookingNumber"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/MedicalFlightCompanyOntology.owl#SeatNumber"/>
			</xsd:annotation>
			<xsd:element name="BookingNumber" type="tns:BookingNumberType"/>
			<xsd:element name="AirportGate" type="tns:AirportGateType"/>
			<xsd:element name="Account" type="tns:AccountType"/>
			<xsd:element name="SeatNumber" type="tns:SeatNumberType"/>
			<xsd:element name="FlightNumber" type="tns:FlightNumberType"/>
			<xsd:simpleType name="SeatNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AirportGateType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="FlightNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="BookingNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AccountType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getBookMedicalFlight_AirportGateBookMedicalFlight_BookingNumberBookMedicalFlight_SeatNumberResponse">
		<wsdl:part name="BookMedicalFlight_AirportGate" type="tns:AirportGateType">
    </wsdl:part>
		<wsdl:part name="BookMedicalFlight_BookingNumber" type="tns:BookingNumberType">
    </wsdl:part>
		<wsdl:part name="BookMedicalFlight_SeatNumber" type="tns:SeatNumberType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getBookMedicalFlight_AirportGateBookMedicalFlight_BookingNumberBookMedicalFlight_SeatNumberRequest">
		<wsdl:part name="BookMedicalFlight_FlightNumber" type="tns:FlightNumberType">
    </wsdl:part>
		<wsdl:part name="BookMedicalFlight_Account" type="tns:AccountType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BookmedicalflightSoap">
		<wsdl:operation name="getBookMedicalFlight_AirportGateBookMedicalFlight_BookingNumberBookMedicalFlight_SeatNumber">
			<wsdl:input message="tns:getBookMedicalFlight_AirportGateBookMedicalFlight_BookingNumberBookMedicalFlight_SeatNumberRequest">
    </wsdl:input>
			<wsdl:output message="tns:getBookMedicalFlight_AirportGateBookMedicalFlight_BookingNumberBookMedicalFlight_SeatNumberResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BookmedicalflightSoapBinding" type="tns:BookmedicalflightSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getBookMedicalFlight_AirportGateBookMedicalFlight_BookingNumberBookMedicalFlight_SeatNumber">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Bookmedicalflight"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Bookmedicalflight"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BookmedicalflightService">
		<wsdl:port name="BookmedicalflightSoap" binding="tns:BookmedicalflightSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Bookmedicalflight"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
