src/main/resources/wsdl/BookPublisher.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/BookPublisher-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/BookPublisher" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/BookPublisher" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="BookPublisher" targetNamespace="http://127.0.0.1:8000/wsdl/BookPublisher">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat May 02 17:43:54 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/BookPublisher" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Book"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Publisher"/>
			</xsd:annotation>
			<xsd:element name="Book" type="tns:BookType"/>
			<xsd:element name="Publisher" type="tns:PublisherType"/>
			<xsd:complexType name="BookType">
				<xsd:sequence>
					<xsd:element name="isTitled" type="tns:Title"/>
					<xsd:element name="hasType" type="tns:Book-Type"/>
					<xsd:element name="writtenBy" type="tns:Author"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="PublisherType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Author">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Title">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Book-Type">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PUBLISHERRequest">
		<wsdl:part name="_BOOK" type="tns:BookType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PUBLISHERResponse">
		<wsdl:part name="_PUBLISHER" type="tns:PublisherType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BookPublisherSoap">
		<wsdl:operation name="get_PUBLISHER">
			<wsdl:input message="tns:get_PUBLISHERRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PUBLISHERResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BookPublisherSoapBinding" type="tns:BookPublisherSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PUBLISHER">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BookPublisher"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BookPublisher"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BookPublisherService">
		<wsdl:port name="BookPublisherSoap" binding="tns:BookPublisherSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/BookPublisher"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
