src/main/resources/wsdl/Booknonmedicalflight.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Booknonmedicalflight-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Booknonmedicalflight" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Booknonmedicalflight" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Booknonmedicalflight" targetNamespace="http://127.0.0.1:8000/wsdl/Booknonmedicalflight">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri May 01 01:32:56 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Booknonmedicalflight" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/NonMedicalFlightCompanyOntology.owl#Account"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/NonMedicalFlightCompanyOntology.owl#FlightNumber"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/NonMedicalFlightCompanyOntology.owl#SeatNumber"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/NonMedicalFlightCompanyOntology.owl#AirportGate"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/NonMedicalFlightCompanyOntology.owl#BookingNumber"/>
			</xsd:annotation>
			<xsd:element name="BookingNumber" type="tns:BookingNumberType"/>
			<xsd:element name="AirportGate" type="tns:AirportGateType"/>
			<xsd:element name="Account" type="tns:AccountType"/>
			<xsd:element name="SeatNumber" type="tns:SeatNumberType"/>
			<xsd:element name="FlightNumber" type="tns:FlightNumberType"/>
			<xsd:simpleType name="SeatNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AirportGateType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="FlightNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="BookingNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AccountType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getBookNonMedicalFlight_SeatNumberBookNonMedicalFlight_AirportGateBookNonMedicalFlight_BookingNumberRequest">
		<wsdl:part name="BookNonMedicalFlight_Account" type="tns:AccountType">
    </wsdl:part>
		<wsdl:part name="BookNonMedicalFlight_FlightNumber" type="tns:FlightNumberType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getBookNonMedicalFlight_SeatNumberBookNonMedicalFlight_AirportGateBookNonMedicalFlight_BookingNumberResponse">
		<wsdl:part name="BookNonMedicalFlight_SeatNumber" type="tns:SeatNumberType">
    </wsdl:part>
		<wsdl:part name="BookNonMedicalFlight_AirportGate" type="tns:AirportGateType">
    </wsdl:part>
		<wsdl:part name="BookNonMedicalFlight_BookingNumber" type="tns:BookingNumberType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BooknonmedicalflightSoap">
		<wsdl:operation name="getBookNonMedicalFlight_SeatNumberBookNonMedicalFlight_AirportGateBookNonMedicalFlight_BookingNumber">
			<wsdl:input message="tns:getBookNonMedicalFlight_SeatNumberBookNonMedicalFlight_AirportGateBookNonMedicalFlight_BookingNumberRequest">
    </wsdl:input>
			<wsdl:output message="tns:getBookNonMedicalFlight_SeatNumberBookNonMedicalFlight_AirportGateBookNonMedicalFlight_BookingNumberResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BooknonmedicalflightSoapBinding" type="tns:BooknonmedicalflightSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getBookNonMedicalFlight_SeatNumberBookNonMedicalFlight_AirportGateBookNonMedicalFlight_BookingNumber">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Booknonmedicalflight"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Booknonmedicalflight"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BooknonmedicalflightService">
		<wsdl:port name="BooknonmedicalflightSoap" binding="tns:BooknonmedicalflightSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Booknonmedicalflight"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
