src/main/resources/wsdl/BookTaxedpriceprice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/BookTaxedpriceprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/BookTaxedpriceprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/BookTaxedpriceprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="BookTaxedpriceprice" targetNamespace="http://127.0.0.1:8000/wsdl/BookTaxedpriceprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat May 02 17:33:07 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/BookTaxedpriceprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Book"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#TaxedPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#Price"/>
			</xsd:annotation>
			<xsd:element name="Book" type="tns:BookType"/>
			<xsd:element name="Price" type="tns:PriceType"/>
			<xsd:element name="TaxedPrice" type="tns:TaxedPriceType"/>
			<xsd:complexType name="TaxedPriceType">
				<xsd:sequence>
					<xsd:element name="Fine" type="tns:Thing"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="tns:Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BookType">
				<xsd:sequence>
					<xsd:element name="isTitled" type="tns:Title"/>
					<xsd:element name="hasType" type="tns:Book-Type"/>
					<xsd:element name="writtenBy" type="tns:Author"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Author">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Title">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Book-Type">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Thing">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_TAXEDPRICE_PRICEResponse">
		<wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
    </wsdl:part>
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_TAXEDPRICE_PRICERequest">
		<wsdl:part name="_BOOK" type="tns:BookType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BookTaxedpricepriceSoap">
		<wsdl:operation name="get_TAXEDPRICE_PRICE">
			<wsdl:input message="tns:get_TAXEDPRICE_PRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_TAXEDPRICE_PRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BookTaxedpricepriceSoapBinding" type="tns:BookTaxedpricepriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_TAXEDPRICE_PRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BookTaxedpriceprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BookTaxedpriceprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BookTaxedpricepriceService">
		<wsdl:port name="BookTaxedpricepriceSoap" binding="tns:BookTaxedpricepriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/BookTaxedpriceprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
