src/main/resources/wsdl/BookComputer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Book-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/BookComputer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/BookComputer" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="BookComputer" targetNamespace="http://127.0.0.1:8000/wsdl/BookComputer">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 11 11:33:04 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/BookComputer" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/portal.owl#Book"/>
			</xsd:annotation>
			<xsd:element name="Book" type="tns:BookType"/>
			<xsd:complexType name="Book-Reference">
				<xsd:sequence>
					<xsd:element name="has-ISBN-number" type="xsd:string"/>
					<xsd:element name="published-by" type="tns:Publishing-House"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BookType">
				<xsd:sequence>
					<xsd:element name="has-publication-reference" type="tns:Book-Reference"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Publishing-House">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_BOOKRequest">
  </wsdl:message>
	<wsdl:message name="get_BOOKResponse">
		<wsdl:part name="_BOOK" type="tns:BookType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BookSoap">
		<wsdl:operation name="get_BOOK">
			<wsdl:input message="tns:get_BOOKRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_BOOKResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BookSoapBinding" type="tns:BookSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_BOOK">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BookComputer"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BookComputer"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BookService">
		<wsdl:port name="BookSoap" binding="tns:BookSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/BookComputer"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
