src/main/resources/wsdl/BreadorbiscuitRecommendedpriceineurotaxedpriceineuro.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/BreadorbiscuitRecommendedpriceineurotaxedpriceineuro-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/BreadorbiscuitRecommendedpriceineurotaxedpriceineuro" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/BreadorbiscuitRecommendedpriceineurotaxedpriceineuro" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="BreadorbiscuitRecommendedpriceineurotaxedpriceineuro" targetNamespace="http://127.0.0.1:8000/wsdl/BreadorbiscuitRecommendedpriceineurotaxedpriceineuro">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun May 03 14:04:24 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/BreadorbiscuitRecommendedpriceineurotaxedpriceineuro" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#BreadOrBiscuit"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#RecommendedPriceInEuro"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#TaxedPriceInEuro"/>
			</xsd:annotation>
			<xsd:element name="RecommendedPriceInEuro" type="tns:RecommendedPriceInEuroType"/>
			<xsd:element name="TaxedPriceInEuro" type="tns:TaxedPriceInEuroType"/>
			<xsd:element name="BreadOrBiscuit" type="tns:BreadOrBiscuitType"/>
			<xsd:simpleType name="RecommendedPriceInEuroType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="BreadOrBiscuitType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TaxedPriceInEuroType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RECOMMENDEDPRICEINEURO_TAXEDPRICEINEUROResponse">
		<wsdl:part name="_RECOMMENDEDPRICEINEURO" type="tns:RecommendedPriceInEuroType">
    </wsdl:part>
		<wsdl:part name="_TAXEDPRICEINEURO" type="tns:TaxedPriceInEuroType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RECOMMENDEDPRICEINEURO_TAXEDPRICEINEURORequest">
		<wsdl:part name="_BREADORBISCUIT" type="tns:BreadOrBiscuitType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BreadorbiscuitRecommendedpriceineurotaxedpriceineuroSoap">
		<wsdl:operation name="get_RECOMMENDEDPRICEINEURO_TAXEDPRICEINEURO">
			<wsdl:input message="tns:get_RECOMMENDEDPRICEINEURO_TAXEDPRICEINEURORequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RECOMMENDEDPRICEINEURO_TAXEDPRICEINEUROResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BreadorbiscuitRecommendedpriceineurotaxedpriceineuroSoapBinding" type="tns:BreadorbiscuitRecommendedpriceineurotaxedpriceineuroSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RECOMMENDEDPRICEINEURO_TAXEDPRICEINEURO">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BreadorbiscuitRecommendedpriceineurotaxedpriceineuro"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/BreadorbiscuitRecommendedpriceineurotaxedpriceineuro"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BreadorbiscuitRecommendedpriceineurotaxedpriceineuroService">
		<wsdl:port name="BreadorbiscuitRecommendedpriceineurotaxedpriceineuroSoap" binding="tns:BreadorbiscuitRecommendedpriceineurotaxedpriceineuroSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/BreadorbiscuitRecommendedpriceineurotaxedpriceineuro"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
