src/main/resources/wsdl/car_recommendedpriceineuro_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/CarRecommendedpriceineuro" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CarRecommendedpriceineuro-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CarRecommendedpriceineuro" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CarRecommendedpriceineuro" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CarRecommendedpriceineuro" targetNamespace="http://127.0.0.1:8000/wsdl/CarRecommendedpriceineuro">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 19:44:36 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CarRecommendedpriceineuro" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#Car"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#RecommendedPriceInEuro"/>
			</xsd:annotation>
			<xsd:element name="RecommendedPriceInEuro" type="RecommendedPriceInEuroType"/>
			<xsd:element name="Car" type="CarType"/>
			<xsd:simpleType name="RecommendedPriceInEuroType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RECOMMENDEDPRICEINEURORequest">
		<wsdl:part name="_CAR" type="tns:CarType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RECOMMENDEDPRICEINEUROResponse">
		<wsdl:part name="_RECOMMENDEDPRICEINEURO" type="tns:RecommendedPriceInEuroType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CarRecommendedpriceineuroSoap">
		<wsdl:operation name="get_RECOMMENDEDPRICEINEURO">
			<wsdl:input message="tns:get_RECOMMENDEDPRICEINEURORequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RECOMMENDEDPRICEINEUROResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CarRecommendedpriceineuroSoapBinding" type="CarRecommendedpriceineuroSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RECOMMENDEDPRICEINEURO">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CarRecommendedpriceineuro"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CarRecommendedpriceineuro"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CarRecommendedpriceineuroService">
		<wsdl:port name="CarRecommendedpriceineuroSoap" binding="CarRecommendedpriceineuroSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CarRecommendedpriceineuro"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
