src/main/resources/wsdl/car_pricecolor_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/CarPricecolor" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CarPricecolor-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CarPricecolor" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CarPricecolor" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CarPricecolor" targetNamespace="http://127.0.0.1:8000/wsdl/CarPricecolor">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Jun 06 22:48:58 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CarPricecolor" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#Car"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/finance_th_web.owl#price"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/my_ontology.owl#Color"/>
			</xsd:annotation>
			<xsd:element name="price" type="priceType"/>
			<xsd:element name="Color" type="ColorType"/>
			<xsd:element name="Car" type="CarType"/>
			<xsd:simpleType name="CarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ColorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="priceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICE_COLORRequest">
		<wsdl:part name="_CAR" type="tns:CarType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICE_COLORResponse">
		<wsdl:part name="_PRICE" type="tns:priceType">
    </wsdl:part>
		<wsdl:part name="_COLOR" type="tns:ColorType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CarPricecolorSoap">
		<wsdl:operation name="get_PRICE_COLOR">
			<wsdl:input message="tns:get_PRICE_COLORRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICE_COLORResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CarPricecolorSoapBinding" type="CarPricecolorSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE_COLOR">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CarPricecolor"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CarPricecolor"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CarPricecolorService">
		<wsdl:port name="CarPricecolorSoap" binding="CarPricecolorSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CarPricecolor"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
