src/main/resources/wsdl/CarbicycleRecommendedprice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CarbicycleRecommendedprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CarbicycleRecommendedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CarbicycleRecommendedprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CarbicycleRecommendedprice" targetNamespace="http://127.0.0.1:8000/wsdl/CarbicycleRecommendedprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun May 10 02:21:09 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CarbicycleRecommendedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/my_ontology.owl#Bicycle"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#Car"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#RecommendedPrice"/>
			</xsd:annotation>
			<xsd:element name="RecommendedPrice" type="tns:RecommendedPriceType"/>
			<xsd:element name="Car" type="tns:CarType"/>
			<xsd:element name="Bicycle" type="tns:BicycleType"/>
			<xsd:complexType name="BicycleType">
				<xsd:sequence>
					<xsd:element minOccurs="2" maxOccurs="2" name="Wheel"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="RecommendedPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RECOMMENDEDPRICEResponse">
		<wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RECOMMENDEDPRICERequest">
		<wsdl:part name="_BICYCLE" type="tns:BicycleType">
    </wsdl:part>
		<wsdl:part name="_CAR" type="tns:CarType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CarbicycleRecommendedpriceSoap">
		<wsdl:operation name="get_RECOMMENDEDPRICE">
			<wsdl:input message="tns:get_RECOMMENDEDPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RECOMMENDEDPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CarbicycleRecommendedpriceSoapBinding" type="tns:CarbicycleRecommendedpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RECOMMENDEDPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CarbicycleRecommendedprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CarbicycleRecommendedprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CarbicycleRecommendedpriceService">
		<wsdl:port name="CarbicycleRecommendedpriceSoap" binding="tns:CarbicycleRecommendedpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CarbicycleRecommendedprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
