src/main/resources/wsdl/CareorganizationDiagnosticprocesstimeinterval.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CareorganizationDiagnosticprocesstimeinterval-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CareorganizationDiagnosticprocesstimeinterval" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CareorganizationDiagnosticprocesstimeinterval" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CareorganizationDiagnosticprocesstimeinterval" targetNamespace="http://127.0.0.1:8000/wsdl/CareorganizationDiagnosticprocesstimeinterval">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun May 10 16:30:04 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CareorganizationDiagnosticprocesstimeinterval" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#CareOrganization"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#DiagnosticProcess"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#TimeInterval"/>
			</xsd:annotation>
			<xsd:element name="DiagnosticProcess" type="tns:DiagnosticProcessType"/>
			<xsd:element name="TimeInterval" type="tns:TimeIntervalType"/>
			<xsd:element name="CareOrganization" type="tns:CareOrganizationType"/>
			<xsd:complexType name="TimeIntervalType">
				<xsd:sequence>
					<xsd:element name="starts" type="tns:TimeIntervalType"/>
					<xsd:element name="finishes" type="tns:TimeIntervalType"/>
					<xsd:element name="BeginFn" type="tns:TimePoint"/>
					<xsd:element name="duration" type="tns:TimeDuration"/>
					<xsd:element name="during" type="tns:TimeIntervalType"/>
					<xsd:element name="EndFn" type="tns:TimePoint"/>
					<xsd:element name="earlier" type="tns:TimeIntervalType"/>
					<xsd:element name="meetsTemporally" type="tns:TimeIntervalType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TimePoint">
				<xsd:sequence>
					<xsd:element name="before" type="tns:TimePoint"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="DiagnosticProcessType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CareOrganizationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TimeDuration">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DIAGNOSTICPROCESS_TIMEINTERVALResponse">
		<wsdl:part name="_DIAGNOSTICPROCESS" type="tns:DiagnosticProcessType">
    </wsdl:part>
		<wsdl:part name="_TIMEINTERVAL" type="tns:TimeIntervalType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DIAGNOSTICPROCESS_TIMEINTERVALRequest">
		<wsdl:part name="_CAREORGANIZATION" type="tns:CareOrganizationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CareorganizationDiagnosticprocesstimeintervalSoap">
		<wsdl:operation name="get_DIAGNOSTICPROCESS_TIMEINTERVAL">
			<wsdl:input message="tns:get_DIAGNOSTICPROCESS_TIMEINTERVALRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DIAGNOSTICPROCESS_TIMEINTERVALResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CareorganizationDiagnosticprocesstimeintervalSoapBinding" type="tns:CareorganizationDiagnosticprocesstimeintervalSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DIAGNOSTICPROCESS_TIMEINTERVAL">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CareorganizationDiagnosticprocesstimeinterval"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CareorganizationDiagnosticprocesstimeinterval"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CareorganizationDiagnosticprocesstimeintervalService">
		<wsdl:port name="CareorganizationDiagnosticprocesstimeintervalSoap" binding="tns:CareorganizationDiagnosticprocesstimeintervalSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CareorganizationDiagnosticprocesstimeinterval"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
