src/main/resources/wsdl/CareorganizationPredicting.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CareorganizationPredicting-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CareorganizationPredicting" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CareorganizationPredicting" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CareorganizationPredicting" targetNamespace="http://127.0.0.1:8000/wsdl/CareorganizationPredicting">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun May 10 16:41:54 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CareorganizationPredicting" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#CareOrganization"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#Predicting"/>
			</xsd:annotation>
			<xsd:element name="Predicting" type="tns:PredictingType"/>
			<xsd:element name="CareOrganization" type="tns:CareOrganizationType"/>
			<xsd:simpleType name="PredictingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CareOrganizationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PREDICTINGResponse">
		<wsdl:part name="_PREDICTING" type="tns:PredictingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PREDICTINGRequest">
		<wsdl:part name="_CAREORGANIZATION" type="tns:CareOrganizationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CareorganizationPredictingSoap">
		<wsdl:operation name="get_PREDICTING">
			<wsdl:input message="tns:get_PREDICTINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PREDICTINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CareorganizationPredictingSoapBinding" type="tns:CareorganizationPredictingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PREDICTING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CareorganizationPredicting"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CareorganizationPredicting"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CareorganizationPredictingService">
		<wsdl:port name="CareorganizationPredictingSoap" binding="tns:CareorganizationPredictingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CareorganizationPredicting"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
