src/main/resources/wsdl/CarPriceauto.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CarPriceauto-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CarPriceauto" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CarPriceauto" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CarPriceauto" targetNamespace="http://127.0.0.1:8000/wsdl/CarPriceauto">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun May 10 02:12:38 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CarPriceauto" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#Car"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#Price"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/my_ontology.owl#Auto"/>
			</xsd:annotation>
			<xsd:element name="Price" type="tns:PriceType"/>
			<xsd:element name="Auto" type="tns:AutoType"/>
			<xsd:element name="Car" type="tns:CarType"/>
			<xsd:complexType name="AutoType">
				<xsd:sequence>
					<xsd:element name="Power" type="tns:MoveableThing"/>
					<xsd:element name="Shape" type="tns:DesignedThing"/>
					<xsd:element name="madeBy" type="tns:Company"/>
					<xsd:element name="Rigid" type="tns:DesignedThing"/>
					<xsd:element name="hasValue" type="tns:Thing"/>
					<xsd:element maxOccurs="5" name="Person"/>
					<xsd:element name="belongsTo" type="tns:Person"/>
					<xsd:element name="Profitable" type="tns:DesignedThing"/>
					<xsd:element name="Color"/>
					<xsd:element name="Model" type="tns:DesignedThing"/>
					<xsd:element name="LifeTime" type="tns:DesignedThing"/>
					<xsd:element name="Engine"/>
					<xsd:element maxOccurs="4" name="Wheel"/>
					<xsd:element name="Speed" type="tns:MoveableThing"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="tns:Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DesignedThing">
				<xsd:sequence>
					<xsd:element name="designedBy" type="tns:Designer"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="CarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MoveableThing">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Person">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Designer">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Thing">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Company">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICE_AUTORequest">
		<wsdl:part name="_CAR" type="tns:CarType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICE_AUTOResponse">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
		<wsdl:part name="_AUTO" type="tns:AutoType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CarPriceautoSoap">
		<wsdl:operation name="get_PRICE_AUTO">
			<wsdl:input message="tns:get_PRICE_AUTORequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICE_AUTOResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CarPriceautoSoapBinding" type="tns:CarPriceautoSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE_AUTO">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CarPriceauto"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CarPriceauto"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CarPriceautoService">
		<wsdl:port name="CarPriceautoSoap" binding="tns:CarPriceautoSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CarPriceauto"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
