src/main/resources/wsdl/CarRecommendedpriceindollar.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CarRecommendedpriceindollar-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CarRecommendedpriceindollar" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CarRecommendedpriceindollar" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CarRecommendedpriceindollar" targetNamespace="http://127.0.0.1:8000/wsdl/CarRecommendedpriceindollar">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun May 10 02:37:51 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CarRecommendedpriceindollar" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#Car"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#RecommendedPriceInDollar"/>
			</xsd:annotation>
			<xsd:element name="RecommendedPriceInDollar" type="tns:RecommendedPriceInDollarType"/>
			<xsd:element name="Car" type="tns:CarType"/>
			<xsd:simpleType name="RecommendedPriceInDollarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RECOMMENDEDPRICEINDOLLARResponse">
		<wsdl:part name="_RECOMMENDEDPRICEINDOLLAR" type="tns:RecommendedPriceInDollarType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RECOMMENDEDPRICEINDOLLARRequest">
		<wsdl:part name="_CAR" type="tns:CarType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CarRecommendedpriceindollarSoap">
		<wsdl:operation name="get_RECOMMENDEDPRICEINDOLLAR">
			<wsdl:input message="tns:get_RECOMMENDEDPRICEINDOLLARRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RECOMMENDEDPRICEINDOLLARResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CarRecommendedpriceindollarSoapBinding" type="tns:CarRecommendedpriceindollarSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RECOMMENDEDPRICEINDOLLAR">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CarRecommendedpriceindollar"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CarRecommendedpriceindollar"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CarRecommendedpriceindollarService">
		<wsdl:port name="CarRecommendedpriceindollarSoap" binding="tns:CarRecommendedpriceindollarSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CarRecommendedpriceindollar"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
