src/main/resources/wsdl/CheapcarPricereport.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CheapcarPricereport-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CheapcarPricereport" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CheapcarPricereport" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CheapcarPricereport" targetNamespace="http://127.0.0.1:8000/wsdl/CheapcarPricereport">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun May 10 16:53:03 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CheapcarPricereport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#CheapCar"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#Price"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#Report"/>
			</xsd:annotation>
			<xsd:element name="Report" type="tns:ReportType"/>
			<xsd:element name="Price" type="tns:PriceType"/>
			<xsd:element name="CheapCar" type="tns:CheapCarType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="tns:Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CheapCarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ReportType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICE_REPORTResponse">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
		<wsdl:part name="_REPORT" type="tns:ReportType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICE_REPORTRequest">
		<wsdl:part name="_CHEAPCAR" type="tns:CheapCarType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CheapcarPricereportSoap">
		<wsdl:operation name="get_PRICE_REPORT">
			<wsdl:input message="tns:get_PRICE_REPORTRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICE_REPORTResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CheapcarPricereportSoapBinding" type="tns:CheapcarPricereportSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE_REPORT">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CheapcarPricereport"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CheapcarPricereport"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CheapcarPricereportService">
		<wsdl:port name="CheapcarPricereportSoap" binding="tns:CheapcarPricereportSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CheapcarPricereport"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
