src/main/resources/wsdl/CheapcarYearprice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CheapcarYearprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CheapcarYearprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CheapcarYearprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CheapcarYearprice" targetNamespace="http://127.0.0.1:8000/wsdl/CheapcarYearprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun May 10 17:03:14 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CheapcarYearprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#CheapCar"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#Year"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#Price"/>
			</xsd:annotation>
			<xsd:element name="Price" type="tns:PriceType"/>
			<xsd:element name="Year" type="tns:YearType"/>
			<xsd:element name="CheapCar" type="tns:CheapCarType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="tns:Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CheapCarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="YearType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_YEAR_PRICERequest">
		<wsdl:part name="_CHEAPCAR" type="tns:CheapCarType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_YEAR_PRICEResponse">
		<wsdl:part name="_YEAR" type="tns:YearType">
    </wsdl:part>
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CheapcarYearpriceSoap">
		<wsdl:operation name="get_YEAR_PRICE">
			<wsdl:input message="tns:get_YEAR_PRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_YEAR_PRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CheapcarYearpriceSoapBinding" type="tns:CheapcarYearpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_YEAR_PRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CheapcarYearprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CheapcarYearprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CheapcarYearpriceService">
		<wsdl:port name="CheapcarYearpriceSoap" binding="tns:CheapcarYearpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CheapcarYearprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
