src/main/resources/wsdl/Checkcostandhealingplan.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Checkcostandhealingplan-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Checkcostandhealingplan" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Checkcostandhealingplan" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Checkcostandhealingplan" targetNamespace="http://127.0.0.1:8000/wsdl/Checkcostandhealingplan">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun May 10 17:10:44 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Checkcostandhealingplan" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/HealthInsuranceOntology.owl#HealthInsuranceNumber"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/HealthInsuranceOntology.owl#CostAndHealingPlan"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/HealthInsuranceOntology.owl#AcceptanceAnswer"/>
			</xsd:annotation>
			<xsd:element name="CostAndHealingPlan" type="tns:CostAndHealingPlanType"/>
			<xsd:element name="HealthInsuranceNumber" type="tns:HealthInsuranceNumberType"/>
			<xsd:element name="AcceptanceAnswer" type="tns:AcceptanceAnswerType"/>
			<xsd:simpleType name="CostAndHealingPlanType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AcceptanceAnswerType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="HealthInsuranceNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getCheckCostAndHealingPlan_AcceptanceAnswerRequest">
		<wsdl:part name="CheckCostAndHealingPlan_PatientHealthInsuranceNumber" type="tns:HealthInsuranceNumberType">
    </wsdl:part>
		<wsdl:part name="CheckCostAndHealingPlan_CostAndHealingPlan" type="tns:CostAndHealingPlanType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCheckCostAndHealingPlan_AcceptanceAnswerResponse">
		<wsdl:part name="CheckCostAndHealingPlan_AcceptanceAnswer" type="tns:AcceptanceAnswerType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CheckcostandhealingplanSoap">
		<wsdl:operation name="getCheckCostAndHealingPlan_AcceptanceAnswer">
			<wsdl:input message="tns:getCheckCostAndHealingPlan_AcceptanceAnswerRequest">
    </wsdl:input>
			<wsdl:output message="tns:getCheckCostAndHealingPlan_AcceptanceAnswerResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CheckcostandhealingplanSoapBinding" type="tns:CheckcostandhealingplanSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getCheckCostAndHealingPlan_AcceptanceAnswer">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Checkcostandhealingplan"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Checkcostandhealingplan"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CheckcostandhealingplanService">
		<wsdl:port name="CheckcostandhealingplanSoap" binding="tns:CheckcostandhealingplanSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Checkcostandhealingplan"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
