src/main/resources/wsdl/CityHotel1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CityHotel-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CityHotel1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CityHotel1" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CityHotel1" targetNamespace="http://127.0.0.1:8000/wsdl/CityHotel1">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun May 10 23:59:21 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CityHotel1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#City"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#Hotel"/>
			</xsd:annotation>
			<xsd:element name="Hotel" type="tns:HotelType"/>
			<xsd:element name="City" type="tns:CityType"/>
			<xsd:simpleType name="HotelType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_HOTELResponse">
		<wsdl:part name="_HOTEL" type="tns:HotelType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_HOTELRequest">
		<wsdl:part name="_CITY" type="tns:CityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CityHotelSoap">
		<wsdl:operation name="get_HOTEL">
			<wsdl:input message="tns:get_HOTELRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_HOTELResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CityHotelSoapBinding" type="tns:CityHotelSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_HOTEL">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CityHotel1"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CityHotel1"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CityHotelService">
		<wsdl:port name="CityHotelSoap" binding="tns:CityHotelSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CityHotel1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
