src/main/resources/wsdl/CitygovernmentLending.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CitygovernmentLending-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CitygovernmentLending" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CitygovernmentLending" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CitygovernmentLending" targetNamespace="http://127.0.0.1:8000/wsdl/CitygovernmentLending">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun May 10 23:52:30 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CitygovernmentLending" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#CityGovernment"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#Lending"/>
			</xsd:annotation>
			<xsd:element name="CityGovernment" type="tns:CityGovernmentType"/>
			<xsd:element name="Lending" type="tns:LendingType"/>
			<xsd:simpleType name="LendingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CityGovernmentType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_LENDINGRequest">
		<wsdl:part name="_CITYGOVERNMENT" type="tns:CityGovernmentType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_LENDINGResponse">
		<wsdl:part name="_LENDING" type="tns:LendingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CitygovernmentLendingSoap">
		<wsdl:operation name="get_LENDING">
			<wsdl:input message="tns:get_LENDINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_LENDINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CitygovernmentLendingSoapBinding" type="tns:CitygovernmentLendingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_LENDING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CitygovernmentLending"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CitygovernmentLending"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CitygovernmentLendingService">
		<wsdl:port name="CitygovernmentLendingSoap" binding="tns:CitygovernmentLendingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CitygovernmentLending"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
