src/main/resources/wsdl/CityLuxuryhotel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CityLuxuryhotel-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CityLuxuryhotel" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CityLuxuryhotel" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CityLuxuryhotel" targetNamespace="http://127.0.0.1:8000/wsdl/CityLuxuryhotel">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun May 10 17:48:40 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CityLuxuryhotel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#City"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#LuxuryHotel"/>
			</xsd:annotation>
			<xsd:element name="LuxuryHotel" type="tns:LuxuryHotelType"/>
			<xsd:element name="City" type="tns:CityType"/>
			<xsd:complexType name="LuxuryHotelType">
				<xsd:choice>
					<xsd:element name="luxuryHotelID" type="tns:LuxuryHotelDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="hasRating" type="tns:LuxuryHotelAccommodationRating"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="AccommodationRating">
				<xsd:choice>
					<xsd:element name="accommodationRatingID" type="tns:AccommodationRatingDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="LuxuryHotelAccommodationRating">
				<xsd:complexContent>
					<xsd:restriction base="tns:AccommodationRating">
						<xsd:choice>
							<xsd:element name="accommodationRatingID" type="tns:LuxuryHotelAccommodationRatingDATA"/>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="name" type="xsd:string"/>
							</xsd:sequence>
						</xsd:choice>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:simpleType name="LuxuryHotelAccommodationRatingDATA">
				<xsd:restriction base="tns:AccommodationRatingDATA">
					<xsd:enumeration value="ThreeStarRating"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LuxuryHotelDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="FourSeasons"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="AccommodationRatingDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="TwoStarRating"/>
					<xsd:enumeration value="OneStarRating"/>
					<xsd:enumeration value="ThreeStarRating"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_LUXURYHOTELRequest">
		<wsdl:part name="_CITY" type="tns:CityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_LUXURYHOTELResponse">
		<wsdl:part name="_LUXURYHOTEL" type="tns:LuxuryHotelType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CityLuxuryhotelSoap">
		<wsdl:operation name="get_LUXURYHOTEL">
			<wsdl:input message="tns:get_LUXURYHOTELRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_LUXURYHOTELResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CityLuxuryhotelSoapBinding" type="tns:CityLuxuryhotelSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_LUXURYHOTEL">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CityLuxuryhotel"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CityLuxuryhotel"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CityLuxuryhotelService">
		<wsdl:port name="CityLuxuryhotelSoap" binding="tns:CityLuxuryhotelSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CityLuxuryhotel"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
