src/main/resources/wsdl/CityAccommodation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CityAccommodation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CityAccommodation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CityAccommodation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CityAccommodation" targetNamespace="http://127.0.0.1:8000/wsdl/CityAccommodation">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun May 10 17:40:54 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CityAccommodation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#City"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#Accommodation"/>
			</xsd:annotation>
			<xsd:element name="Accommodation" type="tns:AccommodationType"/>
			<xsd:element name="City" type="tns:CityType"/>
			<xsd:simpleType name="AccommodationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_ACCOMMODATIONRequest">
		<wsdl:part name="_CITY" type="tns:CityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_ACCOMMODATIONResponse">
		<wsdl:part name="_ACCOMMODATION" type="tns:AccommodationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CityAccommodationSoap">
		<wsdl:operation name="get_ACCOMMODATION">
			<wsdl:input message="tns:get_ACCOMMODATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_ACCOMMODATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CityAccommodationSoapBinding" type="tns:CityAccommodationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_ACCOMMODATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CityAccommodation"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CityAccommodation"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CityAccommodationService">
		<wsdl:port name="CityAccommodationSoap" binding="tns:CityAccommodationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CityAccommodation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
