src/main/resources/wsdl/citycountryduration__HotelReserveservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Citycountryduration" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Citycountryduration-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Citycountryduration" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Citycountryduration" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Citycountryduration" targetNamespace="http://127.0.0.1:8000/wsdl/Citycountryduration">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed May 27 01:50:16 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Citycountryduration" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/support.owl#Duration"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Country"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/travel.owl#City"/>
			</xsd:annotation>
			<xsd:element name="City" type="CityType"/>
			<xsd:element name="Country" type="CountryType"/>
			<xsd:element name="Duration" type="DurationType"/>
			<xsd:complexType name="CityType">
				<xsd:choice>
					<xsd:element name="cityID" type="CityDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="hasAccommodation" type="LuxuryHotel"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="DurationType">
				<xsd:choice>
					<xsd:element name="durationID" type="DurationDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="has-unit-of-measure" type="Time-Measure"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="LuxuryHotel">
				<xsd:choice>
					<xsd:element name="luxuryHotelID" type="LuxuryHotelDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="hasRating" type="LuxuryHotelAccommodationRating"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="LuxuryHotelAccommodationRating">
				<xsd:complexContent>
					<xsd:restriction base="AccommodationRating">
						<xsd:choice>
							<xsd:element name="accommodationRatingID" type="LuxuryHotelAccommodationRatingDATA"/>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="name" type="xsd:string"/>
							</xsd:sequence>
						</xsd:choice>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="Currency">
				<xsd:sequence>
					<xsd:element name="issued-by" type="Government"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CountryType">
				<xsd:sequence>
					<xsd:element name="has-government" type="Government"/>
					<xsd:element name="has-currency" type="Currency"/>
					<xsd:element name="has-capital" type="Capital-City"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Government">
				<xsd:sequence>
					<xsd:element name="government-of-country" type="CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AccommodationRating">
				<xsd:choice>
					<xsd:element name="accommodationRatingID" type="AccommodationRatingDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="Capital-City">
				<xsd:sequence>
					<xsd:element name="is-capital-of" type="CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="LuxuryHotelAccommodationRatingDATA">
				<xsd:restriction base="AccommodationRatingDATA">
					<xsd:enumeration value="ThreeStarRating"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LuxuryHotelDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="FourSeasons"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="AccommodationRatingDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="TwoStarRating"/>
					<xsd:enumeration value="OneStarRating"/>
					<xsd:enumeration value="ThreeStarRating"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CityDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Cairns"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="DurationDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="twelve-month-duration"/>
					<xsd:enumeration value="thirty-day-duration"/>
					<xsd:enumeration value="twentyfour-hour-duration"/>
					<xsd:enumeration value="twentyeight-day-duration"/>
					<xsd:enumeration value="thirtyone-day-duration"/>
					<xsd:enumeration value="seven-day-duration"/>
					<xsd:enumeration value="twentynine-day-duration"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Time-Measure">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="time-measure-day"/>
					<xsd:enumeration value="time-measure-hour"/>
					<xsd:enumeration value="time-measure-year"/>
					<xsd:enumeration value="time-measure-second"/>
					<xsd:enumeration value="time-measure-minute"/>
					<xsd:enumeration value="time-measure-month"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getResponse">
  </wsdl:message>
	<wsdl:message name="getRequest">
		<wsdl:part name="_DURATION" type="tns:DurationType">
    </wsdl:part>
		<wsdl:part name="_COUNTRY" type="tns:CountryType">
    </wsdl:part>
		<wsdl:part name="_CITY" type="tns:CityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CitycountrydurationSoap">
		<wsdl:operation name="get">
			<wsdl:input message="tns:getRequest">
    </wsdl:input>
			<wsdl:output message="tns:getResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CitycountrydurationSoapBinding" type="CitycountrydurationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Citycountryduration"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Citycountryduration"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CitycountrydurationService">
		<wsdl:port name="CitycountrydurationSoap" binding="CitycountrydurationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Citycountryduration"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
