src/main/resources/wsdl/Comedyfilmactionfilm.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Comedyfilmactionfilm-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Comedyfilmactionfilm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Comedyfilmactionfilm" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Comedyfilmactionfilm" targetNamespace="http://127.0.0.1:8000/wsdl/Comedyfilmactionfilm">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 11 11:22:13 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Comedyfilmactionfilm" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#ComedyFilm"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#ActionFilm"/>
			</xsd:annotation>
			<xsd:element name="ActionFilm" type="tns:ActionFilmType"/>
			<xsd:element name="ComedyFilm" type="tns:ComedyFilmType"/>
			<xsd:simpleType name="ActionFilmType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ComedyFilmType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_COMEDYFILM_ACTIONFILMResponse">
		<wsdl:part name="_COMEDYFILM" type="tns:ComedyFilmType">
    </wsdl:part>
		<wsdl:part name="_ACTIONFILM" type="tns:ActionFilmType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_COMEDYFILM_ACTIONFILMRequest">
  </wsdl:message>
	<wsdl:portType name="ComedyfilmactionfilmSoap">
		<wsdl:operation name="get_COMEDYFILM_ACTIONFILM">
			<wsdl:input message="tns:get_COMEDYFILM_ACTIONFILMRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_COMEDYFILM_ACTIONFILMResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ComedyfilmactionfilmSoapBinding" type="tns:ComedyfilmactionfilmSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_COMEDYFILM_ACTIONFILM">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Comedyfilmactionfilm"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Comedyfilmactionfilm"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ComedyfilmactionfilmService">
		<wsdl:port name="ComedyfilmactionfilmSoap" binding="tns:ComedyfilmactionfilmSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Comedyfilmactionfilm"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
