src/main/resources/wsdl/CompanyProfession.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CompanyProfession-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CompanyProfession" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CompanyProfession" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CompanyProfession" targetNamespace="http://127.0.0.1:8000/wsdl/CompanyProfession">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 11 11:27:19 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CompanyProfession" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Company"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Profession"/>
			</xsd:annotation>
			<xsd:element name="Profession" type="tns:ProfessionType"/>
			<xsd:element name="Company" type="tns:CompanyType"/>
			<xsd:simpleType name="CompanyType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ProfessionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PROFESSIONRequest">
		<wsdl:part name="_COMPANY" type="tns:CompanyType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PROFESSIONResponse">
		<wsdl:part name="_PROFESSION" type="tns:ProfessionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CompanyProfessionSoap">
		<wsdl:operation name="get_PROFESSION">
			<wsdl:input message="tns:get_PROFESSIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PROFESSIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CompanyProfessionSoapBinding" type="tns:CompanyProfessionSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PROFESSION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CompanyProfession"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CompanyProfession"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CompanyProfessionService">
		<wsdl:port name="CompanyProfessionSoap" binding="tns:CompanyProfessionSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CompanyProfession"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
