src/main/resources/wsdl/CompanycountrySkilledoccupation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CompanycountrySkilledoccupation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CompanycountrySkilledoccupation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CompanycountrySkilledoccupation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CompanycountrySkilledoccupation" targetNamespace="http://127.0.0.1:8000/wsdl/CompanycountrySkilledoccupation">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun May 03 15:01:24 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CompanycountrySkilledoccupation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/portal.owl#Country"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Company"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#SkilledOccupation"/>
			</xsd:annotation>
			<xsd:element name="SkilledOccupation" type="tns:SkilledOccupationType"/>
			<xsd:element name="Country" type="tns:CountryType"/>
			<xsd:element name="Company" type="tns:CompanyType"/>
			<xsd:complexType name="Government">
				<xsd:sequence>
					<xsd:element name="government-of-country" type="tns:CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Currency">
				<xsd:sequence>
					<xsd:element name="issued-by" type="tns:Government"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CountryType">
				<xsd:sequence>
					<xsd:element name="has-government" type="tns:Government"/>
					<xsd:element name="has-currency" type="tns:Currency"/>
					<xsd:element name="has-capital" type="tns:Capital-City"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Capital-City">
				<xsd:sequence>
					<xsd:element name="is-capital-of" type="tns:CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="SkilledOccupationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CompanyType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_SKILLEDOCCUPATIONResponse">
		<wsdl:part name="_SKILLEDOCCUPATION" type="tns:SkilledOccupationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_SKILLEDOCCUPATIONRequest">
		<wsdl:part name="_COUNTRY" type="tns:CountryType">
    </wsdl:part>
		<wsdl:part name="_COMPANY" type="tns:CompanyType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CompanycountrySkilledoccupationSoap">
		<wsdl:operation name="get_SKILLEDOCCUPATION">
			<wsdl:input message="tns:get_SKILLEDOCCUPATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_SKILLEDOCCUPATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CompanycountrySkilledoccupationSoapBinding" type="tns:CompanycountrySkilledoccupationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_SKILLEDOCCUPATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CompanycountrySkilledoccupation"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CompanycountrySkilledoccupation"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CompanycountrySkilledoccupationService">
		<wsdl:port name="CompanycountrySkilledoccupationSoap" binding="tns:CompanycountrySkilledoccupationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CompanycountrySkilledoccupation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
