src/main/resources/wsdl/Contactema.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Contactema-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Contactema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Contactema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Contactema" targetNamespace="http://127.0.0.1:8000/wsdl/Contactema">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 11 11:36:25 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Contactema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/PatientOntology.owl#DateTime"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/PatientOntology.owl#GpsPosition"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/PatientOntology.owl#DateTime"/>
			</xsd:annotation>
			<xsd:element name="GpsPosition" type="tns:GpsPositionType"/>
			<xsd:element name="DateTime" type="tns:DateTimeType"/>
			<xsd:simpleType name="GpsPositionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DateTimeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getContactEMA_AmbulanceArrivalTimeRequest">
		<wsdl:part name="AuthorizePhysician_AuthorizationTimeInterval" type="tns:DateTimeType">
    </wsdl:part>
		<wsdl:part name="ContactEMA_AccidentGpsPosition" type="tns:GpsPositionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getContactEMA_AmbulanceArrivalTimeResponse">
		<wsdl:part name="ContactEMA_AmbulanceArrivalTime" type="tns:DateTimeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ContactemaSoap">
		<wsdl:operation name="getContactEMA_AmbulanceArrivalTime">
			<wsdl:input message="tns:getContactEMA_AmbulanceArrivalTimeRequest">
    </wsdl:input>
			<wsdl:output message="tns:getContactEMA_AmbulanceArrivalTimeResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ContactemaSoapBinding" type="tns:ContactemaSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getContactEMA_AmbulanceArrivalTime">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Contactema"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Contactema"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ContactemaService">
		<wsdl:port name="ContactemaSoap" binding="tns:ContactemaSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Contactema"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
