src/main/resources/wsdl/CorporationApple.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CorporationApple-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CorporationApple" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CorporationApple" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CorporationApple" targetNamespace="http://127.0.0.1:8000/wsdl/CorporationApple">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Apr 25 17:52:23 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CorporationApple" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Corporation"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Apple"/>
			</xsd:annotation>
			<xsd:element name="Corporation" type="tns:CorporationType"/>
			<xsd:element name="Apple" type="tns:AppleType"/>
			<xsd:simpleType name="CorporationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AppleType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_APPLERequest">
		<wsdl:part name="_CORPORATION" type="tns:CorporationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_APPLEResponse">
		<wsdl:part name="_APPLE" type="tns:AppleType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CorporationAppleSoap">
		<wsdl:operation name="get_APPLE">
			<wsdl:input message="tns:get_APPLERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_APPLEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CorporationAppleSoapBinding" type="tns:CorporationAppleSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_APPLE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CorporationApple"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CorporationApple"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CorporationAppleService">
		<wsdl:port name="CorporationAppleSoap" binding="tns:CorporationAppleSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CorporationApple"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
