src/main/resources/wsdl/country_corporationskilledoccupation_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/CountryCorporationskilledoccupation" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CountryCorporationskilledoccupation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CountryCorporationskilledoccupation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CountryCorporationskilledoccupation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CountryCorporationskilledoccupation" targetNamespace="http://127.0.0.1:8000/wsdl/CountryCorporationskilledoccupation">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed Jun 03 01:45:28 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CountryCorporationskilledoccupation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geographical-Region"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/finance_th_web.owl#corporation"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#SkilledOccupation"/>
			</xsd:annotation>
			<xsd:element name="SkilledOccupation" type="SkilledOccupationType"/>
			<xsd:element name="Geographical-Region" type="Geographical-RegionType"/>
			<xsd:element name="corporation" type="corporationType"/>
			<xsd:simpleType name="SkilledOccupationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Geographical-RegionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="corporationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_CORPORATION_SKILLEDOCCUPATIONResponse">
		<wsdl:part name="_CORPORATION" type="tns:corporationType">
    </wsdl:part>
		<wsdl:part name="_SKILLEDOCCUPATION" type="tns:SkilledOccupationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_CORPORATION_SKILLEDOCCUPATIONRequest">
		<wsdl:part name="_COUNTRY" type="tns:Geographical-RegionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CountryCorporationskilledoccupationSoap">
		<wsdl:operation name="get_CORPORATION_SKILLEDOCCUPATION">
			<wsdl:input message="tns:get_CORPORATION_SKILLEDOCCUPATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_CORPORATION_SKILLEDOCCUPATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CountryCorporationskilledoccupationSoapBinding" type="CountryCorporationskilledoccupationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_CORPORATION_SKILLEDOCCUPATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CountryCorporationskilledoccupation"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CountryCorporationskilledoccupation"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CountryCorporationskilledoccupationService">
		<wsdl:port name="CountryCorporationskilledoccupationSoap" binding="CountryCorporationskilledoccupationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CountryCorporationskilledoccupation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
