src/main/resources/wsdl/CountryWeatherprocess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CountryWeatherprocess-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CountryWeatherprocess" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CountryWeatherprocess" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CountryWeatherprocess" targetNamespace="http://127.0.0.1:8000/wsdl/CountryWeatherprocess">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 12 16:46:57 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CountryWeatherprocess" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/portal.owl#Country"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#WeatherProcess"/>
			</xsd:annotation>
			<xsd:element name="WeatherProcess" type="tns:WeatherProcessType"/>
			<xsd:element name="Country" type="tns:CountryType"/>
			<xsd:complexType name="Government">
				<xsd:sequence>
					<xsd:element name="government-of-country" type="tns:CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Currency">
				<xsd:sequence>
					<xsd:element name="issued-by" type="tns:Government"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CountryType">
				<xsd:sequence>
					<xsd:element name="has-government" type="tns:Government"/>
					<xsd:element name="has-currency" type="tns:Currency"/>
					<xsd:element name="has-capital" type="tns:Capital-City"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Capital-City">
				<xsd:sequence>
					<xsd:element name="is-capital-of" type="tns:CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="WeatherProcessType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_WEATHERPROCESSRequest">
		<wsdl:part name="_COUNTRY" type="tns:CountryType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_WEATHERPROCESSResponse">
		<wsdl:part name="_WEATHERPROCESS" type="tns:WeatherProcessType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CountryWeatherprocessSoap">
		<wsdl:operation name="get_WEATHERPROCESS">
			<wsdl:input message="tns:get_WEATHERPROCESSRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_WEATHERPROCESSResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CountryWeatherprocessSoapBinding" type="tns:CountryWeatherprocessSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_WEATHERPROCESS">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CountryWeatherprocess"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CountryWeatherprocess"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CountryWeatherprocessService">
		<wsdl:port name="CountryWeatherprocessSoap" binding="tns:CountryWeatherprocessSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CountryWeatherprocess"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
