src/main/resources/wsdl/CountryProfessiontimemeasure.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CountryProfessiontimemeasure-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CountryProfessiontimemeasure" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CountryProfessiontimemeasure" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CountryProfessiontimemeasure" targetNamespace="http://127.0.0.1:8000/wsdl/CountryProfessiontimemeasure">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 12 15:58:13 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CountryProfessiontimemeasure" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/portal.owl#Country"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Profession"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#TimeMeasure"/>
			</xsd:annotation>
			<xsd:element name="TimeMeasure" type="tns:TimeMeasureType"/>
			<xsd:element name="Profession" type="tns:ProfessionType"/>
			<xsd:element name="Country" type="tns:CountryType"/>
			<xsd:complexType name="Government">
				<xsd:sequence>
					<xsd:element name="government-of-country" type="tns:CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Currency">
				<xsd:sequence>
					<xsd:element name="issued-by" type="tns:Government"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CountryType">
				<xsd:sequence>
					<xsd:element name="has-government" type="tns:Government"/>
					<xsd:element name="has-currency" type="tns:Currency"/>
					<xsd:element name="has-capital" type="tns:Capital-City"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Capital-City">
				<xsd:sequence>
					<xsd:element name="is-capital-of" type="tns:CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="ProfessionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TimeMeasureType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PROFESSION_TIMEMEASURERequest">
		<wsdl:part name="_COUNTRY" type="tns:CountryType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PROFESSION_TIMEMEASUREResponse">
		<wsdl:part name="_PROFESSION" type="tns:ProfessionType">
    </wsdl:part>
		<wsdl:part name="_TIMEMEASURE" type="tns:TimeMeasureType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CountryProfessiontimemeasureSoap">
		<wsdl:operation name="get_PROFESSION_TIMEMEASURE">
			<wsdl:input message="tns:get_PROFESSION_TIMEMEASURERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PROFESSION_TIMEMEASUREResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CountryProfessiontimemeasureSoapBinding" type="tns:CountryProfessiontimemeasureSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PROFESSION_TIMEMEASURE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CountryProfessiontimemeasure"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CountryProfessiontimemeasure"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CountryProfessiontimemeasureService">
		<wsdl:port name="CountryProfessiontimemeasureSoap" binding="tns:CountryProfessiontimemeasureSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CountryProfessiontimemeasure"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
