src/main/resources/wsdl/country_professionincometax_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/CountryProfessionincometax" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CountryProfessionincometax-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CountryProfessionincometax" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CountryProfessionincometax" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CountryProfessionincometax" targetNamespace="http://127.0.0.1:8000/wsdl/CountryProfessionincometax">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 15:05:40 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CountryProfessionincometax" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/portal.owl#Country"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Profession"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#IncomeTax"/>
			</xsd:annotation>
			<xsd:element name="IncomeTax" type="IncomeTaxType"/>
			<xsd:element name="Profession" type="ProfessionType"/>
			<xsd:element name="Country" type="CountryType"/>
			<xsd:complexType name="Government">
				<xsd:sequence>
					<xsd:element name="government-of-country" type="CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Currency">
				<xsd:sequence>
					<xsd:element name="issued-by" type="Government"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CountryType">
				<xsd:sequence>
					<xsd:element name="has-government" type="Government"/>
					<xsd:element name="has-currency" type="Currency"/>
					<xsd:element name="has-capital" type="Capital-City"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Capital-City">
				<xsd:sequence>
					<xsd:element name="is-capital-of" type="CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="IncomeTaxType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ProfessionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PROFESSION_INCOMETAXRequest">
		<wsdl:part name="_COUNTRY" type="tns:CountryType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PROFESSION_INCOMETAXResponse">
		<wsdl:part name="_PROFESSION" type="tns:ProfessionType">
    </wsdl:part>
		<wsdl:part name="_INCOMETAX" type="tns:IncomeTaxType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CountryProfessionincometaxSoap">
		<wsdl:operation name="get_PROFESSION_INCOMETAX">
			<wsdl:input message="tns:get_PROFESSION_INCOMETAXRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PROFESSION_INCOMETAXResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CountryProfessionincometaxSoapBinding" type="CountryProfessionincometaxSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PROFESSION_INCOMETAX">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CountryProfessionincometax"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CountryProfessionincometax"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CountryProfessionincometaxService">
		<wsdl:port name="CountryProfessionincometaxSoap" binding="CountryProfessionincometaxSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CountryProfessionincometax"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
