src/main/resources/wsdl/CountrycityLuxuryhotel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CountrycityLuxuryhotel-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CountrycityLuxuryhotel" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CountrycityLuxuryhotel" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CountrycityLuxuryhotel" targetNamespace="http://127.0.0.1:8000/wsdl/CountrycityLuxuryhotel">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 21 21:34:36 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CountrycityLuxuryhotel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/travel.owl#City"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Country"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/travel.owl#LuxuryHotel"/>
			</xsd:annotation>
			<xsd:element name="LuxuryHotel" type="tns:LuxuryHotelType"/>
			<xsd:element name="City" type="tns:CityType"/>
			<xsd:element name="Country" type="tns:CountryType"/>
			<xsd:complexType name="CityType">
				<xsd:choice>
					<xsd:element name="cityID" type="tns:CityDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="hasAccommodation" type="tns:LuxuryHotelType"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="LuxuryHotelAccommodationRating">
				<xsd:complexContent>
					<xsd:restriction base="tns:AccommodationRating">
						<xsd:choice>
							<xsd:element name="accommodationRatingID" type="tns:LuxuryHotelAccommodationRatingDATA"/>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="name" type="xsd:string"/>
							</xsd:sequence>
						</xsd:choice>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="Currency">
				<xsd:sequence>
					<xsd:element name="issued-by" type="tns:Government"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CountryType">
				<xsd:sequence>
					<xsd:element name="has-government" type="tns:Government"/>
					<xsd:element name="has-currency" type="tns:Currency"/>
					<xsd:element name="has-capital" type="tns:Capital-City"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Government">
				<xsd:sequence>
					<xsd:element name="government-of-country" type="tns:CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LuxuryHotelType">
				<xsd:choice>
					<xsd:element name="luxuryHotelID" type="tns:LuxuryHotelDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="hasRating" type="tns:LuxuryHotelAccommodationRating"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="AccommodationRating">
				<xsd:choice>
					<xsd:element name="accommodationRatingID" type="tns:AccommodationRatingDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="Capital-City">
				<xsd:sequence>
					<xsd:element name="is-capital-of" type="tns:CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="LuxuryHotelAccommodationRatingDATA">
				<xsd:restriction base="tns:AccommodationRatingDATA">
					<xsd:enumeration value="ThreeStarRating"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LuxuryHotelDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="FourSeasons"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="AccommodationRatingDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="TwoStarRating"/>
					<xsd:enumeration value="OneStarRating"/>
					<xsd:enumeration value="ThreeStarRating"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CityDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Cairns"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_LUXURYHOTELResponse">
		<wsdl:part name="_LUXURYHOTEL" type="tns:LuxuryHotelType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_LUXURYHOTELRequest">
		<wsdl:part name="_CITY" type="tns:CityType">
    </wsdl:part>
		<wsdl:part name="_COUNTRY" type="tns:CountryType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CountrycityLuxuryhotelSoap">
		<wsdl:operation name="get_LUXURYHOTEL">
			<wsdl:input message="tns:get_LUXURYHOTELRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_LUXURYHOTELResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CountrycityLuxuryhotelSoapBinding" type="tns:CountrycityLuxuryhotelSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_LUXURYHOTEL">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CountrycityLuxuryhotel"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CountrycityLuxuryhotel"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CountrycityLuxuryhotelService">
		<wsdl:port name="CountrycityLuxuryhotelSoap" binding="tns:CountrycityLuxuryhotelSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CountrycityLuxuryhotel"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
