src/main/resources/wsdl/CountryWarmfront.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CountryWarmfront-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CountryWarmfront" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CountryWarmfront" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CountryWarmfront" targetNamespace="http://127.0.0.1:8000/wsdl/CountryWarmfront">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 12 16:14:01 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CountryWarmfront" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/portal.owl#Country"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#WarmFront"/>
			</xsd:annotation>
			<xsd:element name="WarmFront" type="tns:WarmFrontType"/>
			<xsd:element name="Country" type="tns:CountryType"/>
			<xsd:complexType name="Government">
				<xsd:sequence>
					<xsd:element name="government-of-country" type="tns:CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Currency">
				<xsd:sequence>
					<xsd:element name="issued-by" type="tns:Government"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CountryType">
				<xsd:sequence>
					<xsd:element name="has-government" type="tns:Government"/>
					<xsd:element name="has-currency" type="tns:Currency"/>
					<xsd:element name="has-capital" type="tns:Capital-City"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Capital-City">
				<xsd:sequence>
					<xsd:element name="is-capital-of" type="tns:CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="WarmFrontType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_WARMFRONTRequest">
		<wsdl:part name="_COUNTRY" type="tns:CountryType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_WARMFRONTResponse">
		<wsdl:part name="_WARMFRONT" type="tns:WarmFrontType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CountryWarmfrontSoap">
		<wsdl:operation name="get_WARMFRONT">
			<wsdl:input message="tns:get_WARMFRONTRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_WARMFRONTResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CountryWarmfrontSoapBinding" type="tns:CountryWarmfrontSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_WARMFRONT">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CountryWarmfront"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CountryWarmfront"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CountryWarmfrontService">
		<wsdl:port name="CountryWarmfrontSoap" binding="tns:CountryWarmfrontSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CountryWarmfront"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
