src/main/resources/wsdl/country_skilledoccupationtimeduration_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/CountrySkilledoccupationtimeduration" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CountrySkilledoccupationtimeduration-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CountrySkilledoccupationtimeduration" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CountrySkilledoccupationtimeduration" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CountrySkilledoccupationtimeduration" targetNamespace="http://127.0.0.1:8000/wsdl/CountrySkilledoccupationtimeduration">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 21:07:59 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CountrySkilledoccupationtimeduration" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/portal.owl#Country"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#SkilledOccupation"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#TimeDuration"/>
			</xsd:annotation>
			<xsd:element name="SkilledOccupation" type="SkilledOccupationType"/>
			<xsd:element name="Country" type="CountryType"/>
			<xsd:element name="TimeDuration" type="TimeDurationType"/>
			<xsd:complexType name="Government">
				<xsd:sequence>
					<xsd:element name="government-of-country" type="CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Currency">
				<xsd:sequence>
					<xsd:element name="issued-by" type="Government"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CountryType">
				<xsd:sequence>
					<xsd:element name="has-government" type="Government"/>
					<xsd:element name="has-currency" type="Currency"/>
					<xsd:element name="has-capital" type="Capital-City"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Capital-City">
				<xsd:sequence>
					<xsd:element name="is-capital-of" type="CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="TimeDurationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="SkilledOccupationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_SKILLEDOCCUPATION_TIMEDURATIONRequest">
		<wsdl:part name="_COUNTRY" type="tns:CountryType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_SKILLEDOCCUPATION_TIMEDURATIONResponse">
		<wsdl:part name="_SKILLEDOCCUPATION" type="tns:SkilledOccupationType">
    </wsdl:part>
		<wsdl:part name="_TIMEDURATION" type="tns:TimeDurationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CountrySkilledoccupationtimedurationSoap">
		<wsdl:operation name="get_SKILLEDOCCUPATION_TIMEDURATION">
			<wsdl:input message="tns:get_SKILLEDOCCUPATION_TIMEDURATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_SKILLEDOCCUPATION_TIMEDURATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CountrySkilledoccupationtimedurationSoapBinding" type="CountrySkilledoccupationtimedurationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_SKILLEDOCCUPATION_TIMEDURATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CountrySkilledoccupationtimeduration"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CountrySkilledoccupationtimeduration"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CountrySkilledoccupationtimedurationService">
		<wsdl:port name="CountrySkilledoccupationtimedurationSoap" binding="CountrySkilledoccupationtimedurationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CountrySkilledoccupationtimeduration"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
