src/main/resources/wsdl/CountryMap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CountryMap-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CountryMap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CountryMap" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CountryMap" targetNamespace="http://127.0.0.1:8000/wsdl/CountryMap">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 11 11:39:48 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CountryMap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/portal.owl#Country"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Map"/>
			</xsd:annotation>
			<xsd:element name="Map" type="tns:MapType"/>
			<xsd:element name="Country" type="tns:CountryType"/>
			<xsd:complexType name="Government">
				<xsd:sequence>
					<xsd:element name="government-of-country" type="tns:CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Currency">
				<xsd:sequence>
					<xsd:element name="issued-by" type="tns:Government"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CountryType">
				<xsd:sequence>
					<xsd:element name="has-government" type="tns:Government"/>
					<xsd:element name="has-currency" type="tns:Currency"/>
					<xsd:element name="has-capital" type="tns:Capital-City"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Capital-City">
				<xsd:sequence>
					<xsd:element name="is-capital-of" type="tns:CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="MapType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_MAPResponse">
		<wsdl:part name="_MAP" type="tns:MapType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_MAPRequest">
		<wsdl:part name="_COUNTRY" type="tns:CountryType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CountryMapSoap">
		<wsdl:operation name="get_MAP">
			<wsdl:input message="tns:get_MAPRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_MAPResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CountryMapSoapBinding" type="tns:CountryMapSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_MAP">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CountryMap"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CountryMap"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CountryMapService">
		<wsdl:port name="CountryMapSoap" binding="tns:CountryMapSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CountryMap"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
