src/main/resources/wsdl/Creditaccountbookperson.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Creditaccountbookperson-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Creditaccountbookperson" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Creditaccountbookperson" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Creditaccountbookperson" targetNamespace="http://127.0.0.1:8000/wsdl/Creditaccountbookperson">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat May 02 19:20:57 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Creditaccountbookperson" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Person"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Book"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#CreditAccount"/>
			</xsd:annotation>
			<xsd:element name="Book" type="tns:BookType"/>
			<xsd:element name="Person" type="tns:PersonType"/>
			<xsd:element name="CreditAccount" type="tns:CreditAccountType"/>
			<xsd:complexType name="BookType">
				<xsd:sequence>
					<xsd:element name="isTitled" type="tns:Title"/>
					<xsd:element name="hasType" type="tns:Book-Type"/>
					<xsd:element name="writtenBy" type="tns:Author"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Author">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CreditAccountType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Title">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PersonType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Book-Type">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getResponse">
  </wsdl:message>
	<wsdl:message name="getRequest">
		<wsdl:part name="_PERSON" type="tns:PersonType">
    </wsdl:part>
		<wsdl:part name="_BOOK" type="tns:BookType">
    </wsdl:part>
		<wsdl:part name="_CREDITACCOUNT" type="tns:CreditAccountType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CreditaccountbookpersonSoap">
		<wsdl:operation name="get">
			<wsdl:input message="tns:getRequest">
    </wsdl:input>
			<wsdl:output message="tns:getResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CreditaccountbookpersonSoapBinding" type="tns:CreditaccountbookpersonSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Creditaccountbookperson"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Creditaccountbookperson"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CreditaccountbookpersonService">
		<wsdl:port name="CreditaccountbookpersonSoap" binding="tns:CreditaccountbookpersonSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Creditaccountbookperson"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
