src/main/resources/wsdl/CyclecarRecommendedpriceineuro.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/CyclecarRecommendedpriceineuro-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/CyclecarRecommendedpriceineuro" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/CyclecarRecommendedpriceineuro" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="CyclecarRecommendedpriceineuro" targetNamespace="http://127.0.0.1:8000/wsdl/CyclecarRecommendedpriceineuro">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun May 10 02:27:16 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/CyclecarRecommendedpriceineuro" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#Car"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#Cycle"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#RecommendedPriceInEuro"/>
			</xsd:annotation>
			<xsd:element name="RecommendedPriceInEuro" type="tns:RecommendedPriceInEuroType"/>
			<xsd:element name="Car" type="tns:CarType"/>
			<xsd:element name="Cycle" type="tns:CycleType"/>
			<xsd:simpleType name="RecommendedPriceInEuroType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CycleType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RECOMMENDEDPRICEINEURORequest">
		<wsdl:part name="_CAR" type="tns:CarType">
    </wsdl:part>
		<wsdl:part name="_CYCLE" type="tns:CycleType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RECOMMENDEDPRICEINEUROResponse">
		<wsdl:part name="_RECOMMENDEDPRICEINEURO" type="tns:RecommendedPriceInEuroType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CyclecarRecommendedpriceineuroSoap">
		<wsdl:operation name="get_RECOMMENDEDPRICEINEURO">
			<wsdl:input message="tns:get_RECOMMENDEDPRICEINEURORequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RECOMMENDEDPRICEINEUROResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CyclecarRecommendedpriceineuroSoapBinding" type="tns:CyclecarRecommendedpriceineuroSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RECOMMENDEDPRICEINEURO">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CyclecarRecommendedpriceineuro"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/CyclecarRecommendedpriceineuro"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CyclecarRecommendedpriceineuroService">
		<wsdl:port name="CyclecarRecommendedpriceineuroSoap" binding="tns:CyclecarRecommendedpriceineuroSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/CyclecarRecommendedpriceineuro"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
