src/main/resources/wsdl/degreenationalgovernment_scholarship_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/DegreenationalgovernmentScholarship" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/DegreenationalgovernmentScholarship-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/DegreenationalgovernmentScholarship" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/DegreenationalgovernmentScholarship" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="DegreenationalgovernmentScholarship" targetNamespace="http://127.0.0.1:8000/wsdl/DegreenationalgovernmentScholarship">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 18:47:23 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/DegreenationalgovernmentScholarship" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#NationalGovernment"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Degree"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#Scholarship"/>
			</xsd:annotation>
			<xsd:element name="Scholarship" type="ScholarshipType"/>
			<xsd:element name="Degree" type="DegreeType"/>
			<xsd:element name="NationalGovernment" type="NationalGovernmentType"/>
			<xsd:simpleType name="ScholarshipType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="NationalGovernmentType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DegreeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_SCHOLARSHIPRequest">
		<wsdl:part name="_NATIONALGOVERNMENT" type="tns:NationalGovernmentType">
    </wsdl:part>
		<wsdl:part name="_DEGREE" type="tns:DegreeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_SCHOLARSHIPResponse">
		<wsdl:part name="_SCHOLARSHIP" type="tns:ScholarshipType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="DegreenationalgovernmentScholarshipSoap">
		<wsdl:operation name="get_SCHOLARSHIP">
			<wsdl:input message="tns:get_SCHOLARSHIPRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_SCHOLARSHIPResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DegreenationalgovernmentScholarshipSoapBinding" type="DegreenationalgovernmentScholarshipSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_SCHOLARSHIP">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DegreenationalgovernmentScholarship"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DegreenationalgovernmentScholarship"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DegreenationalgovernmentScholarshipService">
		<wsdl:port name="DegreenationalgovernmentScholarshipSoap" binding="DegreenationalgovernmentScholarshipSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/DegreenationalgovernmentScholarship"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
