src/main/resources/wsdl/degreegovernment_unilateralgiving_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/DegreegovernmentUnilateralgiving" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/DegreegovernmentUnilateralgiving-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/DegreegovernmentUnilateralgiving" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/DegreegovernmentUnilateralgiving" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="DegreegovernmentUnilateralgiving" targetNamespace="http://127.0.0.1:8000/wsdl/DegreegovernmentUnilateralgiving">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 01:59:15 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/DegreegovernmentUnilateralgiving" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Government"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Degree"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#UnilateralGiving"/>
			</xsd:annotation>
			<xsd:element name="Government" type="GovernmentType"/>
			<xsd:element name="Degree" type="DegreeType"/>
			<xsd:element name="UnilateralGiving" type="UnilateralGivingType"/>
			<xsd:simpleType name="GovernmentType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="UnilateralGivingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DegreeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_UNILATERALGIVINGRequest">
		<wsdl:part name="_GOVERNMENT" type="tns:GovernmentType">
    </wsdl:part>
		<wsdl:part name="_DEGREE" type="tns:DegreeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_UNILATERALGIVINGResponse">
		<wsdl:part name="_UNILATERALGIVING" type="tns:UnilateralGivingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="DegreegovernmentUnilateralgivingSoap">
		<wsdl:operation name="get_UNILATERALGIVING">
			<wsdl:input message="tns:get_UNILATERALGIVINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_UNILATERALGIVINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DegreegovernmentUnilateralgivingSoapBinding" type="DegreegovernmentUnilateralgivingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_UNILATERALGIVING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DegreegovernmentUnilateralgiving"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DegreegovernmentUnilateralgiving"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DegreegovernmentUnilateralgivingService">
		<wsdl:port name="DegreegovernmentUnilateralgivingSoap" binding="DegreegovernmentUnilateralgivingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/DegreegovernmentUnilateralgiving"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
