src/main/resources/wsdl/degree_lendingduration_GermanGovservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/DegreeLendingduration" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/DegreeLendingduration-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/DegreeLendingduration" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/DegreeLendingduration" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="DegreeLendingduration" targetNamespace="http://127.0.0.1:8000/wsdl/DegreeLendingduration">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 25 02:07:11 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/DegreeLendingduration" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Degree"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#Lending"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/support.owl#Duration"/>
			</xsd:annotation>
			<xsd:element name="Degree" type="DegreeType"/>
			<xsd:element name="Lending" type="LendingType"/>
			<xsd:element name="Duration" type="DurationType"/>
			<xsd:complexType name="DurationType">
				<xsd:choice>
					<xsd:element name="durationID" type="DurationDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="has-unit-of-measure" type="Time-Measure"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:simpleType name="DurationDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="twelve-month-duration"/>
					<xsd:enumeration value="thirty-day-duration"/>
					<xsd:enumeration value="twentyfour-hour-duration"/>
					<xsd:enumeration value="twentyeight-day-duration"/>
					<xsd:enumeration value="thirtyone-day-duration"/>
					<xsd:enumeration value="seven-day-duration"/>
					<xsd:enumeration value="twentynine-day-duration"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Time-Measure">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="time-measure-day"/>
					<xsd:enumeration value="time-measure-hour"/>
					<xsd:enumeration value="time-measure-year"/>
					<xsd:enumeration value="time-measure-second"/>
					<xsd:enumeration value="time-measure-minute"/>
					<xsd:enumeration value="time-measure-month"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LendingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DegreeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_LENDING_DURATIONResponse">
		<wsdl:part name="_LENDING" type="tns:LendingType">
    </wsdl:part>
		<wsdl:part name="_DURATION" type="tns:DurationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_LENDING_DURATIONRequest">
		<wsdl:part name="_DEGREE" type="tns:DegreeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="DegreeLendingdurationSoap">
		<wsdl:operation name="get_LENDING_DURATION">
			<wsdl:input message="tns:get_LENDING_DURATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_LENDING_DURATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DegreeLendingdurationSoapBinding" type="DegreeLendingdurationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_LENDING_DURATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DegreeLendingduration"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DegreeLendingduration"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DegreeLendingdurationService">
		<wsdl:port name="DegreeLendingdurationSoap" binding="DegreeLendingdurationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/DegreeLendingduration"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
