src/main/resources/wsdl/DrugstoreTea.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/DrugstoreTea-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/DrugstoreTea" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/DrugstoreTea" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="DrugstoreTea" targetNamespace="http://127.0.0.1:8000/wsdl/DrugstoreTea">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 14 19:25:26 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/DrugstoreTea" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#DrugStore"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Tea"/>
			</xsd:annotation>
			<xsd:element name="DrugStore" type="tns:DrugStoreType"/>
			<xsd:element name="Tea" type="tns:TeaType"/>
			<xsd:simpleType name="TeaType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DrugStoreType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_TEARequest">
		<wsdl:part name="_DRUGSTORE" type="tns:DrugStoreType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_TEAResponse">
		<wsdl:part name="_TEA" type="tns:TeaType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="DrugstoreTeaSoap">
		<wsdl:operation name="get_TEA">
			<wsdl:input message="tns:get_TEARequest">
    </wsdl:input>
			<wsdl:output message="tns:get_TEAResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DrugstoreTeaSoapBinding" type="tns:DrugstoreTeaSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_TEA">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DrugstoreTea"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DrugstoreTea"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DrugstoreTeaService">
		<wsdl:port name="DrugstoreTeaSoap" binding="tns:DrugstoreTeaSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/DrugstoreTea"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
