src/main/resources/wsdl/Durationgeopolitical-entitycityHotel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Durationgeopolitical-entitycityHotel-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Durationgeopolitical-entitycityHotel" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Durationgeopolitical-entitycityHotel" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Durationgeopolitical-entitycityHotel" targetNamespace="http://127.0.0.1:8000/wsdl/Durationgeopolitical-entitycityHotel">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 14 19:39:25 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Durationgeopolitical-entitycityHotel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/travel.owl#City"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Geopolitical-Entity"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/support.owl#Duration"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/travel.owl#Hotel"/>
			</xsd:annotation>
			<xsd:element name="Hotel" type="tns:HotelType"/>
			<xsd:element name="Geopolitical-Entity" type="tns:Geopolitical-EntityType"/>
			<xsd:element name="City" type="tns:CityType"/>
			<xsd:element name="Duration" type="tns:DurationType"/>
			<xsd:complexType name="LuxuryHotel">
				<xsd:choice>
					<xsd:element name="luxuryHotelID" type="tns:LuxuryHotelDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="hasRating" type="tns:LuxuryHotelAccommodationRating"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="AccommodationRating">
				<xsd:choice>
					<xsd:element name="accommodationRatingID" type="tns:AccommodationRatingDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="CityType">
				<xsd:choice>
					<xsd:element name="cityID" type="tns:CityDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="hasAccommodation" type="tns:LuxuryHotel"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="DurationType">
				<xsd:choice>
					<xsd:element name="durationID" type="tns:DurationDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="has-unit-of-measure" type="tns:Time-Measure"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="LuxuryHotelAccommodationRating">
				<xsd:complexContent>
					<xsd:restriction base="tns:AccommodationRating">
						<xsd:choice>
							<xsd:element name="accommodationRatingID" type="tns:LuxuryHotelAccommodationRatingDATA"/>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="name" type="xsd:string"/>
							</xsd:sequence>
						</xsd:choice>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:simpleType name="LuxuryHotelAccommodationRatingDATA">
				<xsd:restriction base="tns:AccommodationRatingDATA">
					<xsd:enumeration value="ThreeStarRating"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LuxuryHotelDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="FourSeasons"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="AccommodationRatingDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="TwoStarRating"/>
					<xsd:enumeration value="OneStarRating"/>
					<xsd:enumeration value="ThreeStarRating"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CityDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Cairns"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="HotelType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DurationDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="twelve-month-duration"/>
					<xsd:enumeration value="thirty-day-duration"/>
					<xsd:enumeration value="twentyfour-hour-duration"/>
					<xsd:enumeration value="twentyeight-day-duration"/>
					<xsd:enumeration value="thirtyone-day-duration"/>
					<xsd:enumeration value="seven-day-duration"/>
					<xsd:enumeration value="twentynine-day-duration"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Geopolitical-EntityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Time-Measure">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="time-measure-day"/>
					<xsd:enumeration value="time-measure-hour"/>
					<xsd:enumeration value="time-measure-year"/>
					<xsd:enumeration value="time-measure-second"/>
					<xsd:enumeration value="time-measure-minute"/>
					<xsd:enumeration value="time-measure-month"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_HOTELResponse">
		<wsdl:part name="_HOTEL" type="tns:HotelType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_HOTELRequest">
		<wsdl:part name="_CITY" type="tns:CityType">
    </wsdl:part>
		<wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
    </wsdl:part>
		<wsdl:part name="_DURATION" type="tns:DurationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Durationgeopolitical-entitycityHotelSoap">
		<wsdl:operation name="get_HOTEL">
			<wsdl:input message="tns:get_HOTELRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_HOTELResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Durationgeopolitical-entitycityHotelSoapBinding" type="tns:Durationgeopolitical-entitycityHotelSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_HOTEL">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Durationgeopolitical-entitycityHotel"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Durationgeopolitical-entitycityHotel"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Durationgeopolitical-entitycityHotelService">
		<wsdl:port name="Durationgeopolitical-entitycityHotelSoap" binding="tns:Durationgeopolitical-entitycityHotelSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Durationgeopolitical-entitycityHotel"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
