src/main/resources/wsdl/Dvdplayermp3playerPricemessage1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Dvdplayermp3playerPricemessage1-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Dvdplayermp3playerPricemessage1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Dvdplayermp3playerPricemessage1" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Dvdplayermp3playerPricemessage1" targetNamespace="http://127.0.0.1:8000/wsdl/Dvdplayermp3playerPricemessage1">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Apr 25 16:04:20 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Dvdplayermp3playerPricemessage1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#MP3Player"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#DVDPlayer"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#RecommendedPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-Chttp://127.0.0.1:8000/ontology/0.0.1/ontology/portal.owl#Message"/>
			</xsd:annotation>
			<xsd:element name="Message" type="tns:MessageType"/>
			<xsd:element name="DVDPlayer" type="tns:DVDPlayerType"/>
			<xsd:element name="RecommendedPrice" type="tns:RecommendedPriceType"/>
			<xsd:element name="MP3Player" type="tns:MP3PlayerType"/>
			<xsd:complexType name="Time-Point">
				<xsd:sequence>
					<xsd:element name="second-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="minute-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="month-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="day-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="hour-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="year-of" type="xsd:nonNegativeInteger"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MessageType">
				<xsd:sequence>
					<xsd:element name="time-of-message" type="tns:Time-Point"/>
					<xsd:element name="recipient-of-message" type="tns:Generic-Agent"/>
					<xsd:element name="sender-of-message" type="tns:Generic-Agent"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="RecommendedPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Generic-Agent">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DVDPlayerType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MP3PlayerType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RECPRICE_MESSAGERequest">
		<wsdl:part name="_MP3PLAYER" type="tns:MP3PlayerType">
    </wsdl:part>
		<wsdl:part name="_DVDPLAYER" type="tns:DVDPlayerType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RECPRICE_MESSAGEResponse">
		<wsdl:part name="_RECPRICE" type="tns:RecommendedPriceType">
    </wsdl:part>
		<wsdl:part name="_MESSAGE" type="tns:MessageType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Dvdplayermp3playerPricemessageSoap">
		<wsdl:operation name="get_RECPRICE_MESSAGE">
			<wsdl:input message="tns:get_RECPRICE_MESSAGERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RECPRICE_MESSAGEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Dvdplayermp3playerPricemessageSoapBinding" type="tns:Dvdplayermp3playerPricemessageSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RECPRICE_MESSAGE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Dvdplayermp3playerPricemessage1"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Dvdplayermp3playerPricemessage1"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Dvdplayermp3playerPricemessageService">
		<wsdl:port name="Dvdplayermp3playerPricemessageSoap" binding="tns:Dvdplayermp3playerPricemessageSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Dvdplayermp3playerPricemessage1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
