src/main/resources/wsdl/DvdplayerMaxprice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/DvdplayerMaxprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/DvdplayerMaxprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/DvdplayerMaxprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="DvdplayerMaxprice" targetNamespace="http://127.0.0.1:8000/wsdl/DvdplayerMaxprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 12 17:20:47 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/DvdplayerMaxprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#DVDPlayer"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#MaxPrice"/>
			</xsd:annotation>
			<xsd:element name="DVDPlayer" type="tns:DVDPlayerType"/>
			<xsd:element name="MaxPrice" type="tns:MaxPriceType"/>
			<xsd:simpleType name="MaxPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DVDPlayerType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_MAXPRICERequest">
		<wsdl:part name="_DVDPLAYER" type="tns:DVDPlayerType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_MAXPRICEResponse">
		<wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="DvdplayerMaxpriceSoap">
		<wsdl:operation name="get_MAXPRICE">
			<wsdl:input message="tns:get_MAXPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_MAXPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DvdplayerMaxpriceSoapBinding" type="tns:DvdplayerMaxpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_MAXPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DvdplayerMaxprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DvdplayerMaxprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DvdplayerMaxpriceService">
		<wsdl:port name="DvdplayerMaxpriceSoap" binding="tns:DvdplayerMaxpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/DvdplayerMaxprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
