src/main/resources/wsdl/DvdplayerTaxedprice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/DvdplayerTaxedprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/DvdplayerTaxedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/DvdplayerTaxedprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="DvdplayerTaxedprice" targetNamespace="http://127.0.0.1:8000/wsdl/DvdplayerTaxedprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 12 17:23:32 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/DvdplayerTaxedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#DVDPlayer"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#TaxedPrice"/>
			</xsd:annotation>
			<xsd:element name="TaxedPrice" type="tns:TaxedPriceType"/>
			<xsd:element name="DVDPlayer" type="tns:DVDPlayerType"/>
			<xsd:complexType name="TaxedPriceType">
				<xsd:sequence>
					<xsd:element name="Fine" type="tns:Thing"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="DVDPlayerType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Thing">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_TAXEDPRICEResponse">
		<wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_TAXEDPRICERequest">
		<wsdl:part name="_DVDPLAYER" type="tns:DVDPlayerType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="DvdplayerTaxedpriceSoap">
		<wsdl:operation name="get_TAXEDPRICE">
			<wsdl:input message="tns:get_TAXEDPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_TAXEDPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DvdplayerTaxedpriceSoapBinding" type="tns:DvdplayerTaxedpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_TAXEDPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DvdplayerTaxedprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DvdplayerTaxedprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DvdplayerTaxedpriceService">
		<wsdl:port name="DvdplayerTaxedpriceSoap" binding="tns:DvdplayerTaxedpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/DvdplayerTaxedprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
