src/main/resources/wsdl/Ebookorder3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Ebookorder3-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Ebookorder3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Ebookorder3" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Ebookorder3" targetNamespace="http://127.0.0.1:8000/wsdl/Ebookorder3">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri May 15 20:19:09 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Ebookorder3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Title"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#User"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/books.owl#Book"/>
			</xsd:annotation>
			<xsd:element name="Book" type="tns:BookType"/>
			<xsd:element name="Title" type="tns:TitleType"/>
			<xsd:element name="User" type="tns:UserType"/>
			<xsd:complexType name="BookType">
				<xsd:sequence>
					<xsd:element name="isTitled" type="tns:TitleType"/>
					<xsd:element name="hasType" type="tns:Book-Type"/>
					<xsd:element name="writtenBy" type="tns:Author"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Author">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TitleType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Book-Type">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="UserType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getEBookRequest">
		<wsdl:part name="EBookRequest" type="tns:TitleType">
    </wsdl:part>
		<wsdl:part name="UserAccount" type="tns:UserType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getEBookResponse">
		<wsdl:part name="EBook" type="tns:BookType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Ebookorder3Soap">
		<wsdl:operation name="getEBook">
			<wsdl:input message="tns:getEBookRequest">
    </wsdl:input>
			<wsdl:output message="tns:getEBookResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Ebookorder3SoapBinding" type="tns:Ebookorder3Soap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getEBook">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Ebookorder3"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Ebookorder3"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Ebookorder3Service">
		<wsdl:port name="Ebookorder3Soap" binding="tns:Ebookorder3SoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Ebookorder3"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
