src/main/resources/wsdl/ExpensivecarRecommendedpricecolor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/ExpensivecarRecommendedpricecolor-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/ExpensivecarRecommendedpricecolor" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/ExpensivecarRecommendedpricecolor" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="ExpensivecarRecommendedpricecolor" targetNamespace="http://127.0.0.1:8000/wsdl/ExpensivecarRecommendedpricecolor">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri May 15 23:06:59 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/ExpensivecarRecommendedpricecolor" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#ExpensiveCar"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#RecommendedPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/my_ontology.owl#Color"/>
			</xsd:annotation>
			<xsd:element name="ExpensiveCar" type="tns:ExpensiveCarType"/>
			<xsd:element name="Color" type="tns:ColorType"/>
			<xsd:element name="RecommendedPrice" type="tns:RecommendedPriceType"/>
			<xsd:simpleType name="RecommendedPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ColorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ExpensiveCarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RECOMMENDEDPRICE_COLORRequest">
		<wsdl:part name="_EXPENSIVECAR" type="tns:ExpensiveCarType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RECOMMENDEDPRICE_COLORResponse">
		<wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
    </wsdl:part>
		<wsdl:part name="_COLOR" type="tns:ColorType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ExpensivecarRecommendedpricecolorSoap">
		<wsdl:operation name="get_RECOMMENDEDPRICE_COLOR">
			<wsdl:input message="tns:get_RECOMMENDEDPRICE_COLORRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RECOMMENDEDPRICE_COLORResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ExpensivecarRecommendedpricecolorSoapBinding" type="tns:ExpensivecarRecommendedpricecolorSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RECOMMENDEDPRICE_COLOR">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ExpensivecarRecommendedpricecolor"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ExpensivecarRecommendedpricecolor"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ExpensivecarRecommendedpricecolorService">
		<wsdl:port name="ExpensivecarRecommendedpricecolorSoap" binding="tns:ExpensivecarRecommendedpricecolorSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/ExpensivecarRecommendedpricecolor"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
