src/main/resources/wsdl/FastcarRecommendedprice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/FastcarRecommendedprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/FastcarRecommendedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/FastcarRecommendedprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="FastcarRecommendedprice" targetNamespace="http://127.0.0.1:8000/wsdl/FastcarRecommendedprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat May 16 15:46:47 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/FastcarRecommendedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#FastCar"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#RecommendedPrice"/>
			</xsd:annotation>
			<xsd:element name="FastCar" type="tns:FastCarType"/>
			<xsd:element name="RecommendedPrice" type="tns:RecommendedPriceType"/>
			<xsd:simpleType name="RecommendedPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="FastCarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RECOMMENDEDPRICERequest">
		<wsdl:part name="_FASTCAR" type="tns:FastCarType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RECOMMENDEDPRICEResponse">
		<wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="FastcarRecommendedpriceSoap">
		<wsdl:operation name="get_RECOMMENDEDPRICE">
			<wsdl:input message="tns:get_RECOMMENDEDPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RECOMMENDEDPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FastcarRecommendedpriceSoapBinding" type="tns:FastcarRecommendedpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RECOMMENDEDPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/FastcarRecommendedprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/FastcarRecommendedprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FastcarRecommendedpriceService">
		<wsdl:port name="FastcarRecommendedpriceSoap" binding="tns:FastcarRecommendedpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/FastcarRecommendedprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
