src/main/resources/wsdl/Film.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Film-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Film" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Film" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Film" targetNamespace="http://127.0.0.1:8000/wsdl/Film">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 14 13:24:03 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Film" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/my_ontology.owl#Film"/>
			</xsd:annotation>
			<xsd:element name="Film" type="tns:FilmType"/>
			<xsd:complexType name="FilmType">
				<xsd:sequence>
					<xsd:element name="Title"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_FILMRequest">
  </wsdl:message>
	<wsdl:message name="get_FILMResponse">
		<wsdl:part name="_FILM" type="tns:FilmType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="FilmSoap">
		<wsdl:operation name="get_FILM">
			<wsdl:input message="tns:get_FILMRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_FILMResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FilmSoapBinding" type="tns:FilmSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_FILM">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Film"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Film"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FilmService">
		<wsdl:port name="FilmSoap" binding="tns:FilmSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Film"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
