src/main/resources/wsdl/findNearbyPostalCodes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/NearbyPostalCodes" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/NearbyPostalCodes-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/NearbyPostalCodes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/NearbyPostalCodes" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="NearbyPostalCodes" targetNamespace="http://127.0.0.1:8000/wsdl/NearbyPostalCodes">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed Jun 09 10:46:53 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/NearbyPostalCodes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/geographydataset.owl#Code"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/geographydataset.owl#GeographicDistanceKilometerLengthUnit"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/protont.owl#Number"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/protont.owl#latitude"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/protont.owl#longitude"/>
				<xsd:documentation source="Translationhttp://127.0.0.1:8000/ontology/ttp://127.0.0.1/ontology/geographydataset.owl#PostalCode"/>
			</xsd:annotation>
			<xsd:element name="PostalCode" type="PostalCodeType"/>
			<xsd:element name="Code" type="CodeType"/>
			<xsd:element name="GeographicDistanceKilometerLengthUnit" type="GeographicDistanceKilometerLengthUnitType"/>
			<xsd:element name="Number" type="NumberType"/>
			<xsd:element name="longitude" type="longitudeType"/>
			<xsd:element name="latitude" type="latitudeType"/>
			<xsd:simpleType name="GeographicDistanceKilometerLengthUnitType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="NumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="longitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="latitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CodeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PostalCodeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_POSTALCODEResponse">
		<wsdl:part name="_POSTALCODE" type="tns:PostalCodeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_POSTALCODERequest">
		<wsdl:part name="_LICENSEKEY" type="tns:CodeType">
    </wsdl:part>
		<wsdl:part name="_RADIUS" type="tns:GeographicDistanceKilometerLengthUnitType">
    </wsdl:part>
		<wsdl:part name="_MAX-RESULTS" type="tns:NumberType">
    </wsdl:part>
		<wsdl:part name="_LATITUDE" type="tns:latitudeType">
    </wsdl:part>
		<wsdl:part name="_LONGITUDE" type="tns:longitudeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="NearbyPostalCodesSoap">
		<wsdl:operation name="get_POSTALCODE">
			<wsdl:input message="tns:get_POSTALCODERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_POSTALCODEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NearbyPostalCodesSoapBinding" type="NearbyPostalCodesSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_POSTALCODE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/NearbyPostalCodes"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/NearbyPostalCodes"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NearbyPostalCodesService">
		<wsdl:port name="NearbyPostalCodesSoap" binding="NearbyPostalCodesSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/NearbyPostalCodes"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
