src/main/resources/wsdl/flip_down_slider.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1/isreal/wsdl/Flipdownslider" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/isreal/wsdl/Flipdownslider-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/isreal/wsdl/Flipdownslider" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/isreal/wsdl/Flipdownslider" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Flipdownslider" targetNamespace="http://127.0.0.1/isreal/wsdl/Flipdownslider">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon Sep 14 21:37:31 CEST 2009" targetNamespace="http://127.0.0.1/isreal/wsdl/Flipdownslider" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/isreal/messemodul.owl#MesseModul"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/isreal/messemodul.owl#Slider"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/isreal/messemodul.owl#Cup"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/isreal/messemodul.owl#UltraSoundSensor"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/isreal/messemodul.owl#ContactSensor"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/isreal/messemodul.owl#Carriage"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/isreal/spatial_ontology.owl#SpatialZone"/>
			</xsd:annotation>
			<xsd:element name="UltraSoundSensor" type="UltraSoundSensorType"/>
			<xsd:element name="Carriage" type="CarriageType"/>
			<xsd:element name="ContactSensor" type="ContactSensorType"/>
			<xsd:element name="SpatialZone" type="SpatialZoneType"/>
			<xsd:element name="Slider" type="SliderType"/>
			<xsd:element name="Cup" type="CupType"/>
			<xsd:element name="MesseModul" type="MesseModulType"/>
			<xsd:simpleType name="SpatialZoneType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="slider01CargoArea"/>
					<xsd:enumeration value="doser02CargoArea"/>
					<xsd:enumeration value="carriage01CargoArea"/>
					<xsd:enumeration value="magazin03CargoArea"/>
					<xsd:enumeration value="doser01CargoArea"/>
					<xsd:enumeration value="magazin01CargoArea"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CupType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="cup01"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CarriageType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="carriage01"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ContactSensorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MesseModulType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="UltraSoundSensorType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ultraSoundSensor01"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="SliderType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="slider01"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getSliderCupUltraSoundSensorContactSensorCarriageCarriageSpatialZoneResponse">
		<wsdl:part name="Slider" type="tns:SliderType">
    </wsdl:part>
		<wsdl:part name="Cup" type="tns:CupType">
    </wsdl:part>
		<wsdl:part name="UltraSoundSensor" type="tns:UltraSoundSensorType">
    </wsdl:part>
		<wsdl:part name="ContactSensor" type="tns:ContactSensorType">
    </wsdl:part>
		<wsdl:part name="Carriage" type="tns:CarriageType">
    </wsdl:part>
		<wsdl:part name="CarriageSpatialZone" type="tns:SpatialZoneType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSliderCupUltraSoundSensorContactSensorCarriageCarriageSpatialZoneRequest">
		<wsdl:part name="MesseModul" type="tns:MesseModulType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="FlipdownsliderSoap">
		<wsdl:operation name="getSliderCupUltraSoundSensorContactSensorCarriageCarriageSpatialZone">
			<wsdl:input message="tns:getSliderCupUltraSoundSensorContactSensorCarriageCarriageSpatialZoneRequest">
    </wsdl:input>
			<wsdl:output message="tns:getSliderCupUltraSoundSensorContactSensorCarriageCarriageSpatialZoneResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FlipdownsliderSoapBinding" type="FlipdownsliderSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getSliderCupUltraSoundSensorContactSensorCarriageCarriageSpatialZone">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/isreal/wsdl/Flipdownslider"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/isreal/wsdl/Flipdownslider"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FlipdownsliderService">
		<wsdl:port name="FlipdownsliderSoap" binding="FlipdownsliderSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1/isreal/wsdl/Flipdownslider"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
