src/main/resources/wsdl/Food.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Food-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Food" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Food" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Food" targetNamespace="http://127.0.0.1:8000/wsdl/Food">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri May 15 23:17:20 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Food" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Food"/>
			</xsd:annotation>
			<xsd:element name="Food" type="tns:FoodType"/>
			<xsd:simpleType name="FoodType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_FOODResponse">
		<wsdl:part name="_FOOD" type="tns:FoodType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_FOODRequest">
  </wsdl:message>
	<wsdl:portType name="FoodSoap">
		<wsdl:operation name="get_FOOD">
			<wsdl:input message="tns:get_FOODRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_FOODResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FoodSoapBinding" type="tns:FoodSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_FOOD">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Food"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Food"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FoodService">
		<wsdl:port name="FoodSoap" binding="tns:FoodSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Food"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
