src/main/resources/wsdl/FoodMaxpricequantity1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/FoodMaxpricequantity1-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/FoodMaxpricequantity1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/FoodMaxpricequantity1" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="FoodMaxpricequantity1" targetNamespace="http://127.0.0.1:8000/wsdl/FoodMaxpricequantity1">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Apr 25 16:31:25 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/FoodMaxpricequantity1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Food"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#MaxPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/support.owl#Quantity"/>
			</xsd:annotation>
			<xsd:element name="Food" type="tns:FoodType"/>
			<xsd:element name="MaxPrice" type="tns:MaxPriceType"/>
			<xsd:element name="Quantity" type="tns:QuantityType"/>
			<xsd:simpleType name="FoodType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MaxPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="QuantityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_MAXPRICE_QUANTITYRequest">
		<wsdl:part name="_FOOD" type="tns:FoodType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_MAXPRICE_QUANTITYResponse">
		<wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
    </wsdl:part>
		<wsdl:part name="_QUANTITY" type="tns:QuantityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="FoodMaxpricequantitySoap">
		<wsdl:operation name="get_MAXPRICE_QUANTITY">
			<wsdl:input message="tns:get_MAXPRICE_QUANTITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_MAXPRICE_QUANTITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FoodMaxpricequantitySoapBinding" type="tns:FoodMaxpricequantitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_MAXPRICE_QUANTITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/FoodMaxpricequantity1"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/FoodMaxpricequantity1"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FoodMaxpricequantityService">
		<wsdl:port name="FoodMaxpricequantitySoap" binding="tns:FoodMaxpricequantitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/FoodMaxpricequantity1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
