src/main/resources/wsdl/FranceMap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Map-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/FranceMap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/FranceMap" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="FranceMap" targetNamespace="http://127.0.0.1:8000/wsdl/FranceMap">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 21 20:13:21 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/FranceMap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Map"/>
			</xsd:annotation>
			<xsd:element name="Map" type="tns:MapType"/>
			<xsd:simpleType name="MapType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_MAPResponse">
		<wsdl:part name="_MAP" type="tns:MapType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_MAPRequest">
  </wsdl:message>
	<wsdl:portType name="MapSoap">
		<wsdl:operation name="get_MAP">
			<wsdl:input message="tns:get_MAPRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_MAPResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MapSoapBinding" type="tns:MapSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_MAP">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/FranceMap"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/FranceMap"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MapService">
		<wsdl:port name="MapSoap" binding="tns:MapSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/FranceMap"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
