src/main/resources/wsdl/generic-agentsports_destination_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Generic-agentsportsDestination" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Generic-agentsportsDestination-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Generic-agentsportsDestination" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Generic-agentsportsDestination" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Generic-agentsportsDestination" targetNamespace="http://127.0.0.1:8000/wsdl/Generic-agentsportsDestination">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Jun 06 17:39:44 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Generic-agentsportsDestination" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Sports"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Generic-Agent"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/travel.owl#Destination"/>
			</xsd:annotation>
			<xsd:element name="Destination" type="DestinationType"/>
			<xsd:element name="Sports" type="SportsType"/>
			<xsd:element name="Generic-Agent" type="Generic-AgentType"/>
			<xsd:simpleType name="SportsType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DestinationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Generic-AgentType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DESTINATIONRequest">
		<wsdl:part name="_SPORTS" type="tns:SportsType">
    </wsdl:part>
		<wsdl:part name="_GENERIC-AGENT" type="tns:Generic-AgentType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DESTINATIONResponse">
		<wsdl:part name="_DESTINATION" type="tns:DestinationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Generic-agentsportsDestinationSoap">
		<wsdl:operation name="get_DESTINATION">
			<wsdl:input message="tns:get_DESTINATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DESTINATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Generic-agentsportsDestinationSoapBinding" type="Generic-agentsportsDestinationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DESTINATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Generic-agentsportsDestination"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Generic-agentsportsDestination"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Generic-agentsportsDestinationService">
		<wsdl:port name="Generic-agentsportsDestinationSoap" binding="Generic-agentsportsDestinationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Generic-agentsportsDestination"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
