src/main/resources/wsdl/Geographical-regionWeathersystem.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geographical-regionWeathersystem-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geographical-regionWeathersystem" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geographical-regionWeathersystem" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geographical-regionWeathersystem" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionWeathersystem">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 21 21:10:05 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionWeathersystem" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geographical-Region"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#WeatherSystem"/>
			</xsd:annotation>
			<xsd:element name="Geographical-Region" type="tns:Geographical-RegionType"/>
			<xsd:element name="WeatherSystem" type="tns:WeatherSystemType"/>
			<xsd:simpleType name="WeatherSystemType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Geographical-RegionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_WEATHERSYSTEMRequest">
		<wsdl:part name="_GEOGRAPHICAL-REGION" type="tns:Geographical-RegionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_WEATHERSYSTEMResponse">
		<wsdl:part name="_WEATHERSYSTEM" type="tns:WeatherSystemType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geographical-regionWeathersystemSoap">
		<wsdl:operation name="get_WEATHERSYSTEM">
			<wsdl:input message="tns:get_WEATHERSYSTEMRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_WEATHERSYSTEMResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geographical-regionWeathersystemSoapBinding" type="tns:Geographical-regionWeathersystemSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_WEATHERSYSTEM">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionWeathersystem"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionWeathersystem"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geographical-regionWeathersystemService">
		<wsdl:port name="Geographical-regionWeathersystemSoap" binding="tns:Geographical-regionWeathersystemSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geographical-regionWeathersystem"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
