src/main/resources/wsdl/Geographical-regionBedandbreakfast.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geographical-regionBedandbreakfast-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geographical-regionBedandbreakfast" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geographical-regionBedandbreakfast" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geographical-regionBedandbreakfast" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionBedandbreakfast">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 21 21:52:43 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionBedandbreakfast" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geographical-Region"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#BedAndBreakfast"/>
			</xsd:annotation>
			<xsd:element name="BedAndBreakfast" type="tns:BedAndBreakfastType"/>
			<xsd:element name="Geographical-Region" type="tns:Geographical-RegionType"/>
			<xsd:simpleType name="Geographical-RegionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="BedAndBreakfastType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_BEDANDBREAKFASTRequest">
		<wsdl:part name="_GEOGRAPHICAL-REGION" type="tns:Geographical-RegionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_BEDANDBREAKFASTResponse">
		<wsdl:part name="_BEDANDBREAKFAST" type="tns:BedAndBreakfastType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geographical-regionBedandbreakfastSoap">
		<wsdl:operation name="get_BEDANDBREAKFAST">
			<wsdl:input message="tns:get_BEDANDBREAKFASTRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_BEDANDBREAKFASTResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geographical-regionBedandbreakfastSoapBinding" type="tns:Geographical-regionBedandbreakfastSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_BEDANDBREAKFAST">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionBedandbreakfast"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionBedandbreakfast"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geographical-regionBedandbreakfastService">
		<wsdl:port name="Geographical-regionBedandbreakfastSoap" binding="tns:Geographical-regionBedandbreakfastSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geographical-regionBedandbreakfast"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
