src/main/resources/wsdl/Geographical-regionCompanyprofession.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geographical-regionCompanyprofession-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geographical-regionCompanyprofession" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geographical-regionCompanyprofession" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geographical-regionCompanyprofession" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionCompanyprofession">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 21 21:56:43 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionCompanyprofession" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geographical-Region"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/finance_th_web.owl#company"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#Profession"/>
			</xsd:annotation>
			<xsd:element name="company" type="tns:companyType"/>
			<xsd:element name="Geographical-Region" type="tns:Geographical-RegionType"/>
			<xsd:element name="Profession" type="tns:ProfessionType"/>
			<xsd:simpleType name="Geographical-RegionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ProfessionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="companyType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_COMPANY_PROFESSIONRequest">
		<wsdl:part name="_GEOGRAPHICAL-REGION" type="tns:Geographical-RegionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_COMPANY_PROFESSIONResponse">
		<wsdl:part name="_COMPANY" type="tns:companyType">
    </wsdl:part>
		<wsdl:part name="_PROFESSION" type="tns:ProfessionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geographical-regionCompanyprofessionSoap">
		<wsdl:operation name="get_COMPANY_PROFESSION">
			<wsdl:input message="tns:get_COMPANY_PROFESSIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_COMPANY_PROFESSIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geographical-regionCompanyprofessionSoapBinding" type="tns:Geographical-regionCompanyprofessionSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_COMPANY_PROFESSION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionCompanyprofession"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionCompanyprofession"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geographical-regionCompanyprofessionService">
		<wsdl:port name="Geographical-regionCompanyprofessionSoap" binding="tns:Geographical-regionCompanyprofessionSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geographical-regionCompanyprofession"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
