src/main/resources/wsdl/Geographical-regionWarmfront.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geographical-regionWarmfront-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geographical-regionWarmfront" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geographical-regionWarmfront" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geographical-regionWarmfront" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionWarmfront">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri May 22 22:30:12 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionWarmfront" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geographical-Region"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#WarmFront"/>
			</xsd:annotation>
			<xsd:element name="WarmFront" type="tns:WarmFrontType"/>
			<xsd:element name="Geographical-Region" type="tns:Geographical-RegionType"/>
			<xsd:simpleType name="WarmFrontType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Geographical-RegionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_WARMFRONTRequest">
		<wsdl:part name="_GEOGRAPHICAL-REGION" type="tns:Geographical-RegionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_WARMFRONTResponse">
		<wsdl:part name="_WARMFRONT" type="tns:WarmFrontType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geographical-regionWarmfrontSoap">
		<wsdl:operation name="get_WARMFRONT">
			<wsdl:input message="tns:get_WARMFRONTRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_WARMFRONTResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geographical-regionWarmfrontSoapBinding" type="tns:Geographical-regionWarmfrontSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_WARMFRONT">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionWarmfront"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionWarmfront"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geographical-regionWarmfrontService">
		<wsdl:port name="Geographical-regionWarmfrontSoap" binding="tns:Geographical-regionWarmfrontSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geographical-regionWarmfront"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
