src/main/resources/wsdl/Geographical-regionOrganizationoccupationaltrade.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geographical-regionOrganizationoccupationaltrade-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geographical-regionOrganizationoccupationaltrade" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geographical-regionOrganizationoccupationaltrade" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geographical-regionOrganizationoccupationaltrade" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionOrganizationoccupationaltrade">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri May 22 22:23:05 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionOrganizationoccupationaltrade" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geographical-Region"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/finance_th_web.owl#organization"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#OccupationalTrade"/>
			</xsd:annotation>
			<xsd:element name="organization" type="tns:organizationType"/>
			<xsd:element name="Geographical-Region" type="tns:Geographical-RegionType"/>
			<xsd:element name="OccupationalTrade" type="tns:OccupationalTradeType"/>
			<xsd:simpleType name="OccupationalTradeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="organizationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Geographical-RegionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_ORGANIZATION_OCCUPATIONALTRADERequest">
		<wsdl:part name="_GEOGRAPHICAL-REGION" type="tns:Geographical-RegionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_ORGANIZATION_OCCUPATIONALTRADEResponse">
		<wsdl:part name="_ORGANIZATION" type="tns:organizationType">
    </wsdl:part>
		<wsdl:part name="_OCCUPATIONALTRADE" type="tns:OccupationalTradeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geographical-regionOrganizationoccupationaltradeSoap">
		<wsdl:operation name="get_ORGANIZATION_OCCUPATIONALTRADE">
			<wsdl:input message="tns:get_ORGANIZATION_OCCUPATIONALTRADERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_ORGANIZATION_OCCUPATIONALTRADEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geographical-regionOrganizationoccupationaltradeSoapBinding" type="tns:Geographical-regionOrganizationoccupationaltradeSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_ORGANIZATION_OCCUPATIONALTRADE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionOrganizationoccupationaltrade"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionOrganizationoccupationaltrade"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geographical-regionOrganizationoccupationaltradeService">
		<wsdl:port name="Geographical-regionOrganizationoccupationaltradeSoap" binding="tns:Geographical-regionOrganizationoccupationaltradeSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geographical-regionOrganizationoccupationaltrade"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
