src/main/resources/wsdl/Geographical-regionAccomodation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geographical-regionAccomodation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geographical-regionAccomodation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geographical-regionAccomodation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geographical-regionAccomodation" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionAccomodation">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 21 21:50:06 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionAccomodation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geographical-Region"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#Accommodation"/>
			</xsd:annotation>
			<xsd:element name="Accommodation" type="tns:AccommodationType"/>
			<xsd:element name="Geographical-Region" type="tns:Geographical-RegionType"/>
			<xsd:simpleType name="AccommodationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Geographical-RegionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_ACCOMODATIONResponse">
		<wsdl:part name="_ACCOMODATION" type="tns:AccommodationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_ACCOMODATIONRequest">
		<wsdl:part name="_GEOGRAPHICAL-REGION" type="tns:Geographical-RegionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geographical-regionAccomodationSoap">
		<wsdl:operation name="get_ACCOMODATION">
			<wsdl:input message="tns:get_ACCOMODATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_ACCOMODATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geographical-regionAccomodationSoapBinding" type="tns:Geographical-regionAccomodationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_ACCOMODATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionAccomodation"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionAccomodation"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geographical-regionAccomodationService">
		<wsdl:port name="Geographical-regionAccomodationSoap" binding="tns:Geographical-regionAccomodationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geographical-regionAccomodation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
