src/main/resources/wsdl/Geographical-regionWeatherfront1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherfront-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherfront1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherfront1" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geographical-regionWeatherfront1" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherfront1">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 21 21:03:52 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherfront1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geographical-Region"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#WeatherFront"/>
			</xsd:annotation>
			<xsd:element name="WeatherFront" type="tns:WeatherFrontType"/>
			<xsd:element name="Geographical-Region" type="tns:Geographical-RegionType"/>
			<xsd:simpleType name="Geographical-RegionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="WeatherFrontType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_WEATHERFRONTRequest">
		<wsdl:part name="_GEOGRAPHICAL-REGION" type="tns:Geographical-RegionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_WEATHERFRONTResponse">
		<wsdl:part name="_WEATHERFRONT" type="tns:WeatherFrontType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geographical-regionWeatherfrontSoap">
		<wsdl:operation name="get_WEATHERFRONT">
			<wsdl:input message="tns:get_WEATHERFRONTRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_WEATHERFRONTResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geographical-regionWeatherfrontSoapBinding" type="tns:Geographical-regionWeatherfrontSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_WEATHERFRONT">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherfront1"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherfront1"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geographical-regionWeatherfrontService">
		<wsdl:port name="Geographical-regionWeatherfrontSoap" binding="tns:Geographical-regionWeatherfrontSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherfront1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
