src/main/resources/wsdl/Geographical-regionWeatherprocess1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherprocess-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherprocess1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherprocess1" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geographical-regionWeatherprocess1" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherprocess1">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 21 21:26:01 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherprocess1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geographical-Region"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#WeatherProcess"/>
			</xsd:annotation>
			<xsd:element name="Geographical-Region" type="tns:Geographical-RegionType"/>
			<xsd:element name="WeatherProcess" type="tns:WeatherProcessType"/>
			<xsd:simpleType name="Geographical-RegionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="WeatherProcessType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_WEATHERPROCESSRequest">
		<wsdl:part name="_GEOGRAPHICAL-REGION" type="tns:Geographical-RegionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_WEATHERPROCESSResponse">
		<wsdl:part name="_WEATHERPROCESS" type="tns:WeatherProcessType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geographical-regionWeatherprocessSoap">
		<wsdl:operation name="get_WEATHERPROCESS">
			<wsdl:input message="tns:get_WEATHERPROCESSRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_WEATHERPROCESSResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geographical-regionWeatherprocessSoapBinding" type="tns:Geographical-regionWeatherprocessSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_WEATHERPROCESS">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherprocess1"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherprocess1"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geographical-regionWeatherprocessService">
		<wsdl:port name="Geographical-regionWeatherprocessSoap" binding="tns:Geographical-regionWeatherprocessSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherprocess1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
