src/main/resources/wsdl/Geographical-regionWeatherseason.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherseason-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherseason" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherseason" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geographical-regionWeatherseason" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherseason">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 21 20:34:51 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherseason" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geographical-Region"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#WeatherSeason"/>
			</xsd:annotation>
			<xsd:element name="Geographical-Region" type="tns:Geographical-RegionType"/>
			<xsd:element name="WeatherSeason" type="tns:WeatherSeasonType"/>
			<xsd:simpleType name="Geographical-RegionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="WeatherSeasonType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_WEATHERSEASONRequest">
		<wsdl:part name="_GEOGRAPHICAL-REGION" type="tns:Geographical-RegionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_WEATHERSEASONResponse">
		<wsdl:part name="_WEATHERSEASON" type="tns:WeatherSeasonType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geographical-regionWeatherseasonSoap">
		<wsdl:operation name="get_WEATHERSEASON">
			<wsdl:input message="tns:get_WEATHERSEASONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_WEATHERSEASONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geographical-regionWeatherseasonSoapBinding" type="tns:Geographical-regionWeatherseasonSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_WEATHERSEASON">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherseason"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherseason"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geographical-regionWeatherseasonService">
		<wsdl:port name="Geographical-regionWeatherseasonSoap" binding="tns:Geographical-regionWeatherseasonSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geographical-regionWeatherseason"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
