src/main/resources/wsdl/geographical-region_organizationskilledoccupation_JobService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Geographical-regionOrganizationskilledoccupation" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geographical-regionOrganizationskilledoccupation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geographical-regionOrganizationskilledoccupation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geographical-regionOrganizationskilledoccupation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geographical-regionOrganizationskilledoccupation" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionOrganizationskilledoccupation">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed Jun 03 01:52:07 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geographical-regionOrganizationskilledoccupation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geographical-Region"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/finance_th_web.owl#organization"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#SkilledOccupation"/>
			</xsd:annotation>
			<xsd:element name="organization" type="organizationType"/>
			<xsd:element name="SkilledOccupation" type="SkilledOccupationType"/>
			<xsd:element name="Geographical-Region" type="Geographical-RegionType"/>
			<xsd:simpleType name="SkilledOccupationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="organizationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Geographical-RegionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_ORGANIZATION_SKILLEDOCCUPATIONRequest">
		<wsdl:part name="_GEOGRAPHICAL-REGION" type="tns:Geographical-RegionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_ORGANIZATION_SKILLEDOCCUPATIONResponse">
		<wsdl:part name="_ORGANIZATION" type="tns:organizationType">
    </wsdl:part>
		<wsdl:part name="_SKILLEDOCCUPATION" type="tns:SkilledOccupationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geographical-regionOrganizationskilledoccupationSoap">
		<wsdl:operation name="get_ORGANIZATION_SKILLEDOCCUPATION">
			<wsdl:input message="tns:get_ORGANIZATION_SKILLEDOCCUPATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_ORGANIZATION_SKILLEDOCCUPATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geographical-regionOrganizationskilledoccupationSoapBinding" type="Geographical-regionOrganizationskilledoccupationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_ORGANIZATION_SKILLEDOCCUPATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionOrganizationskilledoccupation"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geographical-regionOrganizationskilledoccupation"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geographical-regionOrganizationskilledoccupationService">
		<wsdl:port name="Geographical-regionOrganizationskilledoccupationSoap" binding="Geographical-regionOrganizationskilledoccupationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geographical-regionOrganizationskilledoccupation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
