src/main/resources/wsdl/geopolitical-entity_lightning_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Geopolitical-entityLightning" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geopolitical-entityLightning-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geopolitical-entityLightning" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geopolitical-entityLightning" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geopolitical-entityLightning" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityLightning">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat May 23 01:14:33 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityLightning" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geopolitical-Entity"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Lightning"/>
			</xsd:annotation>
			<xsd:element name="Geopolitical-Entity" type="Geopolitical-EntityType"/>
			<xsd:element name="Lightning" type="LightningType"/>
			<xsd:simpleType name="LightningType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Geopolitical-EntityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_LIGHTNINGRequest">
		<wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_LIGHTNINGResponse">
		<wsdl:part name="_LIGHTNING" type="tns:LightningType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geopolitical-entityLightningSoap">
		<wsdl:operation name="get_LIGHTNING">
			<wsdl:input message="tns:get_LIGHTNINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_LIGHTNINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geopolitical-entityLightningSoapBinding" type="Geopolitical-entityLightningSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_LIGHTNING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityLightning"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityLightning"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geopolitical-entityLightningService">
		<wsdl:port name="Geopolitical-entityLightningSoap" binding="Geopolitical-entityLightningSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geopolitical-entityLightning"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
