src/main/resources/wsdl/geopolitical-entity_professiontimemeasure_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessiontimemeasure" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessiontimemeasure-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessiontimemeasure" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessiontimemeasure" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geopolitical-entityProfessiontimemeasure" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessiontimemeasure">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 25 01:18:36 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessiontimemeasure" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geopolitical-Entity"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Profession"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#TimeMeasure"/>
			</xsd:annotation>
			<xsd:element name="TimeMeasure" type="TimeMeasureType"/>
			<xsd:element name="Geopolitical-Entity" type="Geopolitical-EntityType"/>
			<xsd:element name="Profession" type="ProfessionType"/>
			<xsd:simpleType name="ProfessionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TimeMeasureType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Geopolitical-EntityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PROFESSION_TIMEMEASURERequest">
		<wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PROFESSION_TIMEMEASUREResponse">
		<wsdl:part name="_PROFESSION" type="tns:ProfessionType">
    </wsdl:part>
		<wsdl:part name="_TIMEMEASURE" type="tns:TimeMeasureType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geopolitical-entityProfessiontimemeasureSoap">
		<wsdl:operation name="get_PROFESSION_TIMEMEASURE">
			<wsdl:input message="tns:get_PROFESSION_TIMEMEASURERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PROFESSION_TIMEMEASUREResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geopolitical-entityProfessiontimemeasureSoapBinding" type="Geopolitical-entityProfessiontimemeasureSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PROFESSION_TIMEMEASURE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessiontimemeasure"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessiontimemeasure"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geopolitical-entityProfessiontimemeasureService">
		<wsdl:port name="Geopolitical-entityProfessiontimemeasureSoap" binding="Geopolitical-entityProfessiontimemeasureSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessiontimemeasure"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
