src/main/resources/wsdl/Geopolitical-entityWeatherseasontimeposition.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherseasontimeposition-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherseasontimeposition" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherseasontimeposition" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geopolitical-entityWeatherseasontimeposition" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherseasontimeposition">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 21 20:22:33 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherseasontimeposition" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geopolitical-Entity"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#WeatherSeason"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#TimePosition"/>
			</xsd:annotation>
			<xsd:element name="TimePosition" type="tns:TimePositionType"/>
			<xsd:element name="Geopolitical-Entity" type="tns:Geopolitical-EntityType"/>
			<xsd:element name="WeatherSeason" type="tns:WeatherSeasonType"/>
			<xsd:complexType name="TimeInterval">
				<xsd:sequence>
					<xsd:element name="starts" type="tns:TimeInterval"/>
					<xsd:element name="finishes" type="tns:TimeInterval"/>
					<xsd:element name="BeginFn" type="tns:TimePoint"/>
					<xsd:element name="duration" type="tns:TimeDuration"/>
					<xsd:element name="during" type="tns:TimeInterval"/>
					<xsd:element name="EndFn" type="tns:TimePoint"/>
					<xsd:element name="earlier" type="tns:TimeInterval"/>
					<xsd:element name="meetsTemporally" type="tns:TimeInterval"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TimePositionType">
				<xsd:sequence>
					<xsd:element name="FutureFn" type="tns:TimeInterval"/>
					<xsd:element name="ImmediatePastFn" type="tns:TimeInterval"/>
					<xsd:element name="PastFn" type="tns:TimeInterval"/>
					<xsd:element name="ImmediateFutureFn" type="tns:TimeInterval"/>
					<xsd:element name="holdsDuring" type="tns:Formula"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TimePoint">
				<xsd:sequence>
					<xsd:element name="before" type="tns:TimePoint"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Formula">
				<xsd:sequence>
					<xsd:element name="ProbabilityFn" type="xsd:anyURI"/>
					<xsd:element name="decreasesLikelihood" type="tns:Formula"/>
					<xsd:element name="independentProbability" type="tns:Formula"/>
					<xsd:element name="increasesLikelihood" type="tns:Formula"/>
					<xsd:element name="modalAttribute" type="tns:NormativeAttribute"/>
					<xsd:element name="entails" type="tns:Formula"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="WeatherSeasonType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Geopolitical-EntityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="NormativeAttribute">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TimeDuration">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_WEATHERSEASON_TIMEPOSITIONResponse">
		<wsdl:part name="_WEATHERSEASON" type="tns:WeatherSeasonType">
    </wsdl:part>
		<wsdl:part name="_TIMEPOSITION" type="tns:TimePositionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_WEATHERSEASON_TIMEPOSITIONRequest">
		<wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geopolitical-entityWeatherseasontimepositionSoap">
		<wsdl:operation name="get_WEATHERSEASON_TIMEPOSITION">
			<wsdl:input message="tns:get_WEATHERSEASON_TIMEPOSITIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_WEATHERSEASON_TIMEPOSITIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geopolitical-entityWeatherseasontimepositionSoapBinding" type="tns:Geopolitical-entityWeatherseasontimepositionSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_WEATHERSEASON_TIMEPOSITION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherseasontimeposition"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherseasontimeposition"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geopolitical-entityWeatherseasontimepositionService">
		<wsdl:port name="Geopolitical-entityWeatherseasontimepositionSoap" binding="tns:Geopolitical-entityWeatherseasontimepositionSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherseasontimeposition"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
