src/main/resources/wsdl/geopolitical-entity_luxuryhotel_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Geopolitical-entityLuxuryhotel" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geopolitical-entityLuxuryhotel-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geopolitical-entityLuxuryhotel" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geopolitical-entityLuxuryhotel" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geopolitical-entityLuxuryhotel" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityLuxuryhotel">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat May 23 03:12:44 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityLuxuryhotel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geopolitical-Entity"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#LuxuryHotel"/>
			</xsd:annotation>
			<xsd:element name="LuxuryHotel" type="LuxuryHotelType"/>
			<xsd:element name="Geopolitical-Entity" type="Geopolitical-EntityType"/>
			<xsd:complexType name="LuxuryHotelType">
				<xsd:choice>
					<xsd:element name="luxuryHotelID" type="LuxuryHotelDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="hasRating" type="LuxuryHotelAccommodationRating"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="AccommodationRating">
				<xsd:choice>
					<xsd:element name="accommodationRatingID" type="AccommodationRatingDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="LuxuryHotelAccommodationRating">
				<xsd:complexContent>
					<xsd:restriction base="AccommodationRating">
						<xsd:choice>
							<xsd:element name="accommodationRatingID" type="LuxuryHotelAccommodationRatingDATA"/>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="name" type="xsd:string"/>
							</xsd:sequence>
						</xsd:choice>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:simpleType name="LuxuryHotelAccommodationRatingDATA">
				<xsd:restriction base="AccommodationRatingDATA">
					<xsd:enumeration value="ThreeStarRating"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LuxuryHotelDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="FourSeasons"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="AccommodationRatingDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="TwoStarRating"/>
					<xsd:enumeration value="OneStarRating"/>
					<xsd:enumeration value="ThreeStarRating"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Geopolitical-EntityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_LUXURYHOTELResponse">
		<wsdl:part name="_LUXURYHOTEL" type="tns:LuxuryHotelType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_LUXURYHOTELRequest">
		<wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geopolitical-entityLuxuryhotelSoap">
		<wsdl:operation name="get_LUXURYHOTEL">
			<wsdl:input message="tns:get_LUXURYHOTELRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_LUXURYHOTELResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geopolitical-entityLuxuryhotelSoapBinding" type="Geopolitical-entityLuxuryhotelSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_LUXURYHOTEL">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityLuxuryhotel"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityLuxuryhotel"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geopolitical-entityLuxuryhotelService">
		<wsdl:port name="Geopolitical-entityLuxuryhotelSoap" binding="Geopolitical-entityLuxuryhotelSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geopolitical-entityLuxuryhotel"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
