src/main/resources/wsdl/geopolitical-entity_drought_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Geopolitical-entityDrought" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geopolitical-entityDrought-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geopolitical-entityDrought" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geopolitical-entityDrought" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geopolitical-entityDrought" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityDrought">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat May 23 00:02:50 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityDrought" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geopolitical-Entity"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Drought"/>
			</xsd:annotation>
			<xsd:element name="Geopolitical-Entity" type="Geopolitical-EntityType"/>
			<xsd:element name="Drought" type="DroughtType"/>
			<xsd:simpleType name="Geopolitical-EntityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DroughtType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DROUGHTRequest">
		<wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DROUGHTResponse">
		<wsdl:part name="_DROUGHT" type="tns:DroughtType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geopolitical-entityDroughtSoap">
		<wsdl:operation name="get_DROUGHT">
			<wsdl:input message="tns:get_DROUGHTRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DROUGHTResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geopolitical-entityDroughtSoapBinding" type="Geopolitical-entityDroughtSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DROUGHT">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityDrought"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityDrought"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geopolitical-entityDroughtService">
		<wsdl:port name="Geopolitical-entityDroughtSoap" binding="Geopolitical-entityDroughtSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geopolitical-entityDrought"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
