src/main/resources/wsdl/geopolitical-entityrecorded-video_activityhotel_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Geopolitical-entityrecorded-videoActivityhotel" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geopolitical-entityrecorded-videoActivityhotel-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geopolitical-entityrecorded-videoActivityhotel" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geopolitical-entityrecorded-videoActivityhotel" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geopolitical-entityrecorded-videoActivityhotel" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityrecorded-videoActivityhotel">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed May 27 02:01:26 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityrecorded-videoActivityhotel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Recorded-Video"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Geopolitical-Entity"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/travel.owl#Activity"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/travel.owl#Hotel"/>
			</xsd:annotation>
			<xsd:element name="Hotel" type="HotelType"/>
			<xsd:element name="Geopolitical-Entity" type="Geopolitical-EntityType"/>
			<xsd:element name="Recorded-Video" type="Recorded-VideoType"/>
			<xsd:element name="Activity" type="ActivityType"/>
			<xsd:simpleType name="ActivityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="HotelType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Geopolitical-EntityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Recorded-VideoType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_ACTIVITY_HOTELResponse">
		<wsdl:part name="_ACTIVITY" type="tns:ActivityType">
    </wsdl:part>
		<wsdl:part name="_HOTEL" type="tns:HotelType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_ACTIVITY_HOTELRequest">
		<wsdl:part name="_RECORDED-VIDEO" type="tns:Recorded-VideoType">
    </wsdl:part>
		<wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geopolitical-entityrecorded-videoActivityhotelSoap">
		<wsdl:operation name="get_ACTIVITY_HOTEL">
			<wsdl:input message="tns:get_ACTIVITY_HOTELRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_ACTIVITY_HOTELResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geopolitical-entityrecorded-videoActivityhotelSoapBinding" type="Geopolitical-entityrecorded-videoActivityhotelSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_ACTIVITY_HOTEL">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityrecorded-videoActivityhotel"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityrecorded-videoActivityhotel"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geopolitical-entityrecorded-videoActivityhotelService">
		<wsdl:port name="Geopolitical-entityrecorded-videoActivityhotelSoap" binding="Geopolitical-entityrecorded-videoActivityhotelSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geopolitical-entityrecorded-videoActivityhotel"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
