src/main/resources/wsdl/geopolitical-entity_professionfulltimeposition_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessionfulltimeposition" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessionfulltimeposition-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessionfulltimeposition" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessionfulltimeposition" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geopolitical-entityProfessionfulltimeposition" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessionfulltimeposition">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 25 01:11:07 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessionfulltimeposition" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geopolitical-Entity"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Profession"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#FullTimePosition"/>
			</xsd:annotation>
			<xsd:element name="Geopolitical-Entity" type="Geopolitical-EntityType"/>
			<xsd:element name="Profession" type="ProfessionType"/>
			<xsd:element name="FullTimePosition" type="FullTimePositionType"/>
			<xsd:simpleType name="FullTimePositionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ProfessionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Geopolitical-EntityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PROFESSION_FULLTIMEPOSITIONRequest">
		<wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PROFESSION_FULLTIMEPOSITIONResponse">
		<wsdl:part name="_PROFESSION" type="tns:ProfessionType">
    </wsdl:part>
		<wsdl:part name="_FULLTIMEPOSITION" type="tns:FullTimePositionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geopolitical-entityProfessionfulltimepositionSoap">
		<wsdl:operation name="get_PROFESSION_FULLTIMEPOSITION">
			<wsdl:input message="tns:get_PROFESSION_FULLTIMEPOSITIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PROFESSION_FULLTIMEPOSITIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geopolitical-entityProfessionfulltimepositionSoapBinding" type="Geopolitical-entityProfessionfulltimepositionSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PROFESSION_FULLTIMEPOSITION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessionfulltimeposition"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessionfulltimeposition"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geopolitical-entityProfessionfulltimepositionService">
		<wsdl:port name="Geopolitical-entityProfessionfulltimepositionSoap" binding="Geopolitical-entityProfessionfulltimepositionSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geopolitical-entityProfessionfulltimeposition"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
