src/main/resources/wsdl/geopolitical-entity_accommodation_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Geopolitical-entityAccommodation" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geopolitical-entityAccommodation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geopolitical-entityAccommodation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geopolitical-entityAccommodation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geopolitical-entityAccommodation" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityAccommodation">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat May 23 02:58:55 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityAccommodation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geopolitical-Entity"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#Accommodation"/>
			</xsd:annotation>
			<xsd:element name="Accommodation" type="AccommodationType"/>
			<xsd:element name="Geopolitical-Entity" type="Geopolitical-EntityType"/>
			<xsd:simpleType name="AccommodationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Geopolitical-EntityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_ACCOMMODATIONResponse">
		<wsdl:part name="_ACCOMMODATION" type="tns:AccommodationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_ACCOMMODATIONRequest">
		<wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geopolitical-entityAccommodationSoap">
		<wsdl:operation name="get_ACCOMMODATION">
			<wsdl:input message="tns:get_ACCOMMODATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_ACCOMMODATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geopolitical-entityAccommodationSoapBinding" type="Geopolitical-entityAccommodationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_ACCOMMODATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityAccommodation"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityAccommodation"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geopolitical-entityAccommodationService">
		<wsdl:port name="Geopolitical-entityAccommodationSoap" binding="Geopolitical-entityAccommodationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geopolitical-entityAccommodation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
