src/main/resources/wsdl/geopolitical-entity_weatherseasonproposition_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherseasonproposition" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherseasonproposition-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherseasonproposition" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherseasonproposition" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geopolitical-entityWeatherseasonproposition" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherseasonproposition">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed Jun 10 02:02:03 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherseasonproposition" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geopolitical-Entity"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#WeatherSeason"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#Proposition"/>
			</xsd:annotation>
			<xsd:element name="Geopolitical-Entity" type="Geopolitical-EntityType"/>
			<xsd:element name="Proposition" type="PropositionType"/>
			<xsd:element name="WeatherSeason" type="WeatherSeasonType"/>
			<xsd:complexType name="PropositionType">
				<xsd:sequence>
					<xsd:element name="consistent" type="PropositionType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="WeatherSeasonType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Geopolitical-EntityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_WEATHERSEASON_PROPOSITIONResponse">
		<wsdl:part name="_WEATHERSEASON" type="tns:WeatherSeasonType">
    </wsdl:part>
		<wsdl:part name="_PROPOSITION" type="tns:PropositionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_WEATHERSEASON_PROPOSITIONRequest">
		<wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geopolitical-entityWeatherseasonpropositionSoap">
		<wsdl:operation name="get_WEATHERSEASON_PROPOSITION">
			<wsdl:input message="tns:get_WEATHERSEASON_PROPOSITIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_WEATHERSEASON_PROPOSITIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geopolitical-entityWeatherseasonpropositionSoapBinding" type="Geopolitical-entityWeatherseasonpropositionSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_WEATHERSEASON_PROPOSITION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherseasonproposition"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherseasonproposition"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geopolitical-entityWeatherseasonpropositionService">
		<wsdl:port name="Geopolitical-entityWeatherseasonpropositionSoap" binding="Geopolitical-entityWeatherseasonpropositionSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherseasonproposition"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
