src/main/resources/wsdl/geopolitical-entity_organizationprofession_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Geopolitical-entityOrganizationprofession" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geopolitical-entityOrganizationprofession-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geopolitical-entityOrganizationprofession" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geopolitical-entityOrganizationprofession" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geopolitical-entityOrganizationprofession" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityOrganizationprofession">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 25 01:09:27 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityOrganizationprofession" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geopolitical-Entity"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/finance_th_web.owl#organization"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#Profession"/>
			</xsd:annotation>
			<xsd:element name="organization" type="organizationType"/>
			<xsd:element name="Geopolitical-Entity" type="Geopolitical-EntityType"/>
			<xsd:element name="Profession" type="ProfessionType"/>
			<xsd:simpleType name="organizationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ProfessionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Geopolitical-EntityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_ORGANIZATION_PROFESSIONResponse">
		<wsdl:part name="_ORGANIZATION" type="tns:organizationType">
    </wsdl:part>
		<wsdl:part name="_PROFESSION" type="tns:ProfessionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_ORGANIZATION_PROFESSIONRequest">
		<wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geopolitical-entityOrganizationprofessionSoap">
		<wsdl:operation name="get_ORGANIZATION_PROFESSION">
			<wsdl:input message="tns:get_ORGANIZATION_PROFESSIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_ORGANIZATION_PROFESSIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geopolitical-entityOrganizationprofessionSoapBinding" type="Geopolitical-entityOrganizationprofessionSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_ORGANIZATION_PROFESSION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityOrganizationprofession"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityOrganizationprofession"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geopolitical-entityOrganizationprofessionService">
		<wsdl:port name="Geopolitical-entityOrganizationprofessionSoap" binding="Geopolitical-entityOrganizationprofessionSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geopolitical-entityOrganizationprofession"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
