src/main/resources/wsdl/Geopolitical-entityWeathersystem.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeathersystem-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeathersystem" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeathersystem" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geopolitical-entityWeathersystem" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeathersystem">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 21 20:43:53 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeathersystem" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geopolitical-Entity"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#WeatherSystem"/>
			</xsd:annotation>
			<xsd:element name="Geopolitical-Entity" type="tns:Geopolitical-EntityType"/>
			<xsd:element name="WeatherSystem" type="tns:WeatherSystemType"/>
			<xsd:simpleType name="WeatherSystemType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Geopolitical-EntityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_WEATHERSYSTEMRequest">
		<wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_WEATHERSYSTEMResponse">
		<wsdl:part name="_WEATHERSYSTEM" type="tns:WeatherSystemType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geopolitical-entityWeathersystemSoap">
		<wsdl:operation name="get_WEATHERSYSTEM">
			<wsdl:input message="tns:get_WEATHERSYSTEMRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_WEATHERSYSTEMResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geopolitical-entityWeathersystemSoapBinding" type="tns:Geopolitical-entityWeathersystemSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_WEATHERSYSTEM">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeathersystem"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeathersystem"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geopolitical-entityWeathersystemService">
		<wsdl:port name="Geopolitical-entityWeathersystemSoap" binding="tns:Geopolitical-entityWeathersystemSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeathersystem"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
