src/main/resources/wsdl/geopolitical-entity_weatherfront_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherfront" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherfront-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherfront" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherfront" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geopolitical-entityWeatherfront" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherfront">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat May 23 02:56:14 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherfront" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geopolitical-Entity"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#WeatherFront"/>
			</xsd:annotation>
			<xsd:element name="WeatherFront" type="WeatherFrontType"/>
			<xsd:element name="Geopolitical-Entity" type="Geopolitical-EntityType"/>
			<xsd:simpleType name="Geopolitical-EntityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="WeatherFrontType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_WEATHERFRONTRequest">
		<wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_WEATHERFRONTResponse">
		<wsdl:part name="_WEATHERFRONT" type="tns:WeatherFrontType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geopolitical-entityWeatherfrontSoap">
		<wsdl:operation name="get_WEATHERFRONT">
			<wsdl:input message="tns:get_WEATHERFRONTRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_WEATHERFRONTResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geopolitical-entityWeatherfrontSoapBinding" type="Geopolitical-entityWeatherfrontSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_WEATHERFRONT">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherfront"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherfront"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geopolitical-entityWeatherfrontService">
		<wsdl:port name="Geopolitical-entityWeatherfrontSoap" binding="Geopolitical-entityWeatherfrontSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geopolitical-entityWeatherfront"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
