src/main/resources/wsdl/getDistanceBetweenPlaces.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/DistanceBetweenPlaces" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/DistanceBetweenPlaces-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/DistanceBetweenPlaces" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/DistanceBetweenPlaces" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="DistanceBetweenPlaces" targetNamespace="http://127.0.0.1:8000/wsdl/DistanceBetweenPlaces">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed May 19 16:19:53 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/DistanceBetweenPlaces" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/protonu.owl#City"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/geographydataset.owl#USStateCode"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/geographydataset.owl#GeographicDistance"/>
			</xsd:annotation>
			<xsd:element name="GeographicDistance" type="GeographicDistanceType"/>
			<xsd:element name="City" type="CityType"/>
			<xsd:element name="USStateCode" type="USStateCodeType"/>
			<xsd:complexType name="USStateCodeType">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:complexType name="CityType">
				<xsd:sequence>
					<xsd:element name="hasAirport" type="Airport"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="GeographicDistanceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Airport">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DISTANCEResponse">
		<wsdl:part name="_DISTANCE" type="tns:GeographicDistanceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DISTANCERequest">
		<wsdl:part name="_USCITY1" type="tns:CityType">
    </wsdl:part>
		<wsdl:part name="_USCITY2" type="tns:CityType">
    </wsdl:part>
		<wsdl:part name="_USSTATECODE1" type="tns:USStateCodeType">
    </wsdl:part>
		<wsdl:part name="_USSTATECODE2" type="tns:USStateCodeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="DistanceBetweenPlacesSoap">
		<wsdl:operation name="get_DISTANCE">
			<wsdl:input message="tns:get_DISTANCERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DISTANCEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DistanceBetweenPlacesSoapBinding" type="DistanceBetweenPlacesSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DISTANCE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DistanceBetweenPlaces"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DistanceBetweenPlaces"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DistanceBetweenPlacesService">
		<wsdl:port name="DistanceBetweenPlacesSoap" binding="DistanceBetweenPlacesSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/DistanceBetweenPlaces"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
