src/main/resources/wsdl/getDistanceBetweenLocations.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/DistanceBetweenLocations" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/DistanceBetweenLocations-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/DistanceBetweenLocations" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/DistanceBetweenLocations" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="DistanceBetweenLocations" targetNamespace="http://127.0.0.1:8000/wsdl/DistanceBetweenLocations">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed May 19 16:17:11 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/DistanceBetweenLocations" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/protont.owl#latitude"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/protont.owl#longitude"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/protont.owl#latitude"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/protont.owl#longitude"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/geographydataset.owl#GeographicDistance"/>
			</xsd:annotation>
			<xsd:element name="GeographicDistance" type="GeographicDistanceType"/>
			<xsd:element name="longitude" type="longitudeType"/>
			<xsd:element name="latitude" type="latitudeType"/>
			<xsd:simpleType name="longitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="latitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="GeographicDistanceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DISTANCERequest">
		<wsdl:part name="_LATITUDE1" type="tns:latitudeType">
    </wsdl:part>
		<wsdl:part name="_LONGITUDE1" type="tns:longitudeType">
    </wsdl:part>
		<wsdl:part name="_LATITUDE2" type="tns:latitudeType">
    </wsdl:part>
		<wsdl:part name="_LONGITUDE2" type="tns:longitudeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DISTANCEResponse">
		<wsdl:part name="_DISTANCE" type="tns:GeographicDistanceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="DistanceBetweenLocationsSoap">
		<wsdl:operation name="get_DISTANCE">
			<wsdl:input message="tns:get_DISTANCERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DISTANCEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DistanceBetweenLocationsSoapBinding" type="DistanceBetweenLocationsSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DISTANCE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DistanceBetweenLocations"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DistanceBetweenLocations"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DistanceBetweenLocationsService">
		<wsdl:port name="DistanceBetweenLocationsSoap" binding="DistanceBetweenLocationsSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/DistanceBetweenLocations"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
