src/main/resources/wsdl/getDrivingDirections.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/DrivingDirections" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/DrivingDirections-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/DrivingDirections" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/DrivingDirections" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="DrivingDirections" targetNamespace="http://127.0.0.1:8000/wsdl/DrivingDirections">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed May 19 16:36:28 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/DrivingDirections" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/geographydataset.owl#UniqueIdentifier"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/protont.owl#latitude"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/protont.owl#longitude"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/protont.owl#latitude"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/protont.owl#longitude"/>
				<xsd:documentation source="Translationhttp://127.0.0.1:8000/ontology/ttp://127.0.0.1/ontology/Units.owl#Pixel"/>
				<xsd:documentation source="Translhttp://127.0.0.1:8000/ontology/ of http://127.0.0.1/ontology/Units.owl#Pixel"/>
				<xsd:documentation source="Thttp://127.0.0.1:8000/ontology/Type) of http://127.0.0.1/ontology/protont.owl#Language"/>
				<xsd:documentation sourchttp://127.0.0.1:8000/ontology/mplexType) of http://127.0.0.1/ontology/geographydataset.owl#GeographicDistance"/>
				<xsd:documentationhttp://127.0.0.1:8000/ontology/XSD-SimpleType) of http://127.0.0.1/ontology/geographydataset.owl#TimeUnit"/>
				<xsd:documenthttp://127.0.0.1:8000/ontology/(OWL2XSD-SimpleType) of http://127.0.0.1/ontology/geographydataset.owl#DrivingDirections"/>
				<xsd:docuhttp://127.0.0.1:8000/ontology/ion (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/geographydataset.owl#Map"/>
			</xsd:annotation>
			<xsd:element name="longitude" type="longitudeType"/>
			<xsd:element name="TimeUnit" type="TimeUnitType"/>
			<xsd:element name="Language" type="LanguageType"/>
			<xsd:element name="GeographicDistance" type="GeographicDistanceType"/>
			<xsd:element name="UniqueIdentifier" type="UniqueIdentifierType"/>
			<xsd:element name="Map" type="MapType"/>
			<xsd:element name="latitude" type="latitudeType"/>
			<xsd:element name="Pixel" type="PixelType"/>
			<xsd:element name="DrivingDirections" type="DrivingDirectionsType"/>
			<xsd:complexType name="GeographicDistanceType">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:complexType name="MapType">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:simpleType name="TimeUnitType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PixelType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="longitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="latitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="UniqueIdentifierType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LanguageType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DrivingDirectionsType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_TOTAL-DISTANCE_TOTAL-DRIVING-TIME_DIRECTIONS_MAPResponse">
		<wsdl:part name="_TOTAL-DISTANCE" type="tns:GeographicDistanceType">
    </wsdl:part>
		<wsdl:part name="_TOTAL-DRIVING-TIME" type="tns:TimeUnitType">
    </wsdl:part>
		<wsdl:part name="_DIRECTIONS" type="tns:DrivingDirectionsType">
    </wsdl:part>
		<wsdl:part name="_MAP" type="tns:MapType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_TOTAL-DISTANCE_TOTAL-DRIVING-TIME_DIRECTIONS_MAPRequest">
		<wsdl:part name="_USERID" type="tns:UniqueIdentifierType">
    </wsdl:part>
		<wsdl:part name="_START-LATITUDE" type="tns:latitudeType">
    </wsdl:part>
		<wsdl:part name="_START-LONGITUDE" type="tns:longitudeType">
    </wsdl:part>
		<wsdl:part name="_END-LATITUDE" type="tns:latitudeType">
    </wsdl:part>
		<wsdl:part name="_END-LONGITUDE" type="tns:longitudeType">
    </wsdl:part>
		<wsdl:part name="_IMAGE-WIDTH" type="tns:PixelType">
    </wsdl:part>
		<wsdl:part name="_IMAGE-HEIGHT" type="tns:PixelType">
    </wsdl:part>
		<wsdl:part name="_LANGUAGE" type="tns:LanguageType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="DrivingDirectionsSoap">
		<wsdl:operation name="get_TOTAL-DISTANCE_TOTAL-DRIVING-TIME_DIRECTIONS_MAP">
			<wsdl:input message="tns:get_TOTAL-DISTANCE_TOTAL-DRIVING-TIME_DIRECTIONS_MAPRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_TOTAL-DISTANCE_TOTAL-DRIVING-TIME_DIRECTIONS_MAPResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DrivingDirectionsSoapBinding" type="DrivingDirectionsSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_TOTAL-DISTANCE_TOTAL-DRIVING-TIME_DIRECTIONS_MAP">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DrivingDirections"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DrivingDirections"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DrivingDirectionsService">
		<wsdl:port name="DrivingDirectionsSoap" binding="DrivingDirectionsSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/DrivingDirections"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
