src/main/resources/wsdl/getDistanceBetweenCitiesWorldwide.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/DistanceBetweenCities" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/DistanceBetweenCities-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/DistanceBetweenCities" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/DistanceBetweenCities" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="DistanceBetweenCities" targetNamespace="http://127.0.0.1:8000/wsdl/DistanceBetweenCities">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon Jun 28 18:07:37 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/DistanceBetweenCities" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/protonu.owl#City"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/protonu.owl#State"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/protonu.owl#Country"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/geographydataset.owl#GeographicDistance"/>
			</xsd:annotation>
			<xsd:element name="State" type="StateType"/>
			<xsd:element name="City" type="CityType"/>
			<xsd:element name="Country" type="CountryType"/>
			<xsd:element name="GeographicDistance" type="GeographicDistanceType"/>
			<xsd:simpleType name="CityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CountryType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="GeographicDistanceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="StateType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Airport">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DISTANCEResponse">
			<wsdl:part name="_DISTANCE" type="tns:GeographicDistanceType">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DISTANCERequest">
		<wsdl:part name="_CITY1" type="tns:CityType">
    </wsdl:part>
		<wsdl:part name="_CITY2" type="tns:CityType">
    </wsdl:part>
		<wsdl:part name="_STATE1" type="tns:StateType">
    </wsdl:part>
		<wsdl:part name="_STATE2" type="tns:StateType">
    </wsdl:part>
		<wsdl:part name="_COUNTRY1" type="tns:CountryType">
    </wsdl:part>
		<wsdl:part name="_COUNTRY2" type="tns:CountryType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="DistanceBetweenCitiesSoap">
		<wsdl:operation name="get_DISTANCE">
			<wsdl:input message="tns:get_DISTANCERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DISTANCEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DistanceBetweenCitiesSoapBinding" type="DistanceBetweenCitiesSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DISTANCE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DistanceBetweenCities"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/DistanceBetweenCities"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DistanceBetweenCitiesService">
		<wsdl:port name="DistanceBetweenCitiesSoap" binding="DistanceBetweenCitiesSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/DistanceBetweenCities"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
