src/main/resources/wsdl/getGeographicAreaOfZipCode.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/GeographicAreaZipcode" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/GeographicAreaZipcode-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/GeographicAreaZipcode" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/GeographicAreaZipcode" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="GeographicAreaZipcode" targetNamespace="http://127.0.0.1:8000/wsdl/GeographicAreaZipcode">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 08 17:53:40 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/GeographicAreaZipcode" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/geographydataset.owl#UniqueIdentifier"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/geographydataset.owl#ZipCode"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/geographydataset.owl#GeographicArea"/>
				<xsd:documentation source="Translation (OWL2XSD-Chttp://127.0.0.1:8000/ontology/0.0.1/ontology/protonu.owl#City"/>
				<xsd:documentation source="Translation (OWL2http://127.0.0.1:8000/ontology//127.0.0.1/ontology/protonu.owl#Country"/>
			</xsd:annotation>
			<xsd:element name="UniqueIdentifier" type="UniqueIdentifierType"/>
			<xsd:element name="ZipCode" type="ZipCodeType"/>
			<xsd:element name="City" type="CityType"/>
			<xsd:element name="Country" type="CountryType"/>
			<xsd:element name="GeographicArea" type="GeographicAreaType"/>
			<xsd:complexType name="GeographicAreaType">
				<xsd:sequence>
					<xsd:element name="southeastCorner"/>
					<xsd:element name="northwestCorner"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GovernmentOrganization">
				<xsd:sequence>
					<xsd:element name="ofCountry" type="CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CountryType">
				<xsd:choice>
					<xsd:element name="countryID" type="CountryDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="hasGovernment" type="GovernmentOrganization"/>
						<xsd:element name="hasCurrency" type="Currency"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="CityType">
				<xsd:sequence>
					<xsd:element name="hasAirport" type="Airport"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ZipCodeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CountryDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="SouthKorea"/>
					<xsd:enumeration value="Germany"/>
					<xsd:enumeration value="GreatBritain"/>
					<xsd:enumeration value="Canada"/>
					<xsd:enumeration value="USA"/>
					<xsd:enumeration value="Australia"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="UniqueIdentifierType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Airport">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_GEOGRAPHIC-AREA_CITY_COUNTRYRequest">
		<wsdl:part name="_USERID" type="tns:UniqueIdentifierType">
    </wsdl:part>
		<wsdl:part name="_ZIPCODE" type="tns:ZipCodeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_GEOGRAPHIC-AREA_CITY_COUNTRYResponse">
		<wsdl:part name="_GEOGRAPHIC-AREA" type="tns:GeographicAreaType">
    </wsdl:part>
		<wsdl:part name="_CITY" type="tns:CityType">
    </wsdl:part>
		<wsdl:part name="_COUNTRY" type="tns:CountryType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GeographicAreaZipcodeSoap">
		<wsdl:operation name="get_GEOGRAPHIC-AREA_CITY_COUNTRY">
			<wsdl:input message="tns:get_GEOGRAPHIC-AREA_CITY_COUNTRYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_GEOGRAPHIC-AREA_CITY_COUNTRYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GeographicAreaZipcodeSoapBinding" type="GeographicAreaZipcodeSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_GEOGRAPHIC-AREA_CITY_COUNTRY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/GeographicAreaZipcode"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/GeographicAreaZipcode"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GeographicAreaZipcodeService">
		<wsdl:port name="GeographicAreaZipcodeSoap" binding="GeographicAreaZipcodeSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/GeographicAreaZipcode"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
