src/main/resources/wsdl/getLocationOfUSZipcode.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/ZipcodeLocation" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/ZipcodeLocation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/ZipcodeLocation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/ZipcodeLocation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="ZipcodeLocation" targetNamespace="http://127.0.0.1:8000/wsdl/ZipcodeLocation">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon Jun 28 18:24:19 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/ZipcodeLocation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/geographydataset.owl#US5DigitZipCode"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/protont.owl#latitude"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/protont.owl#longitude"/>
			</xsd:annotation>
			<xsd:element name="US5DigitZipCode" type="US5DigitZipCodeType"/>
			<xsd:element name="longitude" type="longitudeType"/>
			<xsd:element name="latitude" type="latitudeType"/>
			<xsd:simpleType name="US5DigitZipCodeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="longitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="latitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_LATITUDE_LONGITUDEResponse">
		<wsdl:part name="_LATITUDE" type="tns:latitudeType">
    </wsdl:part>
		<wsdl:part name="_LONGITUDE" type="tns:longitudeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_LATITUDE_LONGITUDERequest">
		<wsdl:part name="_ZIPCODE" type="tns:US5DigitZipCodeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ZipcodeLocationSoap">
		<wsdl:operation name="get_LATITUDE_LONGITUDE">
			<wsdl:input message="tns:get_LATITUDE_LONGITUDERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_LATITUDE_LONGITUDEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZipcodeLocationSoapBinding" type="ZipcodeLocationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_LATITUDE_LONGITUDE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ZipcodeLocation"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ZipcodeLocation"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZipcodeLocationService">
		<wsdl:port name="ZipcodeLocationSoap" binding="ZipcodeLocationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/ZipcodeLocation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
