src/main/resources/wsdl/getMapOfAddress.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MapAddress" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MapAddress-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MapAddress" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MapAddress" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MapAddress" targetNamespace="http://127.0.0.1:8000/wsdl/MapAddress">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed May 19 23:40:13 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/MapAddress" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/geographydataset.owl#Code"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/protonu.owl#Address"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/protonu.owl#City"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/protonu.owl#State"/>
				<xsd:documentation source="Translation (OWL2http://127.0.0.1:8000/ontology//127.0.0.1/ontology/protonu.owl#Country"/>
				<xsd:documentation source="Translation http://127.0.0.1:8000/ontology/ttp://127.0.0.1/ontology/geographydataset.owl#Map"/>
				<xsd:documentation source="Translhttp://127.0.0.1:8000/ontology/ of http://127.0.0.1/ontology/protonu.owl#Address"/>
				<xsd:documentation source="Thttp://127.0.0.1:8000/ontology/Type) of http://127.0.0.1/ontology/protont.owl#latitude"/>
				<xsd:documentation sourhttp://127.0.0.1:8000/ontology/impleType) of http://127.0.0.1/ontology/protont.owl#longitude"/>
				<xsd:documentationhttp://127.0.0.1:8000/ontology/XSD-SimpleType) of http://127.0.0.1/ontology/Units.owl#Pixel"/>
			</xsd:annotation>
			<xsd:element name="longitude" type="longitudeType"/>
			<xsd:element name="Map" type="MapType"/>
			<xsd:element name="Address" type="AddressType"/>
			<xsd:element name="Code" type="CodeType"/>
			<xsd:element name="latitude" type="latitudeType"/>
			<xsd:element name="City" type="CityType"/>
			<xsd:element name="State" type="StateType"/>
			<xsd:element name="Pixel" type="PixelType"/>
			<xsd:element name="Country" type="CountryType"/>
			<xsd:complexType name="MapType">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:complexType name="GovernmentOrganization">
				<xsd:sequence>
					<xsd:element name="ofCountry" type="CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CountryType">
				<xsd:choice>
					<xsd:element name="countryID" type="CountryDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="hasGovernment" type="GovernmentOrganization"/>
						<xsd:element name="hasCurrency" type="Currency"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="CityType">
				<xsd:sequence>
					<xsd:element name="hasAirport" type="Airport"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="AddressType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PixelType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="StateType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="longitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CodeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CountryDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Germany"/>
					<xsd:enumeration value="SouthKorea"/>
					<xsd:enumeration value="GreatBritain"/>
					<xsd:enumeration value="Canada"/>
					<xsd:enumeration value="USA"/>
					<xsd:enumeration value="Australia"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Airport">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="latitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_VICINITY-MAP_THUMBNAIL-MAP_ADDRESS_LATITUDE_LONGITUDE_MAPSIZERequest">
		<wsdl:part name="_LICENSEKEY" type="tns:CodeType">
    </wsdl:part>
		<wsdl:part name="_ADDRESS" type="tns:AddressType">
    </wsdl:part>
		<wsdl:part name="_CITY" type="tns:CityType">
    </wsdl:part>
		<wsdl:part name="_STATE" type="tns:StateType">
    </wsdl:part>
		<wsdl:part name="_COUNTRY" type="tns:CountryType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_VICINITY-MAP_THUMBNAIL-MAP_ADDRESS_LATITUDE_LONGITUDE_MAPSIZEResponse">
		<wsdl:part name="_VICINITY-MAP" type="tns:MapType">
    </wsdl:part>
		<wsdl:part name="_THUMBNAIL-MAP" type="tns:MapType">
    </wsdl:part>
		<wsdl:part name="_ADDRESS" type="tns:AddressType">
    </wsdl:part>
		<wsdl:part name="_LATITUDE" type="tns:latitudeType">
    </wsdl:part>
		<wsdl:part name="_LONGITUDE" type="tns:longitudeType">
    </wsdl:part>
		<wsdl:part name="_MAPSIZE" type="tns:PixelType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MapAddressSoap">
		<wsdl:operation name="get_VICINITY-MAP_THUMBNAIL-MAP_ADDRESS_LATITUDE_LONGITUDE_MAPSIZE">
			<wsdl:input message="tns:get_VICINITY-MAP_THUMBNAIL-MAP_ADDRESS_LATITUDE_LONGITUDE_MAPSIZERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_VICINITY-MAP_THUMBNAIL-MAP_ADDRESS_LATITUDE_LONGITUDE_MAPSIZEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MapAddressSoapBinding" type="MapAddressSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_VICINITY-MAP_THUMBNAIL-MAP_ADDRESS_LATITUDE_LONGITUDE_MAPSIZE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MapAddress"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MapAddress"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MapAddressService">
		<wsdl:port name="MapAddressSoap" binding="MapAddressSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MapAddress"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
