src/main/resources/wsdl/GetMedicalFlightAccount_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Getmedicalflightaccount" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Getmedicalflightaccount-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Getmedicalflightaccount" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Getmedicalflightaccount" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Getmedicalflightaccount" targetNamespace="http://127.0.0.1:8000/wsdl/Getmedicalflightaccount">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 25 23:39:20 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Getmedicalflightaccount" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/MedicalFlightCompanyOntology.owl#CreditCardNumber"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/MedicalFlightCompanyOntology.owl#PersonName"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/MedicalFlightCompanyOntology.owl#DateTime"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/MedicalFlightCompanyOntology.owl#AccountPassword"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/MedicalFlightCompanyOntology.owl#AccountName"/>
				<xsd:documentation source="Translationhttp://127.0.0.1:8000/ontology/ttp://127.0.0.1/ontology/MedicalFlightCompanyOntology.owl#Address"/>
				<xsd:documentation source="Translhttp://127.0.0.1:8000/ontology/ of http://127.0.0.1/ontology/MedicalFlightCompanyOntology.owl#Account"/>
			</xsd:annotation>
			<xsd:element name="CreditCardNumber" type="CreditCardNumberType"/>
			<xsd:element name="AccountPassword" type="AccountPasswordType"/>
			<xsd:element name="Account" type="AccountType"/>
			<xsd:element name="PersonName" type="PersonNameType"/>
			<xsd:element name="AccountName" type="AccountNameType"/>
			<xsd:element name="DateTime" type="DateTimeType"/>
			<xsd:element name="Address" type="AddressType"/>
			<xsd:simpleType name="AccountPasswordType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PersonNameType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CreditCardNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AddressType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AccountNameType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AccountType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DateTimeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getGetMedicalFlightAccount_AccountResponse">
		<wsdl:part name="GetMedicalFlightAccount_Account" type="tns:AccountType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getGetMedicalFlightAccount_AccountRequest">
		<wsdl:part name="GetMedicalFlightAccount_CustomerCreditCardNumber" type="tns:CreditCardNumberType">
    </wsdl:part>
		<wsdl:part name="GetMedicalFlightAccount_CustomerName" type="tns:PersonNameType">
    </wsdl:part>
		<wsdl:part name="GetMedicalFlightAccount_CustomerCreditCardExpDate" type="tns:DateTimeType">
    </wsdl:part>
		<wsdl:part name="GetMedicalFlightAccount_CustomerDesiredPassword" type="tns:AccountPasswordType">
    </wsdl:part>
		<wsdl:part name="GetMedicalFlightAccount_CustomerDesiredAccountName" type="tns:AccountNameType">
    </wsdl:part>
		<wsdl:part name="GetMedicalFlightAccount_CustomerAddress" type="tns:AddressType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GetmedicalflightaccountSoap">
		<wsdl:operation name="getGetMedicalFlightAccount_Account">
			<wsdl:input message="tns:getGetMedicalFlightAccount_AccountRequest">
    </wsdl:input>
			<wsdl:output message="tns:getGetMedicalFlightAccount_AccountResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetmedicalflightaccountSoapBinding" type="GetmedicalflightaccountSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getGetMedicalFlightAccount_Account">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Getmedicalflightaccount"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Getmedicalflightaccount"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetmedicalflightaccountService">
		<wsdl:port name="GetmedicalflightaccountSoap" binding="GetmedicalflightaccountSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Getmedicalflightaccount"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
