src/main/resources/wsdl/GetNonMedicalFlightAccount_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Getnonmedicalflightaccount" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Getnonmedicalflightaccount-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Getnonmedicalflightaccount" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Getnonmedicalflightaccount" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Getnonmedicalflightaccount" targetNamespace="http://127.0.0.1:8000/wsdl/Getnonmedicalflightaccount">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 25 23:43:28 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Getnonmedicalflightaccount" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/NonMedicalFlightCompanyOntology.owl#AccountName"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/NonMedicalFlightCompanyOntology.owl#Account"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/NonMedicalFlightCompanyOntology.owl#FlightNumber"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/NonMedicalFlightCompanyOntology.owl#PersonName"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/NonMedicalFlightCompanyOntology.owl#Address"/>
				<xsd:documentation source="Translationhttp://127.0.0.1:8000/ontology/ttp://127.0.0.1/ontology/NonMedicalFlightCompanyOntology.owl#CreditCardNumber"/>
				<xsd:documentation source="Translhttp://127.0.0.1:8000/ontology/ of http://127.0.0.1/ontology/NonMedicalFlightCompanyOntology.owl#AccountPassword"/>
				<xsd:documentation source="Thttp://127.0.0.1:8000/ontology/Type) of http://127.0.0.1/ontology/NonMedicalFlightCompanyOntology.owl#DateTime"/>
				<xsd:documentation sourhttp://127.0.0.1:8000/ontology/impleType) of http://127.0.0.1/ontology/NonMedicalFlightCompanyOntology.owl#Account"/>
			</xsd:annotation>
			<xsd:element name="CreditCardNumber" type="CreditCardNumberType"/>
			<xsd:element name="AccountPassword" type="AccountPasswordType"/>
			<xsd:element name="PersonName" type="PersonNameType"/>
			<xsd:element name="Account" type="AccountType"/>
			<xsd:element name="AccountName" type="AccountNameType"/>
			<xsd:element name="DateTime" type="DateTimeType"/>
			<xsd:element name="FlightNumber" type="FlightNumberType"/>
			<xsd:element name="Address" type="AddressType"/>
			<xsd:simpleType name="AccountPasswordType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PersonNameType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CreditCardNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="FlightNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AddressType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AccountNameType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DateTimeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AccountType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getGetNonMedicalFlightAccount_AccountRequest">
		<wsdl:part name="GetNonMedicalFlightAccount_CustomerDesiredAccountName" type="tns:AccountNameType">
    </wsdl:part>
		<wsdl:part name="BookNonMedicalFlight_Account" type="tns:AccountType">
    </wsdl:part>
		<wsdl:part name="BookNonMedicalFlight_FlightNumber" type="tns:FlightNumberType">
    </wsdl:part>
		<wsdl:part name="GetNonMedicalFlightAccount_CustomerName" type="tns:PersonNameType">
    </wsdl:part>
		<wsdl:part name="GetNonMedicalFlightAccount_CustomerAddress" type="tns:AddressType">
    </wsdl:part>
		<wsdl:part name="GetNonMedicalFlightAccount_CustomerCreditCardNumber" type="tns:CreditCardNumberType">
    </wsdl:part>
		<wsdl:part name="GetNonMedicalFlightAccount_CustomerDesiredPassword" type="tns:AccountPasswordType">
    </wsdl:part>
		<wsdl:part name="GetNonMedicalFlightAccount_CustomerCreditCardExpDate" type="tns:DateTimeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getGetNonMedicalFlightAccount_AccountResponse">
		<wsdl:part name="GetNonMedicalFlightAccount_Account" type="tns:AccountType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GetnonmedicalflightaccountSoap">
		<wsdl:operation name="getGetNonMedicalFlightAccount_Account">
			<wsdl:input message="tns:getGetNonMedicalFlightAccount_AccountRequest">
    </wsdl:input>
			<wsdl:output message="tns:getGetNonMedicalFlightAccount_AccountResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetnonmedicalflightaccountSoapBinding" type="GetnonmedicalflightaccountSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getGetNonMedicalFlightAccount_Account">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Getnonmedicalflightaccount"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Getnonmedicalflightaccount"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetnonmedicalflightaccountService">
		<wsdl:port name="GetnonmedicalflightaccountSoap" binding="GetnonmedicalflightaccountSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Getnonmedicalflightaccount"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
