src/main/resources/wsdl/getPopulationDensityOfLocation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/PopulationDensity" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/PopulationDensity-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/PopulationDensity" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/PopulationDensity" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="PopulationDensity" targetNamespace="http://127.0.0.1:8000/wsdl/PopulationDensity">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 08 17:35:02 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/PopulationDensity" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/geographydataset.owl#UniqueIdentifier"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/protont.owl#latitude"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/protont.owl#longitude"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/ontosem.owl#population-density"/>
			</xsd:annotation>
			<xsd:element name="UniqueIdentifier" type="UniqueIdentifierType"/>
			<xsd:element name="population-density" type="population-densityType"/>
			<xsd:element name="longitude" type="longitudeType"/>
			<xsd:element name="latitude" type="latitudeType"/>
			<xsd:simpleType name="population-densityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="longitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="latitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="UniqueIdentifierType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DENSITYResponse">
		<wsdl:part name="_DENSITY" type="tns:population-densityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DENSITYRequest">
		<wsdl:part name="_USERID" type="tns:UniqueIdentifierType">
    </wsdl:part>
		<wsdl:part name="_LATITUDE" type="tns:latitudeType">
    </wsdl:part>
		<wsdl:part name="_LONGITUDE" type="tns:longitudeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PopulationDensitySoap">
		<wsdl:operation name="get_DENSITY">
			<wsdl:input message="tns:get_DENSITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DENSITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PopulationDensitySoapBinding" type="PopulationDensitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DENSITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PopulationDensity"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PopulationDensity"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PopulationDensityService">
		<wsdl:port name="PopulationDensitySoap" binding="PopulationDensitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/PopulationDensity"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
