src/main/resources/wsdl/getTrafficInformation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/TrafficInformation" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/TrafficInformation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/TrafficInformation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/TrafficInformation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="TrafficInformation" targetNamespace="http://127.0.0.1:8000/wsdl/TrafficInformation">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 20 00:28:09 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/TrafficInformation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/geographydataset.owl#UniqueIdentifier"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/protont.owl#latitude"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/protont.owl#longitude"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/Units.owl#Pixel"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/Units.owl#Pixel"/>
				<xsd:documentation source="Translationhttp://127.0.0.1:8000/ontology/ttp://127.0.0.1/ontology/protont.owl#Language"/>
				<xsd:documentation source="Translahttp://127.0.0.1:8000/ontology/ of http://127.0.0.1/ontology/geographydataset.owl#KilometerLengthUnit"/>
				<xsd:documentation source="Thttp://127.0.0.1:8000/ontology/Type) of http://127.0.0.1/ontology/geographydataset.owl#TrafficIncident"/>
				<xsd:documentation sourchttp://127.0.0.1:8000/ontology/mplexType) of http://127.0.0.1/ontology/geographydataset.owl#Coordinate"/>
				<xsd:documentationhttp://127.0.0.1:8000/ontology/XSD-SimpleType) of http://127.0.0.1/ontology/geographydataset.owl#Map"/>
			</xsd:annotation>
			<xsd:element name="Map" type="MapType"/>
			<xsd:element name="longitude" type="longitudeType"/>
			<xsd:element name="Language" type="LanguageType"/>
			<xsd:element name="KilometerLengthUnit" type="KilometerLengthUnitType"/>
			<xsd:element name="UniqueIdentifier" type="UniqueIdentifierType"/>
			<xsd:element name="latitude" type="latitudeType"/>
			<xsd:element name="TrafficIncident" type="TrafficIncidentType"/>
			<xsd:element name="Coordinate" type="CoordinateType"/>
			<xsd:element name="Pixel" type="PixelType"/>
			<xsd:complexType name="CoordinateType">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:complexType name="KilometerLengthUnitType">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:simpleType name="TrafficIncidentType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MapType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PixelType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="longitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="latitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="UniqueIdentifierType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LanguageType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_INCIDENTS_HOTSPOTS_MAPResponse">
		<wsdl:part name="_INCIDENTS" type="tns:TrafficIncidentType">
    </wsdl:part>
		<wsdl:part name="_HOTSPOTS" type="tns:CoordinateType">
    </wsdl:part>
		<wsdl:part name="_MAP" type="tns:MapType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_INCIDENTS_HOTSPOTS_MAPRequest">
		<wsdl:part name="_USERID" type="tns:UniqueIdentifierType">
    </wsdl:part>
		<wsdl:part name="_LATITUDE" type="tns:latitudeType">
    </wsdl:part>
		<wsdl:part name="_LONGITUDE" type="tns:longitudeType">
    </wsdl:part>
		<wsdl:part name="_IMAGE-WIDTH" type="tns:PixelType">
    </wsdl:part>
		<wsdl:part name="_IMAGE-HEIGHT" type="tns:PixelType">
    </wsdl:part>
		<wsdl:part name="_LANGUAGE" type="tns:LanguageType">
    </wsdl:part>
		<wsdl:part name="_RANGE" type="tns:KilometerLengthUnitType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TrafficInformationSoap">
		<wsdl:operation name="get_INCIDENTS_HOTSPOTS_MAP">
			<wsdl:input message="tns:get_INCIDENTS_HOTSPOTS_MAPRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_INCIDENTS_HOTSPOTS_MAPResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TrafficInformationSoapBinding" type="TrafficInformationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_INCIDENTS_HOTSPOTS_MAP">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TrafficInformation"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TrafficInformation"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TrafficInformationService">
		<wsdl:port name="TrafficInformationSoap" binding="TrafficInformationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/TrafficInformation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
