src/main/resources/wsdl/getUSZipCodeLocation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/UsZipcodeLocation" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/UsZipcodeLocation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/UsZipcodeLocation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/UsZipcodeLocation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="UsZipcodeLocation" targetNamespace="http://127.0.0.1:8000/wsdl/UsZipcodeLocation">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 27 19:15:19 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/UsZipcodeLocation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/geographydataset.owl#Code"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/geographydataset.owl#US5DigitZipCode"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/geographydataset.owl#USStateCode"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/protont.owl#latitude"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/protont.owl#longitude"/>
				<xsd:documentation source="Translation http://127.0.0.1:8000/ontology/ttp://127.0.0.1/ontology/protonu.owl#City"/>
			</xsd:annotation>
			<xsd:element name="US5DigitZipCode" type="US5DigitZipCodeType"/>
			<xsd:element name="Code" type="CodeType"/>
			<xsd:element name="City" type="CityType"/>
			<xsd:element name="longitude" type="longitudeType"/>
			<xsd:element name="latitude" type="latitudeType"/>
			<xsd:element name="USStateCode" type="USStateCodeType"/>
			<xsd:complexType name="CityType">
				<xsd:sequence>
					<xsd:element name="hasAirport" type="Airport"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="USStateCodeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CodeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="longitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="latitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="US5DigitZipCodeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Airport">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_USSTATECODE_LATITUDE_LONGITUDE_CITYResponse">
		<wsdl:part name="_USSTATECODE" type="tns:USStateCodeType">
    </wsdl:part>
		<wsdl:part name="_LATITUDE" type="tns:latitudeType">
    </wsdl:part>
		<wsdl:part name="_LONGITUDE" type="tns:longitudeType">
    </wsdl:part>
		<wsdl:part name="_CITY" type="tns:CityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_USSTATECODE_LATITUDE_LONGITUDE_CITYRequest">
		<wsdl:part name="_LICENSEKEY" type="tns:CodeType">
    </wsdl:part>
		<wsdl:part name="_ZIPCODE" type="tns:US5DigitZipCodeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="UsZipcodeLocationSoap">
		<wsdl:operation name="get_USSTATECODE_LATITUDE_LONGITUDE_CITY">
			<wsdl:input message="tns:get_USSTATECODE_LATITUDE_LONGITUDE_CITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_USSTATECODE_LATITUDE_LONGITUDE_CITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UsZipcodeLocationSoapBinding" type="UsZipcodeLocationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_USSTATECODE_LATITUDE_LONGITUDE_CITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/UsZipcodeLocation"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/UsZipcodeLocation"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UsZipcodeLocationService">
		<wsdl:port name="UsZipcodeLocationSoap" binding="UsZipcodeLocationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/UsZipcodeLocation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
