src/main/resources/wsdl/getZipCodesWithinCityState.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/PlacesWithinCity" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/PlacesWithinCity-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/PlacesWithinCity" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/PlacesWithinCity" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="PlacesWithinCity" targetNamespace="http://127.0.0.1:8000/wsdl/PlacesWithinCity">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 20 00:44:19 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/PlacesWithinCity" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/geographydataset.owl#Code"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/protonu.owl#City"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/protonu.owl#State"/>
				<xsd:documentation source="Translation (OWL2XSD-Chttp://127.0.0.1:8000/ontology/0.0.1/ontology/protonu.owl#Country"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/geographydataset.owl#GeographicDistance"/>
				<xsd:documentation source="Translation http://127.0.0.1:8000/ontology/ttp://127.0.0.1/ontology/geographydataset.owl#US5DigitZipCode"/>
				<xsd:documentation source="Translhttp://127.0.0.1:8000/ontology/ of http://127.0.0.1/ontology/geographydataset.owl#GeographicDistance"/>
			</xsd:annotation>
			<xsd:element name="State" type="StateType"/>
			<xsd:element name="GeographicDistance" type="GeographicDistanceType"/>
			<xsd:element name="Code" type="CodeType"/>
			<xsd:element name="City" type="CityType"/>
			<xsd:element name="Country" type="CountryType"/>
			<xsd:element name="US5DigitZipCode" type="US5DigitZipCodeType"/>
			<xsd:complexType name="US5DigitZipCodeType">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:complexType name="GovernmentOrganization">
				<xsd:sequence>
					<xsd:element name="ofCountry" type="CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CountryType">
				<xsd:choice>
					<xsd:element name="countryID" type="CountryDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="hasGovernment" type="GovernmentOrganization"/>
						<xsd:element name="hasCurrency" type="Currency"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="CityType">
				<xsd:sequence>
					<xsd:element name="hasAirport" type="Airport"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CodeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CountryDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Germany"/>
					<xsd:enumeration value="SouthKorea"/>
					<xsd:enumeration value="GreatBritain"/>
					<xsd:enumeration value="Canada"/>
					<xsd:enumeration value="USA"/>
					<xsd:enumeration value="Australia"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="GeographicDistanceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="StateType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Airport">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_ZIPCODE_DISTANCE-TO-CITYResponse">
		<wsdl:part name="_ZIPCODE" type="tns:US5DigitZipCodeType">
    </wsdl:part>
		<wsdl:part name="_DISTANCE-TO-CITY" type="tns:GeographicDistanceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_ZIPCODE_DISTANCE-TO-CITYRequest">
		<wsdl:part name="_LICENSEKEY" type="tns:CodeType">
    </wsdl:part>
		<wsdl:part name="_CITY" type="tns:CityType">
    </wsdl:part>
		<wsdl:part name="_STATE" type="tns:StateType">
    </wsdl:part>
		<wsdl:part name="_COUNTRY" type="tns:CountryType">
    </wsdl:part>
		<wsdl:part name="_WITHIN-DISTANCE" type="tns:GeographicDistanceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PlacesWithinCitySoap">
		<wsdl:operation name="get_ZIPCODE_DISTANCE-TO-CITY">
			<wsdl:input message="tns:get_ZIPCODE_DISTANCE-TO-CITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_ZIPCODE_DISTANCE-TO-CITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PlacesWithinCitySoapBinding" type="PlacesWithinCitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_ZIPCODE_DISTANCE-TO-CITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PlacesWithinCity"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PlacesWithinCity"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PlacesWithinCityService">
		<wsdl:port name="PlacesWithinCitySoap" binding="PlacesWithinCitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/PlacesWithinCity"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
