src/main/resources/wsdl/getZipCodeLocation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/ZipcodeLocation" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/ZipcodeLocation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/ZipcodeLocation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/ZipcodeLocation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="ZipcodeLocation" targetNamespace="http://127.0.0.1:8000/wsdl/ZipcodeLocation">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 20 00:54:21 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/ZipcodeLocation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/geographydataset.owl#Code"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/geographydataset.owl#US5DigitZipCode"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/protonu.owl#State"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/protont.owl#latitude"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/protont.owl#longitude"/>
			</xsd:annotation>
			<xsd:element name="State" type="StateType"/>
			<xsd:element name="US5DigitZipCode" type="US5DigitZipCodeType"/>
			<xsd:element name="longitude" type="longitudeType"/>
			<xsd:element name="Code" type="CodeType"/>
			<xsd:element name="latitude" type="latitudeType"/>
			<xsd:complexType name="CodeType">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:simpleType name="US5DigitZipCodeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="longitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="latitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="StateType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_STATE_LATITUDE_LONGITUDEResponse">
		<wsdl:part name="_STATE" type="tns:StateType">
    </wsdl:part>
		<wsdl:part name="_LATITUDE" type="tns:latitudeType">
    </wsdl:part>
		<wsdl:part name="_LONGITUDE" type="tns:longitudeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_STATE_LATITUDE_LONGITUDERequest">
		<wsdl:part name="_LICENSEKEY" type="tns:CodeType">
    </wsdl:part>
		<wsdl:part name="_ZIPCODE" type="tns:US5DigitZipCodeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ZipcodeLocationSoap">
		<wsdl:operation name="get_STATE_LATITUDE_LONGITUDE">
			<wsdl:input message="tns:get_STATE_LATITUDE_LONGITUDERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_STATE_LATITUDE_LONGITUDEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZipcodeLocationSoapBinding" type="ZipcodeLocationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_STATE_LATITUDE_LONGITUDE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ZipcodeLocation"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ZipcodeLocation"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZipcodeLocationService">
		<wsdl:port name="ZipcodeLocationSoap" binding="ZipcodeLocationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/ZipcodeLocation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
