src/main/resources/wsdl/getZipCodeInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/ZipcodeInfo" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/ZipcodeInfo-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/ZipcodeInfo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/ZipcodeInfo" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="ZipcodeInfo" targetNamespace="http://127.0.0.1:8000/wsdl/ZipcodeInfo">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 20 00:48:30 CEST 2010"  targetNamespace="http://127.0.0.1:8000/wsdl/ZipcodeInfo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/geographydataset.owl#Code"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/geographydataset.owl#US5DigitZipCode"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/protonu.owl#City"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/protonu.owl#State"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/protonu.owl#TimeZone"/>
				<xsd:documentation source="Translationhttp://127.0.0.1:8000/ontology/ttp://127.0.0.1/ontology/geographydataset.owl#daylightSavingTime"/>
			</xsd:annotation>
			<xsd:element name="State" type="StateType"/>
			<xsd:element name="US5DigitZipCode" type="US5DigitZipCodeType"/>
			<xsd:element name="daylightSavingTime" type="daylightSavingTimeType"/>
			<xsd:element name="TimeZone" type="TimeZoneType"/>
			<xsd:element name="City" type="CityType"/>
			<xsd:element name="Code" type="CodeType"/>
			<xsd:complexType name="CodeType">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:complexType name="CityType">
				<xsd:sequence>
					<xsd:element name="hasAirport" type="Airport"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="daylightSavingTimeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="US5DigitZipCodeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="StateType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Airport">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TimeZoneType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_CITY_STATE_TIMEZONE_DAYLIGHTSAVINGTIMEResponse">
		<wsdl:part name="_CITY" type="tns:CityType">
    </wsdl:part>
		<wsdl:part name="_STATE" type="tns:StateType">
    </wsdl:part>
		<wsdl:part name="_TIMEZONE" type="tns:TimeZoneType">
    </wsdl:part>
		<wsdl:part name="_DAYLIGHTSAVINGTIME" type="tns:daylightSavingTimeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_CITY_STATE_TIMEZONE_DAYLIGHTSAVINGTIMERequest">
		<wsdl:part name="_LICENSEKEY" type="tns:CodeType">
    </wsdl:part>
		<wsdl:part name="_ZIPCODE" type="tns:US5DigitZipCodeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ZipcodeInfoSoap">
		<wsdl:operation name="get_CITY_STATE_TIMEZONE_DAYLIGHTSAVINGTIME">
			<wsdl:input message="tns:get_CITY_STATE_TIMEZONE_DAYLIGHTSAVINGTIMERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_CITY_STATE_TIMEZONE_DAYLIGHTSAVINGTIMEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZipcodeInfoSoapBinding" type="ZipcodeInfoSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_CITY_STATE_TIMEZONE_DAYLIGHTSAVINGTIME">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ZipcodeInfo"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ZipcodeInfo"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZipcodeInfoService">
		<wsdl:port name="ZipcodeInfoSoap" binding="ZipcodeInfoSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/ZipcodeInfo"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
