src/main/resources/wsdl/government-organization_profession_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Government-organizationProfession" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Government-organizationProfession-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Government-organizationProfession" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Government-organizationProfession" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Government-organizationProfession" targetNamespace="http://127.0.0.1:8000/wsdl/Government-organizationProfession">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 00:57:05 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Government-organizationProfession" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Government-Organization"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Profession"/>
			</xsd:annotation>
			<xsd:element name="Profession" type="ProfessionType"/>
			<xsd:element name="Government-Organization" type="Government-OrganizationType"/>
			<xsd:simpleType name="Government-OrganizationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ProfessionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PROFESSIONResponse">
		<wsdl:part name="_PROFESSION" type="tns:ProfessionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PROFESSIONRequest">
		<wsdl:part name="_GOVERNMENT-ORGANIZATION" type="tns:Government-OrganizationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Government-organizationProfessionSoap">
		<wsdl:operation name="get_PROFESSION">
			<wsdl:input message="tns:get_PROFESSIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PROFESSIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Government-organizationProfessionSoapBinding" type="Government-organizationProfessionSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PROFESSION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Government-organizationProfession"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Government-organizationProfession"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Government-organizationProfessionService">
		<wsdl:port name="Government-organizationProfessionSoap" binding="Government-organizationProfessionSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Government-organizationProfession"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
