src/main/resources/wsdl/governmentorganizationmissile_unilateralgiving_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/GovernmentorganizationmissileUnilateralgiving" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/GovernmentorganizationmissileUnilateralgiving-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/GovernmentorganizationmissileUnilateralgiving" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/GovernmentorganizationmissileUnilateralgiving" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="GovernmentorganizationmissileUnilateralgiving" targetNamespace="http://127.0.0.1:8000/wsdl/GovernmentorganizationmissileUnilateralgiving">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 00:08:32 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/GovernmentorganizationmissileUnilateralgiving" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Missile"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#GovernmentOrganization"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#UnilateralGiving"/>
			</xsd:annotation>
			<xsd:element name="Missile" type="MissileType"/>
			<xsd:element name="GovernmentOrganization" type="GovernmentOrganizationType"/>
			<xsd:element name="UnilateralGiving" type="UnilateralGivingType"/>
			<xsd:simpleType name="GovernmentOrganizationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="UnilateralGivingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MissileType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_UNILATERALGIVINGRequest">
		<wsdl:part name="_MISSILE" type="tns:MissileType">
    </wsdl:part>
		<wsdl:part name="_GOVERNMENTORGANIZATION" type="tns:GovernmentOrganizationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_UNILATERALGIVINGResponse">
		<wsdl:part name="_UNILATERALGIVING" type="tns:UnilateralGivingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GovernmentorganizationmissileUnilateralgivingSoap">
		<wsdl:operation name="get_UNILATERALGIVING">
			<wsdl:input message="tns:get_UNILATERALGIVINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_UNILATERALGIVINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GovernmentorganizationmissileUnilateralgivingSoapBinding" type="GovernmentorganizationmissileUnilateralgivingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_UNILATERALGIVING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/GovernmentorganizationmissileUnilateralgiving"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/GovernmentorganizationmissileUnilateralgiving"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GovernmentorganizationmissileUnilateralgivingService">
		<wsdl:port name="GovernmentorganizationmissileUnilateralgivingSoap" binding="GovernmentorganizationmissileUnilateralgivingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/GovernmentorganizationmissileUnilateralgiving"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
