src/main/resources/wsdl/government-organization_skilledoccupation_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Government-organizationSkilledoccupation" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Government-organizationSkilledoccupation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Government-organizationSkilledoccupation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Government-organizationSkilledoccupation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Government-organizationSkilledoccupation" targetNamespace="http://127.0.0.1:8000/wsdl/Government-organizationSkilledoccupation">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 00:58:17 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Government-organizationSkilledoccupation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Government-Organization"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#SkilledOccupation"/>
			</xsd:annotation>
			<xsd:element name="SkilledOccupation" type="SkilledOccupationType"/>
			<xsd:element name="Government-Organization" type="Government-OrganizationType"/>
			<xsd:simpleType name="SkilledOccupationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Government-OrganizationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_SKILLEDOCCUPATIONRequest">
		<wsdl:part name="_GOVERNMENT-ORGANIZATION" type="tns:Government-OrganizationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_SKILLEDOCCUPATIONResponse">
		<wsdl:part name="_SKILLEDOCCUPATION" type="tns:SkilledOccupationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Government-organizationSkilledoccupationSoap">
		<wsdl:operation name="get_SKILLEDOCCUPATION">
			<wsdl:input message="tns:get_SKILLEDOCCUPATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_SKILLEDOCCUPATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Government-organizationSkilledoccupationSoapBinding" type="Government-organizationSkilledoccupationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_SKILLEDOCCUPATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Government-organizationSkilledoccupation"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Government-organizationSkilledoccupation"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Government-organizationSkilledoccupationService">
		<wsdl:port name="Government-organizationSkilledoccupationSoap" binding="Government-organizationSkilledoccupationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Government-organizationSkilledoccupation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
