src/main/resources/wsdl/governmentorganizationselfpowereddevice_funding_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/GovernmentorganizationselfpowereddeviceFunding" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/GovernmentorganizationselfpowereddeviceFunding-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/GovernmentorganizationselfpowereddeviceFunding" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/GovernmentorganizationselfpowereddeviceFunding" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="GovernmentorganizationselfpowereddeviceFunding" targetNamespace="http://127.0.0.1:8000/wsdl/GovernmentorganizationselfpowereddeviceFunding">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 00:04:30 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/GovernmentorganizationselfpowereddeviceFunding" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#SelfPoweredDevice"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#GovernmentOrganization"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#Funding"/>
			</xsd:annotation>
			<xsd:element name="GovernmentOrganization" type="GovernmentOrganizationType"/>
			<xsd:element name="SelfPoweredDevice" type="SelfPoweredDeviceType"/>
			<xsd:element name="Funding" type="FundingType"/>
			<xsd:simpleType name="GovernmentOrganizationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="FundingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="SelfPoweredDeviceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_FUNDINGResponse">
		<wsdl:part name="_FUNDING" type="tns:FundingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_FUNDINGRequest">
		<wsdl:part name="_SELFPOWEREDDEVICE" type="tns:SelfPoweredDeviceType">
    </wsdl:part>
		<wsdl:part name="_GOVERNMENTORGANIZATION" type="tns:GovernmentOrganizationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GovernmentorganizationselfpowereddeviceFundingSoap">
		<wsdl:operation name="get_FUNDING">
			<wsdl:input message="tns:get_FUNDINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_FUNDINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GovernmentorganizationselfpowereddeviceFundingSoapBinding" type="GovernmentorganizationselfpowereddeviceFundingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_FUNDING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/GovernmentorganizationselfpowereddeviceFunding"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/GovernmentorganizationselfpowereddeviceFunding"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GovernmentorganizationselfpowereddeviceFundingService">
		<wsdl:port name="GovernmentorganizationselfpowereddeviceFundingSoap" binding="GovernmentorganizationselfpowereddeviceFundingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/GovernmentorganizationselfpowereddeviceFunding"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
