src/main/resources/wsdl/governmentdegree_scholarshipquantity_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/GovernmentdegreeScholarshipquantity" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/GovernmentdegreeScholarshipquantity-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/GovernmentdegreeScholarshipquantity" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/GovernmentdegreeScholarshipquantity" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="GovernmentdegreeScholarshipquantity" targetNamespace="http://127.0.0.1:8000/wsdl/GovernmentdegreeScholarshipquantity">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 01:57:08 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/GovernmentdegreeScholarshipquantity" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Degree"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#Government"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#Scholarship"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/support.owl#Quantity"/>
			</xsd:annotation>
			<xsd:element name="Government" type="GovernmentType"/>
			<xsd:element name="Scholarship" type="ScholarshipType"/>
			<xsd:element name="Degree" type="DegreeType"/>
			<xsd:element name="Quantity" type="QuantityType"/>
			<xsd:simpleType name="GovernmentType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ScholarshipType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DegreeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="QuantityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_SCHOLARSHIP_QUANTITYResponse">
		<wsdl:part name="_SCHOLARSHIP" type="tns:ScholarshipType">
    </wsdl:part>
		<wsdl:part name="_QUANTITY" type="tns:QuantityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_SCHOLARSHIP_QUANTITYRequest">
		<wsdl:part name="_DEGREE" type="tns:DegreeType">
    </wsdl:part>
		<wsdl:part name="_GOVERNMENT" type="tns:GovernmentType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GovernmentdegreeScholarshipquantitySoap">
		<wsdl:operation name="get_SCHOLARSHIP_QUANTITY">
			<wsdl:input message="tns:get_SCHOLARSHIP_QUANTITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_SCHOLARSHIP_QUANTITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GovernmentdegreeScholarshipquantitySoapBinding" type="tns:GovernmentdegreeScholarshipquantitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_SCHOLARSHIP_QUANTITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/GovernmentdegreeScholarshipquantity"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/GovernmentdegreeScholarshipquantity"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GovernmentdegreeScholarshipquantityService">
		<wsdl:port name="GovernmentdegreeScholarshipquantitySoap" binding="GovernmentdegreeScholarshipquantitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/GovernmentdegreeScholarshipquantity"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
