src/main/resources/wsdl/governmentorganization_scholarship_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/GovernmentorganizationScholarship" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/GovernmentorganizationScholarship-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/GovernmentorganizationScholarship" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/GovernmentorganizationScholarship" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="GovernmentorganizationScholarship" targetNamespace="http://127.0.0.1:8000/wsdl/GovernmentorganizationScholarship">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 00:16:27 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/GovernmentorganizationScholarship" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#GovernmentOrganization"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Scholarship"/>
			</xsd:annotation>
			<xsd:element name="GovernmentOrganization" type="GovernmentOrganizationType"/>
			<xsd:element name="Scholarship" type="ScholarshipType"/>
			<xsd:simpleType name="GovernmentOrganizationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ScholarshipType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_SCHOLARSHIPRequest">
		<wsdl:part name="_GOVERNMENTORGANIZATION" type="tns:GovernmentOrganizationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_SCHOLARSHIPResponse">
		<wsdl:part name="_SCHOLARSHIP" type="tns:ScholarshipType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GovernmentorganizationScholarshipSoap">
		<wsdl:operation name="get_SCHOLARSHIP">
			<wsdl:input message="tns:get_SCHOLARSHIPRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_SCHOLARSHIPResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GovernmentorganizationScholarshipSoapBinding" type="GovernmentorganizationScholarshipSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_SCHOLARSHIP">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/GovernmentorganizationScholarship"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/GovernmentorganizationScholarship"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GovernmentorganizationScholarshipService">
		<wsdl:port name="GovernmentorganizationScholarshipSoap" binding="GovernmentorganizationScholarshipSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/GovernmentorganizationScholarship"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
