src/main/resources/wsdl/governmentmissile_financing_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/GovernmentmissileFinancing" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/GovernmentmissileFinancing-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/GovernmentmissileFinancing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/GovernmentmissileFinancing" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="GovernmentmissileFinancing" targetNamespace="http://127.0.0.1:8000/wsdl/GovernmentmissileFinancing">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 25 23:58:14 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/GovernmentmissileFinancing" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Missile"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#Government"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#Financing"/>
			</xsd:annotation>
			<xsd:element name="Missile" type="MissileType"/>
			<xsd:element name="Financing" type="FinancingType"/>
			<xsd:element name="Government" type="GovernmentType"/>
			<xsd:simpleType name="GovernmentType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MissileType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="FinancingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_FINANCINGRequest">
		<wsdl:part name="_MISSILE" type="tns:MissileType">
    </wsdl:part>
		<wsdl:part name="_GOVERNMENT" type="tns:GovernmentType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_FINANCINGResponse">
		<wsdl:part name="_FINANCING" type="tns:FinancingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GovernmentmissileFinancingSoap">
		<wsdl:operation name="get_FINANCING">
			<wsdl:input message="tns:get_FINANCINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_FINANCINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GovernmentmissileFinancingSoapBinding" type="GovernmentmissileFinancingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_FINANCING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/GovernmentmissileFinancing"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/GovernmentmissileFinancing"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GovernmentmissileFinancingService">
		<wsdl:port name="GovernmentmissileFinancingSoap" binding="GovernmentmissileFinancingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/GovernmentmissileFinancing"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
