src/main/resources/wsdl/greenLight_to_on.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1/isreal/wsdl/Greenlighttoon" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/isreal/wsdl/Greenlighttoon-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/isreal/wsdl/Greenlighttoon" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/isreal/wsdl/Greenlighttoon" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Greenlighttoon" targetNamespace="http://127.0.0.1/isreal/wsdl/Greenlighttoon">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon Sep 14 21:54:49 CEST 2009" targetNamespace="http://127.0.0.1/isreal/wsdl/Greenlighttoon" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/isreal/messemodul.owl#MesseModul"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/isreal/messemodul.owl#Magazine"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/isreal/messemodul.owl#GreenLamp"/>
			</xsd:annotation>
			<xsd:element name="GreenLamp" type="GreenLampType"/>
			<xsd:element name="Magazine" type="MagazineType"/>
			<xsd:element name="MesseModul" type="MesseModulType"/>
			<xsd:simpleType name="MagazineType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="magazin01"/>
					<xsd:enumeration value="magazin03"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="GreenLampType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MesseModulType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getMagazineGreenLampRequest">
		<wsdl:part name="MesseModul" type="tns:MesseModulType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getMagazineGreenLampResponse">
		<wsdl:part name="Magazine" type="tns:MagazineType">
    </wsdl:part>
		<wsdl:part name="GreenLamp" type="tns:GreenLampType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GreenlighttoonSoap">
		<wsdl:operation name="getMagazineGreenLamp">
			<wsdl:input message="tns:getMagazineGreenLampRequest">
    </wsdl:input>
			<wsdl:output message="tns:getMagazineGreenLampResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GreenlighttoonSoapBinding" type="GreenlighttoonSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getMagazineGreenLamp">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/isreal/wsdl/Greenlighttoon"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/isreal/wsdl/Greenlighttoon"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GreenlighttoonService">
		<wsdl:port name="GreenlighttoonSoap" binding="GreenlighttoonSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1/isreal/wsdl/Greenlighttoon"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
