src/main/resources/wsdl/GrocerystoreFlourdoughbutter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/GrocerystoreFlourdoughbutter-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/GrocerystoreFlourdoughbutter" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/GrocerystoreFlourdoughbutter" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="GrocerystoreFlourdoughbutter" targetNamespace="http://127.0.0.1:8000/wsdl/GrocerystoreFlourdoughbutter">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 04 16:54:40 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/GrocerystoreFlourdoughbutter" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#GroceryStore"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Flour"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#Dough"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/Mid-level-ontology.owl#Butter"/>
			</xsd:annotation>
			<xsd:element name="GroceryStore" type="tns:GroceryStoreType"/>
			<xsd:element name="Flour" type="tns:FlourType"/>
			<xsd:element name="Dough" type="tns:DoughType"/>
			<xsd:element name="Butter" type="tns:ButterType"/>
			<xsd:simpleType name="FlourType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ButterType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DoughType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="GroceryStoreType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_FLOUR_DOUGH_BUTTERResponse">
		<wsdl:part name="_FLOUR" type="tns:FlourType">
    </wsdl:part>
		<wsdl:part name="_DOUGH" type="tns:DoughType">
    </wsdl:part>
		<wsdl:part name="_BUTTER" type="tns:ButterType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_FLOUR_DOUGH_BUTTERRequest">
		<wsdl:part name="_GROCERYSTORE" type="tns:GroceryStoreType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GrocerystoreFlourdoughbutterSoap">
		<wsdl:operation name="get_FLOUR_DOUGH_BUTTER">
			<wsdl:input message="tns:get_FLOUR_DOUGH_BUTTERRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_FLOUR_DOUGH_BUTTERResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GrocerystoreFlourdoughbutterSoapBinding" type="tns:GrocerystoreFlourdoughbutterSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_FLOUR_DOUGH_BUTTER">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/GrocerystoreFlourdoughbutter"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/GrocerystoreFlourdoughbutter"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GrocerystoreFlourdoughbutterService">
		<wsdl:port name="GrocerystoreFlourdoughbutterSoap" binding="tns:GrocerystoreFlourdoughbutterSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/GrocerystoreFlourdoughbutter"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
