src/main/resources/wsdl/GrocerystoreFodder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/GrocerystoreFodder-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/GrocerystoreFodder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/GrocerystoreFodder" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="GrocerystoreFodder" targetNamespace="http://127.0.0.1:8000/wsdl/GrocerystoreFodder">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed May 20 19:23:43 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/GrocerystoreFodder" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#GroceryStore"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Fodder"/>
			</xsd:annotation>
			<xsd:element name="GroceryStore" type="tns:GroceryStoreType"/>
			<xsd:element name="Fodder" type="tns:FodderType"/>
			<xsd:simpleType name="FodderType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="GroceryStoreType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_FODDERRequest">
		<wsdl:part name="_GROCERYSTORE" type="tns:GroceryStoreType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_FODDERResponse">
		<wsdl:part name="_FODDER" type="tns:FodderType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GrocerystoreFodderSoap">
		<wsdl:operation name="get_FODDER">
			<wsdl:input message="tns:get_FODDERRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_FODDERResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GrocerystoreFodderSoapBinding" type="tns:GrocerystoreFodderSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_FODDER">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/GrocerystoreFodder"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/GrocerystoreFodder"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GrocerystoreFodderService">
		<wsdl:port name="GrocerystoreFodderSoap" binding="tns:GrocerystoreFodderSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/GrocerystoreFodder"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
