src/main/resources/wsdl/HDP2_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/HospitalDiagnosticprocesstimeduration" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/HospitalDiagnosticprocesstimeduration-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/HospitalDiagnosticprocesstimeduration" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/HospitalDiagnosticprocesstimeduration" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="HospitalDiagnosticprocesstimeduration" targetNamespace="http://127.0.0.1:8000/wsdl/HospitalDiagnosticprocesstimeduration">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 14:45:52 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/HospitalDiagnosticprocesstimeduration" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Hospital"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#DiagnosticProcess"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#TimeDuration"/>
			</xsd:annotation>
			<xsd:element name="DiagnosticProcess" type="DiagnosticProcessType"/>
			<xsd:element name="Hospital" type="HospitalType"/>
			<xsd:element name="TimeDuration" type="TimeDurationType"/>
			<xsd:simpleType name="DiagnosticProcessType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TimeDurationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="HospitalType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DIAGNOSTICPROCESS_TIMEDURATIONRequest">
		<wsdl:part name="_HOSPITAL" type="tns:HospitalType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DIAGNOSTICPROCESS_TIMEDURATIONResponse">
		<wsdl:part name="_DIAGNOSTICPROCESS" type="tns:DiagnosticProcessType">
    </wsdl:part>
		<wsdl:part name="_TIMEDURATION" type="tns:TimeDurationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="HospitalDiagnosticprocesstimedurationSoap">
		<wsdl:operation name="get_DIAGNOSTICPROCESS_TIMEDURATION">
			<wsdl:input message="tns:get_DIAGNOSTICPROCESS_TIMEDURATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DIAGNOSTICPROCESS_TIMEDURATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HospitalDiagnosticprocesstimedurationSoapBinding" type="HospitalDiagnosticprocesstimedurationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DIAGNOSTICPROCESS_TIMEDURATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/HospitalDiagnosticprocesstimeduration"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/HospitalDiagnosticprocesstimeduration"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HospitalDiagnosticprocesstimedurationService">
		<wsdl:port name="HospitalDiagnosticprocesstimedurationSoap" binding="HospitalDiagnosticprocesstimedurationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/HospitalDiagnosticprocesstimeduration"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
