src/main/resources/wsdl/hiking_ruralarea_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/HikingRuralarea" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/HikingRuralarea-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/HikingRuralarea" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/HikingRuralarea" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="HikingRuralarea" targetNamespace="http://127.0.0.1:8000/wsdl/HikingRuralarea">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 16:38:29 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/HikingRuralarea" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Hiking"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#RuralArea"/>
			</xsd:annotation>
			<xsd:element name="Hiking" type="HikingType"/>
			<xsd:element name="RuralArea" type="RuralAreaType"/>
			<xsd:simpleType name="RuralAreaType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="CapeYork"/>
					<xsd:enumeration value="Woomera"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="HikingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RURALAREARequest">
		<wsdl:part name="_HIKING" type="tns:HikingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RURALAREAResponse">
		<wsdl:part name="_RURALAREA" type="tns:RuralAreaType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="HikingRuralareaSoap">
		<wsdl:operation name="get_RURALAREA">
			<wsdl:input message="tns:get_RURALAREARequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RURALAREAResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HikingRuralareaSoapBinding" type="HikingRuralareaSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RURALAREA">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/HikingRuralarea"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/HikingRuralarea"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HikingRuralareaService">
		<wsdl:port name="HikingRuralareaSoap" binding="HikingRuralareaSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/HikingRuralarea"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
