src/main/resources/wsdl/hiking_urbanarea_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/HikingUrbanarea" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/HikingUrbanarea-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/HikingUrbanarea" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/HikingUrbanarea" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="HikingUrbanarea" targetNamespace="http://127.0.0.1:8000/wsdl/HikingUrbanarea">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 16:40:27 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/HikingUrbanarea" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Hiking"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#UrbanArea"/>
			</xsd:annotation>
			<xsd:element name="Hiking" type="HikingType"/>
			<xsd:element name="UrbanArea" type="UrbanAreaType"/>
			<xsd:simpleType name="HikingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="UrbanAreaType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_URBANAREAResponse">
		<wsdl:part name="_URBANAREA" type="tns:UrbanAreaType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_URBANAREARequest">
		<wsdl:part name="_HIKING" type="tns:HikingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="HikingUrbanareaSoap">
		<wsdl:operation name="get_URBANAREA">
			<wsdl:input message="tns:get_URBANAREARequest">
    </wsdl:input>
			<wsdl:output message="tns:get_URBANAREAResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HikingUrbanareaSoapBinding" type="HikingUrbanareaSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_URBANAREA">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/HikingUrbanarea"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/HikingUrbanarea"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HikingUrbanareaService">
		<wsdl:port name="HikingUrbanareaSoap" binding="HikingUrbanareaSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/HikingUrbanarea"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
