src/main/resources/wsdl/hiking_destination_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/HikingDestination" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/HikingDestination-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/HikingDestination" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/HikingDestination" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="HikingDestination" targetNamespace="http://127.0.0.1:8000/wsdl/HikingDestination">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 16:42:40 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/HikingDestination" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Hiking"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#Destination"/>
			</xsd:annotation>
			<xsd:element name="Hiking" type="HikingType"/>
			<xsd:element name="Destination" type="DestinationType"/>
			<xsd:simpleType name="DestinationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="HikingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DESTINATIONResponse">
		<wsdl:part name="_DESTINATION" type="tns:DestinationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DESTINATIONRequest">
		<wsdl:part name="_HIKING" type="tns:HikingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="HikingDestinationSoap">
		<wsdl:operation name="get_DESTINATION">
			<wsdl:input message="tns:get_DESTINATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DESTINATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HikingDestinationSoapBinding" type="HikingDestinationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DESTINATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/HikingDestination"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/HikingDestination"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HikingDestinationService">
		<wsdl:port name="HikingDestinationSoap" binding="HikingDestinationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/HikingDestination"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
