src/main/resources/wsdl/hikingsurfing_city_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/HikingsurfingCity" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/HikingsurfingCity-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/HikingsurfingCity" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/HikingsurfingCity" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="HikingsurfingCity" targetNamespace="http://127.0.0.1:8000/wsdl/HikingsurfingCity">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 16:50:38 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/HikingsurfingCity" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Surfing"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#Hiking"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/travel.owl#City"/>
			</xsd:annotation>
			<xsd:element name="Hiking" type="HikingType"/>
			<xsd:element name="City" type="CityType"/>
			<xsd:element name="Surfing" type="SurfingType"/>
			<xsd:complexType name="LuxuryHotel">
				<xsd:choice>
					<xsd:element name="luxuryHotelID" type="LuxuryHotelDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="hasRating" type="LuxuryHotelAccommodationRating"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="AccommodationRating">
				<xsd:choice>
					<xsd:element name="accommodationRatingID" type="AccommodationRatingDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="CityType">
				<xsd:choice>
					<xsd:element name="cityID" type="CityDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="hasAccommodation" type="LuxuryHotel"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="LuxuryHotelAccommodationRating">
				<xsd:complexContent>
					<xsd:restriction base="AccommodationRating">
						<xsd:choice>
							<xsd:element name="accommodationRatingID" type="LuxuryHotelAccommodationRatingDATA"/>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="name" type="xsd:string"/>
							</xsd:sequence>
						</xsd:choice>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:simpleType name="LuxuryHotelAccommodationRatingDATA">
				<xsd:restriction base="AccommodationRatingDATA">
					<xsd:enumeration value="ThreeStarRating"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LuxuryHotelDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="FourSeasons"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="AccommodationRatingDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="TwoStarRating"/>
					<xsd:enumeration value="OneStarRating"/>
					<xsd:enumeration value="ThreeStarRating"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CityDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Cairns"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="HikingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="SurfingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_CITYRequest">
		<wsdl:part name="_SURFING" type="tns:SurfingType">
    </wsdl:part>
		<wsdl:part name="_HIKING" type="tns:HikingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_CITYResponse">
		<wsdl:part name="_CITY" type="tns:CityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="HikingsurfingCitySoap">
		<wsdl:operation name="get_CITY">
			<wsdl:input message="tns:get_CITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_CITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HikingsurfingCitySoapBinding" type="HikingsurfingCitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_CITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/HikingsurfingCity"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/HikingsurfingCity"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HikingsurfingCityService">
		<wsdl:port name="HikingsurfingCitySoap" binding="HikingsurfingCitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/HikingsurfingCity"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
