src/main/resources/wsdl/HospitalBiopsy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/HospitalBiopsy-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/HospitalBiopsy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/HospitalBiopsy" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="HospitalBiopsy" targetNamespace="http://127.0.0.1:8000/wsdl/HospitalBiopsy">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 05 14:47:55 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/HospitalBiopsy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Hospital"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Biopsy"/>
			</xsd:annotation>
			<xsd:element name="Biopsy" type="tns:BiopsyType"/>
			<xsd:element name="Hospital" type="tns:HospitalType"/>
			<xsd:simpleType name="BiopsyType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="HospitalType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_BIOPSYResponse">
		<wsdl:part name="_BIOPSY" type="tns:BiopsyType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_BIOPSYRequest">
		<wsdl:part name="_HOSPITAL" type="tns:HospitalType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="HospitalBiopsySoap">
		<wsdl:operation name="get_BIOPSY">
			<wsdl:input message="tns:get_BIOPSYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_BIOPSYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HospitalBiopsySoapBinding" type="tns:HospitalBiopsySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_BIOPSY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/HospitalBiopsy"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/HospitalBiopsy"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HospitalBiopsyService">
		<wsdl:port name="HospitalBiopsySoap" binding="tns:HospitalBiopsySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/HospitalBiopsy"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
