src/main/resources/wsdl/HospitalDiagnosticprocess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/HospitalDiagnosticprocess-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/HospitalDiagnosticprocess" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/HospitalDiagnosticprocess" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="HospitalDiagnosticprocess" targetNamespace="http://127.0.0.1:8000/wsdl/HospitalDiagnosticprocess">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 14 13:10:44 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/HospitalDiagnosticprocess" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Hospital"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#DiagnosticProcess"/>
			</xsd:annotation>
			<xsd:element name="DiagnosticProcess" type="tns:DiagnosticProcessType"/>
			<xsd:element name="Hospital" type="tns:HospitalType"/>
			<xsd:simpleType name="DiagnosticProcessType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="HospitalType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DIAGNOSTICPROCESSRequest">
		<wsdl:part name="_HOSPITAL" type="tns:HospitalType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DIAGNOSTICPROCESSResponse">
		<wsdl:part name="_DIAGNOSTICPROCESS" type="tns:DiagnosticProcessType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="HospitalDiagnosticprocessSoap">
		<wsdl:operation name="get_DIAGNOSTICPROCESS">
			<wsdl:input message="tns:get_DIAGNOSTICPROCESSRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DIAGNOSTICPROCESSResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HospitalDiagnosticprocessSoapBinding" type="tns:HospitalDiagnosticprocessSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DIAGNOSTICPROCESS">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/HospitalDiagnosticprocess"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/HospitalDiagnosticprocess"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HospitalDiagnosticprocessService">
		<wsdl:port name="HospitalDiagnosticprocessSoap" binding="tns:HospitalDiagnosticprocessSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/HospitalDiagnosticprocess"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
