src/main/resources/wsdl/HospitalPhysician_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Getpatientmedicalrecords" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Getpatientmedicalrecords-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Getpatientmedicalrecords" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Getpatientmedicalrecords" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Getpatientmedicalrecords" targetNamespace="http://127.0.0.1:8000/wsdl/Getpatientmedicalrecords">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 25 23:46:14 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Getpatientmedicalrecords" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/HospitalPhysicianOntology.owl#GpsPosition"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/HospitalPhysicianOntology.owl#Treatment"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/HospitalPhysicianOntology.owl#DateTime"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/HospitalPhysicianOntology.owl#HealthInsuranceNumber"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/HospitalPhysicianOntology.owl#PhysicianID"/>
				<xsd:documentation source="Translationhttp://127.0.0.1:8000/ontology/ttp://127.0.0.1/ontology/HospitalPhysicianOntology.owl#AccountPassword"/>
				<xsd:documentation source="Translhttp://127.0.0.1:8000/ontology/ of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#Acknowledgement"/>
				<xsd:documentation source="Thttp://127.0.0.1:8000/ontology/Type) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#MedicalRecords"/>
			</xsd:annotation>
			<xsd:element name="MedicalRecords" type="MedicalRecordsType"/>
			<xsd:element name="HealthInsuranceNumber" type="HealthInsuranceNumberType"/>
			<xsd:element name="Treatment" type="TreatmentType"/>
			<xsd:element name="AccountPassword" type="AccountPasswordType"/>
			<xsd:element name="PhysicianID" type="PhysicianIDType"/>
			<xsd:element name="GpsPosition" type="GpsPositionType"/>
			<xsd:element name="DateTime" type="DateTimeType"/>
			<xsd:element name="Acknowledgement" type="AcknowledgementType"/>
			<xsd:simpleType name="MedicalRecordsType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AccountPasswordType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="GpsPositionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AcknowledgementType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TreatmentType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PhysicianIDType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="HealthInsuranceNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DateTimeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getUpdatePatientMedicalRecords_AcknowledgementGetPatientMedicalRecords_AuthorizedMedicalRecordsRequest">
		<wsdl:part name="PatientTransport_PatientGpsPosition" type="tns:GpsPositionType">
    </wsdl:part>
		<wsdl:part name="UpdatePatientMedicalRecords_Treatment" type="tns:TreatmentType">
    </wsdl:part>
		<wsdl:part name="GetPatientMedicalRecords_AuthorizationEndTime" type="tns:DateTimeType">
    </wsdl:part>
		<wsdl:part name="GetPatientMedicalRecords_PatientHealthInsuranceNumber" type="tns:HealthInsuranceNumberType">
    </wsdl:part>
		<wsdl:part name="GetPatientMedicalRecords_PhysicianID" type="tns:PhysicianIDType">
    </wsdl:part>
		<wsdl:part name="GetPatientMedicalRecords_PhysicianPassword" type="tns:AccountPasswordType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUpdatePatientMedicalRecords_AcknowledgementGetPatientMedicalRecords_AuthorizedMedicalRecordsResponse">
		<wsdl:part name="UpdatePatientMedicalRecords_Acknowledgement" type="tns:AcknowledgementType">
    </wsdl:part>
		<wsdl:part name="GetPatientMedicalRecords_AuthorizedMedicalRecords" type="tns:MedicalRecordsType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GetpatientmedicalrecordsSoap">
		<wsdl:operation name="getUpdatePatientMedicalRecords_AcknowledgementGetPatientMedicalRecords_AuthorizedMedicalRecords">
			<wsdl:input message="tns:getUpdatePatientMedicalRecords_AcknowledgementGetPatientMedicalRecords_AuthorizedMedicalRecordsRequest">
    </wsdl:input>
			<wsdl:output message="tns:getUpdatePatientMedicalRecords_AcknowledgementGetPatientMedicalRecords_AuthorizedMedicalRecordsResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetpatientmedicalrecordsSoapBinding" type="GetpatientmedicalrecordsSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getUpdatePatientMedicalRecords_AcknowledgementGetPatientMedicalRecords_AuthorizedMedicalRecords">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Getpatientmedicalrecords"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Getpatientmedicalrecords"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetpatientmedicalrecordsService">
		<wsdl:port name="GetpatientmedicalrecordsSoap" binding="GetpatientmedicalrecordsSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Getpatientmedicalrecords"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
