src/main/resources/wsdl/hospital_IIPsummary_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/HospitalIntentionalpsychologicalprocesssummary" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/HospitalIntentionalpsychologicalprocesssummary-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/HospitalIntentionalpsychologicalprocesssummary" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/HospitalIntentionalpsychologicalprocesssummary" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="HospitalIntentionalpsychologicalprocesssummary" targetNamespace="http://127.0.0.1:8000/wsdl/HospitalIntentionalpsychologicalprocesssummary">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 17:08:20 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/HospitalIntentionalpsychologicalprocesssummary" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Hospital"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#IntentionalPsychologicalProcess"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#Summary"/>
			</xsd:annotation>
			<xsd:element name="Hospital" type="HospitalType"/>
			<xsd:element name="IntentionalPsychologicalProcess" type="IntentionalPsychologicalProcessType"/>
			<xsd:element name="Summary" type="SummaryType"/>
			<xsd:simpleType name="SummaryType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="IntentionalPsychologicalProcessType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="HospitalType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_INTENTIONALPSYCHOLOGICALPROCESS_SUMMARYRequest">
		<wsdl:part name="_HOSPITAL" type="tns:HospitalType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_INTENTIONALPSYCHOLOGICALPROCESS_SUMMARYResponse">
		<wsdl:part name="_INTENTIONALPSYCHOLOGICALPROCESS" type="tns:IntentionalPsychologicalProcessType">
    </wsdl:part>
		<wsdl:part name="_SUMMARY" type="tns:SummaryType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="HospitalIntentionalpsychologicalprocesssummarySoap">
		<wsdl:operation name="get_INTENTIONALPSYCHOLOGICALPROCESS_SUMMARY">
			<wsdl:input message="tns:get_INTENTIONALPSYCHOLOGICALPROCESS_SUMMARYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_INTENTIONALPSYCHOLOGICALPROCESS_SUMMARYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HospitalIntentionalpsychologicalprocesssummarySoapBinding" type="HospitalIntentionalpsychologicalprocesssummarySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_INTENTIONALPSYCHOLOGICALPROCESS_SUMMARY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/HospitalIntentionalpsychologicalprocesssummary"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/HospitalIntentionalpsychologicalprocesssummary"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HospitalIntentionalpsychologicalprocesssummaryService">
		<wsdl:port name="HospitalIntentionalpsychologicalprocesssummarySoap" binding="HospitalIntentionalpsychologicalprocesssummarySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/HospitalIntentionalpsychologicalprocesssummary"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
