src/main/resources/wsdl/InformHospital_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Informhospital" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Informhospital-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Informhospital" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Informhospital" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Informhospital" targetNamespace="http://127.0.0.1:8000/wsdl/Informhospital">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed May 27 01:55:40 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Informhospital" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/EmergencyPhysicianOntology.owl#Symptom"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/EmergencyPhysicianOntology.owl#DateTime"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/EmergencyPhysicianOntology.owl#Hospital"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/EmergencyPhysicianOntology.owl#Acknowledgement"/>
			</xsd:annotation>
			<xsd:element name="Symptom" type="SymptomType"/>
			<xsd:element name="Hospital" type="HospitalType"/>
			<xsd:element name="DateTime" type="DateTimeType"/>
			<xsd:element name="Acknowledgement" type="AcknowledgementType"/>
			<xsd:simpleType name="SymptomType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AcknowledgementType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="HospitalType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DateTimeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getInformHospital_AcknowledgementResponseResponse">
		<wsdl:part name="InformHospital_AcknowledgementResponse" type="tns:AcknowledgementType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getInformHospital_AcknowledgementResponseRequest">
		<wsdl:part name="InformHospital_DiagnosedSymptoms" type="tns:SymptomType">
    </wsdl:part>
		<wsdl:part name="InformHospital_PatientArrivalDateTime" type="tns:DateTimeType">
    </wsdl:part>
		<wsdl:part name="InformHospital_SelectedHospital" type="tns:HospitalType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="InformhospitalSoap">
		<wsdl:operation name="getInformHospital_AcknowledgementResponse">
			<wsdl:input message="tns:getInformHospital_AcknowledgementResponseRequest">
    </wsdl:input>
			<wsdl:output message="tns:getInformHospital_AcknowledgementResponseResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InformhospitalSoapBinding" type="InformhospitalSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getInformHospital_AcknowledgementResponse">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Informhospital"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Informhospital"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InformhospitalService">
		<wsdl:port name="InformhospitalSoap" binding="InformhospitalSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Informhospital"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
