src/main/resources/wsdl/isbn_publication_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/IsbnPublication" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/IsbnPublication-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/IsbnPublication" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/IsbnPublication" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="IsbnPublication" targetNamespace="http://127.0.0.1:8000/wsdl/IsbnPublication">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 15:39:24 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/IsbnPublication" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#ISBN"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Publication"/>
			</xsd:annotation>
			<xsd:element name="Publication" type="PublicationType"/>
			<xsd:element name="ISBN" type="ISBNType"/>
			<xsd:complexType name="Publication-Reference">
				<xsd:sequence>
					<xsd:element name="has-place-of-publication" type="Location"/>
					<xsd:element name="has-title" type="xsd:string"/>
					<xsd:element name="has-author" type="Generic-Agent"/>
					<xsd:element name="has-date" type="Calendar-Date"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Calendar-Date">
				<xsd:sequence>
					<xsd:element name="month-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="year-of" type="xsd:nonNegativeInteger"/>
					<xsd:element maxOccurs="1" name="minute-of" type="xsd:nonNegativeInteger"/>
					<xsd:element maxOccurs="1" name="hour-of" type="xsd:nonNegativeInteger"/>
					<xsd:element maxOccurs="1" name="second-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="day-of" type="xsd:nonNegativeInteger"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PublicationType">
				<xsd:sequence>
					<xsd:element name="has-publication-reference" type="Publication-Reference"/>
					<xsd:element name="cites-publication-reference" type="Publication-Reference"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Location">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Generic-Agent">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ISBNType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PUBLICATIONRequest">
		<wsdl:part name="_ISBN" type="tns:ISBNType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PUBLICATIONResponse">
		<wsdl:part name="_PUBLICATION" type="tns:PublicationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="IsbnPublicationSoap">
		<wsdl:operation name="get_PUBLICATION">
			<wsdl:input message="tns:get_PUBLICATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PUBLICATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IsbnPublicationSoapBinding" type="IsbnPublicationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PUBLICATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/IsbnPublication"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/IsbnPublication"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IsbnPublicationService">
		<wsdl:port name="IsbnPublicationSoap" binding="IsbnPublicationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/IsbnPublication"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
