src/main/resources/wsdl/Journal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Journal-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Journal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Journal" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Journal" targetNamespace="http://127.0.0.1:8000/wsdl/Journal">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 11 11:29:50 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Journal" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/portal.owl#Journal"/>
			</xsd:annotation>
			<xsd:element name="Journal" type="tns:JournalType"/>
			<xsd:complexType name="Publication-Reference">
				<xsd:sequence>
					<xsd:element name="has-place-of-publication" type="tns:Location"/>
					<xsd:element name="has-title" type="xsd:string"/>
					<xsd:element name="has-author" type="tns:Generic-Agent"/>
					<xsd:element name="has-date" type="tns:Calendar-Date"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="JournalType">
				<xsd:sequence>
					<xsd:element name="contains-article" type="tns:Publication"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Publication">
				<xsd:sequence>
					<xsd:element name="has-publication-reference" type="tns:Publication-Reference"/>
					<xsd:element name="cites-publication-reference" type="tns:Publication-Reference"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Calendar-Date">
				<xsd:sequence>
					<xsd:element name="month-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="year-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="minute-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="hour-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="second-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="day-of" type="xsd:nonNegativeInteger"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Location">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Generic-Agent">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_JOURNALRequest">
  </wsdl:message>
	<wsdl:message name="get_JOURNALResponse">
		<wsdl:part name="_JOURNAL" type="tns:JournalType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="JournalSoap">
		<wsdl:operation name="get_JOURNAL">
			<wsdl:input message="tns:get_JOURNALRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_JOURNALResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="JournalSoapBinding" type="tns:JournalSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_JOURNAL">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Journal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Journal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="JournalService">
		<wsdl:port name="JournalSoap" binding="tns:JournalSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Journal"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
