src/main/resources/wsdl/KLM-Login_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Linguisticexpression-linguisticexpression" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Linguisticexpression-linguisticexpression-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Linguisticexpression-linguisticexpression" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Linguisticexpression-linguisticexpression" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Linguisticexpression-linguisticexpression" targetNamespace="http://127.0.0.1:8000/wsdl/Linguisticexpression-linguisticexpression">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed May 27 19:14:24 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Linguisticexpression-linguisticexpression" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#LinguisticExpression"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#LinguisticExpression"/>
			</xsd:annotation>
			<xsd:element name="LinguisticExpression" type="LinguisticExpressionType"/>
			<xsd:simpleType name="LinguisticExpressionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getRequest">
		<wsdl:part name="_LINGUISTICEXPRESSION" type="tns:LinguisticExpressionType">
    </wsdl:part>
		<wsdl:part name="_LINGUISTICEXPRESSION1" type="tns:LinguisticExpressionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getResponse">
  </wsdl:message>
	<wsdl:portType name="Linguisticexpression-linguisticexpressionSoap">
		<wsdl:operation name="get">
			<wsdl:input message="tns:getRequest">
    </wsdl:input>
			<wsdl:output message="tns:getResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Linguisticexpression-linguisticexpressionSoapBinding" type="Linguisticexpression-linguisticexpressionSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Linguisticexpression-linguisticexpression"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Linguisticexpression-linguisticexpression"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Linguisticexpression-linguisticexpressionService">
		<wsdl:port name="Linguisticexpression-linguisticexpressionSoap" binding="Linguisticexpression-linguisticexpressionSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Linguisticexpression-linguisticexpression"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
