src/main/resources/wsdl/learning-centred-organizationsurfing_destination_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Learning-centred-organizationsurfingDestination" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Learning-centred-organizationsurfingDestination-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Learning-centred-organizationsurfingDestination" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Learning-centred-organizationsurfingDestination" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Learning-centred-organizationsurfingDestination" targetNamespace="http://127.0.0.1:8000/wsdl/Learning-centred-organizationsurfingDestination">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Jun 06 22:36:55 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Learning-centred-organizationsurfingDestination" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Surfing"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Learning-Centred-Organization"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/travel.owl#Destination"/>
			</xsd:annotation>
			<xsd:element name="Destination" type="DestinationType"/>
			<xsd:element name="Learning-Centred-Organization" type="Learning-Centred-OrganizationType"/>
			<xsd:element name="Surfing" type="SurfingType"/>
			<xsd:simpleType name="DestinationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Learning-Centred-OrganizationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="SurfingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DESTINATIONRequest">
		<wsdl:part name="_SURFING" type="tns:SurfingType">
    </wsdl:part>
		<wsdl:part name="_LEARNING-CENTRED-ORGANIZATION" type="tns:Learning-Centred-OrganizationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DESTINATIONResponse">
		<wsdl:part name="_DESTINATION" type="tns:DestinationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Learning-centred-organizationsurfingDestinationSoap">
		<wsdl:operation name="get_DESTINATION">
			<wsdl:input message="tns:get_DESTINATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DESTINATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Learning-centred-organizationsurfingDestinationSoapBinding" type="Learning-centred-organizationsurfingDestinationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DESTINATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Learning-centred-organizationsurfingDestination"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Learning-centred-organizationsurfingDestination"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Learning-centred-organizationsurfingDestinationService">
		<wsdl:port name="Learning-centred-organizationsurfingDestinationSoap" binding="Learning-centred-organizationsurfingDestinationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Learning-centred-organizationsurfingDestination"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
