src/main/resources/wsdl/lemonfruit_price_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/LemonfruitPrice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/LemonfruitPrice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/LemonfruitPrice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/LemonfruitPrice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="LemonfruitPrice" targetNamespace="http://127.0.0.1:8000/wsdl/LemonfruitPrice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon Jun 01 19:45:51 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/LemonfruitPrice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#LemonFruit"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#Price"/>
			</xsd:annotation>
			<xsd:element name="Price" type="PriceType"/>
			<xsd:element name="LemonFruit" type="LemonFruitType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="LemonFruitType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICERequest">
		<wsdl:part name="_LEMONFRUIT" type="tns:LemonFruitType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICEResponse">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LemonfruitPriceSoap">
		<wsdl:operation name="get_PRICE">
			<wsdl:input message="tns:get_PRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LemonfruitPriceSoapBinding" type="LemonfruitPriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/LemonfruitPrice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/LemonfruitPrice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LemonfruitPriceService">
		<wsdl:port name="LemonfruitPriceSoap" binding="LemonfruitPriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/LemonfruitPrice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
