src/main/resources/wsdl/LinguisticexpressionVideomedia.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/LinguisticexpressionVideomedia-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/LinguisticexpressionVideomedia" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/LinguisticexpressionVideomedia" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="LinguisticexpressionVideomedia" targetNamespace="http://127.0.0.1:8000/wsdl/LinguisticexpressionVideomedia">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 05 14:30:00 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/LinguisticexpressionVideomedia" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#LinguisticExpression"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#VideoMedia"/>
			</xsd:annotation>
			<xsd:element name="VideoMedia" type="tns:VideoMediaType"/>
			<xsd:element name="LinguisticExpression" type="tns:LinguisticExpressionType"/>
			<xsd:simpleType name="LinguisticExpressionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="VideoMediaType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_VIDEOMEDIARequest">
		<wsdl:part name="_LINGUISTICEXPRESSION" type="tns:LinguisticExpressionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_VIDEOMEDIAResponse">
		<wsdl:part name="_VIDEOMEDIA" type="tns:VideoMediaType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LinguisticexpressionVideomediaSoap">
		<wsdl:operation name="get_VIDEOMEDIA">
			<wsdl:input message="tns:get_VIDEOMEDIARequest">
    </wsdl:input>
			<wsdl:output message="tns:get_VIDEOMEDIAResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LinguisticexpressionVideomediaSoapBinding" type="tns:LinguisticexpressionVideomediaSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_VIDEOMEDIA">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/LinguisticexpressionVideomedia"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/LinguisticexpressionVideomedia"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LinguisticexpressionVideomediaService">
		<wsdl:port name="LinguisticexpressionVideomediaSoap" binding="tns:LinguisticexpressionVideomediaSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/LinguisticexpressionVideomedia"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
