src/main/resources/wsdl/location_photograph_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/LocationPhotograph" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/LocationPhotograph-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/LocationPhotograph" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/LocationPhotograph" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="LocationPhotograph" targetNamespace="http://127.0.0.1:8000/wsdl/LocationPhotograph">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon Jun 01 19:50:45 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/LocationPhotograph" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Location"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Photograph"/>
			</xsd:annotation>
			<xsd:element name="Photograph" type="PhotographType"/>
			<xsd:element name="Location" type="LocationType"/>
			<xsd:simpleType name="PhotographType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LocationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PHOTOGRAPHRequest">
		<wsdl:part name="_LOCATION" type="tns:LocationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PHOTOGRAPHResponse">
		<wsdl:part name="_PHOTOGRAPH" type="tns:PhotographType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LocationPhotographSoap">
		<wsdl:operation name="get_PHOTOGRAPH">
			<wsdl:input message="tns:get_PHOTOGRAPHRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PHOTOGRAPHResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LocationPhotographSoapBinding" type="LocationPhotographSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PHOTOGRAPH">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/LocationPhotograph"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/LocationPhotograph"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LocationPhotographService">
		<wsdl:port name="LocationPhotographSoap" binding="LocationPhotographSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/LocationPhotograph"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
