src/main/resources/wsdl/locationlocation_map_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/LocationlocationMap" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/LocationlocationMap-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/LocationlocationMap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/LocationlocationMap" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="LocationlocationMap" targetNamespace="http://127.0.0.1:8000/wsdl/LocationlocationMap">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed Jun 10 17:31:53 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/LocationlocationMap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Location"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Location"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#Map"/>
			</xsd:annotation>
			<xsd:element name="Location" type="LocationType"/>
			<xsd:element name="Map" type="MapType"/>
			<xsd:simpleType name="MapType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LocationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_MAPResponse">
		<wsdl:part name="_MAP" type="tns:MapType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_MAPRequest">
		<wsdl:part name="_LOCATION1" type="tns:LocationType">
    </wsdl:part>
		<wsdl:part name="_LOCATION2" type="tns:LocationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LocationlocationMapSoap">
		<wsdl:operation name="get_MAP">
			<wsdl:input message="tns:get_MAPRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_MAPResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LocationlocationMapSoapBinding" type="LocationlocationMapSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_MAP">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/LocationlocationMap"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/LocationlocationMap"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LocationlocationMapService">
		<wsdl:port name="LocationlocationMapSoap" binding="LocationlocationMapSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/LocationlocationMap"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
