src/main/resources/wsdl/locationlocation_icon_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/LocationlocationIcon" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/LocationlocationIcon-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/LocationlocationIcon" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/LocationlocationIcon" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="LocationlocationIcon" targetNamespace="http://127.0.0.1:8000/wsdl/LocationlocationIcon">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed Jun 10 02:15:25 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/LocationlocationIcon" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Location"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Location"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#Icon"/>
			</xsd:annotation>
			<xsd:element name="Icon" type="IconType"/>
			<xsd:element name="Location" type="LocationType"/>
			<xsd:simpleType name="IconType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LocationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_ICONResponse">
		<wsdl:part name="_ICON" type="tns:IconType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_ICONRequest">
		<wsdl:part name="_LOCATION1" type="tns:LocationType">
    </wsdl:part>
		<wsdl:part name="_LOCATION2" type="tns:LocationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LocationlocationIconSoap">
		<wsdl:operation name="get_ICON">
			<wsdl:input message="tns:get_ICONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_ICONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LocationlocationIconSoapBinding" type="LocationlocationIconSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_ICON">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/LocationlocationIcon"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/LocationlocationIcon"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LocationlocationIconService">
		<wsdl:port name="LocationlocationIconSoap" binding="LocationlocationIconSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/LocationlocationIcon"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
