src/main/resources/wsdl/locationlocation_arrowfigure_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/LocationlocationArrowfigure" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/LocationlocationArrowfigure-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/LocationlocationArrowfigure" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/LocationlocationArrowfigure" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="LocationlocationArrowfigure" targetNamespace="http://127.0.0.1:8000/wsdl/LocationlocationArrowfigure">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed Jun 10 02:12:13 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/LocationlocationArrowfigure" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Location"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Location"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#ArrowFigure"/>
			</xsd:annotation>
			<xsd:element name="Location" type="LocationType"/>
			<xsd:element name="ArrowFigure" type="ArrowFigureType"/>
			<xsd:simpleType name="ArrowFigureType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LocationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_ARROWFIGURERequest">
		<wsdl:part name="_LOCATION1" type="tns:LocationType">
    </wsdl:part>
		<wsdl:part name="_LOCATION2" type="tns:LocationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_ARROWFIGUREResponse">
		<wsdl:part name="_ARROWFIGURE" type="tns:ArrowFigureType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LocationlocationArrowfigureSoap">
		<wsdl:operation name="get_ARROWFIGURE">
			<wsdl:input message="tns:get_ARROWFIGURERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_ARROWFIGUREResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LocationlocationArrowfigureSoapBinding" type="LocationlocationArrowfigureSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_ARROWFIGURE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/LocationlocationArrowfigure"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/LocationlocationArrowfigure"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LocationlocationArrowfigureService">
		<wsdl:port name="LocationlocationArrowfigureSoap" binding="LocationlocationArrowfigureSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/LocationlocationArrowfigure"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
