src/main/resources/wsdl/MarkoPS_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/PreparedfoodPricetaxedpricestockmarket" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/PreparedfoodPricetaxedpricestockmarket-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/PreparedfoodPricetaxedpricestockmarket" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/PreparedfoodPricetaxedpricestockmarket" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="PreparedfoodPricetaxedpricestockmarket" targetNamespace="http://127.0.0.1:8000/wsdl/PreparedfoodPricetaxedpricestockmarket">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 12:28:51 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/PreparedfoodPricetaxedpricestockmarket" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#PreparedFood"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#Price"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#TaxedPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/Mid-level-ontology.owl#StockMarket"/>
			</xsd:annotation>
			<xsd:element name="Price" type="PriceType"/>
			<xsd:element name="PreparedFood" type="PreparedFoodType"/>
			<xsd:element name="TaxedPrice" type="TaxedPriceType"/>
			<xsd:element name="StockMarket" type="StockMarketType"/>
			<xsd:complexType name="TaxedPriceType">
				<xsd:sequence>
					<xsd:element name="Fine" type="Thing"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PreparedFoodType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Thing">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="StockMarketType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICE_TAXEDPRICE_STOCKMARKETResponse">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
		<wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
    </wsdl:part>
		<wsdl:part name="_STOCKMARKET" type="tns:StockMarketType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICE_TAXEDPRICE_STOCKMARKETRequest">
		<wsdl:part name="_PREPAREDFOOD" type="tns:PreparedFoodType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PreparedfoodPricetaxedpricestockmarketSoap">
		<wsdl:operation name="get_PRICE_TAXEDPRICE_STOCKMARKET">
			<wsdl:input message="tns:get_PRICE_TAXEDPRICE_STOCKMARKETRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICE_TAXEDPRICE_STOCKMARKETResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PreparedfoodPricetaxedpricestockmarketSoapBinding" type="PreparedfoodPricetaxedpricestockmarketSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE_TAXEDPRICE_STOCKMARKET">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PreparedfoodPricetaxedpricestockmarket"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PreparedfoodPricetaxedpricestockmarket"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PreparedfoodPricetaxedpricestockmarketService">
		<wsdl:port name="PreparedfoodPricetaxedpricestockmarketSoap" binding="PreparedfoodPricetaxedpricestockmarketSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/PreparedfoodPricetaxedpricestockmarket"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
