src/main/resources/wsdl/MaxpriceColabeer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MaxpriceColabeer-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MaxpriceColabeer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MaxpriceColabeer" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MaxpriceColabeer" targetNamespace="http://127.0.0.1:8000/wsdl/MaxpriceColabeer">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 11 11:12:42 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MaxpriceColabeer" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/concept.owl#MaxPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#ColaBeer"/>
			</xsd:annotation>
			<xsd:element name="ColaBeer" type="tns:ColaBeerType"/>
			<xsd:element name="MaxPrice" type="tns:MaxPriceType"/>
			<xsd:simpleType name="MaxPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ColaBeerType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_COLABEERRequest">
		<wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_COLABEERResponse">
		<wsdl:part name="_COLABEER" type="tns:ColaBeerType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MaxpriceColabeerSoap">
		<wsdl:operation name="get_COLABEER">
			<wsdl:input message="tns:get_COLABEERRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_COLABEERResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MaxpriceColabeerSoapBinding" type="tns:MaxpriceColabeerSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_COLABEER">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MaxpriceColabeer"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MaxpriceColabeer"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MaxpriceColabeerService">
		<wsdl:port name="MaxpriceColabeerSoap" binding="tns:MaxpriceColabeerSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MaxpriceColabeer"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
