src/main/resources/wsdl/maxprice_liquid_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MaxpriceLiquid" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MaxpriceLiquid-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MaxpriceLiquid" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MaxpriceLiquid" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MaxpriceLiquid" targetNamespace="http://127.0.0.1:8000/wsdl/MaxpriceLiquid">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon Jun 01 19:48:27 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MaxpriceLiquid" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/concept.owl#MaxPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#Liquid"/>
			</xsd:annotation>
			<xsd:element name="Liquid" type="LiquidType"/>
			<xsd:element name="MaxPrice" type="MaxPriceType"/>
			<xsd:simpleType name="MaxPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LiquidType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_LIQUIDResponse">
		<wsdl:part name="_LIQUID" type="tns:LiquidType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_LIQUIDRequest">
		<wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MaxpriceLiquidSoap">
		<wsdl:operation name="get_LIQUID">
			<wsdl:input message="tns:get_LIQUIDRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_LIQUIDResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MaxpriceLiquidSoapBinding" type="MaxpriceLiquidSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_LIQUID">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MaxpriceLiquid"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MaxpriceLiquid"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MaxpriceLiquidService">
		<wsdl:port name="MaxpriceLiquidSoap" binding="MaxpriceLiquidSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MaxpriceLiquid"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
