src/main/resources/wsdl/MaxpriceColabreadorbiscuit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MaxpriceColabreadorbiscuit-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MaxpriceColabreadorbiscuit" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MaxpriceColabreadorbiscuit" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MaxpriceColabreadorbiscuit" targetNamespace="http://127.0.0.1:8000/wsdl/MaxpriceColabreadorbiscuit">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed May 06 19:55:21 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MaxpriceColabreadorbiscuit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/concept.owl#MaxPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#Cola"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#BreadOrBiscuit"/>
			</xsd:annotation>
			<xsd:element name="Cola" type="tns:ColaType"/>
			<xsd:element name="MaxPrice" type="tns:MaxPriceType"/>
			<xsd:element name="BreadOrBiscuit" type="tns:BreadOrBiscuitType"/>
			<xsd:simpleType name="BreadOrBiscuitType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ColaType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MaxPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_COLA_BREADORBISCUITRequest">
		<wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_COLA_BREADORBISCUITResponse">
		<wsdl:part name="_COLA" type="tns:ColaType">
    </wsdl:part>
		<wsdl:part name="_BREADORBISCUIT" type="tns:BreadOrBiscuitType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MaxpriceColabreadorbiscuitSoap">
		<wsdl:operation name="get_COLA_BREADORBISCUIT">
			<wsdl:input message="tns:get_COLA_BREADORBISCUITRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_COLA_BREADORBISCUITResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MaxpriceColabreadorbiscuitSoapBinding" type="tns:MaxpriceColabreadorbiscuitSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_COLA_BREADORBISCUIT">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MaxpriceColabreadorbiscuit"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MaxpriceColabreadorbiscuit"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MaxpriceColabreadorbiscuitService">
		<wsdl:port name="MaxpriceColabreadorbiscuitSoap" binding="tns:MaxpriceColabreadorbiscuitSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MaxpriceColabreadorbiscuit"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
