src/main/resources/wsdl/MaxpriceCola.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MaxpriceCola-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MaxpriceCola" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MaxpriceCola" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MaxpriceCola" targetNamespace="http://127.0.0.1:8000/wsdl/MaxpriceCola">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 05 14:22:02 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MaxpriceCola" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/concept.owl#MaxPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#Cola"/>
			</xsd:annotation>
			<xsd:element name="Cola" type="tns:ColaType"/>
			<xsd:element name="MaxPrice" type="tns:MaxPriceType"/>
			<xsd:simpleType name="ColaType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MaxPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_COLARequest">
		<wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_COLAResponse">
		<wsdl:part name="_COLA" type="tns:ColaType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MaxpriceColaSoap">
		<wsdl:operation name="get_COLA">
			<wsdl:input message="tns:get_COLARequest">
    </wsdl:input>
			<wsdl:output message="tns:get_COLAResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MaxpriceColaSoapBinding" type="tns:MaxpriceColaSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_COLA">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MaxpriceCola"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MaxpriceCola"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MaxpriceColaService">
		<wsdl:port name="MaxpriceColaSoap" binding="tns:MaxpriceColaSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MaxpriceCola"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
