src/main/resources/wsdl/maxprice_whiskeycolabeer_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MaxpriceWhiskeycolabeer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MaxpriceWhiskeycolabeer-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MaxpriceWhiskeycolabeer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MaxpriceWhiskeycolabeer" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MaxpriceWhiskeycolabeer" targetNamespace="http://127.0.0.1:8000/wsdl/MaxpriceWhiskeycolabeer">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 19:35:01 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MaxpriceWhiskeycolabeer" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/concept.owl#MaxPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#Whiskey"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/my_ontology.owl#ColaBeer"/>
			</xsd:annotation>
			<xsd:element name="Whiskey" type="WhiskeyType"/>
			<xsd:element name="ColaBeer" type="ColaBeerType"/>
			<xsd:element name="MaxPrice" type="MaxPriceType"/>
			<xsd:simpleType name="WhiskeyType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MaxPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ColaBeerType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_WHISKEY_COLABEERResponse">
		<wsdl:part name="_WHISKEY" type="tns:WhiskeyType">
    </wsdl:part>
		<wsdl:part name="_COLABEER" type="tns:ColaBeerType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_WHISKEY_COLABEERRequest">
		<wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MaxpriceWhiskeycolabeerSoap">
		<wsdl:operation name="get_WHISKEY_COLABEER">
			<wsdl:input message="tns:get_WHISKEY_COLABEERRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_WHISKEY_COLABEERResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MaxpriceWhiskeycolabeerSoapBinding" type="MaxpriceWhiskeycolabeerSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_WHISKEY_COLABEER">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MaxpriceWhiskeycolabeer"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MaxpriceWhiskeycolabeer"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MaxpriceWhiskeycolabeerService">
		<wsdl:port name="MaxpriceWhiskeycolabeerSoap" binding="MaxpriceWhiskeycolabeerSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MaxpriceWhiskeycolabeer"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
