src/main/resources/wsdl/maxprice_coffeewhiskey_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MaxpriceCoffeewhiskey" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MaxpriceCoffeewhiskey-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MaxpriceCoffeewhiskey" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MaxpriceCoffeewhiskey" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MaxpriceCoffeewhiskey" targetNamespace="http://127.0.0.1:8000/wsdl/MaxpriceCoffeewhiskey">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 12:30:11 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MaxpriceCoffeewhiskey" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/concept.owl#MaxPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#Coffee"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/my_ontology.owl#Whiskey"/>
			</xsd:annotation>
			<xsd:element name="Whiskey" type="WhiskeyType"/>
			<xsd:element name="Coffee" type="CoffeeType"/>
			<xsd:element name="MaxPrice" type="MaxPriceType"/>
			<xsd:simpleType name="CoffeeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="WhiskeyType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MaxPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_COFFEE_WHISKEYRequest">
		<wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_COFFEE_WHISKEYResponse">
		<wsdl:part name="_COFFEE" type="tns:CoffeeType">
    </wsdl:part>
		<wsdl:part name="_WHISKEY" type="tns:WhiskeyType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MaxpriceCoffeewhiskeySoap">
		<wsdl:operation name="get_COFFEE_WHISKEY">
			<wsdl:input message="tns:get_COFFEE_WHISKEYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_COFFEE_WHISKEYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MaxpriceCoffeewhiskeySoapBinding" type="MaxpriceCoffeewhiskeySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_COFFEE_WHISKEY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MaxpriceCoffeewhiskey"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MaxpriceCoffeewhiskey"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MaxpriceCoffeewhiskeyService">
		<wsdl:port name="MaxpriceCoffeewhiskeySoap" binding="MaxpriceCoffeewhiskeySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MaxpriceCoffeewhiskey"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
