src/main/resources/wsdl/meat_pricephysical-quantity_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MeatPricephysical-quantity" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MeatPricephysical-quantity-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MeatPricephysical-quantity" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MeatPricephysical-quantity" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MeatPricephysical-quantity" targetNamespace="http://127.0.0.1:8000/wsdl/MeatPricephysical-quantity">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 12:34:04 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MeatPricephysical-quantity" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Meat"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#Price"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/support.owl#Physical-Quantity"/>
			</xsd:annotation>
			<xsd:element name="Price" type="PriceType"/>
			<xsd:element name="Meat" type="MeatType"/>
			<xsd:element name="Physical-Quantity" type="Physical-QuantityType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Physical-QuantityType">
				<xsd:sequence>
					<xsd:element name="has-magnitude" type="xsd:decimal"/>
					<xsd:element name="has-unit-of-measure" type="Unit-Of-Measure"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Unit-Of-Measure">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MeatType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICE_PHYSICAL-QUANTITYRequest">
		<wsdl:part name="_MEAT" type="tns:MeatType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICE_PHYSICAL-QUANTITYResponse">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
		<wsdl:part name="_PHYSICAL-QUANTITY" type="tns:Physical-QuantityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MeatPricephysical-quantitySoap">
		<wsdl:operation name="get_PRICE_PHYSICAL-QUANTITY">
			<wsdl:input message="tns:get_PRICE_PHYSICAL-QUANTITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICE_PHYSICAL-QUANTITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MeatPricephysical-quantitySoapBinding" type="MeatPricephysical-quantitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE_PHYSICAL-QUANTITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MeatPricephysical-quantity"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MeatPricephysical-quantity"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MeatPricephysical-quantityService">
		<wsdl:port name="MeatPricephysical-quantitySoap" binding="MeatPricephysical-quantitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MeatPricephysical-quantity"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
