src/main/resources/wsdl/meat_taxedpricequantity_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MeatTaxedpricequantity" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MeatTaxedpricequantity-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MeatTaxedpricequantity" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MeatTaxedpricequantity" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MeatTaxedpricequantity" targetNamespace="http://127.0.0.1:8000/wsdl/MeatTaxedpricequantity">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 12:47:31 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MeatTaxedpricequantity" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Meat"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#TaxedPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/support.owl#Quantity"/>
			</xsd:annotation>
			<xsd:element name="TaxedPrice" type="TaxedPriceType"/>
			<xsd:element name="Meat" type="MeatType"/>
			<xsd:element name="Quantity" type="QuantityType"/>
			<xsd:complexType name="TaxedPriceType">
				<xsd:sequence>
					<xsd:element name="Fine" type="Thing"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="MeatType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Thing">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="QuantityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_TAXEDPRICE_QUANTITYResponse">
		<wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
    </wsdl:part>
		<wsdl:part name="_QUANTITY" type="tns:QuantityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_TAXEDPRICE_QUANTITYRequest">
		<wsdl:part name="_MEAT" type="tns:MeatType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MeatTaxedpricequantitySoap">
		<wsdl:operation name="get_TAXEDPRICE_QUANTITY">
			<wsdl:input message="tns:get_TAXEDPRICE_QUANTITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_TAXEDPRICE_QUANTITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MeatTaxedpricequantitySoapBinding" type="MeatTaxedpricequantitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_TAXEDPRICE_QUANTITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MeatTaxedpricequantity"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MeatTaxedpricequantity"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MeatTaxedpricequantityService">
		<wsdl:port name="MeatTaxedpricequantitySoap" binding="MeatTaxedpricequantitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MeatTaxedpricequantity"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
