src/main/resources/wsdl/medicalclinic_predicting_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MedicalclinicPredicting" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MedicalclinicPredicting-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MedicalclinicPredicting" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MedicalclinicPredicting" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MedicalclinicPredicting" targetNamespace="http://127.0.0.1:8000/wsdl/MedicalclinicPredicting">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 17:21:40 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MedicalclinicPredicting" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#MedicalClinic"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#Predicting"/>
			</xsd:annotation>
			<xsd:element name="Predicting" type="PredictingType"/>
			<xsd:element name="MedicalClinic" type="MedicalClinicType"/>
			<xsd:simpleType name="MedicalClinicType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PredictingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PREDICTINGResponse">
		<wsdl:part name="_PREDICTING" type="tns:PredictingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PREDICTINGRequest">
		<wsdl:part name="_MEDICALCLINIC" type="tns:MedicalClinicType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MedicalclinicPredictingSoap">
		<wsdl:operation name="get_PREDICTING">
			<wsdl:input message="tns:get_PREDICTINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PREDICTINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MedicalclinicPredictingSoapBinding" type="MedicalclinicPredictingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PREDICTING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MedicalclinicPredicting"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MedicalclinicPredicting"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MedicalclinicPredictingService">
		<wsdl:port name="MedicalclinicPredictingSoap" binding="MedicalclinicPredictingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MedicalclinicPredicting"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
