src/main/resources/wsdl/medicalclinic_diagnosticprocesstimemeasure_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimemeasure" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimemeasure-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimemeasure" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimemeasure" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MedicalclinicDiagnosticprocesstimemeasure" targetNamespace="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimemeasure">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 13:13:15 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimemeasure" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#MedicalClinic"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#DiagnosticProcess"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#TimeMeasure"/>
			</xsd:annotation>
			<xsd:element name="DiagnosticProcess" type="DiagnosticProcessType"/>
			<xsd:element name="TimeMeasure" type="TimeMeasureType"/>
			<xsd:element name="MedicalClinic" type="MedicalClinicType"/>
			<xsd:simpleType name="DiagnosticProcessType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MedicalClinicType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TimeMeasureType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DIAGNOSTICPROCESS_TIMEMEASUREResponse">
		<wsdl:part name="_DIAGNOSTICPROCESS" type="tns:DiagnosticProcessType">
    </wsdl:part>
		<wsdl:part name="_TIMEMEASURE" type="tns:TimeMeasureType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DIAGNOSTICPROCESS_TIMEMEASURERequest">
		<wsdl:part name="_MEDICALCLINIC" type="tns:MedicalClinicType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MedicalclinicDiagnosticprocesstimemeasureSoap">
		<wsdl:operation name="get_DIAGNOSTICPROCESS_TIMEMEASURE">
			<wsdl:input message="tns:get_DIAGNOSTICPROCESS_TIMEMEASURERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DIAGNOSTICPROCESS_TIMEMEASUREResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MedicalclinicDiagnosticprocesstimemeasureSoapBinding" type="MedicalclinicDiagnosticprocesstimemeasureSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DIAGNOSTICPROCESS_TIMEMEASURE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimemeasure"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimemeasure"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MedicalclinicDiagnosticprocesstimemeasureService">
		<wsdl:port name="MedicalclinicDiagnosticprocesstimemeasureSoap" binding="MedicalclinicDiagnosticprocesstimemeasureSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimemeasure"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
