src/main/resources/wsdl/medicalclinic_diagnosticprocesstimeinterval_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimeinterval" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimeinterval-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimeinterval" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimeinterval" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MedicalclinicDiagnosticprocesstimeinterval" targetNamespace="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimeinterval">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 13:11:56 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimeinterval" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#MedicalClinic"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#DiagnosticProcess"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#TimeInterval"/>
			</xsd:annotation>
			<xsd:element name="DiagnosticProcess" type="DiagnosticProcessType"/>
			<xsd:element name="TimeInterval" type="TimeIntervalType"/>
			<xsd:element name="MedicalClinic" type="MedicalClinicType"/>
			<xsd:complexType name="TimeIntervalType">
				<xsd:sequence>
					<xsd:element name="starts" type="TimeIntervalType"/>
					<xsd:element name="finishes" type="TimeIntervalType"/>
					<xsd:element name="BeginFn" type="TimePoint"/>
					<xsd:element name="duration" type="TimeDuration"/>
					<xsd:element name="during" type="TimeIntervalType"/>
					<xsd:element name="EndFn" type="TimePoint"/>
					<xsd:element name="earlier" type="TimeIntervalType"/>
					<xsd:element name="meetsTemporally" type="TimeIntervalType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TimePoint">
				<xsd:sequence>
					<xsd:element name="before" type="TimePoint"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="DiagnosticProcessType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MedicalClinicType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TimeDuration">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DIAGNOSTICPROCESS_TIMEINTERVALRequest">
		<wsdl:part name="_MEDICALCLINIC" type="tns:MedicalClinicType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DIAGNOSTICPROCESS_TIMEINTERVALResponse">
		<wsdl:part name="_DIAGNOSTICPROCESS" type="tns:DiagnosticProcessType">
    </wsdl:part>
		<wsdl:part name="_TIMEINTERVAL" type="tns:TimeIntervalType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MedicalclinicDiagnosticprocesstimeintervalSoap">
		<wsdl:operation name="get_DIAGNOSTICPROCESS_TIMEINTERVAL">
			<wsdl:input message="tns:get_DIAGNOSTICPROCESS_TIMEINTERVALRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DIAGNOSTICPROCESS_TIMEINTERVALResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MedicalclinicDiagnosticprocesstimeintervalSoapBinding" type="MedicalclinicDiagnosticprocesstimeintervalSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DIAGNOSTICPROCESS_TIMEINTERVAL">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimeinterval"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimeinterval"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MedicalclinicDiagnosticprocesstimeintervalService">
		<wsdl:port name="MedicalclinicDiagnosticprocesstimeintervalSoap" binding="MedicalclinicDiagnosticprocesstimeintervalSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MedicalclinicDiagnosticprocesstimeinterval"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
