src/main/resources/wsdl/mediaplayer_recommendedpriceineuro_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MediaplayerRecommendedpriceineuro" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MediaplayerRecommendedpriceineuro-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MediaplayerRecommendedpriceineuro" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MediaplayerRecommendedpriceineuro" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MediaplayerRecommendedpriceineuro" targetNamespace="http://127.0.0.1:8000/wsdl/MediaplayerRecommendedpriceineuro">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 25 01:38:24 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MediaplayerRecommendedpriceineuro" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#MediaPlayer"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#RecommendedPriceInEuro"/>
			</xsd:annotation>
			<xsd:element name="RecommendedPriceInEuro" type="RecommendedPriceInEuroType"/>
			<xsd:element name="MediaPlayer" type="MediaPlayerType"/>
			<xsd:simpleType name="RecommendedPriceInEuroType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MediaPlayerType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RECOMMENDEDPRICEINEURORequest">
		<wsdl:part name="_MEDIAPLAYER" type="tns:MediaPlayerType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RECOMMENDEDPRICEINEUROResponse">
		<wsdl:part name="_RECOMMENDEDPRICEINEURO" type="tns:RecommendedPriceInEuroType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MediaplayerRecommendedpriceineuroSoap">
		<wsdl:operation name="get_RECOMMENDEDPRICEINEURO">
			<wsdl:input message="tns:get_RECOMMENDEDPRICEINEURORequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RECOMMENDEDPRICEINEUROResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MediaplayerRecommendedpriceineuroSoapBinding" type="MediaplayerRecommendedpriceineuroSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RECOMMENDEDPRICEINEURO">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MediaplayerRecommendedpriceineuro"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MediaplayerRecommendedpriceineuro"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MediaplayerRecommendedpriceineuroService">
		<wsdl:port name="MediaplayerRecommendedpriceineuroSoap" binding="MediaplayerRecommendedpriceineuroSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MediaplayerRecommendedpriceineuro"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
