src/main/resources/wsdl/medicalclinic_investigating_MedService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MedicalclinicInvestigating" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MedicalclinicInvestigating-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MedicalclinicInvestigating" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MedicalclinicInvestigating" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MedicalclinicInvestigating" targetNamespace="http://127.0.0.1:8000/wsdl/MedicalclinicInvestigating">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 12:59:26 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MedicalclinicInvestigating" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#MedicalClinic"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#Investigating"/>
			</xsd:annotation>
			<xsd:element name="Investigating" type="InvestigatingType"/>
			<xsd:element name="MedicalClinic" type="MedicalClinicType"/>
			<xsd:simpleType name="MedicalClinicType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="InvestigatingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_INVESTIGATINGResponse">
		<wsdl:part name="_INVESTIGATING" type="tns:InvestigatingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_INVESTIGATINGRequest">
		<wsdl:part name="_MEDICALCLINIC" type="tns:MedicalClinicType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MedicalclinicInvestigatingSoap">
		<wsdl:operation name="get_INVESTIGATING">
			<wsdl:input message="tns:get_INVESTIGATINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_INVESTIGATINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MedicalclinicInvestigatingSoapBinding" type="MedicalclinicInvestigatingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_INVESTIGATING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MedicalclinicInvestigating"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MedicalclinicInvestigating"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MedicalclinicInvestigatingService">
		<wsdl:port name="MedicalclinicInvestigatingSoap" binding="MedicalclinicInvestigatingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MedicalclinicInvestigating"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
