src/main/resources/wsdl/mediaplayer_taxedprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MediaplayerTaxedprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MediaplayerTaxedprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MediaplayerTaxedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MediaplayerTaxedprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MediaplayerTaxedprice" targetNamespace="http://127.0.0.1:8000/wsdl/MediaplayerTaxedprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 13:05:53 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MediaplayerTaxedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#MediaPlayer"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#TaxedPrice"/>
			</xsd:annotation>
			<xsd:element name="MediaPlayer" type="MediaPlayerType"/>
			<xsd:element name="TaxedPrice" type="TaxedPriceType"/>
			<xsd:complexType name="TaxedPriceType">
				<xsd:sequence>
					<xsd:element name="Fine" type="Thing"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="MediaPlayerType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Thing">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_TAXEDPRICEResponse">
		<wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_TAXEDPRICERequest">
		<wsdl:part name="_MEDIAPLAYER" type="tns:MediaPlayerType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MediaplayerTaxedpriceSoap">
		<wsdl:operation name="get_TAXEDPRICE">
			<wsdl:input message="tns:get_TAXEDPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_TAXEDPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MediaplayerTaxedpriceSoapBinding" type="MediaplayerTaxedpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_TAXEDPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MediaplayerTaxedprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MediaplayerTaxedprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MediaplayerTaxedpriceService">
		<wsdl:port name="MediaplayerTaxedpriceSoap" binding="MediaplayerTaxedpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MediaplayerTaxedprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
