src/main/resources/wsdl/mercantileorganization_food_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MercantileorganizationFood" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MercantileorganizationFood-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MercantileorganizationFood" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MercantileorganizationFood" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MercantileorganizationFood" targetNamespace="http://127.0.0.1:8000/wsdl/MercantileorganizationFood">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 12:10:18 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MercantileorganizationFood" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#MercantileOrganization"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#Food"/>
			</xsd:annotation>
			<xsd:element name="Food" type="FoodType"/>
			<xsd:element name="MercantileOrganization" type="MercantileOrganizationType"/>
			<xsd:simpleType name="FoodType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MercantileOrganizationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_FOODResponse">
		<wsdl:part name="_FOOD" type="tns:FoodType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_FOODRequest">
		<wsdl:part name="_MERCANTILEORGANIZATION" type="tns:MercantileOrganizationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MercantileorganizationFoodSoap">
		<wsdl:operation name="get_FOOD">
			<wsdl:input message="tns:get_FOODRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_FOODResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MercantileorganizationFoodSoapBinding" type="MercantileorganizationFoodSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_FOOD">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MercantileorganizationFood"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MercantileorganizationFood"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MercantileorganizationFoodService">
		<wsdl:port name="MercantileorganizationFoodSoap" binding="MercantileorganizationFoodSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MercantileorganizationFood"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
