src/main/resources/wsdl/mercantileorganization_compactprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MercantileorganizationCompactprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MercantileorganizationCompactprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MercantileorganizationCompactprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MercantileorganizationCompactprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MercantileorganizationCompactprice" targetNamespace="http://127.0.0.1:8000/wsdl/MercantileorganizationCompactprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 17:24:22 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MercantileorganizationCompactprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#MercantileOrganization"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/extendedCamera.owl#Compact"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#Price"/>
			</xsd:annotation>
			<xsd:element name="Price" type="PriceType"/>
			<xsd:element name="Compact" type="CompactType"/>
			<xsd:element name="MercantileOrganization" type="MercantileOrganizationType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CompactType">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MercantileOrganizationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_COMPACT_PRICEResponse">
		<wsdl:part name="_COMPACT" type="tns:CompactType">
    </wsdl:part>
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_COMPACT_PRICERequest">
		<wsdl:part name="_MERCANTILEORGANIZATION" type="tns:MercantileOrganizationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MercantileorganizationCompactpriceSoap">
		<wsdl:operation name="get_COMPACT_PRICE">
			<wsdl:input message="tns:get_COMPACT_PRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_COMPACT_PRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MercantileorganizationCompactpriceSoapBinding" type="MercantileorganizationCompactpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_COMPACT_PRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MercantileorganizationCompactprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MercantileorganizationCompactprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MercantileorganizationCompactpriceService">
		<wsdl:port name="MercantileorganizationCompactpriceSoap" binding="MercantileorganizationCompactpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MercantileorganizationCompactprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
