src/main/resources/wsdl/mercantileorganization_slrprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MercantileorganizationSlrprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MercantileorganizationSlrprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MercantileorganizationSlrprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MercantileorganizationSlrprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MercantileorganizationSlrprice" targetNamespace="http://127.0.0.1:8000/wsdl/MercantileorganizationSlrprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 17:26:47 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MercantileorganizationSlrprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#MercantileOrganization"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/extendedCamera.owl#SLR"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#Price"/>
			</xsd:annotation>
			<xsd:element name="Price" type="PriceType"/>
			<xsd:element name="SLR" type="SLRType"/>
			<xsd:element name="MercantileOrganization" type="MercantileOrganizationType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SLRType">
				<xsd:sequence>
					<xsd:element name="hasViewFinder" type="SLRViewerWindow"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="SLRViewerWindow">
				<xsd:restriction base="ViewerWindow">
					<xsd:enumeration value="ThroughTheLens"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MercantileOrganizationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ViewerWindow">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="AtTheBack"/>
					<xsd:enumeration value="ReverseGalelian"/>
					<xsd:enumeration value="WindowOnTopOfCamera"/>
					<xsd:enumeration value="SingleLensReflector"/>
					<xsd:enumeration value="RealImageZoom"/>
					<xsd:enumeration value="ThroughTheLens"/>
					<xsd:enumeration value="OnTheside"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_SLR_PRICEResponse">
		<wsdl:part name="_SLR" type="tns:SLRType">
    </wsdl:part>
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_SLR_PRICERequest">
		<wsdl:part name="_MERCANTILEORGANIZATION" type="tns:MercantileOrganizationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MercantileorganizationSlrpriceSoap">
		<wsdl:operation name="get_SLR_PRICE">
			<wsdl:input message="tns:get_SLR_PRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_SLR_PRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MercantileorganizationSlrpriceSoapBinding" type="MercantileorganizationSlrpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_SLR_PRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MercantileorganizationSlrprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MercantileorganizationSlrprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MercantileorganizationSlrpriceService">
		<wsdl:port name="MercantileorganizationSlrpriceSoap" binding="MercantileorganizationSlrpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MercantileorganizationSlrprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
