src/main/resources/wsdl/MerkelD_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/PreparedfoodDietprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/PreparedfoodDietprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/PreparedfoodDietprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/PreparedfoodDietprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="PreparedfoodDietprice" targetNamespace="http://127.0.0.1:8000/wsdl/PreparedfoodDietprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 17:29:56 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/PreparedfoodDietprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#PreparedFood"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Diet"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#Price"/>
			</xsd:annotation>
			<xsd:element name="Diet" type="DietType"/>
			<xsd:element name="Price" type="PriceType"/>
			<xsd:element name="PreparedFood" type="PreparedFoodType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="DietType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PreparedFoodType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DIET_PRICEResponse">
		<wsdl:part name="_DIET" type="tns:DietType">
    </wsdl:part>
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DIET_PRICERequest">
		<wsdl:part name="_PREPAREDFOOD" type="tns:PreparedFoodType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PreparedfoodDietpriceSoap">
		<wsdl:operation name="get_DIET_PRICE">
			<wsdl:input message="tns:get_DIET_PRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DIET_PRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PreparedfoodDietpriceSoapBinding" type="PreparedfoodDietpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DIET_PRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PreparedfoodDietprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PreparedfoodDietprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PreparedfoodDietpriceService">
		<wsdl:port name="PreparedfoodDietpriceSoap" binding="PreparedfoodDietpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/PreparedfoodDietprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
