src/main/resources/wsdl/missilegovernment_givingrange_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MissilegovernmentGivingrange" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MissilegovernmentGivingrange-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MissilegovernmentGivingrange" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MissilegovernmentGivingrange" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MissilegovernmentGivingrange" targetNamespace="http://127.0.0.1:8000/wsdl/MissilegovernmentGivingrange">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 00:52:51 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MissilegovernmentGivingrange" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Government"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Missile"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#Giving"/>
				<xsd:documentation source="Translation (OWL2XSD-Chttp://127.0.0.1:8000/ontology/0.0.1/ontology/extendedCamera.owl#Range"/>
			</xsd:annotation>
			<xsd:element name="Giving" type="GivingType"/>
			<xsd:element name="Missile" type="MissileType"/>
			<xsd:element name="Government" type="GovernmentType"/>
			<xsd:element name="Range" type="RangeType"/>
			<xsd:complexType name="RangeType">
				<xsd:sequence>
					<xsd:element name="steps" type="xsd:string"/>
					<xsd:element name="min" type="xsd:float"/>
					<xsd:element name="max" type="xsd:float"/>
					<xsd:element name="units" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="GovernmentType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="GivingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MissileType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_GIVING_RANGEResponse">
		<wsdl:part name="_GIVING" type="tns:GivingType">
    </wsdl:part>
		<wsdl:part name="_RANGE" type="tns:RangeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_GIVING_RANGERequest">
		<wsdl:part name="_GOVERNMENT" type="tns:GovernmentType">
    </wsdl:part>
		<wsdl:part name="_MISSILE" type="tns:MissileType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MissilegovernmentGivingrangeSoap">
		<wsdl:operation name="get_GIVING_RANGE">
			<wsdl:input message="tns:get_GIVING_RANGERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_GIVING_RANGEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MissilegovernmentGivingrangeSoapBinding" type="MissilegovernmentGivingrangeSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_GIVING_RANGE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MissilegovernmentGivingrange"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MissilegovernmentGivingrange"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MissilegovernmentGivingrangeService">
		<wsdl:port name="MissilegovernmentGivingrangeSoap" binding="MissilegovernmentGivingrangeSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MissilegovernmentGivingrange"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
