src/main/resources/wsdl/missile_funding_Pakservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MissileFunding" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MissileFunding-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MissileFunding" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MissileFunding" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MissileFunding" targetNamespace="http://127.0.0.1:8000/wsdl/MissileFunding">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 00:11:18 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MissileFunding" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Missile"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#Funding"/>
			</xsd:annotation>
			<xsd:element name="Missile" type="MissileType"/>
			<xsd:element name="Funding" type="FundingType"/>
			<xsd:simpleType name="FundingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MissileType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_FUNDINGResponse">
		<wsdl:part name="_FUNDING" type="tns:FundingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_FUNDINGRequest">
		<wsdl:part name="_MISSILE" type="tns:MissileType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MissileFundingSoap">
		<wsdl:operation name="get_FUNDING">
			<wsdl:input message="tns:get_FUNDINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_FUNDINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MissileFundingSoapBinding" type="MissileFundingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_FUNDING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MissileFunding"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MissileFunding"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MissileFundingService">
		<wsdl:port name="MissileFundingSoap" binding="MissileFundingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MissileFunding"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
