src/main/resources/wsdl/monographperson__service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Personmonograph" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Personmonograph-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Personmonograph" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Personmonograph" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Personmonograph" targetNamespace="http://127.0.0.1:8000/wsdl/Personmonograph">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 17:57:59 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Personmonograph" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Monograph"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Person"/>
			</xsd:annotation>
			<xsd:element name="Person" type="PersonType"/>
			<xsd:element name="Monograph" type="MonographType"/>
			<xsd:complexType name="MonographType">
				<xsd:sequence>
					<xsd:element name="timePublished" type="Once"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Once">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PersonType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getRequest">
		<wsdl:part name="_MONOGRAPH" type="tns:MonographType">
    </wsdl:part>
		<wsdl:part name="_PERSON" type="tns:PersonType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getResponse">
  </wsdl:message>
	<wsdl:portType name="PersonmonographSoap">
		<wsdl:operation name="get">
			<wsdl:input message="tns:getRequest">
    </wsdl:input>
			<wsdl:output message="tns:getResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PersonmonographSoapBinding" type="PersonmonographSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Personmonograph"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Personmonograph"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PersonmonographService">
		<wsdl:port name="PersonmonographSoap" binding="PersonmonographSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Personmonograph"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
