src/main/resources/wsdl/monograph_author_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/MonographAuthor" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MonographAuthor-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MonographAuthor" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MonographAuthor" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MonographAuthor" targetNamespace="http://127.0.0.1:8000/wsdl/MonographAuthor">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 17:53:43 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MonographAuthor" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Monograph"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Author"/>
			</xsd:annotation>
			<xsd:element name="Author" type="AuthorType"/>
			<xsd:element name="Monograph" type="MonographType"/>
			<xsd:complexType name="MonographType">
				<xsd:sequence>
					<xsd:element name="timePublished" type="Once"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Once">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AuthorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_AUTHORResponse">
		<wsdl:part name="_AUTHOR" type="tns:AuthorType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_AUTHORRequest">
		<wsdl:part name="_MONOGRAPH" type="tns:MonographType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MonographAuthorSoap">
		<wsdl:operation name="get_AUTHOR">
			<wsdl:input message="tns:get_AUTHORRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_AUTHORResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MonographAuthorSoapBinding" type="MonographAuthorSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_AUTHOR">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MonographAuthor"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MonographAuthor"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MonographAuthorService">
		<wsdl:port name="MonographAuthorSoap" binding="MonographAuthorSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MonographAuthor"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
