src/main/resources/wsdl/MonographRecommendedpriceineuro.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/MonographRecommendedpriceineuro-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/MonographRecommendedpriceineuro" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/MonographRecommendedpriceineuro" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="MonographRecommendedpriceineuro" targetNamespace="http://127.0.0.1:8000/wsdl/MonographRecommendedpriceineuro">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 05 14:36:50 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/MonographRecommendedpriceineuro" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Monograph"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#RecommendedPriceInEuro"/>
			</xsd:annotation>
			<xsd:element name="RecommendedPriceInEuro" type="tns:RecommendedPriceInEuroType"/>
			<xsd:element name="Monograph" type="tns:MonographType"/>
			<xsd:complexType name="MonographType">
				<xsd:sequence>
					<xsd:element name="timePublished" type="tns:Once"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="RecommendedPriceInEuroType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Once">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RECOMMENDEDPRICEINEURORequest">
		<wsdl:part name="_MONOGRAPH" type="tns:MonographType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RECOMMENDEDPRICEINEUROResponse">
		<wsdl:part name="_RECOMMENDEDPRICEINEURO" type="tns:RecommendedPriceInEuroType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MonographRecommendedpriceineuroSoap">
		<wsdl:operation name="get_RECOMMENDEDPRICEINEURO">
			<wsdl:input message="tns:get_RECOMMENDEDPRICEINEURORequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RECOMMENDEDPRICEINEUROResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MonographRecommendedpriceineuroSoapBinding" type="tns:MonographRecommendedpriceineuroSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RECOMMENDEDPRICEINEURO">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MonographRecommendedpriceineuro"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/MonographRecommendedpriceineuro"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MonographRecommendedpriceineuroService">
		<wsdl:port name="MonographRecommendedpriceineuroSoap" binding="tns:MonographRecommendedpriceineuroSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/MonographRecommendedpriceineuro"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
