src/main/resources/wsdl/Mp3playerdvdplayerPriceshipping.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Mp3playerdvdplayerPriceshipping-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Mp3playerdvdplayerPriceshipping" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Mp3playerdvdplayerPriceshipping" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Mp3playerdvdplayerPriceshipping" targetNamespace="http://127.0.0.1:8000/wsdl/Mp3playerdvdplayerPriceshipping">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 05 11:25:45 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Mp3playerdvdplayerPriceshipping" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#DVDPlayer"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#MP3Player"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#Price"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/Mid-level-ontology.owl#Shipping"/>
			</xsd:annotation>
			<xsd:element name="Price" type="tns:PriceType"/>
			<xsd:element name="Shipping" type="tns:ShippingType"/>
			<xsd:element name="DVDPlayer" type="tns:DVDPlayerType"/>
			<xsd:element name="MP3Player" type="tns:MP3PlayerType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="tns:Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="ShippingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DVDPlayerType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MP3PlayerType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICE_SHIPPINGResponse">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
		<wsdl:part name="_SHIPPING" type="tns:ShippingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICE_SHIPPINGRequest">
		<wsdl:part name="_DVDPLAYER" type="tns:DVDPlayerType">
    </wsdl:part>
		<wsdl:part name="_MP3PLAYER" type="tns:MP3PlayerType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Mp3playerdvdplayerPriceshippingSoap">
		<wsdl:operation name="get_PRICE_SHIPPING">
			<wsdl:input message="tns:get_PRICE_SHIPPINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICE_SHIPPINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Mp3playerdvdplayerPriceshippingSoapBinding" type="tns:Mp3playerdvdplayerPriceshippingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE_SHIPPING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Mp3playerdvdplayerPriceshipping"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Mp3playerdvdplayerPriceshipping"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Mp3playerdvdplayerPriceshippingService">
		<wsdl:port name="Mp3playerdvdplayerPriceshippingSoap" binding="tns:Mp3playerdvdplayerPriceshippingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Mp3playerdvdplayerPriceshipping"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
