src/main/resources/wsdl/Mp3playerdvdplayerRecommendedpriceshipping.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Mp3playerdvdplayerRecommendedpriceshipping-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Mp3playerdvdplayerRecommendedpriceshipping" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Mp3playerdvdplayerRecommendedpriceshipping" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Mp3playerdvdplayerRecommendedpriceshipping" targetNamespace="http://127.0.0.1:8000/wsdl/Mp3playerdvdplayerRecommendedpriceshipping">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 05 11:28:41 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Mp3playerdvdplayerRecommendedpriceshipping" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#DVDPlayer"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#MP3Player"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#RecommendedPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/Mid-level-ontology.owl#Shipping"/>
			</xsd:annotation>
			<xsd:element name="Shipping" type="tns:ShippingType"/>
			<xsd:element name="DVDPlayer" type="tns:DVDPlayerType"/>
			<xsd:element name="RecommendedPrice" type="tns:RecommendedPriceType"/>
			<xsd:element name="MP3Player" type="tns:MP3PlayerType"/>
			<xsd:simpleType name="ShippingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="RecommendedPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DVDPlayerType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MP3PlayerType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RECOMMENDEDPRICE_SHIPPINGResponse">
		<wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
    </wsdl:part>
		<wsdl:part name="_SHIPPING" type="tns:ShippingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RECOMMENDEDPRICE_SHIPPINGRequest">
		<wsdl:part name="_DVDPLAYER" type="tns:DVDPlayerType">
    </wsdl:part>
		<wsdl:part name="_MP3PLAYER" type="tns:MP3PlayerType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Mp3playerdvdplayerRecommendedpriceshippingSoap">
		<wsdl:operation name="get_RECOMMENDEDPRICE_SHIPPING">
			<wsdl:input message="tns:get_RECOMMENDEDPRICE_SHIPPINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RECOMMENDEDPRICE_SHIPPINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Mp3playerdvdplayerRecommendedpriceshippingSoapBinding" type="tns:Mp3playerdvdplayerRecommendedpriceshippingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RECOMMENDEDPRICE_SHIPPING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Mp3playerdvdplayerRecommendedpriceshipping"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Mp3playerdvdplayerRecommendedpriceshipping"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Mp3playerdvdplayerRecommendedpriceshippingService">
		<wsdl:port name="Mp3playerdvdplayerRecommendedpriceshippingSoap" binding="tns:Mp3playerdvdplayerRecommendedpriceshippingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Mp3playerdvdplayerRecommendedpriceshipping"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
