src/main/resources/wsdl/municipal-unit_skilledoccupationtimeduration_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Municipal-unitSkilledoccupationtimeduration" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Municipal-unitSkilledoccupationtimeduration-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Municipal-unitSkilledoccupationtimeduration" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Municipal-unitSkilledoccupationtimeduration" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Municipal-unitSkilledoccupationtimeduration" targetNamespace="http://127.0.0.1:8000/wsdl/Municipal-unitSkilledoccupationtimeduration">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 18:19:14 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Municipal-unitSkilledoccupationtimeduration" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Municipal-Unit"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#SkilledOccupation"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#TimeDuration"/>
			</xsd:annotation>
			<xsd:element name="SkilledOccupation" type="SkilledOccupationType"/>
			<xsd:element name="Municipal-Unit" type="Municipal-UnitType"/>
			<xsd:element name="TimeDuration" type="TimeDurationType"/>
			<xsd:simpleType name="TimeDurationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="SkilledOccupationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Municipal-UnitType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_SKILLEDOCCUPATION_TIMEDURATIONRequest">
		<wsdl:part name="_MUNICIPAL-UNIT" type="tns:Municipal-UnitType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_SKILLEDOCCUPATION_TIMEDURATIONResponse">
		<wsdl:part name="_SKILLEDOCCUPATION" type="tns:SkilledOccupationType">
    </wsdl:part>
		<wsdl:part name="_TIMEDURATION" type="tns:TimeDurationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Municipal-unitSkilledoccupationtimedurationSoap">
		<wsdl:operation name="get_SKILLEDOCCUPATION_TIMEDURATION">
			<wsdl:input message="tns:get_SKILLEDOCCUPATION_TIMEDURATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_SKILLEDOCCUPATION_TIMEDURATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Municipal-unitSkilledoccupationtimedurationSoapBinding" type="Municipal-unitSkilledoccupationtimedurationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_SKILLEDOCCUPATION_TIMEDURATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Municipal-unitSkilledoccupationtimeduration"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Municipal-unitSkilledoccupationtimeduration"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Municipal-unitSkilledoccupationtimedurationService">
		<wsdl:port name="Municipal-unitSkilledoccupationtimedurationSoap" binding="Municipal-unitSkilledoccupationtimedurationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Municipal-unitSkilledoccupationtimeduration"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
