src/main/resources/wsdl/municipal-unit_lightning_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Municipal-unitLightning" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Municipal-unitLightning-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Municipal-unitLightning" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Municipal-unitLightning" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Municipal-unitLightning" targetNamespace="http://127.0.0.1:8000/wsdl/Municipal-unitLightning">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 18:22:58 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Municipal-unitLightning" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Municipal-Unit"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Lightning"/>
			</xsd:annotation>
			<xsd:element name="Municipal-Unit" type="Municipal-UnitType"/>
			<xsd:element name="Lightning" type="LightningType"/>
			<xsd:simpleType name="LightningType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Municipal-UnitType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_LIGHTNINGResponse">
		<wsdl:part name="_LIGHTNING" type="tns:LightningType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_LIGHTNINGRequest">
		<wsdl:part name="_MUNICIPAL-UNIT" type="tns:Municipal-UnitType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Municipal-unitLightningSoap">
		<wsdl:operation name="get_LIGHTNING">
			<wsdl:input message="tns:get_LIGHTNINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_LIGHTNINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Municipal-unitLightningSoapBinding" type="Municipal-unitLightningSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_LIGHTNING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Municipal-unitLightning"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Municipal-unitLightning"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Municipal-unitLightningService">
		<wsdl:port name="Municipal-unitLightningSoap" binding="Municipal-unitLightningSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Municipal-unitLightning"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
