src/main/resources/wsdl/municipal-unit_weatherseason_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherseason" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherseason-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherseason" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherseason" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Municipal-unitWeatherseason" targetNamespace="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherseason">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 18:32:28 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherseason" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Municipal-Unit"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#WeatherSeason"/>
			</xsd:annotation>
			<xsd:element name="Municipal-Unit" type="Municipal-UnitType"/>
			<xsd:element name="WeatherSeason" type="WeatherSeasonType"/>
			<xsd:simpleType name="WeatherSeasonType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Municipal-UnitType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_WEATHERSEASONRequest">
		<wsdl:part name="_MUNICIPAL-UNIT" type="tns:Municipal-UnitType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_WEATHERSEASONResponse">
		<wsdl:part name="_WEATHERSEASON" type="tns:WeatherSeasonType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Municipal-unitWeatherseasonSoap">
		<wsdl:operation name="get_WEATHERSEASON">
			<wsdl:input message="tns:get_WEATHERSEASONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_WEATHERSEASONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Municipal-unitWeatherseasonSoapBinding" type="Municipal-unitWeatherseasonSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_WEATHERSEASON">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherseason"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherseason"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Municipal-unitWeatherseasonService">
		<wsdl:port name="Municipal-unitWeatherseasonSoap" binding="Municipal-unitWeatherseasonSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherseason"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
