src/main/resources/wsdl/municipal-unit_occupationaltradetimemeasure_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Municipal-unitOccupationaltradetimemeasure" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Municipal-unitOccupationaltradetimemeasure-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Municipal-unitOccupationaltradetimemeasure" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Municipal-unitOccupationaltradetimemeasure" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Municipal-unitOccupationaltradetimemeasure" targetNamespace="http://127.0.0.1:8000/wsdl/Municipal-unitOccupationaltradetimemeasure">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 18:14:08 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Municipal-unitOccupationaltradetimemeasure" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Municipal-Unit"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#OccupationalTrade"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#TimeMeasure"/>
			</xsd:annotation>
			<xsd:element name="TimeMeasure" type="TimeMeasureType"/>
			<xsd:element name="Municipal-Unit" type="Municipal-UnitType"/>
			<xsd:element name="OccupationalTrade" type="OccupationalTradeType"/>
			<xsd:simpleType name="OccupationalTradeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TimeMeasureType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Municipal-UnitType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_OCCUPATIONALTRADE_TIMEMEASURERequest">
		<wsdl:part name="_MUNICIPAL-UNIT" type="tns:Municipal-UnitType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_OCCUPATIONALTRADE_TIMEMEASUREResponse">
		<wsdl:part name="_OCCUPATIONALTRADE" type="tns:OccupationalTradeType">
    </wsdl:part>
		<wsdl:part name="_TIMEMEASURE" type="tns:TimeMeasureType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Municipal-unitOccupationaltradetimemeasureSoap">
		<wsdl:operation name="get_OCCUPATIONALTRADE_TIMEMEASURE">
			<wsdl:input message="tns:get_OCCUPATIONALTRADE_TIMEMEASURERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_OCCUPATIONALTRADE_TIMEMEASUREResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Municipal-unitOccupationaltradetimemeasureSoapBinding" type="Municipal-unitOccupationaltradetimemeasureSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_OCCUPATIONALTRADE_TIMEMEASURE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Municipal-unitOccupationaltradetimemeasure"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Municipal-unitOccupationaltradetimemeasure"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Municipal-unitOccupationaltradetimemeasureService">
		<wsdl:port name="Municipal-unitOccupationaltradetimemeasureSoap" binding="Municipal-unitOccupationaltradetimemeasureSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Municipal-unitOccupationaltradetimemeasure"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
