src/main/resources/wsdl/municipal-unit_professionparttimeposition_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Municipal-entityProfessionparttimeposition" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Municipal-entityProfessionparttimeposition-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Municipal-entityProfessionparttimeposition" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Municipal-entityProfessionparttimeposition" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Municipal-entityProfessionparttimeposition" targetNamespace="http://127.0.0.1:8000/wsdl/Municipal-entityProfessionparttimeposition">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 18:05:04 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Municipal-entityProfessionparttimeposition" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Municipal-Unit"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Profession"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#PartTimePosition"/>
			</xsd:annotation>
			<xsd:element name="Municipal-Unit" type="Municipal-UnitType"/>
			<xsd:element name="Profession" type="ProfessionType"/>
			<xsd:element name="PartTimePosition" type="PartTimePositionType"/>
			<xsd:simpleType name="PartTimePositionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ProfessionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Municipal-UnitType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PROFESSION_PARTTIMEPOSITIONRequest">
		<wsdl:part name="_MUNICIPAL-ENTITY" type="tns:Municipal-UnitType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PROFESSION_PARTTIMEPOSITIONResponse">
		<wsdl:part name="_PROFESSION" type="tns:ProfessionType">
    </wsdl:part>
		<wsdl:part name="_PARTTIMEPOSITION" type="tns:PartTimePositionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Municipal-entityProfessionparttimepositionSoap">
		<wsdl:operation name="get_PROFESSION_PARTTIMEPOSITION">
			<wsdl:input message="tns:get_PROFESSION_PARTTIMEPOSITIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PROFESSION_PARTTIMEPOSITIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Municipal-entityProfessionparttimepositionSoapBinding" type="Municipal-entityProfessionparttimepositionSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PROFESSION_PARTTIMEPOSITION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Municipal-entityProfessionparttimeposition"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Municipal-entityProfessionparttimeposition"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Municipal-entityProfessionparttimepositionService">
		<wsdl:port name="Municipal-entityProfessionparttimepositionSoap" binding="Municipal-entityProfessionparttimepositionSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Municipal-entityProfessionparttimeposition"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
