src/main/resources/wsdl/municipal-unit_weatherprocess_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherprocess" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherprocess-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherprocess" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherprocess" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Municipal-unitWeatherprocess" targetNamespace="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherprocess">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 18:30:52 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherprocess" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Municipal-Unit"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#WeatherProcess"/>
			</xsd:annotation>
			<xsd:element name="Municipal-Unit" type="Municipal-UnitType"/>
			<xsd:element name="WeatherProcess" type="WeatherProcessType"/>
			<xsd:simpleType name="WeatherProcessType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Municipal-UnitType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_WEATHERPROCESSResponse">
		<wsdl:part name="_WEATHERPROCESS" type="tns:WeatherProcessType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_WEATHERPROCESSRequest">
		<wsdl:part name="_MUNICIPAL-UNIT" type="tns:Municipal-UnitType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Municipal-unitWeatherprocessSoap">
		<wsdl:operation name="get_WEATHERPROCESS">
			<wsdl:input message="tns:get_WEATHERPROCESSRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_WEATHERPROCESSResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Municipal-unitWeatherprocessSoapBinding" type="Municipal-unitWeatherprocessSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_WEATHERPROCESS">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherprocess"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherprocess"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Municipal-unitWeatherprocessService">
		<wsdl:port name="Municipal-unitWeatherprocessSoap" binding="Municipal-unitWeatherprocessSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Municipal-unitWeatherprocess"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
