src/main/resources/wsdl/municipal-unit_skilledoccupationparttimeposition_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Geopolitical-entitySkilledoccupationparttimeposition" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Geopolitical-entitySkilledoccupationparttimeposition-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Geopolitical-entitySkilledoccupationparttimeposition" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Geopolitical-entitySkilledoccupationparttimeposition" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Geopolitical-entitySkilledoccupationparttimeposition" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entitySkilledoccupationparttimeposition">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 25 01:29:40 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Geopolitical-entitySkilledoccupationparttimeposition" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Geopolitical-Entity"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#SkilledOccupation"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#PartTimePosition"/>
			</xsd:annotation>
			<xsd:element name="SkilledOccupation" type="SkilledOccupationType"/>
			<xsd:element name="Geopolitical-Entity" type="Geopolitical-EntityType"/>
			<xsd:element name="PartTimePosition" type="PartTimePositionType"/>
			<xsd:simpleType name="SkilledOccupationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PartTimePositionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Geopolitical-EntityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_SKILLEDOCCUPATION_PARTTIMEPOSITIONResponse">
		<wsdl:part name="_SKILLEDOCCUPATION" type="tns:SkilledOccupationType">
    </wsdl:part>
		<wsdl:part name="_PARTTIMEPOSITION" type="tns:PartTimePositionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_SKILLEDOCCUPATION_PARTTIMEPOSITIONRequest">
		<wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Geopolitical-entitySkilledoccupationparttimepositionSoap">
		<wsdl:operation name="get_SKILLEDOCCUPATION_PARTTIMEPOSITION">
			<wsdl:input message="tns:get_SKILLEDOCCUPATION_PARTTIMEPOSITIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_SKILLEDOCCUPATION_PARTTIMEPOSITIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Geopolitical-entitySkilledoccupationparttimepositionSoapBinding" type="Geopolitical-entitySkilledoccupationparttimepositionSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_SKILLEDOCCUPATION_PARTTIMEPOSITION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entitySkilledoccupationparttimeposition"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Geopolitical-entitySkilledoccupationparttimeposition"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Geopolitical-entitySkilledoccupationparttimepositionService">
		<wsdl:port name="Geopolitical-entitySkilledoccupationparttimepositionSoap" binding="Geopolitical-entitySkilledoccupationparttimepositionSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Geopolitical-entitySkilledoccupationparttimeposition"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
