src/main/resources/wsdl/nationalgovernmentweapon_funding_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/NationalgovernmentweaponFunding" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/NationalgovernmentweaponFunding-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/NationalgovernmentweaponFunding" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/NationalgovernmentweaponFunding" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="NationalgovernmentweaponFunding" targetNamespace="http://127.0.0.1:8000/wsdl/NationalgovernmentweaponFunding">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 18:42:42 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/NationalgovernmentweaponFunding" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Weapon"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#NationalGovernment"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#Funding"/>
			</xsd:annotation>
			<xsd:element name="Weapon" type="WeaponType"/>
			<xsd:element name="Funding" type="FundingType"/>
			<xsd:element name="NationalGovernment" type="NationalGovernmentType"/>
			<xsd:simpleType name="FundingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="NationalGovernmentType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="WeaponType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_FUNDINGResponse">
		<wsdl:part name="_FUNDING" type="tns:FundingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_FUNDINGRequest">
		<wsdl:part name="_WEAPON" type="tns:WeaponType">
    </wsdl:part>
		<wsdl:part name="_NATIONALGOVERNMENT" type="tns:NationalGovernmentType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="NationalgovernmentweaponFundingSoap">
		<wsdl:operation name="get_FUNDING">
			<wsdl:input message="tns:get_FUNDINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_FUNDINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NationalgovernmentweaponFundingSoapBinding" type="NationalgovernmentweaponFundingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_FUNDING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/NationalgovernmentweaponFunding"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/NationalgovernmentweaponFunding"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NationalgovernmentweaponFundingService">
		<wsdl:port name="NationalgovernmentweaponFundingSoap" binding="NationalgovernmentweaponFundingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/NationalgovernmentweaponFunding"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
