src/main/resources/wsdl/nationalgovernment_scholarshipquantity_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/NationalgovernmentScholarshipquantity" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/NationalgovernmentScholarshipquantity-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/NationalgovernmentScholarshipquantity" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/NationalgovernmentScholarshipquantity" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="NationalgovernmentScholarshipquantity" targetNamespace="http://127.0.0.1:8000/wsdl/NationalgovernmentScholarshipquantity">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 18:50:48 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/NationalgovernmentScholarshipquantity" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#NationalGovernment"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Scholarship"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/support.owl#Quantity"/>
			</xsd:annotation>
			<xsd:element name="Scholarship" type="ScholarshipType"/>
			<xsd:element name="Quantity" type="QuantityType"/>
			<xsd:element name="NationalGovernment" type="NationalGovernmentType"/>
			<xsd:simpleType name="ScholarshipType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="NationalGovernmentType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="QuantityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_SCHOLARSHIP_QUANTITYRequest">
		<wsdl:part name="_NATIONALGOVERNMENT" type="tns:NationalGovernmentType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_SCHOLARSHIP_QUANTITYResponse">
		<wsdl:part name="_SCHOLARSHIP" type="tns:ScholarshipType">
    </wsdl:part>
		<wsdl:part name="_QUANTITY" type="tns:QuantityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="NationalgovernmentScholarshipquantitySoap">
		<wsdl:operation name="get_SCHOLARSHIP_QUANTITY">
			<wsdl:input message="tns:get_SCHOLARSHIP_QUANTITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_SCHOLARSHIP_QUANTITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NationalgovernmentScholarshipquantitySoapBinding" type="NationalgovernmentScholarshipquantitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_SCHOLARSHIP_QUANTITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/NationalgovernmentScholarshipquantity"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/NationalgovernmentScholarshipquantity"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NationalgovernmentScholarshipquantityService">
		<wsdl:port name="NationalgovernmentScholarshipquantitySoap" binding="NationalgovernmentScholarshipquantitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/NationalgovernmentScholarshipquantity"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
