src/main/resources/wsdl/NonMedicalFlightCompany_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Providenonmedicalflightinformation" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Providenonmedicalflightinformation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Providenonmedicalflightinformation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Providenonmedicalflightinformation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Providenonmedicalflightinformation" targetNamespace="http://127.0.0.1:8000/wsdl/Providenonmedicalflightinformation">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 15:30:19 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Providenonmedicalflightinformation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/NonMedicalFlightCompanyOntology.owl#AccountName"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/NonMedicalFlightCompanyOntology.owl#Airport"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/NonMedicalFlightCompanyOntology.owl#DateTime"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/NonMedicalFlightCompanyOntology.owl#FlightCategory"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/NonMedicalFlightCompanyOntology.owl#Airport"/>
				<xsd:documentation source="Translation http://127.0.0.1:8000/ontology/ttp://127.0.0.1/ontology/NonMedicalFlightCompanyOntology.owl#ListOfFlights"/>
			</xsd:annotation>
			<xsd:element name="ListOfFlights" type="ListOfFlightsType"/>
			<xsd:element name="FlightCategory" type="FlightCategoryType"/>
			<xsd:element name="AccountName" type="AccountNameType"/>
			<xsd:element name="DateTime" type="DateTimeType"/>
			<xsd:element name="Airport" type="AirportType"/>
			<xsd:complexType name="ListOfFlightsType">
				<xsd:sequence>
					<xsd:element name="ListOfFlights_consistsOf" type="Flight"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="FlightCategoryType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AirportType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Flight">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AccountNameType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DateTimeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getProvideNonMedicalFlightInformation_ListOfFlightsRequest">
		<wsdl:part name="GetNonMedicalFlightAccount_CustomerDesiredAccountName" type="tns:AccountNameType">
    </wsdl:part>
		<wsdl:part name="ProvideNonMedicalFlightInformation_DesiredDepartureAirport" type="tns:AirportType">
    </wsdl:part>
		<wsdl:part name="ProvideNonMedicalFlightInformation_DesiredDepartureDateTime" type="tns:DateTimeType">
    </wsdl:part>
		<wsdl:part name="ProvideNonMedicalFlightInformation_FlightCategory" type="tns:FlightCategoryType">
    </wsdl:part>
		<wsdl:part name="ProvideNonMedicalFlightInformation_DesiredArrivalAirport" type="tns:AirportType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getProvideNonMedicalFlightInformation_ListOfFlightsResponse">
		<wsdl:part name="ProvideNonMedicalFlightInformation_ListOfFlights" type="tns:ListOfFlightsType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ProvidenonmedicalflightinformationSoap">
		<wsdl:operation name="getProvideNonMedicalFlightInformation_ListOfFlights">
			<wsdl:input message="tns:getProvideNonMedicalFlightInformation_ListOfFlightsRequest">
    </wsdl:input>
			<wsdl:output message="tns:getProvideNonMedicalFlightInformation_ListOfFlightsResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProvidenonmedicalflightinformationSoapBinding" type="ProvidenonmedicalflightinformationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getProvideNonMedicalFlightInformation_ListOfFlights">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Providenonmedicalflightinformation"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Providenonmedicalflightinformation"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProvidenonmedicalflightinformationService">
		<wsdl:port name="ProvidenonmedicalflightinformationSoap" binding="ProvidenonmedicalflightinformationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Providenonmedicalflightinformation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
