src/main/resources/wsdl/novel_publisher_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/NovelPublisher" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/NovelPublisher-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/NovelPublisher" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/NovelPublisher" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="NovelPublisher" targetNamespace="http://127.0.0.1:8000/wsdl/NovelPublisher">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed Jun 03 01:17:30 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/NovelPublisher" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Novel"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Publisher"/>
			</xsd:annotation>
			<xsd:element name="Publisher" type="PublisherType"/>
			<xsd:element name="Novel" type="NovelType"/>
			<xsd:complexType name="NovelType">
				<xsd:sequence>
					<xsd:element name="hasSize" type="Medium"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="PublisherType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Medium">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PUBLISHERResponse">
		<wsdl:part name="_PUBLISHER" type="tns:PublisherType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PUBLISHERRequest">
		<wsdl:part name="_NOVEL" type="tns:NovelType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="NovelPublisherSoap">
		<wsdl:operation name="get_PUBLISHER">
			<wsdl:input message="tns:get_PUBLISHERRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PUBLISHERResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NovelPublisherSoapBinding" type="NovelPublisherSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PUBLISHER">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/NovelPublisher"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/NovelPublisher"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NovelPublisherService">
		<wsdl:port name="NovelPublisherSoap" binding="NovelPublisherSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/NovelPublisher"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
