src/main/resources/wsdl/novel_authorcommitting_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/NovelAuthorcommitting" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/NovelAuthorcommitting-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/NovelAuthorcommitting" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/NovelAuthorcommitting" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="NovelAuthorcommitting" targetNamespace="http://127.0.0.1:8000/wsdl/NovelAuthorcommitting">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed Jun 03 01:18:54 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/NovelAuthorcommitting" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Novel"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Author"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#Committing"/>
			</xsd:annotation>
			<xsd:element name="Committing" type="CommittingType"/>
			<xsd:element name="Author" type="AuthorType"/>
			<xsd:element name="Novel" type="NovelType"/>
			<xsd:complexType name="NovelType">
				<xsd:sequence>
					<xsd:element name="hasSize" type="Medium"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="CommittingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Medium">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AuthorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_AUTHOR_COMMITTINGRequest">
		<wsdl:part name="_NOVEL" type="tns:NovelType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_AUTHOR_COMMITTINGResponse">
		<wsdl:part name="_AUTHOR" type="tns:AuthorType">
    </wsdl:part>
		<wsdl:part name="_COMMITTING" type="tns:CommittingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="NovelAuthorcommittingSoap">
		<wsdl:operation name="get_AUTHOR_COMMITTING">
			<wsdl:input message="tns:get_AUTHOR_COMMITTINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_AUTHOR_COMMITTINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NovelAuthorcommittingSoapBinding" type="NovelAuthorcommittingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_AUTHOR_COMMITTING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/NovelAuthorcommitting"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/NovelAuthorcommitting"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NovelAuthorcommittingService">
		<wsdl:port name="NovelAuthorcommittingSoap" binding="NovelAuthorcommittingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/NovelAuthorcommitting"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
