src/main/resources/wsdl/novelperson__Reservationservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Novelperson" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Novelperson-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Novelperson" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Novelperson" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Novelperson" targetNamespace="http://127.0.0.1:8000/wsdl/Novelperson">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Jun 06 22:51:45 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Novelperson" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Person"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Novel"/>
			</xsd:annotation>
			<xsd:element name="Person" type="PersonType"/>
			<xsd:element name="Novel" type="NovelType"/>
			<xsd:complexType name="NovelType">
				<xsd:sequence>
					<xsd:element name="hasSize" type="Medium"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Medium">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PersonType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getResponse">
  </wsdl:message>
	<wsdl:message name="getRequest">
		<wsdl:part name="_PERSON" type="tns:PersonType">
    </wsdl:part>
		<wsdl:part name="_NOVEL" type="tns:NovelType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="NovelpersonSoap">
		<wsdl:operation name="get">
			<wsdl:input message="tns:getRequest">
    </wsdl:input>
			<wsdl:output message="tns:getResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NovelpersonSoapBinding" type="NovelpersonSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Novelperson"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Novelperson"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NovelpersonService">
		<wsdl:port name="NovelpersonSoap" binding="NovelpersonSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Novelperson"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
