src/main/resources/wsdl/novelperson_price_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/NovelpersonPrice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/NovelpersonPrice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/NovelpersonPrice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/NovelpersonPrice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="NovelpersonPrice" targetNamespace="http://127.0.0.1:8000/wsdl/NovelpersonPrice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Jun 06 22:52:59 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/NovelpersonPrice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Person"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Novel"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#Price"/>
			</xsd:annotation>
			<xsd:element name="Price" type="PriceType"/>
			<xsd:element name="Person" type="PersonType"/>
			<xsd:element name="Novel" type="NovelType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="NovelType">
				<xsd:sequence>
					<xsd:element name="hasSize" type="Medium"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Medium">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PersonType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICERequest">
		<wsdl:part name="_PERSON" type="tns:PersonType">
    </wsdl:part>
		<wsdl:part name="_NOVEL" type="tns:NovelType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICEResponse">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="NovelpersonPriceSoap">
		<wsdl:operation name="get_PRICE">
			<wsdl:input message="tns:get_PRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NovelpersonPriceSoapBinding" type="NovelpersonPriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/NovelpersonPrice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/NovelpersonPrice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NovelpersonPriceService">
		<wsdl:port name="NovelpersonPriceSoap" binding="NovelpersonPriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/NovelpersonPrice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
