src/main/resources/wsdl/novel_authorbook-type_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/NovelAuthorbook-type" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/NovelAuthorbook-type-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/NovelAuthorbook-type" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/NovelAuthorbook-type" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="NovelAuthorbook-type" targetNamespace="http://127.0.0.1:8000/wsdl/NovelAuthorbook-type">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 18:55:01 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/NovelAuthorbook-type" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Novel"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Author"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/books.owl#Book-Type"/>
			</xsd:annotation>
			<xsd:element name="Author" type="AuthorType"/>
			<xsd:element name="Book-Type" type="Book-TypeType"/>
			<xsd:element name="Novel" type="NovelType"/>
			<xsd:complexType name="NovelType">
				<xsd:sequence>
					<xsd:element name="hasSize" type="Medium"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Book-TypeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Medium">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AuthorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_AUTHOR_BOOK-TYPEResponse">
		<wsdl:part name="_AUTHOR" type="tns:AuthorType">
    </wsdl:part>
		<wsdl:part name="_BOOK-TYPE" type="tns:Book-TypeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_AUTHOR_BOOK-TYPERequest">
		<wsdl:part name="_NOVEL" type="tns:NovelType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="NovelAuthorbook-typeSoap">
		<wsdl:operation name="get_AUTHOR_BOOK-TYPE">
			<wsdl:input message="tns:get_AUTHOR_BOOK-TYPERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_AUTHOR_BOOK-TYPEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NovelAuthorbook-typeSoapBinding" type="NovelAuthorbook-typeSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_AUTHOR_BOOK-TYPE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/NovelAuthorbook-type"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/NovelAuthorbook-type"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NovelAuthorbook-typeService">
		<wsdl:port name="NovelAuthorbook-typeSoap" binding="NovelAuthorbook-typeSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/NovelAuthorbook-type"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
