src/main/resources/wsdl/novel_authorgenre_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/NovelAuthorgenre" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/NovelAuthorgenre-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/NovelAuthorgenre" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/NovelAuthorgenre" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="NovelAuthorgenre" targetNamespace="http://127.0.0.1:8000/wsdl/NovelAuthorgenre">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed Jun 03 01:20:32 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/NovelAuthorgenre" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Novel"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Author"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/books.owl#Genre"/>
			</xsd:annotation>
			<xsd:element name="Author" type="AuthorType"/>
			<xsd:element name="Genre" type="GenreType"/>
			<xsd:element name="Novel" type="NovelType"/>
			<xsd:complexType name="NovelType">
				<xsd:sequence>
					<xsd:element name="hasSize" type="Medium"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Medium">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="GenreType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AuthorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_AUTHOR_GENREResponse">
		<wsdl:part name="_AUTHOR" type="tns:AuthorType">
    </wsdl:part>
		<wsdl:part name="_GENRE" type="tns:GenreType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_AUTHOR_GENRERequest">
		<wsdl:part name="_NOVEL" type="tns:NovelType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="NovelAuthorgenreSoap">
		<wsdl:operation name="get_AUTHOR_GENRE">
			<wsdl:input message="tns:get_AUTHOR_GENRERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_AUTHOR_GENREResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NovelAuthorgenreSoapBinding" type="NovelAuthorgenreSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_AUTHOR_GENRE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/NovelAuthorgenre"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/NovelAuthorgenre"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NovelAuthorgenreService">
		<wsdl:port name="NovelAuthorgenreSoap" binding="NovelAuthorgenreSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/NovelAuthorgenre"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
