src/main/resources/wsdl/objectsMappingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/ObjectsMapping" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/ObjectsMapping-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/ObjectsMapping" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/ObjectsMapping" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="ObjectsMapping" targetNamespace="http://127.0.0.1:8000/wsdl/ObjectsMapping">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 27 18:39:23 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/ObjectsMapping" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/geographydataset.owl#GeographicDistance"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/geographydataset.owl#GeographicDistance"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/ontosem.owl#height"/>
				<xsd:documentation source="Translation (OWL2XSD-Chttp://127.0.0.1:8000/ontology/0.0.1/ontology/ontosem.owl#width"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/protont.owl#Location"/>
				<xsd:documentation source="Translationhttp://127.0.0.1:8000/ontology/ttp://127.0.0.1/ontology/geographydataset.owl#DigitalFileType"/>
				<xsd:documentation source="Translhttp://127.0.0.1:8000/ontology/ of http://127.0.0.1/ontology/protonu.owl#ReferenceLocation"/>
				<xsd:documentation source="Thttp://127.0.0.1:8000/ontology/Type) of http://127.0.0.1/ontology/protont.owl#Language"/>
				<xsd:documentation sourhttp://127.0.0.1:8000/ontology/impleType) of http://127.0.0.1/ontology/protont.owl#Location"/>
				<xsd:documentationhttp://127.0.0.1:8000/ontology/XSD-SimpleType) of http://127.0.0.1/ontology/geographydataset.owl#GeographicDistance"/>
				<xsd:documenthttp://127.0.0.1:8000/ontology/(OWL2XSD-SimpleType) of http://127.0.0.1/ontology/geographydataset.owl#GeographicDistance"/>
				<xsd:dochttp://127.0.0.1:8000/ontology/tion (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/protont.owl#latitude"/>
				<xshttp://127.0.0.1:8000/ontology/anslation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/protont.owl#longitude"/>
		http://127.0.0.1:8000/ontology/e="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/geographydataset.owl#URL"/>
			</xsd:annotation>
			<xsd:element name="longitude" type="longitudeType"/>
			<xsd:element name="DigitalFileType" type="DigitalFileTypeType"/>
			<xsd:element name="ReferenceLocation" type="ReferenceLocationType"/>
			<xsd:element name="URL" type="URLType"/>
			<xsd:element name="Language" type="LanguageType"/>
			<xsd:element name="Location" type="LocationType"/>
			<xsd:element name="GeographicDistance" type="GeographicDistanceType"/>
			<xsd:element name="latitude" type="latitudeType"/>
			<xsd:element name="height" type="heightType"/>
			<xsd:element name="width" type="widthType"/>
			<xsd:simpleType name="widthType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="heightType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LanguageType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="URLType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="longitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LocationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="GeographicDistanceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DigitalFileTypeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ReferenceLocationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Airport">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="latitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_CENTER_NORTHING_EASTING_LATITUDE_LONGITUDE_MAP-IMAGE-URLRequest">
		<wsdl:part name="_NORTHING" type="tns:GeographicDistanceType">
    </wsdl:part>
		<wsdl:part name="_EASTING" type="tns:GeographicDistanceType">
    </wsdl:part>
		<wsdl:part name="_HEIGHT" type="tns:heightType">
    </wsdl:part>
		<wsdl:part name="_WIDTH" type="tns:widthType">
    </wsdl:part>
		<wsdl:part name="_CENTER" type="tns:LocationType">
    </wsdl:part>
		<wsdl:part name="_FORMAT" type="tns:DigitalFileTypeType">
    </wsdl:part>
		<wsdl:part name="_OBJECTS" type="tns:ReferenceLocationType">
    </wsdl:part>
		<wsdl:part name="_LANGUAGE" type="tns:LanguageType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_CENTER_NORTHING_EASTING_LATITUDE_LONGITUDE_MAP-IMAGE-URLResponse">
		<wsdl:part name="_CENTER_OUT" type="tns:LocationType">
    </wsdl:part>
		<wsdl:part name="_NORTHING_OUT" type="tns:GeographicDistanceType">
    </wsdl:part>
		<wsdl:part name="_EASTING_OUT" type="tns:GeographicDistanceType">
    </wsdl:part>
		<wsdl:part name="_LATITUDE" type="tns:latitudeType">
    </wsdl:part>
		<wsdl:part name="_LONGITUDE" type="tns:longitudeType">
    </wsdl:part>
		<wsdl:part name="_MAP-IMAGE-URL" type="tns:URLType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ObjectsMappingSoap">
		<wsdl:operation name="get_CENTER_NORTHING_EASTING_LATITUDE_LONGITUDE_MAP-IMAGE-URL">
			<wsdl:input message="tns:get_CENTER_NORTHING_EASTING_LATITUDE_LONGITUDE_MAP-IMAGE-URLRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_CENTER_NORTHING_EASTING_LATITUDE_LONGITUDE_MAP-IMAGE-URLResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ObjectsMappingSoapBinding" type="ObjectsMappingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_CENTER_NORTHING_EASTING_LATITUDE_LONGITUDE_MAP-IMAGE-URL">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ObjectsMapping"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ObjectsMapping"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ObjectsMappingService">
		<wsdl:port name="ObjectsMappingSoap" binding="ObjectsMappingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/ObjectsMapping"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
