src/main/resources/wsdl/oragefruit_price_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/OrangefruitPrice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/OrangefruitPrice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/OrangefruitPrice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/OrangefruitPrice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="OrangefruitPrice" targetNamespace="http://127.0.0.1:8000/wsdl/OrangefruitPrice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu Jun 04 23:40:54 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/OrangefruitPrice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#OrangeFruit"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#Price"/>
			</xsd:annotation>
			<xsd:element name="Price" type="PriceType"/>
			<xsd:element name="OrangeFruit" type="OrangeFruitType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="OrangeFruitType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICEResponse">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICERequest">
		<wsdl:part name="_ORANGEFRUIT" type="tns:OrangeFruitType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="OrangefruitPriceSoap">
		<wsdl:operation name="get_PRICE">
			<wsdl:input message="tns:get_PRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OrangefruitPriceSoapBinding" type="OrangefruitPriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/OrangefruitPrice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/OrangefruitPrice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OrangefruitPriceService">
		<wsdl:port name="OrangefruitPriceSoap" binding="OrangefruitPriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/OrangefruitPrice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
