src/main/resources/wsdl/organizationhiking_destination_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/OrganizationhikingDestination" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/OrganizationhikingDestination-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/OrganizationhikingDestination" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/OrganizationhikingDestination" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="OrganizationhikingDestination" targetNamespace="http://127.0.0.1:8000/wsdl/OrganizationhikingDestination">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 16:46:19 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/OrganizationhikingDestination" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Hiking"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Organization"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/travel.owl#Destination"/>
			</xsd:annotation>
			<xsd:element name="Hiking" type="HikingType"/>
			<xsd:element name="Organization" type="OrganizationType"/>
			<xsd:element name="Destination" type="DestinationType"/>
			<xsd:complexType name="OrganizationType">
				<xsd:sequence>
					<xsd:element name="has-size" type="OrganizationOrganization-Size"/>
					<xsd:element name="organization-part-of" type="OrganizationType"/>
					<xsd:element name="has-sub-unit" type="Organization-Unit"/>
					<xsd:element name="affiliated-person" type="Affiliated-Person"/>
					<xsd:element name="headed-by" type="Affiliated-Person"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Affiliated-Person">
				<xsd:sequence>
					<xsd:element name="has-affiliation" type="OrganizationType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="DestinationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="OrganizationOrganization-Size">
				<xsd:restriction base="Organization-Size">
					<xsd:enumeration value="large-size"/>
					<xsd:enumeration value="medium-size"/>
					<xsd:enumeration value="micro-size"/>
					<xsd:enumeration value="small-size"/>
					<xsd:enumeration value="very-large-size"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Organization-Size">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="medium-size"/>
					<xsd:enumeration value="small-size"/>
					<xsd:enumeration value="micro-size"/>
					<xsd:enumeration value="large-size"/>
					<xsd:enumeration value="very-large-size"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="HikingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Organization-Unit">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DESTINATIONRequest">
		<wsdl:part name="_HIKING" type="tns:HikingType">
    </wsdl:part>
		<wsdl:part name="_ORGANIZATION" type="tns:OrganizationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DESTINATIONResponse">
		<wsdl:part name="_DESTINATION" type="tns:DestinationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="OrganizationhikingDestinationSoap">
		<wsdl:operation name="get_DESTINATION">
			<wsdl:input message="tns:get_DESTINATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DESTINATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OrganizationhikingDestinationSoapBinding" type="OrganizationhikingDestinationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DESTINATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/OrganizationhikingDestination"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/OrganizationhikingDestination"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OrganizationhikingDestinationService">
		<wsdl:port name="OrganizationhikingDestinationSoap" binding="OrganizationhikingDestinationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/OrganizationhikingDestination"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
