src/main/resources/wsdl/PersonTaxedpriceindollar.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/PersonTaxedpriceindollar-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/PersonTaxedpriceindollar" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/PersonTaxedpriceindollar" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="PersonTaxedpriceindollar" targetNamespace="http://127.0.0.1:8000/wsdl/PersonTaxedpriceindollar">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri May 15 21:19:22 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/PersonTaxedpriceindollar" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Person"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#TaxedPriceInDollar"/>
			</xsd:annotation>
			<xsd:element name="Person" type="tns:PersonType"/>
			<xsd:element name="TaxedPriceInDollar" type="tns:TaxedPriceInDollarType"/>
			<xsd:simpleType name="PersonType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TaxedPriceInDollarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_TAXEDPRICEINDOLLARResponse">
		<wsdl:part name="_TAXEDPRICEINDOLLAR" type="tns:TaxedPriceInDollarType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_TAXEDPRICEINDOLLARRequest">
		<wsdl:part name="_PERSON" type="tns:PersonType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PersonTaxedpriceindollarSoap">
		<wsdl:operation name="get_TAXEDPRICEINDOLLAR">
			<wsdl:input message="tns:get_TAXEDPRICEINDOLLARRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_TAXEDPRICEINDOLLARResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PersonTaxedpriceindollarSoapBinding" type="tns:PersonTaxedpriceindollarSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_TAXEDPRICEINDOLLAR">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PersonTaxedpriceindollar"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PersonTaxedpriceindollar"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PersonTaxedpriceindollarService">
		<wsdl:port name="PersonTaxedpriceindollarSoap" binding="tns:PersonTaxedpriceindollarSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/PersonTaxedpriceindollar"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
