src/main/resources/wsdl/preparedfood_SpainishTax_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuro" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuro-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuro" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuro" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="PreparedfoodTaxedpriceineuro" targetNamespace="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuro">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Jun 06 17:05:38 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuro" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#PreparedFood"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#TaxedPriceInEuro"/>
			</xsd:annotation>
			<xsd:element name="PreparedFood" type="PreparedFoodType"/>
			<xsd:element name="TaxedPriceInEuro" type="TaxedPriceInEuroType"/>
			<xsd:simpleType name="PreparedFoodType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TaxedPriceInEuroType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_TAXEDPRICEINEUROResponse">
		<wsdl:part name="_TAXEDPRICEINEURO" type="tns:TaxedPriceInEuroType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_TAXEDPRICEINEURORequest">
		<wsdl:part name="_PREPAREDFOOD" type="tns:PreparedFoodType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PreparedfoodTaxedpriceineuroSoap">
		<wsdl:operation name="get_TAXEDPRICEINEURO">
			<wsdl:input message="tns:get_TAXEDPRICEINEURORequest">
    </wsdl:input>
			<wsdl:output message="tns:get_TAXEDPRICEINEUROResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PreparedfoodTaxedpriceineuroSoapBinding" type="PreparedfoodTaxedpriceineuroSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_TAXEDPRICEINEURO">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuro"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuro"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PreparedfoodTaxedpriceineuroService">
		<wsdl:port name="PreparedfoodTaxedpriceineuroSoap" binding="PreparedfoodTaxedpriceineuroSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuro"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
