src/main/resources/wsdl/preparedfood_GSprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/PreparedfoodGrocerystorerecommendedprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/PreparedfoodGrocerystorerecommendedprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/PreparedfoodGrocerystorerecommendedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/PreparedfoodGrocerystorerecommendedprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="PreparedfoodGrocerystorerecommendedprice" targetNamespace="http://127.0.0.1:8000/wsdl/PreparedfoodGrocerystorerecommendedprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 14:40:12 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/PreparedfoodGrocerystorerecommendedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#PreparedFood"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#GroceryStore"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#RecommendedPrice"/>
			</xsd:annotation>
			<xsd:element name="GroceryStore" type="GroceryStoreType"/>
			<xsd:element name="PreparedFood" type="PreparedFoodType"/>
			<xsd:element name="RecommendedPrice" type="RecommendedPriceType"/>
			<xsd:simpleType name="RecommendedPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PreparedFoodType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="GroceryStoreType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_GROCERYSTORE_RECOMMENDEDPRICEResponse">
		<wsdl:part name="_GROCERYSTORE" type="tns:GroceryStoreType">
    </wsdl:part>
		<wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_GROCERYSTORE_RECOMMENDEDPRICERequest">
		<wsdl:part name="_PREPAREDFOOD" type="tns:PreparedFoodType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PreparedfoodGrocerystorerecommendedpriceSoap">
		<wsdl:operation name="get_GROCERYSTORE_RECOMMENDEDPRICE">
			<wsdl:input message="tns:get_GROCERYSTORE_RECOMMENDEDPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_GROCERYSTORE_RECOMMENDEDPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PreparedfoodGrocerystorerecommendedpriceSoapBinding" type="PreparedfoodGrocerystorerecommendedpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_GROCERYSTORE_RECOMMENDEDPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PreparedfoodGrocerystorerecommendedprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PreparedfoodGrocerystorerecommendedprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PreparedfoodGrocerystorerecommendedpriceService">
		<wsdl:port name="PreparedfoodGrocerystorerecommendedpriceSoap" binding="PreparedfoodGrocerystorerecommendedpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/PreparedfoodGrocerystorerecommendedprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
