src/main/resources/wsdl/preparedfood_taxedpriceindollarprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceindollarprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceindollarprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceindollarprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceindollarprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="PreparedfoodTaxedpriceindollarprice" targetNamespace="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceindollarprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 00:04:02 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceindollarprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#PreparedFood"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#TaxedPriceInDollar"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#Price"/>
			</xsd:annotation>
			<xsd:element name="Price" type="PriceType"/>
			<xsd:element name="PreparedFood" type="PreparedFoodType"/>
			<xsd:element name="TaxedPriceInDollar" type="TaxedPriceInDollarType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PreparedFoodType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TaxedPriceInDollarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_TAXEDPRICEINDOLLAR_PRICEResponse">
		<wsdl:part name="_TAXEDPRICEINDOLLAR" type="tns:TaxedPriceInDollarType">
    </wsdl:part>
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_TAXEDPRICEINDOLLAR_PRICERequest">
		<wsdl:part name="_PREPAREDFOOD" type="tns:PreparedFoodType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PreparedfoodTaxedpriceindollarpriceSoap">
		<wsdl:operation name="get_TAXEDPRICEINDOLLAR_PRICE">
			<wsdl:input message="tns:get_TAXEDPRICEINDOLLAR_PRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_TAXEDPRICEINDOLLAR_PRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PreparedfoodTaxedpriceindollarpriceSoapBinding" type="PreparedfoodTaxedpriceindollarpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_TAXEDPRICEINDOLLAR_PRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceindollarprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceindollarprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PreparedfoodTaxedpriceindollarpriceService">
		<wsdl:port name="PreparedfoodTaxedpriceindollarpriceSoap" binding="PreparedfoodTaxedpriceindollarpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceindollarprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
