src/main/resources/wsdl/PriceCoffeewhiskey.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/PriceCoffeewhiskey-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/PriceCoffeewhiskey" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/PriceCoffeewhiskey" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="PriceCoffeewhiskey" targetNamespace="http://127.0.0.1:8000/wsdl/PriceCoffeewhiskey">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 12 16:52:02 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/PriceCoffeewhiskey" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#Price"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#Coffee"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/my_ontology.owl#Whiskey"/>
			</xsd:annotation>
			<xsd:element name="Price" type="tns:PriceType"/>
			<xsd:element name="Whiskey" type="tns:WhiskeyType"/>
			<xsd:element name="Coffee" type="tns:CoffeeType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="tns:Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="CoffeeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="WhiskeyType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_COFFEE_WHISKEYRequest">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_COFFEE_WHISKEYResponse">
		<wsdl:part name="_COFFEE" type="tns:CoffeeType">
    </wsdl:part>
		<wsdl:part name="_WHISKEY" type="tns:WhiskeyType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PriceCoffeewhiskeySoap">
		<wsdl:operation name="get_COFFEE_WHISKEY">
			<wsdl:input message="tns:get_COFFEE_WHISKEYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_COFFEE_WHISKEYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PriceCoffeewhiskeySoapBinding" type="tns:PriceCoffeewhiskeySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_COFFEE_WHISKEY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PriceCoffeewhiskey"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PriceCoffeewhiskey"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PriceCoffeewhiskeyService">
		<wsdl:port name="PriceCoffeewhiskeySoap" binding="tns:PriceCoffeewhiskeySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/PriceCoffeewhiskey"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
