src/main/resources/wsdl/price_irishcoffeemixerycola_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/PriceIrishcoffeemixerycola" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/PriceIrishcoffeemixerycola-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/PriceIrishcoffeemixerycola" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/PriceIrishcoffeemixerycola" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="PriceIrishcoffeemixerycola" targetNamespace="http://127.0.0.1:8000/wsdl/PriceIrishcoffeemixerycola">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 12:06:12 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/PriceIrishcoffeemixerycola" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#Price"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#IrishCoffee"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/my_ontology.owl#MixeryCola"/>
			</xsd:annotation>
			<xsd:element name="MixeryCola" type="MixeryColaType"/>
			<xsd:element name="Price" type="PriceType"/>
			<xsd:element name="IrishCoffee" type="IrishCoffeeType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="MixeryColaType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="IrishCoffeeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_IRISHCOFFEE_MIXERYCOLARequest">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_IRISHCOFFEE_MIXERYCOLAResponse">
		<wsdl:part name="_IRISHCOFFEE" type="tns:IrishCoffeeType">
    </wsdl:part>
		<wsdl:part name="_MIXERYCOLA" type="tns:MixeryColaType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PriceIrishcoffeemixerycolaSoap">
		<wsdl:operation name="get_IRISHCOFFEE_MIXERYCOLA">
			<wsdl:input message="tns:get_IRISHCOFFEE_MIXERYCOLARequest">
    </wsdl:input>
			<wsdl:output message="tns:get_IRISHCOFFEE_MIXERYCOLAResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PriceIrishcoffeemixerycolaSoapBinding" type="PriceIrishcoffeemixerycolaSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_IRISHCOFFEE_MIXERYCOLA">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PriceIrishcoffeemixerycola"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PriceIrishcoffeemixerycola"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PriceIrishcoffeemixerycolaService">
		<wsdl:port name="PriceIrishcoffeemixerycolaSoap" binding="PriceIrishcoffeemixerycolaSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/PriceIrishcoffeemixerycola"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
