src/main/resources/wsdl/PriceCannon.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Price-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/PriceCannon" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/PriceCannon" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="PriceCannon" targetNamespace="http://127.0.0.1:8000/wsdl/PriceCannon">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 04 17:13:39 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/PriceCannon" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#Price"/>
			</xsd:annotation>
			<xsd:element name="Price" type="tns:PriceType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="tns:Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICEResponse">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICERequest">
  </wsdl:message>
	<wsdl:portType name="PriceSoap">
		<wsdl:operation name="get_PRICE">
			<wsdl:input message="tns:get_PRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PriceSoapBinding" type="tns:PriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PriceCannon"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PriceCannon"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PriceService">
		<wsdl:port name="PriceSoap" binding="tns:PriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/PriceCannon"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
