src/main/resources/wsdl/price_coffeewhiskeyqualitytimeposition_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/PriceCoffeewhiskeyqualitytimeposition" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/PriceCoffeewhiskeyqualitytimeposition-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/PriceCoffeewhiskeyqualitytimeposition" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/PriceCoffeewhiskeyqualitytimeposition" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="PriceCoffeewhiskeyqualitytimeposition" targetNamespace="http://127.0.0.1:8000/wsdl/PriceCoffeewhiskeyqualitytimeposition">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Jun 06 22:50:20 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/PriceCoffeewhiskeyqualitytimeposition" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/concept.owl#Price"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#Coffee"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/my_ontology.owl#Whiskey"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/finance_th_web.owl#quality"/>
				<xsd:documentation source="Translation (OWL2http://127.0.0.1:8000/ontology//127.0.0.1/ontology/SUMO.owl#TimePosition"/>
			</xsd:annotation>
			<xsd:element name="TimePosition" type="TimePositionType"/>
			<xsd:element name="Price" type="PriceType"/>
			<xsd:element name="Whiskey" type="WhiskeyType"/>
			<xsd:element name="Coffee" type="CoffeeType"/>
			<xsd:element name="quality" type="qualityType"/>
			<xsd:complexType name="TimeInterval">
				<xsd:sequence>
					<xsd:element name="starts" type="TimeInterval"/>
					<xsd:element name="finishes" type="TimeInterval"/>
					<xsd:element name="BeginFn" type="TimePoint"/>
					<xsd:element name="duration" type="TimeDuration"/>
					<xsd:element name="during" type="TimeInterval"/>
					<xsd:element name="EndFn" type="TimePoint"/>
					<xsd:element name="earlier" type="TimeInterval"/>
					<xsd:element name="meetsTemporally" type="TimeInterval"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TimePositionType">
				<xsd:sequence>
					<xsd:element name="FutureFn" type="TimeInterval"/>
					<xsd:element name="ImmediatePastFn" type="TimeInterval"/>
					<xsd:element name="PastFn" type="TimeInterval"/>
					<xsd:element name="ImmediateFutureFn" type="TimeInterval"/>
					<xsd:element name="holdsDuring" type="Formula"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TimePoint">
				<xsd:sequence>
					<xsd:element name="before" type="TimePoint"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Formula">
				<xsd:sequence>
					<xsd:element name="ProbabilityFn" type="xsd:anyURI"/>
					<xsd:element name="decreasesLikelihood" type="Formula"/>
					<xsd:element name="independentProbability" type="Formula"/>
					<xsd:element name="increasesLikelihood" type="Formula"/>
					<xsd:element name="modalAttribute" type="NormativeAttribute"/>
					<xsd:element name="entails" type="Formula"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="CoffeeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="WhiskeyType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="NormativeAttribute">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TimeDuration">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="qualityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_COFFEE_WHISKEY_QUALITY_TIMEPOSITIONResponse">
		<wsdl:part name="_COFFEE" type="tns:CoffeeType">
    </wsdl:part>
		<wsdl:part name="_WHISKEY" type="tns:WhiskeyType">
    </wsdl:part>
		<wsdl:part name="_QUALITY" type="tns:qualityType">
    </wsdl:part>
		<wsdl:part name="_TIMEPOSITION" type="tns:TimePositionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_COFFEE_WHISKEY_QUALITY_TIMEPOSITIONRequest">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PriceCoffeewhiskeyqualitytimepositionSoap">
		<wsdl:operation name="get_COFFEE_WHISKEY_QUALITY_TIMEPOSITION">
			<wsdl:input message="tns:get_COFFEE_WHISKEY_QUALITY_TIMEPOSITIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_COFFEE_WHISKEY_QUALITY_TIMEPOSITIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PriceCoffeewhiskeyqualitytimepositionSoapBinding" type="PriceCoffeewhiskeyqualitytimepositionSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_COFFEE_WHISKEY_QUALITY_TIMEPOSITION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PriceCoffeewhiskeyqualitytimeposition"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PriceCoffeewhiskeyqualitytimeposition"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PriceCoffeewhiskeyqualitytimepositionService">
		<wsdl:port name="PriceCoffeewhiskeyqualitytimepositionSoap" binding="PriceCoffeewhiskeyqualitytimepositionSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/PriceCoffeewhiskeyqualitytimeposition"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
