src/main/resources/wsdl/projectilegovernment_funding_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/ProjectilegovernmentFunding" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/ProjectilegovernmentFunding-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/ProjectilegovernmentFunding" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/ProjectilegovernmentFunding" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="ProjectilegovernmentFunding" targetNamespace="http://127.0.0.1:8000/wsdl/ProjectilegovernmentFunding">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 26 14:27:08 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/ProjectilegovernmentFunding" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/SUMO.owl#Government"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Projectile"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/SUMO.owl#Funding"/>
			</xsd:annotation>
			<xsd:element name="Government" type="GovernmentType"/>
			<xsd:element name="Funding" type="FundingType"/>
			<xsd:element name="Projectile" type="ProjectileType"/>
			<xsd:simpleType name="ProjectileType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="GovernmentType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="FundingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_FUNDINGResponse">
		<wsdl:part name="_FUNDING" type="tns:FundingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_FUNDINGRequest">
		<wsdl:part name="_GOVERNMENT" type="tns:GovernmentType">
    </wsdl:part>
		<wsdl:part name="_PROJECTILE" type="tns:ProjectileType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ProjectilegovernmentFundingSoap">
		<wsdl:operation name="get_FUNDING">
			<wsdl:input message="tns:get_FUNDINGRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_FUNDINGResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProjectilegovernmentFundingSoapBinding" type="ProjectilegovernmentFundingSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_FUNDING">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ProjectilegovernmentFunding"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ProjectilegovernmentFunding"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProjectilegovernmentFundingService">
		<wsdl:port name="ProjectilegovernmentFundingSoap" binding="ProjectilegovernmentFundingSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/ProjectilegovernmentFunding"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
