src/main/resources/wsdl/ProvideMedicalTransportInformation_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Providemedicaltransportinformation" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Providemedicaltransportinformation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Providemedicaltransportinformation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Providemedicaltransportinformation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Providemedicaltransportinformation" targetNamespace="http://127.0.0.1:8000/wsdl/Providemedicaltransportinformation">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 15:29:18 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Providemedicaltransportinformation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/MedicalTransportCompanyOntology.owl#Vehicle"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/MedicalTransportCompanyOntology.owl#DateTime"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/MedicalTransportCompanyOntology.owl#Diagnosis"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/MedicalTransportCompanyOntology.owl#GpsPosition"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/MedicalTransportCompanyOntology.owl#Treatment"/>
				<xsd:documentation source="Translationhttp://127.0.0.1:8000/ontology/ttp://127.0.0.1/ontology/MedicalTransportCompanyOntology.owl#GpsPosition"/>
				<xsd:documentation source="Translahttp://127.0.0.1:8000/ontology/ of http://127.0.0.1/ontology/MedicalTransportCompanyOntology.owl#ListOfTransports"/>
			</xsd:annotation>
			<xsd:element name="Treatment" type="TreatmentType"/>
			<xsd:element name="Diagnosis" type="DiagnosisType"/>
			<xsd:element name="Vehicle" type="VehicleType"/>
			<xsd:element name="GpsPosition" type="GpsPositionType"/>
			<xsd:element name="ListOfTransports" type="ListOfTransportsType"/>
			<xsd:element name="DateTime" type="DateTimeType"/>
			<xsd:complexType name="ListOfTransportsType">
				<xsd:sequence>
					<xsd:element name="ListOfTransports_consistsOf" type="Transport"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="GpsPositionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DiagnosisType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="VehicleType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TreatmentType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DateTimeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Transport">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getProvideMedicalTransportInformation_ListOfTransportsResponse">
		<wsdl:part name="ProvideMedicalTransportInformation_ListOfTransports" type="tns:ListOfTransportsType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getProvideMedicalTransportInformation_ListOfTransportsRequest">
		<wsdl:part name="ProvideMedicalTransportInformation_DesiredTransportVehicle" type="tns:VehicleType">
    </wsdl:part>
		<wsdl:part name="ProvideMedicalTransportInformation_DesiredDepartureDateTime" type="tns:DateTimeType">
    </wsdl:part>
		<wsdl:part name="ProvideMedicalTransportInformation_Diagnosis" type="tns:DiagnosisType">
    </wsdl:part>
		<wsdl:part name="ProvideMedicalTransportInformation_DepartureGpsPosition" type="tns:GpsPositionType">
    </wsdl:part>
		<wsdl:part name="ProvideMedicalTransportInformation_DesiredTreatment" type="tns:TreatmentType">
    </wsdl:part>
		<wsdl:part name="ProvideMedicalTransportInformation_DestinationGpsPosition" type="tns:GpsPositionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ProvidemedicaltransportinformationSoap">
		<wsdl:operation name="getProvideMedicalTransportInformation_ListOfTransports">
			<wsdl:input message="tns:getProvideMedicalTransportInformation_ListOfTransportsRequest">
    </wsdl:input>
			<wsdl:output message="tns:getProvideMedicalTransportInformation_ListOfTransportsResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProvidemedicaltransportinformationSoapBinding" type="ProvidemedicaltransportinformationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getProvideMedicalTransportInformation_ListOfTransports">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Providemedicaltransportinformation"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Providemedicaltransportinformation"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProvidemedicaltransportinformationService">
		<wsdl:port name="ProvidemedicaltransportinformationSoap" binding="ProvidemedicaltransportinformationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Providemedicaltransportinformation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
