src/main/resources/wsdl/ProvideNonMedicalTransportInformation_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Providenonmedicaltransportinformation" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Providenonmedicaltransportinformation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Providenonmedicaltransportinformation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Providenonmedicaltransportinformation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Providenonmedicaltransportinformation" targetNamespace="http://127.0.0.1:8000/wsdl/Providenonmedicaltransportinformation">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 15:32:21 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Providenonmedicaltransportinformation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/NonMedicalTransportCompanyOntology.owl#Vehicle"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/NonMedicalTransportCompanyOntology.owl#GpsPosition"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/NonMedicalTransportCompanyOntology.owl#DateTime"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/NonMedicalTransportCompanyOntology.owl#GpsPosition"/>
				<xsd:documentation source="Translation (OWL2http://127.0.0.1:8000/ontology//127.0.0.1/ontology/NonMedicalTransportCompanyOntology.owl#ListOfTransports"/>
			</xsd:annotation>
			<xsd:element name="Vehicle" type="VehicleType"/>
			<xsd:element name="GpsPosition" type="GpsPositionType"/>
			<xsd:element name="ListOfTransports" type="ListOfTransportsType"/>
			<xsd:element name="DateTime" type="DateTimeType"/>
			<xsd:complexType name="ListOfTransportsType">
				<xsd:sequence>
					<xsd:element name="ListOfTransports_consistsOf" type="Transport"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="GpsPositionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="VehicleType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="DateTimeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Transport">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getProvideNonMedicalTransportInformation_ListOfTransportsRequest">
		<wsdl:part name="ProvideNonMedicalTransportInformation_DesiredTransportVehicle" type="tns:VehicleType">
    </wsdl:part>
		<wsdl:part name="ProvideNonMedicalTransportInformation_DestinationGpsPosition" type="tns:GpsPositionType">
    </wsdl:part>
		<wsdl:part name="ProvideNonMedicalTransportInformation_DesiredDepartureDateTime" type="tns:DateTimeType">
    </wsdl:part>
		<wsdl:part name="ProvideNonMedicalTransportInformation_DepartureGpsPosition" type="tns:GpsPositionType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getProvideNonMedicalTransportInformation_ListOfTransportsResponse">
		<wsdl:part name="ProvideNonMedicalTransportInformation_ListOfTransports" type="tns:ListOfTransportsType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ProvidenonmedicaltransportinformationSoap">
		<wsdl:operation name="getProvideNonMedicalTransportInformation_ListOfTransports">
			<wsdl:input message="tns:getProvideNonMedicalTransportInformation_ListOfTransportsRequest">
    </wsdl:input>
			<wsdl:output message="tns:getProvideNonMedicalTransportInformation_ListOfTransportsResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProvidenonmedicaltransportinformationSoapBinding" type="ProvidenonmedicaltransportinformationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getProvideNonMedicalTransportInformation_ListOfTransports">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Providenonmedicaltransportinformation"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Providenonmedicaltransportinformation"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProvidenonmedicaltransportinformationService">
		<wsdl:port name="ProvidenonmedicaltransportinformationSoap" binding="ProvidenonmedicaltransportinformationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Providenonmedicaltransportinformation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
