src/main/resources/wsdl/Publication-numberBook1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Publication-numberBook1-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Publication-numberBook1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Publication-numberBook1" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Publication-numberBook1" targetNamespace="http://127.0.0.1:8000/wsdl/Publication-numberBook1">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 05 12:20:05 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Publication-numberBook1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Publication-Number"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Book"/>
			</xsd:annotation>
			<xsd:element name="Book" type="tns:BookType"/>
			<xsd:element name="Publication-Number" type="tns:Publication-NumberType"/>
			<xsd:complexType name="Book-Reference">
				<xsd:sequence>
					<xsd:element name="has-ISBN-number" type="xsd:string"/>
					<xsd:element name="published-by" type="tns:Publishing-House"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BookType">
				<xsd:sequence>
					<xsd:element name="has-publication-reference" type="tns:Book-Reference"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Publication-NumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Publishing-House">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_BOOKRequest">
		<wsdl:part name="_PUBLICATION-NUMBER" type="tns:Publication-NumberType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_BOOKResponse">
		<wsdl:part name="_BOOK" type="tns:BookType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Publication-numberBookSoap">
		<wsdl:operation name="get_BOOK">
			<wsdl:input message="tns:get_BOOKRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_BOOKResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Publication-numberBookSoapBinding" type="tns:Publication-numberBookSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_BOOK">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Publication-numberBook1"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Publication-numberBook1"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Publication-numberBookService">
		<wsdl:port name="Publication-numberBookSoap" binding="tns:Publication-numberBookSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Publication-numberBook1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
