src/main/resources/wsdl/publication_publisher_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/PublicationPublisher" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/PublicationPublisher-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/PublicationPublisher" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/PublicationPublisher" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="PublicationPublisher" targetNamespace="http://127.0.0.1:8000/wsdl/PublicationPublisher">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 15:33:23 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/PublicationPublisher" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Publication"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Publisher"/>
			</xsd:annotation>
			<xsd:element name="Publication" type="PublicationType"/>
			<xsd:element name="Publisher" type="PublisherType"/>
			<xsd:complexType name="PublicationType">
				<xsd:sequence>
					<xsd:element name="publishedBy" type="PublisherType"/>
					<xsd:element name="datePublished" type="Date"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="PublisherType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Date">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PUBLISHERRequest">
		<wsdl:part name="_PUBLICATION" type="tns:PublicationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PUBLISHERResponse">
		<wsdl:part name="_PUBLISHER" type="tns:PublisherType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PublicationPublisherSoap">
		<wsdl:operation name="get_PUBLISHER">
			<wsdl:input message="tns:get_PUBLISHERRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PUBLISHERResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PublicationPublisherSoapBinding" type="PublicationPublisherSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PUBLISHER">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PublicationPublisher"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PublicationPublisher"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PublicationPublisherService">
		<wsdl:port name="PublicationPublisherSoap" binding="PublicationPublisherSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/PublicationPublisher"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
