src/main/resources/wsdl/publication-number_currencypublication_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Publication-numberCurrencypublication" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Publication-numberCurrencypublication-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Publication-numberCurrencypublication" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Publication-numberCurrencypublication" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Publication-numberCurrencypublication" targetNamespace="http://127.0.0.1:8000/wsdl/Publication-numberCurrencypublication">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 18:58:28 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Publication-numberCurrencypublication" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Publication-Number"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Currency"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/portal.owl#Publication"/>
			</xsd:annotation>
			<xsd:element name="Currency" type="CurrencyType"/>
			<xsd:element name="Publication-Number" type="Publication-NumberType"/>
			<xsd:element name="Publication" type="PublicationType"/>
			<xsd:complexType name="CurrencyType">
				<xsd:sequence>
					<xsd:element name="issued-by" type="Government"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Publication-Reference">
				<xsd:sequence>
					<xsd:element name="has-place-of-publication" type="Location"/>
					<xsd:element name="has-title" type="xsd:string"/>
					<xsd:element name="has-author" type="Generic-Agent"/>
					<xsd:element name="has-date" type="Calendar-Date"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Government">
				<xsd:sequence>
					<xsd:element name="government-of-country" type="Country"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Calendar-Date">
				<xsd:sequence>
					<xsd:element name="month-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="year-of" type="xsd:nonNegativeInteger"/>
					<xsd:element maxOccurs="1" name="minute-of" type="xsd:nonNegativeInteger"/>
					<xsd:element maxOccurs="1" name="hour-of" type="xsd:nonNegativeInteger"/>
					<xsd:element maxOccurs="1" name="second-of" type="xsd:nonNegativeInteger"/>
					<xsd:element name="day-of" type="xsd:nonNegativeInteger"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Capital-City">
				<xsd:sequence>
					<xsd:element name="is-capital-of" type="Country"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PublicationType">
				<xsd:sequence>
					<xsd:element name="has-publication-reference" type="Publication-Reference"/>
					<xsd:element name="cites-publication-reference" type="Publication-Reference"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Country">
				<xsd:sequence>
					<xsd:element name="has-government" type="Government"/>
					<xsd:element name="has-currency" type="CurrencyType"/>
					<xsd:element name="has-capital" type="Capital-City"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Location">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Publication-NumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Generic-Agent">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_CURRENCY_PUBLICATIONResponse">
		<wsdl:part name="_CURRENCY" type="tns:CurrencyType">
    </wsdl:part>
		<wsdl:part name="_PUBLICATION" type="tns:PublicationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_CURRENCY_PUBLICATIONRequest">
		<wsdl:part name="_PUBLICATION-NUMBER" type="tns:Publication-NumberType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Publication-numberCurrencypublicationSoap">
		<wsdl:operation name="get_CURRENCY_PUBLICATION">
			<wsdl:input message="tns:get_CURRENCY_PUBLICATIONRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_CURRENCY_PUBLICATIONResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Publication-numberCurrencypublicationSoapBinding" type="Publication-numberCurrencypublicationSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_CURRENCY_PUBLICATION">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Publication-numberCurrencypublication"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Publication-numberCurrencypublication"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Publication-numberCurrencypublicationService">
		<wsdl:port name="Publication-numberCurrencypublicationSoap" binding="Publication-numberCurrencypublicationSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Publication-numberCurrencypublication"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
