src/main/resources/wsdl/publication_book_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/PublicationBook" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/PublicationBook-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/PublicationBook" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/PublicationBook" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="PublicationBook" targetNamespace="http://127.0.0.1:8000/wsdl/PublicationBook">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 21:14:33 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/PublicationBook" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/univ-bench.owl#Publication"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/univ-bench.owl#Book"/>
			</xsd:annotation>
			<xsd:element name="Book" type="BookType"/>
			<xsd:element name="Publication" type="PublicationType"/>
			<xsd:simpleType name="PublicationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="BookType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_BOOKRequest">
		<wsdl:part name="_PUBLICATION" type="tns:PublicationType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_BOOKResponse">
		<wsdl:part name="_BOOK" type="tns:BookType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PublicationBookSoap">
		<wsdl:operation name="get_BOOK">
			<wsdl:input message="tns:get_BOOKRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_BOOKResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PublicationBookSoapBinding" type="PublicationBookSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_BOOK">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PublicationBook"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PublicationBook"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PublicationBookService">
		<wsdl:port name="PublicationBookSoap" binding="PublicationBookSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/PublicationBook"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
