src/main/resources/wsdl/Publication-numberEdited-book.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Publication-numberEdited-book-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Publication-numberEdited-book" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Publication-numberEdited-book" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Publication-numberEdited-book" targetNamespace="http://127.0.0.1:8000/wsdl/Publication-numberEdited-book">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri May 15 20:24:02 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Publication-numberEdited-book" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Publication-Number"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Edited-Book"/>
			</xsd:annotation>
			<xsd:element name="Edited-Book" type="tns:Edited-BookType"/>
			<xsd:element name="Publication-Number" type="tns:Publication-NumberType"/>
			<xsd:complexType name="Person">
				<xsd:sequence>
					<xsd:element name="family-name" type="xsd:string"/>
					<xsd:element name="full-name" type="xsd:string"/>
					<xsd:element name="given-name" type="xsd:string"/>
					<xsd:element name="has-gender" type="tns:Gender"/>
					<xsd:element name="has-appellation" type="tns:Appellation"/>
					<xsd:element name="has-academic-degree" type="tns:Academic-Degree"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Edited-Book-Reference">
				<xsd:sequence>
					<xsd:element name="edited-by" type="tns:Person"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Edited-BookType">
				<xsd:sequence>
					<xsd:element name="has-publication-reference" type="tns:Edited-Book-Reference"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Academic-Degree">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="BA"/>
					<xsd:enumeration value="MA"/>
					<xsd:enumeration value="PhD"/>
					<xsd:enumeration value="BSc"/>
					<xsd:enumeration value="MSc"/>
					<xsd:enumeration value="DEng"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Gender">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Male-Gender"/>
					<xsd:enumeration value="Female-Gender"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Publication-NumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Appellation">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Mrs"/>
					<xsd:enumeration value="Dr"/>
					<xsd:enumeration value="Ms"/>
					<xsd:enumeration value="Mr"/>
					<xsd:enumeration value="Lady"/>
					<xsd:enumeration value="Sir"/>
					<xsd:enumeration value="Miss"/>
					<xsd:enumeration value="Prof"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_EDITED-BOOKRequest">
		<wsdl:part name="_PUBLICATION-NUMBER" type="tns:Publication-NumberType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_EDITED-BOOKResponse">
		<wsdl:part name="_EDITED-BOOK" type="tns:Edited-BookType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Publication-numberEdited-bookSoap">
		<wsdl:operation name="get_EDITED-BOOK">
			<wsdl:input message="tns:get_EDITED-BOOKRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_EDITED-BOOKResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Publication-numberEdited-bookSoapBinding" type="tns:Publication-numberEdited-bookSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_EDITED-BOOK">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Publication-numberEdited-book"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Publication-numberEdited-book"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Publication-numberEdited-bookService">
		<wsdl:port name="Publication-numberEdited-bookSoap" binding="tns:Publication-numberEdited-bookSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Publication-numberEdited-book"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
