src/main/resources/wsdl/reader-in-academia_address_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Reader-in-academiaAddress" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Reader-in-academiaAddress-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Reader-in-academiaAddress" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Reader-in-academiaAddress" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Reader-in-academiaAddress" targetNamespace="http://127.0.0.1:8000/wsdl/Reader-in-academiaAddress">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 16:06:12 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Reader-in-academiaAddress" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Reader-In-Academia"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Address"/>
			</xsd:annotation>
			<xsd:element name="Reader-In-Academia" type="Reader-In-AcademiaType"/>
			<xsd:element name="Address" type="AddressType"/>
			<xsd:complexType name="Government">
				<xsd:sequence>
					<xsd:element name="government-of-country" type="Country"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Currency">
				<xsd:sequence>
					<xsd:element name="issued-by" type="Government"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Capital-City">
				<xsd:sequence>
					<xsd:element name="is-capital-of" type="Country"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Country">
				<xsd:sequence>
					<xsd:element name="has-government" type="Government"/>
					<xsd:element name="has-currency" type="Currency"/>
					<xsd:element name="has-capital" type="Capital-City"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AddressType">
				<xsd:sequence>
					<xsd:element name="address-pretty-label" type="xsd:string"/>
					<xsd:element name="address-building" type="xsd:string"/>
					<xsd:element name="address-street" type="xsd:string"/>
					<xsd:element name="address-number" type="xsd:nonNegativeInteger"/>
					<xsd:element name="address-postcode" type="xsd:string"/>
					<xsd:element name="address-area" type="Local-District"/>
					<xsd:element name="address-region" type="Geographical-Region"/>
					<xsd:element name="address-country" type="Country"/>
					<xsd:element name="address-city-or-village" type="Municipal-Unit"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Local-District">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Municipal-Unit">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Geographical-Region">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Reader-In-AcademiaType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_ADDRESSRequest">
		<wsdl:part name="_READER-IN-ACADEMIA" type="tns:Reader-In-AcademiaType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_ADDRESSResponse">
		<wsdl:part name="_ADDRESS" type="tns:AddressType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Reader-in-academiaAddressSoap">
		<wsdl:operation name="get_ADDRESS">
			<wsdl:input message="tns:get_ADDRESSRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_ADDRESSResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Reader-in-academiaAddressSoapBinding" type="Reader-in-academiaAddressSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_ADDRESS">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Reader-in-academiaAddress"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Reader-in-academiaAddress"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Reader-in-academiaAddressService">
		<wsdl:port name="Reader-in-academiaAddressSoap" binding="Reader-in-academiaAddressSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Reader-in-academiaAddress"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
