src/main/resources/wsdl/real-time_geocodingStreetAddress.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/RealtimeGeocodingAddress" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/RealtimeGeocodingAddress-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/RealtimeGeocodingAddress" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/RealtimeGeocodingAddress" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="RealtimeGeocodingAddress" targetNamespace="http://127.0.0.1:8000/wsdl/RealtimeGeocodingAddress">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Thu May 20 00:18:08 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/RealtimeGeocodingAddress" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/geographydataset.owl#UniqueIdentifier"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/protonu.owl#City"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/protonu.owl#State"/>
				<xsd:documentation source="Translation (OWL2XSD-Chttp://127.0.0.1:8000/ontology/0.0.1/ontology/protonu.owl#Country"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/protonu.owl#Address"/>
				<xsd:documentation source="Translation http://127.0.0.1:8000/ontology/ttp://127.0.0.1/ontology/geographydataset.owl#US5DigitZipCode"/>
				<xsd:documentation source="Translhttp://127.0.0.1:8000/ontology/ of http://127.0.0.1/ontology/protont.owl#Location"/>
				<xsd:documentation source="Thttp://127.0.0.1:8000/ontology/Type) of http://127.0.0.1/ontology/protonu.owl#Address"/>
			</xsd:annotation>
			<xsd:element name="Location" type="LocationType"/>
			<xsd:element name="State" type="StateType"/>
			<xsd:element name="UniqueIdentifier" type="UniqueIdentifierType"/>
			<xsd:element name="City" type="CityType"/>
			<xsd:element name="Country" type="CountryType"/>
			<xsd:element name="US5DigitZipCode" type="US5DigitZipCodeType"/>
			<xsd:element name="Address" type="AddressType"/>
			<xsd:complexType name="US5DigitZipCodeType">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:complexType name="GovernmentOrganization">
				<xsd:sequence>
					<xsd:element name="ofCountry" type="CountryType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CountryType">
				<xsd:choice>
					<xsd:element name="countryID" type="CountryDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="hasGovernment" type="GovernmentOrganization"/>
						<xsd:element name="hasCurrency" type="Currency"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="CityType">
				<xsd:sequence>
					<xsd:element name="hasAirport" type="Airport"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CountryDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Germany"/>
					<xsd:enumeration value="SouthKorea"/>
					<xsd:enumeration value="GreatBritain"/>
					<xsd:enumeration value="Canada"/>
					<xsd:enumeration value="USA"/>
					<xsd:enumeration value="Australia"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="UniqueIdentifierType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AddressType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="StateType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LocationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Airport">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_LOCATION_MATCHING-ADDRESSResponse">
		<wsdl:part name="_LOCATION" type="tns:LocationType">
    </wsdl:part>
		<wsdl:part name="_MATCHING-ADDRESS" type="tns:AddressType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_LOCATION_MATCHING-ADDRESSRequest">
		<wsdl:part name="_USERID" type="tns:UniqueIdentifierType">
    </wsdl:part>
		<wsdl:part name="_CITY" type="tns:CityType">
    </wsdl:part>
		<wsdl:part name="_STATE" type="tns:StateType">
    </wsdl:part>
		<wsdl:part name="_COUNTRY" type="tns:CountryType">
    </wsdl:part>
		<wsdl:part name="_ADDRESS" type="tns:AddressType">
    </wsdl:part>
		<wsdl:part name="_ZIPCODE" type="tns:US5DigitZipCodeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="RealtimeGeocodingAddressSoap">
		<wsdl:operation name="get_LOCATION_MATCHING-ADDRESS">
			<wsdl:input message="tns:get_LOCATION_MATCHING-ADDRESSRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_LOCATION_MATCHING-ADDRESSResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RealtimeGeocodingAddressSoapBinding" type="RealtimeGeocodingAddressSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_LOCATION_MATCHING-ADDRESS">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/RealtimeGeocodingAddress"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/RealtimeGeocodingAddress"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RealtimeGeocodingAddressService">
		<wsdl:port name="RealtimeGeocodingAddressSoap" binding="RealtimeGeocodingAddressSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/RealtimeGeocodingAddress"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
