src/main/resources/wsdl/recommendedprice_irishcoffee_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/RecommendedpriceIrishcoffee" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/RecommendedpriceIrishcoffee-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/RecommendedpriceIrishcoffee" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/RecommendedpriceIrishcoffee" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="RecommendedpriceIrishcoffee" targetNamespace="http://127.0.0.1:8000/wsdl/RecommendedpriceIrishcoffee">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed May 27 02:06:46 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/RecommendedpriceIrishcoffee" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/concept.owl#RecommendedPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#IrishCoffee"/>
			</xsd:annotation>
			<xsd:element name="IrishCoffee" type="IrishCoffeeType"/>
			<xsd:element name="RecommendedPrice" type="RecommendedPriceType"/>
			<xsd:simpleType name="IrishCoffeeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="RecommendedPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_IRISHCOFFEERequest">
		<wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_IRISHCOFFEEResponse">
		<wsdl:part name="_IRISHCOFFEE" type="tns:IrishCoffeeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="RecommendedpriceIrishcoffeeSoap">
		<wsdl:operation name="get_IRISHCOFFEE">
			<wsdl:input message="tns:get_IRISHCOFFEERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_IRISHCOFFEEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RecommendedpriceIrishcoffeeSoapBinding" type="RecommendedpriceIrishcoffeeSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_IRISHCOFFEE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/RecommendedpriceIrishcoffee"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/RecommendedpriceIrishcoffee"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RecommendedpriceIrishcoffeeService">
		<wsdl:port name="RecommendedpriceIrishcoffeeSoap" binding="RecommendedpriceIrishcoffeeSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/RecommendedpriceIrishcoffee"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
