src/main/resources/wsdl/RecommendedpriceContentbearingobjectwhiskeycoffee.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/RecommendedpriceContentbearingobjectwhiskeycoffee-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/RecommendedpriceContentbearingobjectwhiskeycoffee" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/RecommendedpriceContentbearingobjectwhiskeycoffee" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="RecommendedpriceContentbearingobjectwhiskeycoffee" targetNamespace="http://127.0.0.1:8000/wsdl/RecommendedpriceContentbearingobjectwhiskeycoffee">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon May 11 00:57:28 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/RecommendedpriceContentbearingobjectwhiskeycoffee" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/concept.owl#RecommendedPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#ContentBearingObject"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/my_ontology.owl#Whiskey"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/my_ontology.owl#Coffee"/>
			</xsd:annotation>
			<xsd:element name="Whiskey" type="tns:WhiskeyType"/>
			<xsd:element name="Coffee" type="tns:CoffeeType"/>
			<xsd:element name="ContentBearingObject" type="tns:ContentBearingObjectType"/>
			<xsd:element name="RecommendedPrice" type="tns:RecommendedPriceType"/>
			<xsd:complexType name="SetOrClass">
				<xsd:sequence>
					<xsd:element name="ComplementFn" type="tns:SetOrClass"/>
					<xsd:element name="GeneralizedIntersectionFn" type="tns:SetOrClass"/>
					<xsd:element name="GeneralizedUnionFn" type="tns:SetOrClass"/>
					<xsd:element name="disjoint" type="tns:SetOrClass"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Collection">
				<xsd:sequence>
					<xsd:element name="memberType" type="tns:SetOrClass"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Proposition">
				<xsd:sequence>
					<xsd:element name="consistent" type="tns:Proposition"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ContentBearingObjectType">
				<xsd:sequence>
					<xsd:element name="inventory" type="tns:Collection"/>
					<xsd:element name="containsInformation" type="tns:Proposition"/>
					<xsd:element name="equivalentContentInstance" type="tns:ContentBearingObjectType"/>
					<xsd:element name="equivalentContentClass" type="tns:ContentBearingObjectType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="CoffeeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="RecommendedPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="WhiskeyType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_CONTENTBEARINGOBJECT_WHISKEY_COFFEEResponse">
		<wsdl:part name="_CONTENTBEARINGOBJECT" type="tns:ContentBearingObjectType">
    </wsdl:part>
		<wsdl:part name="_WHISKEY" type="tns:WhiskeyType">
    </wsdl:part>
		<wsdl:part name="_COFFEE" type="tns:CoffeeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_CONTENTBEARINGOBJECT_WHISKEY_COFFEERequest">
		<wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="RecommendedpriceContentbearingobjectwhiskeycoffeeSoap">
		<wsdl:operation name="get_CONTENTBEARINGOBJECT_WHISKEY_COFFEE">
			<wsdl:input message="tns:get_CONTENTBEARINGOBJECT_WHISKEY_COFFEERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_CONTENTBEARINGOBJECT_WHISKEY_COFFEEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RecommendedpriceContentbearingobjectwhiskeycoffeeSoapBinding" type="tns:RecommendedpriceContentbearingobjectwhiskeycoffeeSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_CONTENTBEARINGOBJECT_WHISKEY_COFFEE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/RecommendedpriceContentbearingobjectwhiskeycoffee"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/RecommendedpriceContentbearingobjectwhiskeycoffee"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RecommendedpriceContentbearingobjectwhiskeycoffeeService">
		<wsdl:port name="RecommendedpriceContentbearingobjectwhiskeycoffeeSoap" binding="tns:RecommendedpriceContentbearingobjectwhiskeycoffeeSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/RecommendedpriceContentbearingobjectwhiskeycoffee"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
