src/main/resources/wsdl/redLight_to_off.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1/isreal/wsdl/Redlighttooff" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/isreal/wsdl/Redlighttooff-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/isreal/wsdl/Redlighttooff" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/isreal/wsdl/Redlighttooff" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Redlighttooff" targetNamespace="http://127.0.0.1/isreal/wsdl/Redlighttooff">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon Sep 14 22:09:30 CEST 2009" targetNamespace="http://127.0.0.1/isreal/wsdl/Redlighttooff" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/isreal/messemodul.owl#MesseModul"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/isreal/messemodul.owl#Magazine"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/isreal/messemodul.owl#RedLamp"/>
			</xsd:annotation>
			<xsd:element name="RedLamp" type="RedLampType"/>
			<xsd:element name="Magazine" type="MagazineType"/>
			<xsd:element name="MesseModul" type="MesseModulType"/>
			<xsd:simpleType name="RedLampType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MagazineType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="magazin01"/>
					<xsd:enumeration value="magazin03"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="MesseModulType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getMagazineRedLampRequest">
		<wsdl:part name="MesseModul" type="tns:MesseModulType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getMagazineRedLampResponse">
		<wsdl:part name="Magazine" type="tns:MagazineType">
    </wsdl:part>
		<wsdl:part name="RedLamp" type="tns:RedLampType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="RedlighttooffSoap">
		<wsdl:operation name="getMagazineRedLamp">
			<wsdl:input message="tns:getMagazineRedLampRequest">
    </wsdl:input>
			<wsdl:output message="tns:getMagazineRedLampResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RedlighttooffSoapBinding" type="RedlighttooffSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getMagazineRedLamp">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/isreal/wsdl/Redlighttooff"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/isreal/wsdl/Redlighttooff"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RedlighttooffService">
		<wsdl:port name="RedlighttooffSoap" binding="RedlighttooffSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1/isreal/wsdl/Redlighttooff"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
