src/main/resources/wsdl/renderMapService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/RenderMap" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/RenderMap-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/RenderMap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/RenderMap" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="RenderMap" targetNamespace="http://127.0.0.1:8000/wsdl/RenderMap">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 27 18:55:10 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/RenderMap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/ontosem.owl#width"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/ontosem.owl#height"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/protons.owl#EntitySource"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/protont.owl#latitude"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/protont.owl#longitude"/>
				<xsd:documentation source="Translationhttp://127.0.0.1:8000/ontology/ttp://127.0.0.1/ontology/geographydataset.owl#Map"/>
			</xsd:annotation>
			<xsd:element name="height" type="heightType"/>
			<xsd:element name="width" type="widthType"/>
			<xsd:element name="longitude" type="longitudeType"/>
			<xsd:element name="EntitySource" type="EntitySourceType"/>
			<xsd:element name="Map" type="MapType"/>
			<xsd:element name="latitude" type="latitudeType"/>
			<xsd:simpleType name="MapType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="EntitySourceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="widthType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="longitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="latitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="heightType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_MAPRequest">
		<wsdl:part name="_WIDTH" type="tns:widthType">
    </wsdl:part>
		<wsdl:part name="_HEIGHT" type="tns:heightType">
    </wsdl:part>
		<wsdl:part name="_SOURCE" type="tns:EntitySourceType">
    </wsdl:part>
		<wsdl:part name="_LATITUDE" type="tns:latitudeType">
    </wsdl:part>
		<wsdl:part name="_LONGITUDE" type="tns:longitudeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_MAPResponse">
		<wsdl:part name="_MAP" type="tns:MapType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="RenderMapSoap">
		<wsdl:operation name="get_MAP">
			<wsdl:input message="tns:get_MAPRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_MAPResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RenderMapSoapBinding" type="RenderMapSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_MAP">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/RenderMap"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/RenderMap"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RenderMapService">
		<wsdl:port name="RenderMapSoap" binding="RenderMapSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/RenderMap"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
