src/main/resources/wsdl/researcher_postal-address_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/ResearcherPostal-address" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/ResearcherPostal-address-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/ResearcherPostal-address" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/ResearcherPostal-address" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="ResearcherPostal-address" targetNamespace="http://127.0.0.1:8000/wsdl/ResearcherPostal-address">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 17:00:45 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/ResearcherPostal-address" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Researcher"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Postal-Address"/>
			</xsd:annotation>
			<xsd:element name="Postal-Address" type="Postal-AddressType"/>
			<xsd:element name="Researcher" type="ResearcherType"/>
			<xsd:simpleType name="Postal-AddressType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ResearcherType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_POSTAL-ADDRESSRequest">
		<wsdl:part name="_RESEARCHER" type="tns:ResearcherType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_POSTAL-ADDRESSResponse">
		<wsdl:part name="_POSTAL-ADDRESS" type="tns:Postal-AddressType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ResearcherPostal-addressSoap">
		<wsdl:operation name="get_POSTAL-ADDRESS">
			<wsdl:input message="tns:get_POSTAL-ADDRESSRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_POSTAL-ADDRESSResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ResearcherPostal-addressSoapBinding" type="ResearcherPostal-addressSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_POSTAL-ADDRESS">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ResearcherPostal-address"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ResearcherPostal-address"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ResearcherPostal-addressService">
		<wsdl:port name="ResearcherPostal-addressSoap" binding="ResearcherPostal-addressSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/ResearcherPostal-address"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
