src/main/resources/wsdl/retailstore_butterquantity_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/RetailstoreButterquantity" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/RetailstoreButterquantity-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/RetailstoreButterquantity" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/RetailstoreButterquantity" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="RetailstoreButterquantity" targetNamespace="http://127.0.0.1:8000/wsdl/RetailstoreButterquantity">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 17:03:46 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/RetailstoreButterquantity" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#RetailStore"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#Butter"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/support.owl#Quantity"/>
			</xsd:annotation>
			<xsd:element name="Quantity" type="QuantityType"/>
			<xsd:element name="Butter" type="ButterType"/>
			<xsd:element name="RetailStore" type="RetailStoreType"/>
			<xsd:simpleType name="RetailStoreType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ButterType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="QuantityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_BUTTER_QUANTITYRequest">
		<wsdl:part name="_RETAILSTORE" type="tns:RetailStoreType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_BUTTER_QUANTITYResponse">
		<wsdl:part name="_BUTTER" type="tns:ButterType">
    </wsdl:part>
		<wsdl:part name="_QUANTITY" type="tns:QuantityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="RetailstoreButterquantitySoap">
		<wsdl:operation name="get_BUTTER_QUANTITY">
			<wsdl:input message="tns:get_BUTTER_QUANTITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_BUTTER_QUANTITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RetailstoreButterquantitySoapBinding" type="RetailstoreButterquantitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_BUTTER_QUANTITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/RetailstoreButterquantity"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/RetailstoreButterquantity"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RetailstoreButterquantityService">
		<wsdl:port name="RetailstoreButterquantitySoap" binding="RetailstoreButterquantitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/RetailstoreButterquantity"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
