src/main/resources/wsdl/retailstore_slrtaxedprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/RetailstoreSlrtaxedprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/RetailstoreSlrtaxedprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/RetailstoreSlrtaxedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/RetailstoreSlrtaxedprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="RetailstoreSlrtaxedprice" targetNamespace="http://127.0.0.1:8000/wsdl/RetailstoreSlrtaxedprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 18:55:16 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/RetailstoreSlrtaxedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#RetailStore"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/extendedCamera.owl#SLR"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#TaxedPrice"/>
			</xsd:annotation>
			<xsd:element name="SLR" type="SLRType"/>
			<xsd:element name="TaxedPrice" type="TaxedPriceType"/>
			<xsd:element name="RetailStore" type="RetailStoreType"/>
			<xsd:complexType name="TaxedPriceType">
				<xsd:sequence>
					<xsd:element name="Fine" type="Thing"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SLRType">
				<xsd:sequence>
					<xsd:element name="hasViewFinder" type="SLRViewerWindow"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="SLRViewerWindow">
				<xsd:restriction base="ViewerWindow">
					<xsd:enumeration value="ThroughTheLens"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ViewerWindow">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="AtTheBack"/>
					<xsd:enumeration value="ReverseGalelian"/>
					<xsd:enumeration value="WindowOnTopOfCamera"/>
					<xsd:enumeration value="SingleLensReflector"/>
					<xsd:enumeration value="RealImageZoom"/>
					<xsd:enumeration value="ThroughTheLens"/>
					<xsd:enumeration value="OnTheside"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="RetailStoreType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Thing">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_SLR_TAXEDPRICEResponse">
		<wsdl:part name="_SLR" type="tns:SLRType">
    </wsdl:part>
		<wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_SLR_TAXEDPRICERequest">
		<wsdl:part name="_RETAILSTORE" type="tns:RetailStoreType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="RetailstoreSlrtaxedpriceSoap">
		<wsdl:operation name="get_SLR_TAXEDPRICE">
			<wsdl:input message="tns:get_SLR_TAXEDPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_SLR_TAXEDPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RetailstoreSlrtaxedpriceSoapBinding" type="RetailstoreSlrtaxedpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_SLR_TAXEDPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/RetailstoreSlrtaxedprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/RetailstoreSlrtaxedprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RetailstoreSlrtaxedpriceService">
		<wsdl:port name="RetailstoreSlrtaxedpriceSoap" binding="RetailstoreSlrtaxedpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/RetailstoreSlrtaxedprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
