src/main/resources/wsdl/retailstore_foodquality_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/RetailstoreFoodquality" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/RetailstoreFoodquality-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/RetailstoreFoodquality" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/RetailstoreFoodquality" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="RetailstoreFoodquality" targetNamespace="http://127.0.0.1:8000/wsdl/RetailstoreFoodquality">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed Jun 10 17:52:43 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/RetailstoreFoodquality" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#RetailStore"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/SUMO.owl#Food"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/finance_th_web.owl#quality"/>
			</xsd:annotation>
			<xsd:element name="Food" type="FoodType"/>
			<xsd:element name="quality" type="qualityType"/>
			<xsd:element name="RetailStore" type="RetailStoreType"/>
			<xsd:simpleType name="FoodType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="RetailStoreType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="qualityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_FOOD_QUALITYRequest">
		<wsdl:part name="_RETAILSTORE" type="tns:RetailStoreType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_FOOD_QUALITYResponse">
		<wsdl:part name="_FOOD" type="tns:FoodType">
    </wsdl:part>
		<wsdl:part name="_QUALITY" type="tns:qualityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="RetailstoreFoodqualitySoap">
		<wsdl:operation name="get_FOOD_QUALITY">
			<wsdl:input message="tns:get_FOOD_QUALITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_FOOD_QUALITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RetailstoreFoodqualitySoapBinding" type="RetailstoreFoodqualitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_FOOD_QUALITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/RetailstoreFoodquality"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/RetailstoreFoodquality"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RetailstoreFoodqualityService">
		<wsdl:port name="RetailstoreFoodqualitySoap" binding="RetailstoreFoodqualitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/RetailstoreFoodquality"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
