src/main/resources/wsdl/romanticnovel_authortaxedprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/RomanticnovelAuthortaxedprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/RomanticnovelAuthortaxedprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/RomanticnovelAuthortaxedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/RomanticnovelAuthortaxedprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="RomanticnovelAuthortaxedprice" targetNamespace="http://127.0.0.1:8000/wsdl/RomanticnovelAuthortaxedprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 19:15:14 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/RomanticnovelAuthortaxedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#RomanticNovel"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Author"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#TaxedPrice"/>
			</xsd:annotation>
			<xsd:element name="RomanticNovel" type="RomanticNovelType"/>
			<xsd:element name="Author" type="AuthorType"/>
			<xsd:element name="TaxedPrice" type="TaxedPriceType"/>
			<xsd:complexType name="TaxedPriceType">
				<xsd:sequence>
					<xsd:element name="Fine" type="Thing"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Thing">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AuthorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="RomanticNovelType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_AUTHOR_TAXEDPRICERequest">
		<wsdl:part name="_ROMANTICNOVEL" type="tns:RomanticNovelType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_AUTHOR_TAXEDPRICEResponse">
		<wsdl:part name="_AUTHOR" type="tns:AuthorType">
    </wsdl:part>
		<wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="RomanticnovelAuthortaxedpriceSoap">
		<wsdl:operation name="get_AUTHOR_TAXEDPRICE">
			<wsdl:input message="tns:get_AUTHOR_TAXEDPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_AUTHOR_TAXEDPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RomanticnovelAuthortaxedpriceSoapBinding" type="RomanticnovelAuthortaxedpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_AUTHOR_TAXEDPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/RomanticnovelAuthortaxedprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/RomanticnovelAuthortaxedprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RomanticnovelAuthortaxedpriceService">
		<wsdl:port name="RomanticnovelAuthortaxedpriceSoap" binding="RomanticnovelAuthortaxedpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/RomanticnovelAuthortaxedprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
