src/main/resources/wsdl/sandwich_maxprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/SandwichMaxprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/SandwichMaxprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/SandwichMaxprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/SandwichMaxprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="SandwichMaxprice" targetNamespace="http://127.0.0.1:8000/wsdl/SandwichMaxprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 23:29:44 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/SandwichMaxprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Sandwich"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#MaxPrice"/>
			</xsd:annotation>
			<xsd:element name="Sandwich" type="SandwichType"/>
			<xsd:element name="MaxPrice" type="MaxPriceType"/>
			<xsd:simpleType name="SandwichType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MaxPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_MAXPRICEResponse">
		<wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_MAXPRICERequest">
		<wsdl:part name="_SANDWICH" type="tns:SandwichType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SandwichMaxpriceSoap">
		<wsdl:operation name="get_MAXPRICE">
			<wsdl:input message="tns:get_MAXPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_MAXPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SandwichMaxpriceSoapBinding" type="SandwichMaxpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_MAXPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/SandwichMaxprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/SandwichMaxprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SandwichMaxpriceService">
		<wsdl:port name="SandwichMaxpriceSoap" binding="SandwichMaxpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/SandwichMaxprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
