src/main/resources/wsdl/sciencefictionbook_authorrecommendedprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/SciencefictionbookAuthorrecommendedprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/SciencefictionbookAuthorrecommendedprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/SciencefictionbookAuthorrecommendedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/SciencefictionbookAuthorrecommendedprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="SciencefictionbookAuthorrecommendedprice" targetNamespace="http://127.0.0.1:8000/wsdl/SciencefictionbookAuthorrecommendedprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 23:49:35 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/SciencefictionbookAuthorrecommendedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#ScienceFictionBook"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Author"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#RecommendedPrice"/>
			</xsd:annotation>
			<xsd:element name="Author" type="AuthorType"/>
			<xsd:element name="RecommendedPrice" type="RecommendedPriceType"/>
			<xsd:element name="ScienceFictionBook" type="ScienceFictionBookType"/>
			<xsd:simpleType name="RecommendedPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ScienceFictionBookType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AuthorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_AUTHOR_RECOMMENDEDPRICEResponse">
		<wsdl:part name="_AUTHOR" type="tns:AuthorType">
    </wsdl:part>
		<wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_AUTHOR_RECOMMENDEDPRICERequest">
		<wsdl:part name="_SCIENCEFICTIONBOOK" type="tns:ScienceFictionBookType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SciencefictionbookAuthorrecommendedpriceSoap">
		<wsdl:operation name="get_AUTHOR_RECOMMENDEDPRICE">
			<wsdl:input message="tns:get_AUTHOR_RECOMMENDEDPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_AUTHOR_RECOMMENDEDPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SciencefictionbookAuthorrecommendedpriceSoapBinding" type="SciencefictionbookAuthorrecommendedpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_AUTHOR_RECOMMENDEDPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/SciencefictionbookAuthorrecommendedprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/SciencefictionbookAuthorrecommendedprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SciencefictionbookAuthorrecommendedpriceService">
		<wsdl:port name="SciencefictionbookAuthorrecommendedpriceSoap" binding="SciencefictionbookAuthorrecommendedpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/SciencefictionbookAuthorrecommendedprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
