src/main/resources/wsdl/sciencefictionbookuser_price_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/SciencefictionbookuserPrice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/SciencefictionbookuserPrice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/SciencefictionbookuserPrice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/SciencefictionbookuserPrice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="SciencefictionbookuserPrice" targetNamespace="http://127.0.0.1:8000/wsdl/SciencefictionbookuserPrice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 23:53:47 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/SciencefictionbookuserPrice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#User"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#ScienceFictionBook"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#Price"/>
			</xsd:annotation>
			<xsd:element name="Price" type="PriceType"/>
			<xsd:element name="ScienceFictionBook" type="ScienceFictionBookType"/>
			<xsd:element name="User" type="UserType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ScienceFictionBookType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="UserType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICEResponse">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICERequest">
		<wsdl:part name="_USER" type="tns:UserType">
    </wsdl:part>
		<wsdl:part name="_SCIENCEFICTIONBOOK" type="tns:ScienceFictionBookType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SciencefictionbookuserPriceSoap">
		<wsdl:operation name="get_PRICE">
			<wsdl:input message="tns:get_PRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SciencefictionbookuserPriceSoapBinding" type="SciencefictionbookuserPriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/SciencefictionbookuserPrice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/SciencefictionbookuserPrice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SciencefictionbookuserPriceService">
		<wsdl:port name="SciencefictionbookuserPriceSoap" binding="SciencefictionbookuserPriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/SciencefictionbookuserPrice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
