src/main/resources/wsdl/searchRawAddress.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/AddressPlace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/AddressPlace-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/AddressPlace" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/AddressPlace" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="AddressPlace" targetNamespace="http://127.0.0.1:8000/wsdl/AddressPlace">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 27 19:09:53 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/AddressPlace" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/geographydataset.owl#Code"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/protonu.owl#Address"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/protont.owl#Location"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/protont.owl#latitude"/>
				<xsd:documentation source="Translation (OWLhttp://127.0.0.1:8000/ontology//127.0.0.1/ontology/protont.owl#longitude"/>
			</xsd:annotation>
			<xsd:element name="Location" type="LocationType"/>
			<xsd:element name="Code" type="CodeType"/>
			<xsd:element name="longitude" type="longitudeType"/>
			<xsd:element name="latitude" type="latitudeType"/>
			<xsd:element name="Address" type="AddressType"/>
			<xsd:simpleType name="CodeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="longitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="latitudeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AddressType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LocationType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_LOCATION_LATITUDE_LONGITUDERequest">
		<wsdl:part name="_LICENSEKEY" type="tns:CodeType">
    </wsdl:part>
		<wsdl:part name="_ADDRESS" type="tns:AddressType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_LOCATION_LATITUDE_LONGITUDEResponse">
		<wsdl:part name="_LOCATION" type="tns:LocationType">
    </wsdl:part>
		<wsdl:part name="_LATITUDE" type="tns:latitudeType">
    </wsdl:part>
		<wsdl:part name="_LONGITUDE" type="tns:longitudeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AddressPlaceSoap">
		<wsdl:operation name="get_LOCATION_LATITUDE_LONGITUDE">
			<wsdl:input message="tns:get_LOCATION_LATITUDE_LONGITUDERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_LOCATION_LATITUDE_LONGITUDEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AddressPlaceSoapBinding" type="AddressPlaceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_LOCATION_LATITUDE_LONGITUDE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AddressPlace"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/AddressPlace"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AddressPlaceService">
		<wsdl:port name="AddressPlaceSoap" binding="AddressPlaceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/AddressPlace"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
