src/main/resources/wsdl/SelectTransport_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Selecttransport" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Selecttransport-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Selecttransport" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Selecttransport" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Selecttransport" targetNamespace="http://127.0.0.1:8000/wsdl/Selecttransport">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Jun 06 15:13:29 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Selecttransport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/EMAOntology.owl#ListOfTransports"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/EMAOntology.owl#TransportNumber"/>
			</xsd:annotation>
			<xsd:element name="TransportNumber" type="TransportNumberType"/>
			<xsd:element name="ListOfTransports" type="ListOfTransportsType"/>
			<xsd:complexType name="ListOfTransportsType">
				<xsd:sequence>
					<xsd:element name="ListOfTransports_consistsOf" type="Transport"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="TransportNumberType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Transport">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getSelectTransport_TransportNumberResponse">
		<wsdl:part name="SelectTransport_TransportNumber" type="tns:TransportNumberType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSelectTransport_TransportNumberRequest">
		<wsdl:part name="SelectTransport_ListOfTransports" type="tns:ListOfTransportsType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SelecttransportSoap">
		<wsdl:operation name="getSelectTransport_TransportNumber">
			<wsdl:input message="tns:getSelectTransport_TransportNumberRequest">
    </wsdl:input>
			<wsdl:output message="tns:getSelectTransport_TransportNumberResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SelecttransportSoapBinding" type="SelecttransportSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getSelectTransport_TransportNumber">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Selecttransport"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Selecttransport"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SelecttransportService">
		<wsdl:port name="SelecttransportSoap" binding="SelecttransportSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Selecttransport"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
