src/main/resources/wsdl/SFNovelReview_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Science-fiction-noveluserRecommendedpriceineuroreview" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Science-fiction-noveluserRecommendedpriceineuroreview-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Science-fiction-noveluserRecommendedpriceineuroreview" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Science-fiction-noveluserRecommendedpriceineuroreview" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Science-fiction-noveluserRecommendedpriceineuroreview" targetNamespace="http://127.0.0.1:8000/wsdl/Science-fiction-noveluserRecommendedpriceineuroreview">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 23:10:02 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Science-fiction-noveluserRecommendedpriceineuroreview" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#User"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Science-Fiction-Novel"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#RecommendedPriceInEuro"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/books.owl#Review"/>
			</xsd:annotation>
			<xsd:element name="RecommendedPriceInEuro" type="RecommendedPriceInEuroType"/>
			<xsd:element name="Science-Fiction-Novel" type="Science-Fiction-NovelType"/>
			<xsd:element name="Review" type="ReviewType"/>
			<xsd:element name="User" type="UserType"/>
			<xsd:complexType name="Science-Fiction-NovelType">
				<xsd:sequence>
					<xsd:element name="hasGenre" type="Science-Fiction"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="RecommendedPriceInEuroType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Science-Fiction">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ReviewType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="UserType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RECOMMENDEDPRICEINEURO_REVIEWRequest">
		<wsdl:part name="_USER" type="tns:UserType">
    </wsdl:part>
		<wsdl:part name="_SCIENCE-FICTION-NOVEL" type="tns:Science-Fiction-NovelType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RECOMMENDEDPRICEINEURO_REVIEWResponse">
		<wsdl:part name="_RECOMMENDEDPRICEINEURO" type="tns:RecommendedPriceInEuroType">
    </wsdl:part>
		<wsdl:part name="_REVIEW" type="tns:ReviewType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Science-fiction-noveluserRecommendedpriceineuroreviewSoap">
		<wsdl:operation name="get_RECOMMENDEDPRICEINEURO_REVIEW">
			<wsdl:input message="tns:get_RECOMMENDEDPRICEINEURO_REVIEWRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RECOMMENDEDPRICEINEURO_REVIEWResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Science-fiction-noveluserRecommendedpriceineuroreviewSoapBinding" type="Science-fiction-noveluserRecommendedpriceineuroreviewSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RECOMMENDEDPRICEINEURO_REVIEW">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Science-fiction-noveluserRecommendedpriceineuroreview"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Science-fiction-noveluserRecommendedpriceineuroreview"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Science-fiction-noveluserRecommendedpriceineuroreviewService">
		<wsdl:port name="Science-fiction-noveluserRecommendedpriceineuroreviewSoap" binding="Science-fiction-noveluserRecommendedpriceineuroreviewSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Science-fiction-noveluserRecommendedpriceineuroreview"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
