src/main/resources/wsdl/ShoppingmallCompactrecommendedpriceineuro.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/ShoppingmallCompactrecommendedpriceineuro-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/ShoppingmallCompactrecommendedpriceineuro" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/ShoppingmallCompactrecommendedpriceineuro" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="ShoppingmallCompactrecommendedpriceineuro" targetNamespace="http://127.0.0.1:8000/wsdl/ShoppingmallCompactrecommendedpriceineuro">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun May 03 15:05:28 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/ShoppingmallCompactrecommendedpriceineuro" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#ShoppingMall"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/extendedCamera.owl#Compact"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#RecommendedPriceInEuro"/>
			</xsd:annotation>
			<xsd:element name="RecommendedPriceInEuro" type="tns:RecommendedPriceInEuroType"/>
			<xsd:element name="Compact" type="tns:CompactType"/>
			<xsd:element name="ShoppingMall" type="tns:ShoppingMallType"/>
			<xsd:complexType name="CompactType">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:simpleType name="RecommendedPriceInEuroType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ShoppingMallType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_COMPACT_RECOMMENDEDPRICEINEUROResponse">
		<wsdl:part name="_COMPACT" type="tns:CompactType">
    </wsdl:part>
		<wsdl:part name="_RECOMMENDEDPRICEINEURO" type="tns:RecommendedPriceInEuroType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_COMPACT_RECOMMENDEDPRICEINEURORequest">
		<wsdl:part name="_SHOPPINGMALL" type="tns:ShoppingMallType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ShoppingmallCompactrecommendedpriceineuroSoap">
		<wsdl:operation name="get_COMPACT_RECOMMENDEDPRICEINEURO">
			<wsdl:input message="tns:get_COMPACT_RECOMMENDEDPRICEINEURORequest">
    </wsdl:input>
			<wsdl:output message="tns:get_COMPACT_RECOMMENDEDPRICEINEUROResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ShoppingmallCompactrecommendedpriceineuroSoapBinding" type="tns:ShoppingmallCompactrecommendedpriceineuroSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_COMPACT_RECOMMENDEDPRICEINEURO">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ShoppingmallCompactrecommendedpriceineuro"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ShoppingmallCompactrecommendedpriceineuro"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ShoppingmallCompactrecommendedpriceineuroService">
		<wsdl:port name="ShoppingmallCompactrecommendedpriceineuroSoap" binding="tns:ShoppingmallCompactrecommendedpriceineuroSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/ShoppingmallCompactrecommendedpriceineuro"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
