src/main/resources/wsdl/shoppingmall_recommendedprice_Shirtservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/ShoppingmallRecommendedprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/ShoppingmallRecommendedprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/ShoppingmallRecommendedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/ShoppingmallRecommendedprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="ShoppingmallRecommendedprice" targetNamespace="http://127.0.0.1:8000/wsdl/ShoppingmallRecommendedprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Jun 06 15:16:28 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/ShoppingmallRecommendedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#ShoppingMall"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#RecommendedPrice"/>
			</xsd:annotation>
			<xsd:element name="RecommendedPrice" type="RecommendedPriceType"/>
			<xsd:element name="ShoppingMall" type="ShoppingMallType"/>
			<xsd:simpleType name="RecommendedPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ShoppingMallType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RECOMMENDEDPRICERequest">
		<wsdl:part name="_SHOPPINGMALL" type="tns:ShoppingMallType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RECOMMENDEDPRICEResponse">
		<wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ShoppingmallRecommendedpriceSoap">
		<wsdl:operation name="get_RECOMMENDEDPRICE">
			<wsdl:input message="tns:get_RECOMMENDEDPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RECOMMENDEDPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ShoppingmallRecommendedpriceSoapBinding" type="ShoppingmallRecommendedpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RECOMMENDEDPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ShoppingmallRecommendedprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ShoppingmallRecommendedprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ShoppingmallRecommendedpriceService">
		<wsdl:port name="ShoppingmallRecommendedpriceSoap" binding="ShoppingmallRecommendedpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/ShoppingmallRecommendedprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
