src/main/resources/wsdl/ShoppingmallMaxpricedigital-video.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/ShoppingmallMaxpricedigital-video-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/ShoppingmallMaxpricedigital-video" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/ShoppingmallMaxpricedigital-video" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="ShoppingmallMaxpricedigital-video" targetNamespace="http://127.0.0.1:8000/wsdl/ShoppingmallMaxpricedigital-video">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue May 12 17:07:57 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/ShoppingmallMaxpricedigital-video" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#ShoppingMall"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#MaxPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/extendedCamera.owl#Digital-Video"/>
			</xsd:annotation>
			<xsd:element name="Digital-Video" type="tns:Digital-VideoType"/>
			<xsd:element name="MaxPrice" type="tns:MaxPriceType"/>
			<xsd:element name="ShoppingMall" type="tns:ShoppingMallType"/>
			<xsd:simpleType name="MaxPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Digital-VideoType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ShoppingMallType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_MAXPRICE_DIGITAL-VIDEORequest">
		<wsdl:part name="_SHOPPINGMALL" type="tns:ShoppingMallType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_MAXPRICE_DIGITAL-VIDEOResponse">
		<wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
    </wsdl:part>
		<wsdl:part name="_DIGITAL-VIDEO" type="tns:Digital-VideoType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ShoppingmallMaxpricedigital-videoSoap">
		<wsdl:operation name="get_MAXPRICE_DIGITAL-VIDEO">
			<wsdl:input message="tns:get_MAXPRICE_DIGITAL-VIDEORequest">
    </wsdl:input>
			<wsdl:output message="tns:get_MAXPRICE_DIGITAL-VIDEOResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ShoppingmallMaxpricedigital-videoSoapBinding" type="tns:ShoppingmallMaxpricedigital-videoSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_MAXPRICE_DIGITAL-VIDEO">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ShoppingmallMaxpricedigital-video"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/ShoppingmallMaxpricedigital-video"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ShoppingmallMaxpricedigital-videoService">
		<wsdl:port name="ShoppingmallMaxpricedigital-videoSoap" binding="tns:ShoppingmallMaxpricedigital-videoSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/ShoppingmallMaxpricedigital-video"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
