src/main/resources/wsdl/short-story_author_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Short-storyAuthor" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Short-storyAuthor-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Short-storyAuthor" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Short-storyAuthor" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Short-storyAuthor" targetNamespace="http://127.0.0.1:8000/wsdl/Short-storyAuthor">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Jun 06 15:44:10 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Short-storyAuthor" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Short-Story"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Author"/>
			</xsd:annotation>
			<xsd:element name="Author" type="AuthorType"/>
			<xsd:element name="Short-Story" type="Short-StoryType"/>
			<xsd:complexType name="Short-StoryType">
				<xsd:sequence>
					<xsd:element name="hasSize" type="Small"/>
					<xsd:element name="hasType" type="Paper-Back"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Small">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Paper-Back">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AuthorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_AUTHORRequest">
		<wsdl:part name="_SHORT-STORY" type="tns:Short-StoryType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_AUTHORResponse">
		<wsdl:part name="_AUTHOR" type="tns:AuthorType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Short-storyAuthorSoap">
		<wsdl:operation name="get_AUTHOR">
			<wsdl:input message="tns:get_AUTHORRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_AUTHORResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Short-storyAuthorSoapBinding" type="Short-storyAuthorSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_AUTHOR">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Short-storyAuthor"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Short-storyAuthor"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Short-storyAuthorService">
		<wsdl:port name="Short-storyAuthorSoap" binding="Short-storyAuthorSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Short-storyAuthor"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
