src/main/resources/wsdl/short-story_publisher_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Short-storyPublisher" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Short-storyPublisher-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Short-storyPublisher" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Short-storyPublisher" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Short-storyPublisher" targetNamespace="http://127.0.0.1:8000/wsdl/Short-storyPublisher">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Jun 06 15:46:44 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Short-storyPublisher" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Short-Story"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Publisher"/>
			</xsd:annotation>
			<xsd:element name="Publisher" type="PublisherType"/>
			<xsd:element name="Short-Story" type="Short-StoryType"/>
			<xsd:complexType name="Short-StoryType">
				<xsd:sequence>
					<xsd:element name="hasSize" type="Small"/>
					<xsd:element name="hasType" type="Paper-Back"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="PublisherType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Small">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Paper-Back">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PUBLISHERResponse">
		<wsdl:part name="_PUBLISHER" type="tns:PublisherType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PUBLISHERRequest">
		<wsdl:part name="_SHORT-STORY" type="tns:Short-StoryType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Short-storyPublisherSoap">
		<wsdl:operation name="get_PUBLISHER">
			<wsdl:input message="tns:get_PUBLISHERRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PUBLISHERResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Short-storyPublisherSoapBinding" type="Short-storyPublisherSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PUBLISHER">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Short-storyPublisher"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Short-storyPublisher"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Short-storyPublisherService">
		<wsdl:port name="Short-storyPublisherSoap" binding="Short-storyPublisherSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Short-storyPublisher"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
