src/main/resources/wsdl/short-story_authorbook-type_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Short-storyAuthorbook-type" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Short-storyAuthorbook-type-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Short-storyAuthorbook-type" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Short-storyAuthorbook-type" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Short-storyAuthorbook-type" targetNamespace="http://127.0.0.1:8000/wsdl/Short-storyAuthorbook-type">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Jun 06 15:26:55 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Short-storyAuthorbook-type" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/books.owl#Short-Story"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/books.owl#Author"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/books.owl#Book-Type"/>
			</xsd:annotation>
			<xsd:element name="Author" type="AuthorType"/>
			<xsd:element name="Short-Story" type="Short-StoryType"/>
			<xsd:element name="Book-Type" type="Book-TypeType"/>
			<xsd:complexType name="Short-StoryType">
				<xsd:sequence>
					<xsd:element name="hasSize" type="Small"/>
					<xsd:element name="hasType" type="Paper-Back"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Small">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Book-TypeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Paper-Back">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="AuthorType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_AUTHOR_BOOK-TYPERequest">
		<wsdl:part name="_SHORT-STORY" type="tns:Short-StoryType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_AUTHOR_BOOK-TYPEResponse">
		<wsdl:part name="_AUTHOR" type="tns:AuthorType">
    </wsdl:part>
		<wsdl:part name="_BOOK-TYPE" type="tns:Book-TypeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Short-storyAuthorbook-typeSoap">
		<wsdl:operation name="get_AUTHOR_BOOK-TYPE">
			<wsdl:input message="tns:get_AUTHOR_BOOK-TYPERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_AUTHOR_BOOK-TYPEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Short-storyAuthorbook-typeSoapBinding" type="Short-storyAuthorbook-typeSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_AUTHOR_BOOK-TYPE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Short-storyAuthorbook-type"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Short-storyAuthorbook-type"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Short-storyAuthorbook-typeService">
		<wsdl:port name="Short-storyAuthorbook-typeSoap" binding="Short-storyAuthorbook-typeSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Short-storyAuthorbook-type"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
