src/main/resources/wsdl/SPD-Grune_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuroreport" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuroreport-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuroreport" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuroreport" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="PreparedfoodTaxedpriceineuroreport" targetNamespace="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuroreport">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Fri Jun 05 23:16:47 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuroreport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#PreparedFood"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#TaxedPriceInEuro"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/Mid-level-ontology.owl#Report"/>
			</xsd:annotation>
			<xsd:element name="Report" type="ReportType"/>
			<xsd:element name="PreparedFood" type="PreparedFoodType"/>
			<xsd:element name="TaxedPriceInEuro" type="TaxedPriceInEuroType"/>
			<xsd:simpleType name="PreparedFoodType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TaxedPriceInEuroType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ReportType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_TAXEDPRICEINEURO_REPORTResponse">
		<wsdl:part name="_TAXEDPRICEINEURO" type="tns:TaxedPriceInEuroType">
    </wsdl:part>
		<wsdl:part name="_REPORT" type="tns:ReportType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_TAXEDPRICEINEURO_REPORTRequest">
		<wsdl:part name="_PREPAREDFOOD" type="tns:PreparedFoodType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PreparedfoodTaxedpriceineuroreportSoap">
		<wsdl:operation name="get_TAXEDPRICEINEURO_REPORT">
			<wsdl:input message="tns:get_TAXEDPRICEINEURO_REPORTRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_TAXEDPRICEINEURO_REPORTResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PreparedfoodTaxedpriceineuroreportSoapBinding" type="PreparedfoodTaxedpriceineuroreportSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_TAXEDPRICEINEURO_REPORT">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuroreport"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuroreport"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PreparedfoodTaxedpriceineuroreportService">
		<wsdl:port name="PreparedfoodTaxedpriceineuroreportSoap" binding="PreparedfoodTaxedpriceineuroreportSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/PreparedfoodTaxedpriceineuroreport"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
