src/main/resources/wsdl/store_preparedfood_Merchantservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/StorePreparedfood" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/StorePreparedfood-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/StorePreparedfood" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/StorePreparedfood" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="StorePreparedfood" targetNamespace="http://127.0.0.1:8000/wsdl/StorePreparedfood">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 17:28:31 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/StorePreparedfood" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Store"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/Mid-level-ontology.owl#PreparedFood"/>
			</xsd:annotation>
			<xsd:element name="PreparedFood" type="PreparedFoodType"/>
			<xsd:element name="Store" type="StoreType"/>
			<xsd:simpleType name="PreparedFoodType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="StoreType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PREPAREDFOODResponse">
		<wsdl:part name="_PREPAREDFOOD" type="tns:PreparedFoodType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PREPAREDFOODRequest">
		<wsdl:part name="_STORE" type="tns:StoreType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="StorePreparedfoodSoap">
		<wsdl:operation name="get_PREPAREDFOOD">
			<wsdl:input message="tns:get_PREPAREDFOODRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PREPAREDFOODResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="StorePreparedfoodSoapBinding" type="StorePreparedfoodSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PREPAREDFOOD">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/StorePreparedfood"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/StorePreparedfood"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="StorePreparedfoodService">
		<wsdl:port name="StorePreparedfoodSoap" binding="StorePreparedfoodSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/StorePreparedfood"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
