src/main/resources/wsdl/surfinghiking_town_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/SurfinghikingTown" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/SurfinghikingTown-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/SurfinghikingTown" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/SurfinghikingTown" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="SurfinghikingTown" targetNamespace="http://127.0.0.1:8000/wsdl/SurfinghikingTown">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Jun 06 17:46:10 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/SurfinghikingTown" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Hiking"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#Surfing"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/travel.owl#Town"/>
			</xsd:annotation>
			<xsd:element name="Hiking" type="HikingType"/>
			<xsd:element name="Town" type="TownType"/>
			<xsd:element name="Surfing" type="SurfingType"/>
			<xsd:simpleType name="TownType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Coonabarabran"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="HikingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="SurfingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_TOWNRequest">
		<wsdl:part name="_HIKING" type="tns:HikingType">
    </wsdl:part>
		<wsdl:part name="_SURFING" type="tns:SurfingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_TOWNResponse">
		<wsdl:part name="_TOWN" type="tns:TownType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SurfinghikingTownSoap">
		<wsdl:operation name="get_TOWN">
			<wsdl:input message="tns:get_TOWNRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_TOWNResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SurfinghikingTownSoapBinding" type="SurfinghikingTownSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_TOWN">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/SurfinghikingTown"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/SurfinghikingTown"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SurfinghikingTownService">
		<wsdl:port name="SurfinghikingTownSoap" binding="SurfinghikingTownSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/SurfinghikingTown"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
