src/main/resources/wsdl/surfing_nationalpark_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/SurfingNationalpark" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/SurfingNationalpark-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/SurfingNationalpark" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/SurfingNationalpark" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="SurfingNationalpark" targetNamespace="http://127.0.0.1:8000/wsdl/SurfingNationalpark">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Jun 06 22:40:06 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/SurfingNationalpark" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/travel.owl#Surfing"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#NationalPark"/>
			</xsd:annotation>
			<xsd:element name="NationalPark" type="NationalParkType"/>
			<xsd:element name="Surfing" type="SurfingType"/>
			<xsd:complexType name="Campground">
				<xsd:sequence>
					<xsd:element name="hasRating" type="CampgroundAccommodationRating"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="NationalParkType">
				<xsd:choice>
					<xsd:element name="nationalParkID" type="NationalParkDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="hasActivity" type="Hiking"/>
						<xsd:element name="hasAccommodation" type="Campground"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="AccommodationRating">
				<xsd:choice>
					<xsd:element name="accommodationRatingID" type="AccommodationRatingDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="CampgroundAccommodationRating">
				<xsd:complexContent>
					<xsd:restriction base="AccommodationRating">
						<xsd:choice>
							<xsd:element name="accommodationRatingID" type="CampgroundAccommodationRatingDATA"/>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="name" type="xsd:string"/>
							</xsd:sequence>
						</xsd:choice>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:simpleType name="Hiking">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="CampgroundAccommodationRatingDATA">
				<xsd:restriction base="AccommodationRatingDATA">
					<xsd:enumeration value="OneStarRating"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="AccommodationRatingDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="TwoStarRating"/>
					<xsd:enumeration value="OneStarRating"/>
					<xsd:enumeration value="ThreeStarRating"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="SurfingType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="NationalParkDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Warrumbungles"/>
					<xsd:enumeration value="BlueMountains"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_NATIONALPARKRequest">
		<wsdl:part name="_SURFING" type="tns:SurfingType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_NATIONALPARKResponse">
		<wsdl:part name="_NATIONALPARK" type="tns:NationalParkType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SurfingNationalparkSoap">
		<wsdl:operation name="get_NATIONALPARK">
			<wsdl:input message="tns:get_NATIONALPARKRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_NATIONALPARKResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SurfingNationalparkSoapBinding" type="SurfingNationalparkSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_NATIONALPARK">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/SurfingNationalpark"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/SurfingNationalpark"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SurfingNationalparkService">
		<wsdl:port name="SurfingNationalparkSoap" binding="SurfingNationalparkSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/SurfingNationalpark"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
