src/main/resources/wsdl/switch_on_messemodul.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1/isreal/wsdl/Switchonmessemmodul" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/isreal/wsdl/Switchonmessemmodul-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/isreal/wsdl/Switchonmessemmodul" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/isreal/wsdl/Switchonmessemmodul" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Switchonmessemmodul" targetNamespace="http://127.0.0.1/isreal/wsdl/Switchonmessemmodul">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Mon Sep 14 22:18:21 CEST 2009" targetNamespace="http://127.0.0.1/isreal/wsdl/Switchonmessemmodul" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/isreal/messemodul.owl#MesseModul"/>
			</xsd:annotation>
			<xsd:element name="MesseModul" type="MesseModulType"/>
			<xsd:simpleType name="MesseModulType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getResponse">
  </wsdl:message>
	<wsdl:message name="getRequest">
		<wsdl:part name="MesseModul" type="tns:MesseModulType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SwitchonmessemmodulSoap">
		<wsdl:operation name="get">
			<wsdl:input message="tns:getRequest">
    </wsdl:input>
			<wsdl:output message="tns:getResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SwitchonmessemmodulSoapBinding" type="SwitchonmessemmodulSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/isreal/wsdl/Switchonmessemmodul"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/isreal/wsdl/Switchonmessemmodul"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SwitchonmessemmodulService">
		<wsdl:port name="SwitchonmessemmodulSoap" binding="SwitchonmessemmodulSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1/isreal/wsdl/Switchonmessemmodul"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
