src/main/resources/wsdl/taxfreeprice_cola_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/TaxfreepriceCola" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/TaxfreepriceCola-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/TaxfreepriceCola" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/TaxfreepriceCola" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="TaxfreepriceCola" targetNamespace="http://127.0.0.1:8000/wsdl/TaxfreepriceCola">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Jun 06 22:57:37 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/TaxfreepriceCola" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/concept.owl#TaxFreePrice"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#Cola"/>
			</xsd:annotation>
			<xsd:element name="Cola" type="ColaType"/>
			<xsd:element name="TaxFreePrice" type="TaxFreePriceType"/>
			<xsd:simpleType name="TaxFreePriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ColaType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_COLARequest">
		<wsdl:part name="_TAXFREEPRICE" type="tns:TaxFreePriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_COLAResponse">
		<wsdl:part name="_COLA" type="tns:ColaType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TaxfreepriceColaSoap">
		<wsdl:operation name="get_COLA">
			<wsdl:input message="tns:get_COLARequest">
    </wsdl:input>
			<wsdl:output message="tns:get_COLAResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TaxfreepriceColaSoapBinding" type="TaxfreepriceColaSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_COLA">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TaxfreepriceCola"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TaxfreepriceCola"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TaxfreepriceColaService">
		<wsdl:port name="TaxfreepriceColaSoap" binding="TaxfreepriceColaSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/TaxfreepriceCola"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
