src/main/resources/wsdl/tea_maxprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/TeaMaxprice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/TeaMaxprice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/TeaMaxprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/TeaMaxprice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="TeaMaxprice" targetNamespace="http://127.0.0.1:8000/wsdl/TeaMaxprice">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Jun 06 23:02:18 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/TeaMaxprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#Tea"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#MaxPrice"/>
			</xsd:annotation>
			<xsd:element name="MaxPrice" type="MaxPriceType"/>
			<xsd:element name="Tea" type="TeaType"/>
			<xsd:simpleType name="MaxPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TeaType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_MAXPRICEResponse">
		<wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_MAXPRICERequest">
		<wsdl:part name="_TEA" type="tns:TeaType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TeaMaxpriceSoap">
		<wsdl:operation name="get_MAXPRICE">
			<wsdl:input message="tns:get_MAXPRICERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_MAXPRICEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TeaMaxpriceSoapBinding" type="TeaMaxpriceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_MAXPRICE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TeaMaxprice"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TeaMaxprice"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TeaMaxpriceService">
		<wsdl:port name="TeaMaxpriceSoap" binding="TeaMaxpriceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/TeaMaxprice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
