src/main/resources/wsdl/time-measuregeopolitical-entitycity_bedandbreakfast_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Time-measuregeopolitical-entitycityBedandbreakfast" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Time-measuregeopolitical-entitycityBedandbreakfast-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Time-measuregeopolitical-entitycityBedandbreakfast" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Time-measuregeopolitical-entitycityBedandbreakfast" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Time-measuregeopolitical-entitycityBedandbreakfast" targetNamespace="http://127.0.0.1:8000/wsdl/Time-measuregeopolitical-entitycityBedandbreakfast">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Jun 06 23:35:57 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Time-measuregeopolitical-entitycityBedandbreakfast" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/travel.owl#City"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Geopolitical-Entity"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/support.owl#Time-Measure"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/travel.owl#BedAndBreakfast"/>
			</xsd:annotation>
			<xsd:element name="BedAndBreakfast" type="BedAndBreakfastType"/>
			<xsd:element name="Geopolitical-Entity" type="Geopolitical-EntityType"/>
			<xsd:element name="City" type="CityType"/>
			<xsd:element name="Time-Measure" type="Time-MeasureType"/>
			<xsd:complexType name="LuxuryHotel">
				<xsd:choice>
					<xsd:element name="luxuryHotelID" type="LuxuryHotelDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="hasRating" type="LuxuryHotelAccommodationRating"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="AccommodationRating">
				<xsd:choice>
					<xsd:element name="accommodationRatingID" type="AccommodationRatingDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="CityType">
				<xsd:choice>
					<xsd:element name="cityID" type="CityDATA"/>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="name" type="xsd:string"/>
						<xsd:element name="hasAccommodation" type="LuxuryHotel"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="LuxuryHotelAccommodationRating">
				<xsd:complexContent>
					<xsd:restriction base="AccommodationRating">
						<xsd:choice>
							<xsd:element name="accommodationRatingID" type="LuxuryHotelAccommodationRatingDATA"/>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="name" type="xsd:string"/>
							</xsd:sequence>
						</xsd:choice>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:simpleType name="BedAndBreakfastType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LuxuryHotelAccommodationRatingDATA">
				<xsd:restriction base="AccommodationRatingDATA">
					<xsd:enumeration value="ThreeStarRating"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Time-MeasureType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="time-measure-day"/>
					<xsd:enumeration value="time-measure-hour"/>
					<xsd:enumeration value="time-measure-year"/>
					<xsd:enumeration value="time-measure-second"/>
					<xsd:enumeration value="time-measure-minute"/>
					<xsd:enumeration value="time-measure-month"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LuxuryHotelDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="FourSeasons"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="AccommodationRatingDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="TwoStarRating"/>
					<xsd:enumeration value="OneStarRating"/>
					<xsd:enumeration value="ThreeStarRating"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CityDATA">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Cairns"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Geopolitical-EntityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_BEDANDBREAKFASTRequest">
		<wsdl:part name="_CITY" type="tns:CityType">
    </wsdl:part>
		<wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
    </wsdl:part>
		<wsdl:part name="_TIME-MEASURE" type="tns:Time-MeasureType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_BEDANDBREAKFASTResponse">
		<wsdl:part name="_BEDANDBREAKFAST" type="tns:BedAndBreakfastType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Time-measuregeopolitical-entitycityBedandbreakfastSoap">
		<wsdl:operation name="get_BEDANDBREAKFAST">
			<wsdl:input message="tns:get_BEDANDBREAKFASTRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_BEDANDBREAKFASTResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Time-measuregeopolitical-entitycityBedandbreakfastSoapBinding" type="Time-measuregeopolitical-entitycityBedandbreakfastSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_BEDANDBREAKFAST">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Time-measuregeopolitical-entitycityBedandbreakfast"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Time-measuregeopolitical-entitycityBedandbreakfast"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Time-measuregeopolitical-entitycityBedandbreakfastService">
		<wsdl:port name="Time-measuregeopolitical-entitycityBedandbreakfastSoap" binding="Time-measuregeopolitical-entitycityBedandbreakfastSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Time-measuregeopolitical-entitycityBedandbreakfast"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
