src/main/resources/wsdl/title_vhs_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/TitleVhs" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/TitleVhs-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/TitleVhs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/TitleVhs" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="TitleVhs" targetNamespace="http://127.0.0.1:8000/wsdl/TitleVhs">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 19:26:12 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/TitleVhs" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Title"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#VHS"/>
			</xsd:annotation>
			<xsd:element name="VHS" type="VHSType"/>
			<xsd:element name="Title" type="TitleType"/>
			<xsd:simpleType name="VHSType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TitleType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_VHSRequest">
		<wsdl:part name="_TITLE" type="tns:TitleType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_VHSResponse">
		<wsdl:part name="_VHS" type="tns:VHSType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TitleVhsSoap">
		<wsdl:operation name="get_VHS">
			<wsdl:input message="tns:get_VHSRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_VHSResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TitleVhsSoapBinding" type="TitleVhsSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_VHS">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleVhs"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleVhs"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TitleVhsService">
		<wsdl:port name="TitleVhsSoap" binding="TitleVhsSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/TitleVhs"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
