src/main/resources/wsdl/title_comedyfilmtaxfreepricequality_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/TitleComedyfilmtaxfreepricequality" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/TitleComedyfilmtaxfreepricequality-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/TitleComedyfilmtaxfreepricequality" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/TitleComedyfilmtaxfreepricequality" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="TitleComedyfilmtaxfreepricequality" targetNamespace="http://127.0.0.1:8000/wsdl/TitleComedyfilmtaxfreepricequality">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 00:03:10 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/TitleComedyfilmtaxfreepricequality" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Title"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#ComedyFilm"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#TaxFreePrice"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/finance_th_web.owl#quality"/>
			</xsd:annotation>
			<xsd:element name="Title" type="TitleType"/>
			<xsd:element name="TaxFreePrice" type="TaxFreePriceType"/>
			<xsd:element name="ComedyFilm" type="ComedyFilmType"/>
			<xsd:element name="quality" type="qualityType"/>
			<xsd:simpleType name="TaxFreePriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TitleType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ComedyFilmType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="qualityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_COMEDYFILM_TAXFREEPRICE_QUALITYRequest">
		<wsdl:part name="_TITLE" type="tns:TitleType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_COMEDYFILM_TAXFREEPRICE_QUALITYResponse">
		<wsdl:part name="_COMEDYFILM" type="tns:ComedyFilmType">
    </wsdl:part>
		<wsdl:part name="_TAXFREEPRICE" type="tns:TaxFreePriceType">
    </wsdl:part>
		<wsdl:part name="_QUALITY" type="tns:qualityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TitleComedyfilmtaxfreepricequalitySoap">
		<wsdl:operation name="get_COMEDYFILM_TAXFREEPRICE_QUALITY">
			<wsdl:input message="tns:get_COMEDYFILM_TAXFREEPRICE_QUALITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_COMEDYFILM_TAXFREEPRICE_QUALITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TitleComedyfilmtaxfreepricequalitySoapBinding" type="TitleComedyfilmtaxfreepricequalitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_COMEDYFILM_TAXFREEPRICE_QUALITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleComedyfilmtaxfreepricequality"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleComedyfilmtaxfreepricequality"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TitleComedyfilmtaxfreepricequalityService">
		<wsdl:port name="TitleComedyfilmtaxfreepricequalitySoap" binding="TitleComedyfilmtaxfreepricequalitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/TitleComedyfilmtaxfreepricequality"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
