src/main/resources/wsdl/title_sciencefictionfilmmaxpricequality_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/TitleSciencefictionfilmmaxpricequality" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/TitleSciencefictionfilmmaxpricequality-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/TitleSciencefictionfilmmaxpricequality" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/TitleSciencefictionfilmmaxpricequality" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="TitleSciencefictionfilmmaxpricequality" targetNamespace="http://127.0.0.1:8000/wsdl/TitleSciencefictionfilmmaxpricequality">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 18:32:40 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/TitleSciencefictionfilmmaxpricequality" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Title"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#ScienceFictionFilm"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#MaxPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/finance_th_web.owl#quality"/>
			</xsd:annotation>
			<xsd:element name="ScienceFictionFilm" type="ScienceFictionFilmType"/>
			<xsd:element name="Title" type="TitleType"/>
			<xsd:element name="MaxPrice" type="MaxPriceType"/>
			<xsd:element name="quality" type="qualityType"/>
			<xsd:simpleType name="ScienceFictionFilmType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TitleType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MaxPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="qualityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_SCIENCEFICTIONFILM_MAXPRICE_QUALITYResponse">
		<wsdl:part name="_SCIENCEFICTIONFILM" type="tns:ScienceFictionFilmType">
    </wsdl:part>
		<wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
    </wsdl:part>
		<wsdl:part name="_QUALITY" type="tns:qualityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_SCIENCEFICTIONFILM_MAXPRICE_QUALITYRequest">
		<wsdl:part name="_TITLE" type="tns:TitleType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TitleSciencefictionfilmmaxpricequalitySoap">
		<wsdl:operation name="get_SCIENCEFICTIONFILM_MAXPRICE_QUALITY">
			<wsdl:input message="tns:get_SCIENCEFICTIONFILM_MAXPRICE_QUALITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_SCIENCEFICTIONFILM_MAXPRICE_QUALITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TitleSciencefictionfilmmaxpricequalitySoapBinding" type="TitleSciencefictionfilmmaxpricequalitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_SCIENCEFICTIONFILM_MAXPRICE_QUALITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleSciencefictionfilmmaxpricequality"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleSciencefictionfilmmaxpricequality"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TitleSciencefictionfilmmaxpricequalityService">
		<wsdl:port name="TitleSciencefictionfilmmaxpricequalitySoap" binding="TitleSciencefictionfilmmaxpricequalitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/TitleSciencefictionfilmmaxpricequality"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
