src/main/resources/wsdl/title_comedyfilmrecommendedpricequality_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/TitleComedyfilmrecommendedpricequality" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/TitleComedyfilmrecommendedpricequality-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/TitleComedyfilmrecommendedpricequality" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/TitleComedyfilmrecommendedpricequality" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="TitleComedyfilmrecommendedpricequality" targetNamespace="http://127.0.0.1:8000/wsdl/TitleComedyfilmrecommendedpricequality">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 00:01:21 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/TitleComedyfilmrecommendedpricequality" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Title"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#ComedyFilm"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#RecommendedPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/finance_th_web.owl#quality"/>
			</xsd:annotation>
			<xsd:element name="Title" type="TitleType"/>
			<xsd:element name="RecommendedPrice" type="RecommendedPriceType"/>
			<xsd:element name="ComedyFilm" type="ComedyFilmType"/>
			<xsd:element name="quality" type="qualityType"/>
			<xsd:simpleType name="RecommendedPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TitleType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ComedyFilmType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="qualityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_COMEDYFILM_RECOMMENDEDPRICE_QUALITYRequest">
		<wsdl:part name="_TITLE" type="tns:TitleType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_COMEDYFILM_RECOMMENDEDPRICE_QUALITYResponse">
		<wsdl:part name="_COMEDYFILM" type="tns:ComedyFilmType">
    </wsdl:part>
		<wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
    </wsdl:part>
		<wsdl:part name="_QUALITY" type="tns:qualityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TitleComedyfilmrecommendedpricequalitySoap">
		<wsdl:operation name="get_COMEDYFILM_RECOMMENDEDPRICE_QUALITY">
			<wsdl:input message="tns:get_COMEDYFILM_RECOMMENDEDPRICE_QUALITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_COMEDYFILM_RECOMMENDEDPRICE_QUALITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TitleComedyfilmrecommendedpricequalitySoapBinding" type="TitleComedyfilmrecommendedpricequalitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_COMEDYFILM_RECOMMENDEDPRICE_QUALITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleComedyfilmrecommendedpricequality"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleComedyfilmrecommendedpricequality"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TitleComedyfilmrecommendedpricequalityService">
		<wsdl:port name="TitleComedyfilmrecommendedpricequalitySoap" binding="TitleComedyfilmrecommendedpricequalitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/TitleComedyfilmrecommendedpricequality"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
