src/main/resources/wsdl/title_filmpricequality_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/TitleFilmpricequality" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/TitleFilmpricequality-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/TitleFilmpricequality" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/TitleFilmpricequality" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="TitleFilmpricequality" targetNamespace="http://127.0.0.1:8000/wsdl/TitleFilmpricequality">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 19:38:54 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/TitleFilmpricequality" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Title"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#Film"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#Price"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/finance_th_web.owl#quality"/>
			</xsd:annotation>
			<xsd:element name="Price" type="PriceType"/>
			<xsd:element name="Film" type="FilmType"/>
			<xsd:element name="Title" type="TitleType"/>
			<xsd:element name="quality" type="qualityType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="FilmType">
				<xsd:sequence>
					<xsd:element name="Title"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TitleType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="qualityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_FILM_PRICE_QUALITYResponse">
		<wsdl:part name="_FILM" type="tns:FilmType">
    </wsdl:part>
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
		<wsdl:part name="_QUALITY" type="tns:qualityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_FILM_PRICE_QUALITYRequest">
		<wsdl:part name="_TITLE" type="tns:TitleType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TitleFilmpricequalitySoap">
		<wsdl:operation name="get_FILM_PRICE_QUALITY">
			<wsdl:input message="tns:get_FILM_PRICE_QUALITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_FILM_PRICE_QUALITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TitleFilmpricequalitySoapBinding" type="TitleFilmpricequalitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_FILM_PRICE_QUALITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleFilmpricequality"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleFilmpricequality"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TitleFilmpricequalityService">
		<wsdl:port name="TitleFilmpricequalitySoap" binding="TitleFilmpricequalitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/TitleFilmpricequality"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
