src/main/resources/wsdl/title_mediataxedpricequality_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/TitleMediataxedpricequality" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/TitleMediataxedpricequality-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/TitleMediataxedpricequality" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/TitleMediataxedpricequality" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="TitleMediataxedpricequality" targetNamespace="http://127.0.0.1:8000/wsdl/TitleMediataxedpricequality">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 00:57:24 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/TitleMediataxedpricequality" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Title"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#Media"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/concept.owl#TaxedPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/finance_th_web.owl#quality"/>
			</xsd:annotation>
			<xsd:element name="TaxedPrice" type="TaxedPriceType"/>
			<xsd:element name="Media" type="MediaType"/>
			<xsd:element name="Title" type="TitleType"/>
			<xsd:element name="quality" type="qualityType"/>
			<xsd:complexType name="TaxedPriceType">
				<xsd:sequence>
					<xsd:element name="Fine" type="Thing"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="MediaType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TitleType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Thing">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="qualityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_MEDIA_TAXEDPRICE_QUALITYResponse">
		<wsdl:part name="_MEDIA" type="tns:MediaType">
    </wsdl:part>
		<wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
    </wsdl:part>
		<wsdl:part name="_QUALITY" type="tns:qualityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_MEDIA_TAXEDPRICE_QUALITYRequest">
		<wsdl:part name="_TITLE" type="tns:TitleType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TitleMediataxedpricequalitySoap">
		<wsdl:operation name="get_MEDIA_TAXEDPRICE_QUALITY">
			<wsdl:input message="tns:get_MEDIA_TAXEDPRICE_QUALITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_MEDIA_TAXEDPRICE_QUALITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TitleMediataxedpricequalitySoapBinding" type="TitleMediataxedpricequalitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_MEDIA_TAXEDPRICE_QUALITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleMediataxedpricequality"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleMediataxedpricequality"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TitleMediataxedpricequalityService">
		<wsdl:port name="TitleMediataxedpricequalitySoap" binding="TitleMediataxedpricequalitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/TitleMediataxedpricequality"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
