src/main/resources/wsdl/title_pricebook_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/TitlePricebook" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/TitlePricebook-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/TitlePricebook" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/TitlePricebook" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="TitlePricebook" targetNamespace="http://127.0.0.1:8000/wsdl/TitlePricebook">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed May 27 19:12:32 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/TitlePricebook" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Title"/>
				<xsd:documentation source="Translation (OWL2XSD-ComplexTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#Price"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/books.owl#Book"/>
			</xsd:annotation>
			<xsd:element name="Book" type="BookType"/>
			<xsd:element name="Price" type="PriceType"/>
			<xsd:element name="Title" type="TitleType"/>
			<xsd:complexType name="PriceType">
				<xsd:sequence>
					<xsd:element name="currency" type="Currency"/>
					<xsd:element name="amount" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BookType">
				<xsd:sequence>
					<xsd:element name="isTitled" type="TitleType"/>
					<xsd:element name="hasType" type="Book-Type"/>
					<xsd:element name="writtenBy" type="Author"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Author">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Currency">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TitleType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Book-Type">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PRICE_BOOKRequest">
		<wsdl:part name="_TITLE" type="tns:TitleType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PRICE_BOOKResponse">
		<wsdl:part name="_PRICE" type="tns:PriceType">
    </wsdl:part>
		<wsdl:part name="_BOOK" type="tns:BookType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TitlePricebookSoap">
		<wsdl:operation name="get_PRICE_BOOK">
			<wsdl:input message="tns:get_PRICE_BOOKRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PRICE_BOOKResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TitlePricebookSoapBinding" type="TitlePricebookSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PRICE_BOOK">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitlePricebook"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitlePricebook"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TitlePricebookService">
		<wsdl:port name="TitlePricebookSoap" binding="TitlePricebookSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/TitlePricebook"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
