src/main/resources/wsdl/title_videomediamaxpricequality_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/TitleVideomediamaxpricequality" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/TitleVideomediamaxpricequality-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/TitleVideomediamaxpricequality" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/TitleVideomediamaxpricequality" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="TitleVideomediamaxpricequality" targetNamespace="http://127.0.0.1:8000/wsdl/TitleVideomediamaxpricequality">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 18:41:12 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/TitleVideomediamaxpricequality" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Title"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#VideoMedia"/>
				<xsd:documentation source="Translation (OWL2XSD-Simplhttp://127.0.0.1:8000/ontology//ontology/concept.owl#MaxPrice"/>
				<xsd:documentation source="Translation (OWL2XSD-http://127.0.0.1:8000/ontology/0.0.1/ontology/finance_th_web.owl#quality"/>
			</xsd:annotation>
			<xsd:element name="Title" type="TitleType"/>
			<xsd:element name="MaxPrice" type="MaxPriceType"/>
			<xsd:element name="VideoMedia" type="VideoMediaType"/>
			<xsd:element name="quality" type="qualityType"/>
			<xsd:simpleType name="TitleType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="MaxPriceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="qualityType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="VideoMediaType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_VIDEOMEDIA_MAXPRICE_QUALITYResponse">
		<wsdl:part name="_VIDEOMEDIA" type="tns:VideoMediaType">
    </wsdl:part>
		<wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
    </wsdl:part>
		<wsdl:part name="_QUALITY" type="tns:qualityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_VIDEOMEDIA_MAXPRICE_QUALITYRequest">
		<wsdl:part name="_TITLE" type="tns:TitleType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TitleVideomediamaxpricequalitySoap">
		<wsdl:operation name="get_VIDEOMEDIA_MAXPRICE_QUALITY">
			<wsdl:input message="tns:get_VIDEOMEDIA_MAXPRICE_QUALITYRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_VIDEOMEDIA_MAXPRICE_QUALITYResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TitleVideomediamaxpricequalitySoapBinding" type="TitleVideomediamaxpricequalitySoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_VIDEOMEDIA_MAXPRICE_QUALITY">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleVideomediamaxpricequality"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleVideomediamaxpricequality"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TitleVideomediamaxpricequalityService">
		<wsdl:port name="TitleVideomediamaxpricequalitySoap" binding="TitleVideomediamaxpricequalitySoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/TitleVideomediamaxpricequality"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
