src/main/resources/wsdl/TitleActionfilm.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/TitleActionfilm-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/TitleActionfilm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/TitleActionfilm" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="TitleActionfilm" targetNamespace="http://127.0.0.1:8000/wsdl/TitleActionfilm">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sat Apr 25 16:10:42 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/TitleActionfilm" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Title"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#ActionFilm"/>
			</xsd:annotation>
			<xsd:element name="ActionFilm" type="tns:ActionFilmType"/>
			<xsd:element name="Title" type="tns:TitleType"/>
			<xsd:simpleType name="ActionFilmType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="TitleType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_ACTIONFILMResponse">
		<wsdl:part name="_ACTIONFILM" type="tns:ActionFilmType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_ACTIONFILMRequest">
		<wsdl:part name="_TITLE" type="tns:TitleType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TitleActionfilmSoap">
		<wsdl:operation name="get_ACTIONFILM">
			<wsdl:input message="tns:get_ACTIONFILMRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_ACTIONFILMResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TitleActionfilmSoapBinding" type="tns:TitleActionfilmSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_ACTIONFILM">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleActionfilm"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleActionfilm"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TitleActionfilmService">
		<wsdl:port name="TitleActionfilmSoap" binding="tns:TitleActionfilmSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/TitleActionfilm"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
