src/main/resources/wsdl/title_videomediaMM_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/TitleVideomedia" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/TitleVideomedia-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/TitleVideomedia" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/TitleVideomedia" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="TitleVideomedia" targetNamespace="http://127.0.0.1:8000/wsdl/TitleVideomedia">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Tue Jun 02 12:09:10 CEST 2009"  targetNamespace="http://127.0.0.1:8000/wsdl/TitleVideomedia" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/books.owl#Title"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#VideoMedia"/>
			</xsd:annotation>
			<xsd:element name="Title" type="TitleType"/>
			<xsd:element name="VideoMedia" type="VideoMediaType"/>
			<xsd:simpleType name="TitleType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="VideoMediaType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_VIDEOMEDIAResponse">
		<wsdl:part name="_VIDEOMEDIA" type="tns:VideoMediaType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_VIDEOMEDIARequest">
		<wsdl:part name="_TITLE" type="tns:TitleType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TitleVideomediaSoap">
		<wsdl:operation name="get_VIDEOMEDIA">
			<wsdl:input message="tns:get_VIDEOMEDIARequest">
    </wsdl:input>
			<wsdl:output message="tns:get_VIDEOMEDIAResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TitleVideomediaSoapBinding" type="TitleVideomediaSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_VIDEOMEDIA">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleVideomedia"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/TitleVideomedia"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TitleVideomediaService">
		<wsdl:port name="TitleVideomediaSoap" binding="TitleVideomediaSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/TitleVideomedia"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
