src/main/resources/wsdl/university_senior-lecturer-in-academia_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/UniversitySenior-lecturer-in-academia" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/UniversitySenior-lecturer-in-academia-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/UniversitySenior-lecturer-in-academia" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/UniversitySenior-lecturer-in-academia" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="UniversitySenior-lecturer-in-academia" targetNamespace="http://127.0.0.1:8000/wsdl/UniversitySenior-lecturer-in-academia">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 19:16:23 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/UniversitySenior-lecturer-in-academia" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/portal.owl#University"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Senior-Lecturer-In-Academia"/>
			</xsd:annotation>
			<xsd:element name="Senior-Lecturer-In-Academia" type="Senior-Lecturer-In-AcademiaType"/>
			<xsd:element name="University" type="UniversityType"/>
			<xsd:complexType name="Educational-Employee">
				<xsd:sequence>
					<xsd:element name="works-for" type="Educational-Organization"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="UniversityType">
				<xsd:sequence>
					<xsd:element name="has-faculty" type="University-Faculty"/>
					<xsd:element name="has-vice-chancellor" type="Educational-Employee"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Senior-Lecturer-In-AcademiaType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="University-Faculty">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Educational-Organization">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_SENIOR-LECTURER-IN-ACADEMIARequest">
		<wsdl:part name="_UNIVERSITY" type="tns:UniversityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_SENIOR-LECTURER-IN-ACADEMIAResponse">
		<wsdl:part name="_SENIOR-LECTURER-IN-ACADEMIA" type="tns:Senior-Lecturer-In-AcademiaType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="UniversitySenior-lecturer-in-academiaSoap">
		<wsdl:operation name="get_SENIOR-LECTURER-IN-ACADEMIA">
			<wsdl:input message="tns:get_SENIOR-LECTURER-IN-ACADEMIARequest">
    </wsdl:input>
			<wsdl:output message="tns:get_SENIOR-LECTURER-IN-ACADEMIAResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UniversitySenior-lecturer-in-academiaSoapBinding" type="UniversitySenior-lecturer-in-academiaSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_SENIOR-LECTURER-IN-ACADEMIA">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/UniversitySenior-lecturer-in-academia"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/UniversitySenior-lecturer-in-academia"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UniversitySenior-lecturer-in-academiaService">
		<wsdl:port name="UniversitySenior-lecturer-in-academiaSoap" binding="UniversitySenior-lecturer-in-academiaSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/UniversitySenior-lecturer-in-academia"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
