src/main/resources/wsdl/university_researcher_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/UniversityResearcher" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/UniversityResearcher-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/UniversityResearcher" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/UniversityResearcher" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="UniversityResearcher" targetNamespace="http://127.0.0.1:8000/wsdl/UniversityResearcher">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 19:21:19 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/UniversityResearcher" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/portal.owl#University"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/portal.owl#Researcher"/>
			</xsd:annotation>
			<xsd:element name="Researcher" type="ResearcherType"/>
			<xsd:element name="University" type="UniversityType"/>
			<xsd:complexType name="Educational-Employee">
				<xsd:sequence>
					<xsd:element name="works-for" type="Educational-Organization"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="UniversityType">
				<xsd:sequence>
					<xsd:element name="has-faculty" type="University-Faculty"/>
					<xsd:element name="has-vice-chancellor" type="Educational-Employee"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="University-Faculty">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Educational-Organization">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="ResearcherType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RESEARCHERResponse">
		<wsdl:part name="_RESEARCHER" type="tns:ResearcherType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RESEARCHERRequest">
		<wsdl:part name="_UNIVERSITY" type="tns:UniversityType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="UniversityResearcherSoap">
		<wsdl:operation name="get_RESEARCHER">
			<wsdl:input message="tns:get_RESEARCHERRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RESEARCHERResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UniversityResearcherSoapBinding" type="UniversityResearcherSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RESEARCHER">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/UniversityResearcher"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/UniversityResearcher"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UniversityResearcherService">
		<wsdl:port name="UniversityResearcherSoap" binding="UniversityResearcherSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/UniversityResearcher"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
