src/main/resources/wsdl/untangibleobjects_cola_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/UntangibleobjectsCola" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/UntangibleobjectsCola-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/UntangibleobjectsCola" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/UntangibleobjectsCola" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="UntangibleobjectsCola" targetNamespace="http://127.0.0.1:8000/wsdl/UntangibleobjectsCola">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 19:22:47 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/UntangibleobjectsCola" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/concept.owl#UntangibleObjects"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/my_ontology.owl#Cola"/>
			</xsd:annotation>
			<xsd:element name="Cola" type="ColaType"/>
			<xsd:element name="UntangibleObjects" type="UntangibleObjectsType"/>
			<xsd:simpleType name="ColaType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="UntangibleObjectsType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_COLARequest">
		<wsdl:part name="_UNTANGIBLEOBJECTS" type="tns:UntangibleObjectsType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_COLAResponse">
		<wsdl:part name="_COLA" type="tns:ColaType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="UntangibleobjectsColaSoap">
		<wsdl:operation name="get_COLA">
			<wsdl:input message="tns:get_COLARequest">
    </wsdl:input>
			<wsdl:output message="tns:get_COLAResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UntangibleobjectsColaSoapBinding" type="UntangibleobjectsColaSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_COLA">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/UntangibleobjectsCola"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/UntangibleobjectsCola"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UntangibleobjectsColaService">
		<wsdl:port name="UntangibleobjectsColaSoap" binding="UntangibleobjectsColaSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/UntangibleobjectsCola"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
