src/main/resources/wsdl/usPostalCode_distance.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/UspostalcodeDistance" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/UspostalcodeDistance-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/UspostalcodeDistance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/UspostalcodeDistance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="UspostalcodeDistance" targetNamespace="http://127.0.0.1:8000/wsdl/UspostalcodeDistance">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed May 19 16:28:08 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/UspostalcodeDistance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/geographydataset.owl#USPostalCode"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/geographydataset.owl#USPostalCode"/>
				<xsd:documentation source="Translation (OWL2XSD-Complehttp://127.0.0.1:8000/ontology//ontology/geographydataset.owl#GeographicDistance"/>
			</xsd:annotation>
			<xsd:element name="USPostalCode" type="USPostalCodeType"/>
			<xsd:element name="GeographicDistance" type="GeographicDistanceType"/>
			<xsd:complexType name="GeographicDistanceType">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:simpleType name="USPostalCodeType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DISTANCERequest">
		<wsdl:part name="_USPOSTALCODE1" type="tns:USPostalCodeType">
    </wsdl:part>
		<wsdl:part name="_USPOSTALCODE2" type="tns:USPostalCodeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DISTANCEResponse">
		<wsdl:part name="_DISTANCE" type="tns:GeographicDistanceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="UspostalcodeDistanceSoap">
		<wsdl:operation name="get_DISTANCE">
			<wsdl:input message="tns:get_DISTANCERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DISTANCEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UspostalcodeDistanceSoapBinding" type="UspostalcodeDistanceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DISTANCE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/UspostalcodeDistance"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/UspostalcodeDistance"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UspostalcodeDistanceService">
		<wsdl:port name="UspostalcodeDistanceSoap" binding="UspostalcodeDistanceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/UspostalcodeDistance"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
