src/main/resources/wsdl/uszipcode_distance.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/UszipcodeDistance" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/UszipcodeDistance-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/UszipcodeDistance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/UszipcodeDistance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="UszipcodeDistance" targetNamespace="http://127.0.0.1:8000/wsdl/UszipcodeDistance">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed May 19 16:33:08 CEST 2010" targetNamespace="http://127.0.0.1:8000/wsdl/UszipcodeDistance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/geographydataset.owl#US5DigitZipCode"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/geographydataset.owl#GeographicDistance"/>
			</xsd:annotation>
			<xsd:element name="GeographicDistance" type="GeographicDistanceType"/>
			<xsd:element name="US5DigitZipCode" type="US5DigitZipCodeType"/>
			<xsd:complexType name="US5DigitZipCodeType">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:simpleType name="GeographicDistanceType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_DISTANCEResponse">
		<wsdl:part name="_DISTANCE" type="tns:GeographicDistanceType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_DISTANCERequest">
		<wsdl:part name="_USZIPCODE1" type="tns:US5DigitZipCodeType">
    </wsdl:part>
		<wsdl:part name="_USZIPCODE2" type="tns:US5DigitZipCodeType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="UszipcodeDistanceSoap">
		<wsdl:operation name="get_DISTANCE">
			<wsdl:input message="tns:get_DISTANCERequest">
    </wsdl:input>
			<wsdl:output message="tns:get_DISTANCEResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UszipcodeDistanceSoapBinding" type="UszipcodeDistanceSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_DISTANCE">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/UszipcodeDistance"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/UszipcodeDistance"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UszipcodeDistanceService">
		<wsdl:port name="UszipcodeDistanceSoap" binding="UszipcodeDistanceSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/UszipcodeDistance"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
