src/main/resources/wsdl/Videomedia.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Videomedia-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Videomedia" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Videomedia" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Videomedia" targetNamespace="http://127.0.0.1:8000/wsdl/Videomedia">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Wed Apr 29 16:23:59 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Videomedia" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/my_ontology.owl#VideoMedia"/>
			</xsd:annotation>
			<xsd:element name="VideoMedia" type="tns:VideoMediaType"/>
			<xsd:simpleType name="VideoMediaType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_VIDEOMEDIAResponse">
		<wsdl:part name="_VIDEOMEDIA" type="tns:VideoMediaType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_VIDEOMEDIARequest">
  </wsdl:message>
	<wsdl:portType name="VideomediaSoap">
		<wsdl:operation name="get_VIDEOMEDIA">
			<wsdl:input message="tns:get_VIDEOMEDIARequest">
    </wsdl:input>
			<wsdl:output message="tns:get_VIDEOMEDIAResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="VideomediaSoapBinding" type="tns:VideomediaSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_VIDEOMEDIA">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Videomedia"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Videomedia"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="VideomediaService">
		<wsdl:port name="VideomediaSoap" binding="tns:VideomediaSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Videomedia"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
