src/main/resources/wsdl/village_hotel_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/VillageHotel" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/VillageHotel-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/VillageHotel" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/VillageHotel" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="VillageHotel" targetNamespace="http://127.0.0.1:8000/wsdl/VillageHotel">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 19:28:41 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/VillageHotel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/portal.owl#Village"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/travel.owl#Hotel"/>
			</xsd:annotation>
			<xsd:element name="Hotel" type="HotelType"/>
			<xsd:element name="Village" type="VillageType"/>
			<xsd:simpleType name="VillageType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="HotelType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_HOTELRequest">
		<wsdl:part name="_VILLAGE" type="tns:VillageType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_HOTELResponse">
		<wsdl:part name="_HOTEL" type="tns:HotelType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="VillageHotelSoap">
		<wsdl:operation name="get_HOTEL">
			<wsdl:input message="tns:get_HOTELRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_HOTELResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="VillageHotelSoapBinding" type="VillageHotelSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_HOTEL">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/VillageHotel"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/VillageHotel"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="VillageHotelService">
		<wsdl:port name="VillageHotelSoap" binding="VillageHotelSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/VillageHotel"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
