src/main/resources/wsdl/Weatherfront.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/Weatherfront" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/Weatherfront-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/Weatherfront" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/Weatherfront" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Weatherfront" targetNamespace="http://127.0.0.1:8000/wsdl/Weatherfront">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun May 03 14:14:20 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/Weatherfront" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#WeatherFront"/>
			</xsd:annotation>
			<xsd:element name="WeatherFront" type="WeatherFrontType"/>
			<xsd:simpleType name="WeatherFrontType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_WEATHERFRONTRequest">
  </wsdl:message>
	<wsdl:message name="get_WEATHERFRONTResponse">
		<wsdl:part name="_WEATHERFRONT" type="tns:WeatherFrontType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="WeatherfrontSoap">
		<wsdl:operation name="get_WEATHERFRONT">
			<wsdl:input message="tns:get_WEATHERFRONTRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_WEATHERFRONTResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WeatherfrontSoapBinding" type="WeatherfrontSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_WEATHERFRONT">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Weatherfront"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/Weatherfront"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WeatherfrontService">
		<wsdl:port name="WeatherfrontSoap" binding="WeatherfrontSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/Weatherfront"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
