src/main/resources/wsdl/wholesalestore_preparedfood_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/WholesalestorePreparedfood" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/WholesalestorePreparedfood-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/WholesalestorePreparedfood" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/WholesalestorePreparedfood" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="WholesalestorePreparedfood" targetNamespace="http://127.0.0.1:8000/wsdl/WholesalestorePreparedfood">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 19:32:14 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/WholesalestorePreparedfood" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#WholesaleStore"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#PreparedFood"/>
			</xsd:annotation>
			<xsd:element name="PreparedFood" type="PreparedFoodType"/>
			<xsd:element name="WholesaleStore" type="WholesaleStoreType"/>
			<xsd:simpleType name="PreparedFoodType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="WholesaleStoreType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_PREPAREDFOODResponse">
		<wsdl:part name="_PREPAREDFOOD" type="tns:PreparedFoodType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_PREPAREDFOODRequest">
		<wsdl:part name="_WHOLESALESTORE" type="tns:WholesaleStoreType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="WholesalestorePreparedfoodSoap">
		<wsdl:operation name="get_PREPAREDFOOD">
			<wsdl:input message="tns:get_PREPAREDFOODRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_PREPAREDFOODResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WholesalestorePreparedfoodSoapBinding" type="WholesalestorePreparedfoodSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_PREPAREDFOOD">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/WholesalestorePreparedfood"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/WholesalestorePreparedfood"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WholesalestorePreparedfoodService">
		<wsdl:port name="WholesalestorePreparedfoodSoap" binding="WholesalestorePreparedfoodSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/WholesalestorePreparedfood"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
