src/main/resources/wsdl/ZAD_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://127.0.0.1:8000/wsdl/PreparedfoodRecommendedpriceindollar" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/wsdl/PreparedfoodRecommendedpriceindollar-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/wsdl/PreparedfoodRecommendedpriceindollar" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/wsdl/PreparedfoodRecommendedpriceindollar" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="PreparedfoodRecommendedpriceindollar" targetNamespace="http://127.0.0.1:8000/wsdl/PreparedfoodRecommendedpriceindollar">
	<wsdl:types>
		<xsd:schema version="OWLS2WSDL Sun Jun 07 19:37:32 CEST 2009" targetNamespace="http://127.0.0.1:8000/wsdl/PreparedfoodRecommendedpriceindollar" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1:8000/ontology/Mid-level-ontology.owl#PreparedFood"/>
				<xsd:documentation source="Translation (OWL2XSD-SimpleTypehttp://127.0.0.1:8000/ontology/logy/concept.owl#RecommendedPriceInDollar"/>
			</xsd:annotation>
			<xsd:element name="PreparedFood" type="PreparedFoodType"/>
			<xsd:element name="RecommendedPriceInDollar" type="RecommendedPriceInDollarType"/>
			<xsd:simpleType name="RecommendedPriceInDollarType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="PreparedFoodType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="get_RECOMMENDEDPRICEINDOLLARRequest">
		<wsdl:part name="_PREPAREDFOOD" type="tns:PreparedFoodType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="get_RECOMMENDEDPRICEINDOLLARResponse">
		<wsdl:part name="_RECOMMENDEDPRICEINDOLLAR" type="tns:RecommendedPriceInDollarType">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PreparedfoodRecommendedpriceindollarSoap">
		<wsdl:operation name="get_RECOMMENDEDPRICEINDOLLAR">
			<wsdl:input message="tns:get_RECOMMENDEDPRICEINDOLLARRequest">
    </wsdl:input>
			<wsdl:output message="tns:get_RECOMMENDEDPRICEINDOLLARResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PreparedfoodRecommendedpriceindollarSoapBinding" type="PreparedfoodRecommendedpriceindollarSoap">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_RECOMMENDEDPRICEINDOLLAR">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PreparedfoodRecommendedpriceindollar"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/wsdl/PreparedfoodRecommendedpriceindollar"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PreparedfoodRecommendedpriceindollarService">
		<wsdl:port name="PreparedfoodRecommendedpriceindollarSoap" binding="PreparedfoodRecommendedpriceindollarSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1:8000/wsdl/PreparedfoodRecommendedpriceindollar"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
