src/main/resources/domains/SAWSDL-TC3/simulation/switch_on_messemodul.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Switchonmessemmodul" targetNamespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Switchonmessemmodul" xmlns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Switchonmessemmodul" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:8000/services/sawsdl_wsdl11/Switchonmessemmodul-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/services/sawsdl_wsdl11/Switchonmessemmodul" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1:8000/services/sawsdl_wsdl11/Switchonmessemmodul" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:36:58 CEST 2010" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1:8000/ontology/messemodul.owl#MesseModul"/></xsd:annotation><xsd:element name="MesseModul" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/switch_on_messemodul_MesseModul_liftingSchemaMapping.xslt" type="MesseModulType"/><xsd:complexType name="MachinePart" sawsdl:modelReference="http://127.0.0.1:8000/ontology/messemodul.owl#MachinePart"><xsd:sequence><xsd:element name="isComponentOf" type="Machine"/></xsd:sequence></xsd:complexType><xsd:complexType name="Machine" sawsdl:modelReference="http://127.0.0.1:8000/ontology/messemodul.owl#Machine"><xsd:sequence><xsd:element name="consistsOf" type="MachinePart"/></xsd:sequence></xsd:complexType><xsd:complexType name="MesseModulType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/messemodul.owl#MesseModul"><xsd:choice><xsd:element name="messeModulID" type="MesseModulDATA"/><xsd:sequence><xsd:element minOccurs="0" name="name" type="xsd:string"/><xsd:element name="consistsOf" type="MachinePart"/></xsd:sequence></xsd:choice></xsd:complexType><xsd:simpleType name="MesseModulDATA" sawsdl:modelReference=""><xsd:restriction base="xsd:string"><xsd:enumeration value="messeModul01"/></xsd:restriction></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="getResponse">
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part name="MesseModul" type="MesseModulType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SwitchonmessemmodulSoap">
    <wsdl:operation name="get">
      <wsdl:input message="getRequest">
    </wsdl:input>
      <wsdl:output message="getResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SwitchonmessemmodulSoapBinding" type="SwitchonmessemmodulSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Switchonmessemmodul"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/services/sawsdl_wsdl11/Switchonmessemmodul"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SwitchonmessemmodulService">
    <wsdl:port name="SwitchonmessemmodulSoap" binding="SwitchonmessemmodulSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1:8000/services/sawsdl_wsdl11/Switchonmessemmodul"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
