src/main/resources/queries/sawsdl_wsdl11/geocodeUSAddress.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:tns="http://example.org/" targetNamespace="http://example.org/">
	<wsdl:documentation>This is a WSDL 1.1 description that has been created for a RESTful service for evaluation and testing purposes.
It is not guaranteed to be correct or appropriate.</wsdl:documentation>
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://example.org/">
			<xsd:annotation>This type information has been semi-automatically generated. It properly represents the semantics of the service's parameters, but is not guaranteed to precisely match the schema actually used by the service.</xsd:annotation>
			<xsd:complexType name="Output">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="location">
					<xsd:annotation>Latitude and longitude of the given address (or of the bounding box corresponding to the given address).</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="lat" type="xsd:double" maxOccurs="1" minOccurs="1">
							</xsd:element>
							<xsd:element name="lng"
								type="xsd:double" maxOccurs="1" minOccurs="1">
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Output" nillable="true" type="tns:Output"/>
			<xsd:complexType name="AddressType">
				<xsd:choice>
					<xsd:element name="UnstructuredAddress"
						type="xsd:string">
					</xsd:element>
					<xsd:sequence>
						<xsd:element name="streetAddress"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="city" type="xsd:string">
						</xsd:element>
						<xsd:element name="zipcode" type="xsd:string">
						</xsd:element>
						<xsd:element name="state"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="US_Geocoding_RequestHttpGetIn">
		<wsdl:part name="US_postal_address" type="tns:AddressType" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protonu.owl#PostalAddress">
			<wsdl:documentation>A structured US postal address (street, house number, city, state, five letter zip code). We assume that the client is able to provide the address in unstructured format, too.</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="US_Geocoding_RequestHttpGetOut">
		<wsdl:part name="Body" element="tns:Output" sawsdl:modelReference="http://127.0.0.1:8000/ontology/protont.owl#Location">
			<wsdl:documentation></wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="US_Geocoding_RequestHttpGet">
		<wsdl:operation name="US_Geocoding_Request">
			<wsdl:documentation>The client is looking for a service to geocode US addresses (e.g. lookup the geographic location of a postal addresses).
The license status of services should be ignored for the search.</wsdl:documentation>
				<wsdl:input message="tns:US_Geocoding_RequestHttpGetIn"/>
				<wsdl:output message="tns:US_Geocoding_RequestHttpGetOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="US_Geocoding_RequestHttpGet" type="tns:US_Geocoding_RequestHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="US_Geocoding_Request">
			<http:operation location=""/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="US_Geocoding_RequestHttpGet2" type="tns:US_Geocoding_RequestHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="US_Geocoding_Request">
			<http:operation location=""/>
			<wsdl:input>
				<http:urlReplacement/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="US_Geocoding_Request">
		<wsdl:port name="US_Geocoding_RequestHttpGet" binding="tns:US_Geocoding_RequestHttpGet">
			<http:address location="http://example.org/"/>
		</wsdl:port>
		<wsdl:port name="US_Geocoding_RequestHttpGet2" binding="tns:US_Geocoding_RequestHttpGet2">
			<http:address location="http://example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>